.club-avanti-btns .ml-24 {
    margin-left: 24px !important;
}

.link-line-none,
.link-line-none:hover {
    text-decoration: none;
    display: inline-block;
}

.link-line-none .mat-button {
    white-space: normal;
}

.club-avanti-container {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.qualifying-journeys-0 {
    animation: progressLineTransmission0 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission0 {
    from {
        width: 0%;
    }

    to {
        width: 0%;
    }
}

.qualifying-journeys-1 {
    animation: progressLineTransmission1 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission1 {
    from {
        width: 0%;
    }

    to {
        width: calc(4.761904761904762% - 8px);
    }
}

.qualifying-journeys-2 {
    animation: progressLineTransmission2 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission2 {
    from {
        width: 0%;
    }

    to {
        width: calc(9.523809523809524% - 8px);
    }
}

.qualifying-journeys-3 {
    animation: progressLineTransmission3 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission3 {
    from {
        width: 0%;
    }

    to {
        width: calc(14.28571428571429% - 8px);
    }
}

.qualifying-journeys-4 {
    animation: progressLineTransmission4 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission4 {
    from {
        width: 0%;
    }

    to {
        width: calc(19.04761904761905% - 8px);
    }
}

.qualifying-journeys-5 {
    animation: progressLineTransmission5 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission5 {
    from {
        width: 0%;
    }

    to {
        width: calc(23.80952380952381% - 8px);
    }
}

.qualifying-journeys-6 {
    animation: progressLineTransmission6 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission6 {
    from {
        width: 0%;
    }

    to {
        width: calc(28.57142857142857% - 8px);
    }
}

.qualifying-journeys-7 {
    animation: progressLineTransmission7 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission7 {
    from {
        width: 0%;
    }

    to {
        width: calc(33.33333333333333% - 8px);
    }
}

.qualifying-journeys-8 {
    animation: progressLineTransmission8 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission8 {
    from {
        width: 0%;
    }

    to {
        width: calc(37% - 8px);
    }
}

.qualifying-journeys-9 {
    animation: progressLineTransmission9 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission9 {
    from {
        width: 0%;
    }

    to {
        width: calc(42.85714285714286% - 8px);
    }
}

.qualifying-journeys-10 {
    animation: progressLineTransmission10 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission10 {
    from {
        width: 0%;
    }

    to {
        width: calc(47.61904761904762% + 3px);
    }
}

.qualifying-journeys-11 {
    animation: progressLineTransmission11 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission11 {
    from {
        width: 0%;
    }

    to {
        width: calc(52.38095238095238% - 8px);
    }
}

.qualifying-journeys-12 {
    animation: progressLineTransmission12 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission12 {
    from {
        width: 0%;
    }

    to {
        width: calc(57.14285714285714% - 8px);
    }
}

.qualifying-journeys-13 {
    animation: progressLineTransmission13 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission13 {
    from {
        width: 0%;
    }

    to {
        width: calc(61.90476190476191% - 8px);
    }
}

.qualifying-journeys-14 {
    animation: progressLineTransmission14 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission14 {
    from {
        width: 0%;
    }

    to {
        width: calc(66.66666666666667% - 8px);
    }
}

.qualifying-journeys-15 {
    animation: progressLineTransmission15 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission15 {
    from {
        width: 0%;
    }

    to {
        width: calc(71.42857142857143% - 8px);
    }
}

.qualifying-journeys-16 {
    animation: progressLineTransmission16 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission16 {
    from {
        width: 0%;
    }

    to {
        width: calc(76.19047619047619% - 8px);
    }
}

.qualifying-journeys-17 {
    animation: progressLineTransmission17 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission17 {
    from {
        width: 0%;
    }

    to {
        width: calc(80.95238095238096% - 8px);
    }
}

.qualifying-journeys-18 {
    animation: progressLineTransmission18 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission18 {
    from {
        width: 0%;
    }

    to {
        width: calc(85.71428571428572% - 8px);
    }
}

.qualifying-journeys-19 {
    animation: progressLineTransmission19 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission19 {
    from {
        width: 0%;
    }

    to {
        width: calc(90.47619047619048% - 8px);
    }
}

.qualifying-journeys-20 {
    animation: progressLineTransmission20 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission20 {
    from {
        width: 0%;
    }

    to {
        width: calc(95.23809523809524% - 16px);
    }
}

.qualifying-journeys-21 {
    animation: progressLineTransmission21 2.5s 0.3s ease-in-out both;
}

@keyframes progressLineTransmission21 {
    from {
        width: 0%;
    }

    to {
        width: calc(100% - 8px);
    }
}

/* section2 - start */
.section2 {
    background-color: #fff;
    border-radius: 100px;
    position: relative;
}

.section2__progressBar {
    background-color: #fff;
    width: 100%;
    height: 16px;
    padding: 2px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.section2__progressBarRect {
    background-color: #FF4713;
    height: 100%;
    padding: 2px;
    border-radius: 100px 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.section2__progressBarCircle {
    position: relative;
    right: -7px;
    top: 0;
    height: 12px;
}

.section2__progressBarCircle img {
    position: absolute;
    top: 0;
    left: -6px;
}

@media (max-width: 767px) {
    .club-avanti-container {
        margin-top: 95px;
    }

    .new-club-avanti-section {
        margin-top: 87px;
    }

    .club-avanti-btns {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .club-avanti-btns .ml-24 {
        margin-left: 0 !important;
    }

    .club-avanti-btns .default-btn {
        font-size: 16px;
        line-height: 22px !important;
        padding: 7.4px 10px !important;
    }

    .club-avanti-help .mat-expansion-panel-header,
    .club-avanti-help-body {
        padding: 24px 20px !important;
    }

    .link-line-none {
        display: block;
    }

    .new-club-avanti-error button.mat-button {
        line-height: 16px !important;
    }

    .qualifying-journeys-8 {
        animation: progressLineTransmission8 2.5s 0.3s ease-in-out both;
    }
    
    @keyframes progressLineTransmission8 {
        from {
            width: 0%;
        }
    
        to {
            width: 36%;
        }
    }

    .del-add-btn {
        line-height: normal !important;
        text-align: left;
    }
}