<app-enhanced-basic-dialog [dialogFooter]="dialogFooter" class="enhanced-alert-dialogs content-center" [dialogTitle]="headerTitle"  [iconClose]="false" role="dialog" aria-modal="true" tabindex="-1">
  <ng-content>
  <div class="enhanced-common-popup-theme">
    <div class="enhanced-common-popup-theme-border">
    <div class="alert-content" role="alert" aria-live="assertive" aria-atomic="true">
      <span class="sr-only">{{ headerTitle }}</span>
      <div class="alert-image no-train-found-content" *ngIf="isNoTrain">
        <img src="assets/images/new-design-img/No-Train.svg" alt="" aria-label="true">
      </div>
      <p>{{errorMessage}}</p> 
    </div>
    </div>
  </div>

</ng-content>


<ng-template #dialogFooter>
  <div class="common-popup-theme-footer">
      <div class="d-flex gap-24 justify-between">
        <button mat-dialog-close id="efc-qtt-footer-next-btn" (click)="openEdit()" type="button" mat-button class="fill-btn fill-light-hover-btn">
          {{footerBtnText}}
        </button>
      </div>
  </div>
</ng-template>
  




</app-enhanced-basic-dialog>