<div class="popup parking-popup">
    <div class="popup-hdr">
        <img src="assets/images/parking-sign.png" class="mt--5" alt=""> Car Parking <span> <img
                src="assets/images/forward-icon.svg" alt="" class="ml-10"></span>
        <button mat-button [mat-dialog-close]="true" class="close-btn"><img src="assets/images/Close.svg"
                alt=""></button>
    </div>
    <div class="popup-body">
        <div class="row">
            <div class="col-md-8">
                <p class="mb-20">The weekend rate is also applicable on bank holidays</p>
                <p><span class="font-700">Postal Address:</span> Penrith Railway Station, Ullswater Road, Penrith, CA11
                    7JQ
                </p>
                <p class="mb-20"><span class="font-700">Url:</span> https://www.nationalrail.co.uk/</p>
                <p><span class="font-700">Opening Hours:</span> Monday To Sunday, Available at all times
                </p>
                <p class="mb-20"><span class="font-700">Operator:</span> West Coast
                </p>
                <p><span class="font-700"></span>Charges
                    </p>
                <p><span class="font-700">Daily:</span> £12.00
                </p>
                <p><span class="font-700">Saturday:</span> £6.00</p>
                <p><span class="font-700">Sunday:</span> £6.00
                </p>
                <p><span class="font-700">Monthly:</span> £166.00</p>
                <p><span class="font-700">Three Monthly:</span> £374.00</p>
                <p class="mb-20"><span class="font-700">Annual:</span> £1200.00
                </p>
                <p>Different season ticket rates apply to non rail users, please speak to a member of staff.</p>
            </div>
            <div class="col-md-2 col-xs-6 ps-0">
                <div class="popup-available-space">
                    <p>Available <br> Spaces</p>
                    <h3 class="count">50</h3>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 ps-0">
                <div class="popup-capacity">
                    <p>Parking <br>
                        Capacity</p>
                    <h3 class="count">117</h3>
                </div>
            </div>
        </div>
    </div>
</div>