.track-train-popup {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    flex-direction: column;
}
.track-train-popup .track-train-card {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 12px 2px rgba(19, 30, 41, 0.08);
    flex: 2;
    padding: 20px;
    width: 100%;
}
.track-train-popup .track-train-card .track-train-card-header .track-train-card-header-logo {
    margin-bottom: 0;
}
.track-train-popup .track-train-card .track-train-card-header .track-train-card-header-logo img {
    height: 47px;
    margin-left: 0;
    width: 83px;
}
.track-train-popup .track-train-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 2;
    width: 100%;
}
.track-train-seat-level {
    display: flex;
    justify-content: space-between;
}
.track-train-seat-level .track-my-train-seat-title {
    display: flex;
    align-items: center;
    gap: 8px;
}
.track-train-seat-level .track-my-train-seat-title h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #131E29;
}
.track-train-seat-level .track-my-train-seat-title p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #131E29;
}
.track-train-seat-level .track-my-train-direction-right {
    display: flex;
    gap: 4px;
    align-items: center;
}
.track-train-seat-level .track-my-train-direction-right .track-my-train-direction-txt {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #000;
    align-self: flex-end;
    display: flex;
    gap: 4px;
    align-items: center;
}
.track-my-train-status-plain {
    display: flex;
    align-items: center;
    gap: 8px;
}
.track-my-train-status-plain p {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #131e29;
    margin: 0;
}
.track-my-train-stations-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px !important;
}
.mat-track-train-accordion mat-expansion-panel {
    overflow: visible;
}
.mat-track-train-accordion .mat-track-train-header {
    height: fit-content;
    padding: 0 !important;
}
.mat-track-train-accordion .mat-track-train-header:focus-visible {
    outline: none;
    background-color: transparent !important;
}
.mat-track-train-accordion .mat-track-train-header.mat-expanded {
    height: auto;
    margin-bottom: 12px;
}
.mat-track-train-accordion .mat-track-train-header:hover {
    background-color: transparent;
}
.mat-track-train-accordion .mat-track-train-title-status {
    display: flex;
    align-items: center;
    gap: 8px;
}
.mat-track-train-accordion .mat-track-train-title-status img {
    width: 18px;
    height: 18px;
}
.mat-track-train-accordion .mat-track-train-title-status p {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #131E29;
    margin: 0;
}
.mat-track-train-accordion .mat-track-train-desc {
    flex-grow: 0;
    white-space: nowrap;
    margin-right: 8px;
}
.mat-track-train-accordion .mat-track-train-desc p {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #E42B00;
}
.mat-track-train-accordion .mat-expansion-indicator:after {
    color: #E42B00 !important;
}
.mat-track-train-body p {
    margin-bottom: 24px;
}
.mat-track-train-body p:last-child {
    margin-bottom: 0;
}
.mat-track-train-body h3 {
    margin-bottom: 5px;
}
.mat-track-train-body a {
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #E42B00;
}
.mat-track-train-accordion .mat-expansion-panel-content {
    overflow: hidden;
}
.track-my-train-stations-body .track-my-train-stations {
    margin-bottom: 16px;
}
.track-my-train-stations-body .track-my-train-stations ul {
    margin: 0 0 16px;
    padding: 0;
    position: relative;
}
.track-my-train-stations-body .track-my-train-stations ul li {
    position: relative;
    list-style: none;
    height: 60px;
    margin-left: 96px;
}
.track-my-train-stations-body .track-my-train-stations ul li::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -23px;
    width: 4px;
    height: 60px;
    background-color: #004F59;
}
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-second-last-li {
    height: 68px;
}
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-second-last-li::after {
    height: 100px;
}
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-last-li::after {
    content: "";
    height: 3.5px;
}
.track-my-train-stations-body .track-my-train-stations ul li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -19px;
    width: 7px;
    height: 3.5px;
    background-color: #004F59;
}
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-first-li::before,
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-last-li::before {
    top: -1px;
    left: -29.5px;
    width: 16px;
    height: 16px;
    border: 5px solid #004f59;
    border-radius: 100%;
    background-color: #fff;
    z-index: 1;
}
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-last-li::before {
    top: 31px;
}
.track-my-train-stations-body .track-my-train-stations ul li .track-my-train-main-icon {
    position: absolute;
    height: auto;
    left: -37px;
    top: -8px;
    z-index: 4;
}
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-last-journey-icon .track-my-train-main-icon {
    top: 17px;
}
.track-my-train-stations-body .track-my-train-stations ul .track-my-train-loop-li:last-child li .track-my-train-main-icon {
    top: 17px;
}
.track-my-train-stations-body .track-my-train-stations ul li .station-name {
    font-size: 14px;
    line-height: 20px;
    color: #131E29;
}
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-first-li .station-name,
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-last-li .station-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #131E29;
}
.track-my-train-stations-body .track-my-train-stations ul li .station-left-time {
    position: absolute;
    left: -96px;
    width: 54px;
}
.track-my-train-stations-body .track-my-train-stations ul li .station-left-time .station-left-time-first {
    font-size: 14px;
    line-height: 20px;
    color: #131E29;
    text-align: center;
    display: block;
}
.track-my-train-stations-body .track-my-train-stations ul li .station-left-time .station-left-time-last {
    font-size: 14px;
    line-height: 20px;
    color: #C0414D !important;
    text-align: center;
    font-weight: 700;
    display: block;
}
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-first-li .station-left-time .station-left-time-last {
    font-size: 16px;
    line-height: 22px;
}
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-last-li .station-left-time .station-left-time-last {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #131E29;
}
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-first-li .station-left-time .station-left-time-first,
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-last-li .station-left-time .station-left-time-first {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #131E29;
}
.track-my-train-stations-body .track-my-train-stations ul li .station-left-time .station-left-time-first.station-left-cut-time-first,
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-first-li .station-left-time .station-left-time-first.station-left-cut-time-first,
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-last-li .station-left-time .station-left-time-first.station-left-cut-time-first  {
    color: #131E29;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: line-through;
}
.track-my-train-stations-body .track-my-train-stations ul li .train-late-time {
    color: #C0414D;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.115px;
}
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-first-li .station-platform-name,
.track-my-train-stations-body .track-my-train-stations ul li.track-my-train-last-li .station-platform-name,
.track-my-train-stations-body .track-my-train-stations ul .station-platform-name {
    font-size: 13px;
    letter-spacing: -0.115px;
    color: #131E29;
}
.track-my-train-stations-body .track-my-train-stations .track-my-train-break {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
}
.track-my-train-stations-body .track-my-train-stations .track-my-train-break::before,
.track-my-train-stations-body .track-my-train-stations .track-my-train-break::after {
    content: "";
    display: none;
}
.track-my-train-stations-body .track-my-train-stations .track-my-train-break .track-my-train-break-icon {
    display: flex;
    gap: 8px;
    align-items: center;
}
.track-my-train-stations-body .track-my-train-stations .track-my-train-break .track-my-train-break-content .track-my-train-break-title {
    color:#131E29;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
.track-my-train-stations-body .track-my-train-stations .track-my-train-break .track-my-train-break-content .track-my-train-break-station {
    color:#131E29;
    font-size: 14px;
    line-height: 20px;
}
.track-train-last-updated {
    margin-top: 12px;   
    text-align: center;
}


.track-my-train-stations-body .track-my-train-stations .track-my-train-break-second {
    margin: 16px 0;
    position: relative;
    width: 100%;
    height: auto;
}
.track-my-train-stations-body .track-my-train-stations .track-my-train-break-second::before,
.track-my-train-stations-body .track-my-train-stations .track-my-train-break-second::after {
    content: "";
    display: none;
}
.track-my-train-break-second .track-my-train-break-second-box {
    padding: 12px 20px;
    border-radius: 5px;
}
.track-my-train-break-second .track-my-train-break-second-box.track-my-train-break-second-bg1 {
    background: rgba(244, 202, 64, 0.30);
    border: 1px solid #F4CA40;
}
.track-my-train-break-second .track-my-train-break-second-box.track-my-train-break-second-bg2 {
    background: rgba(192, 65, 77, 0.20);
    border: 1px solid #C0414D;
}
.track-my-train-break-second .track-my-train-break-second-box.track-my-train-break-second-bg3 {
    background: #F6F6F6;
    border: 1px solid #004F59;
}
.track-my-train-break-second .track-my-train-break-second-box .track-my-train-break-second-box-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.track-my-train-break-second .track-my-train-break-second-box .track-my-train-break-second-box-inner .track-my-train-break-second-box-title {
    color: #131E29;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.track-my-train-break-second .track-my-train-break-second-box .track-my-train-break-second-box-inner .track-my-train-break-second-box-time {
    color: #131E29;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
}
.track-my-train-break-second .track-my-train-break-second-box .track-my-train-break-second-box-content p {
    color: #000;
    font-size: 14px;
    line-height: 20px;
}
.track-my-train-break-second .track-my-train-break-second-box .track-my-train-break-second-box-inner .track-my-train-break-tube-walk-title {
    color: #131E29;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.track-my-train-coach {
    overflow-x: auto;
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.track-my-train-coach::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.track-my-train-coach::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 20px;
}
 
.track-my-train-coach::-webkit-scrollbar-thumb {
    background: #E7EBF3; 
    border-radius: 20px;
}
.track-my-train-coach::-webkit-scrollbar-thumb:hover {
    background: #E7EBF3; 
}
.track-my-train-coach .track-my-train-coach-inner {
    display: flex;
    gap: 6px;
}
.track-my-train-coach .track-my-train-coach-inner .track-my-train-coach-first .track-my-train-coach-image {
    position: relative;
    text-align: center;
    margin-bottom: 3px;
}
.track-my-train-coach .track-my-train-coach-inner .track-my-train-coach-first .track-my-train-coach-image::before {
    content: "";
    position: absolute;
    top: 16px;
    right: -23px;
    height: 1.5px;
    width: 23px;
    background-color: #204555;
    z-index: 0;
}
.track-my-train-coach .track-my-train-coach-inner .track-my-train-coach-first:last-child .track-my-train-coach-image::before {
    content: "";
    display: none;
}
.track-my-train-coach .track-my-train-coach-inner .track-my-train-coach-first .track-my-train-coach-image .coach-txt {
    position: absolute;
    color: #35383B;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    top: 27%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}
.track-my-train-coach .track-my-train-coach-inner .track-my-train-coach-first .coach-seat-txt {
    color: #131E29;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}
.track-my-train-title-pr {
    padding-right: 20px;
}
.track-my-train-break-second-box-cancelled img {
    height: 18px;
    width: 18px;
    margin-top: -7px;
}
.track-my-train-first-li-non::before {
    top: 0px !important;
    left: -29px !important;
    width: 17px !important;
    height: 3.5px !important;
    background-color: #D6D1CA !important;
}
.track-my-train-first-li-non::after {
    top: 3px !important;
    left: -23px !important;
    width: 4px !important;
    height: 61px !important;
    background-color: #D6D1CA !important;
}
.track-my-train-li-non-middle::before {
    top: 8px !important;
    left: -19px !important;
    width: 7px !important;
    height: 3.5px !important;
    background-color: #D6D1CA !important;
}
.track-my-train-li-non-middle::after {
    top: 4px !important;
    left: -23px !important;
    width: 4px !important;
    height: 60px !important;
    background-color: #d6d1ca !important;
}
.track-my-train-last-li-non-bottom {
    height: auto !important;
}
.track-my-train-last-li-non-bottom::before {
    top: 14px !important;
    left: -29px !important;
    width: 17px !important;
    height: 3.5px !important;
    background-color: #D6D1CA !important;
}
.track-my-train-last-li-non-bottom::after {
    top: -13px !important;
    left: -23px !important;
    width: 4px !important;
    height: 30px !important;
    background-color: #d6d1ca !important;
}
.track-my-train-li-non-middle-bottom::before {
    top: 8px !important;
    left: -19px !important;
    width: 7px !important;
    height: 3.5px !important;
    background-color: #D6D1CA !important;
}
.track-my-train-li-non-middle-bottom::after {
    top: -13px !important;
    left: -23px !important;
    width: 4px !important;
    height: 84px !important;
    background-color: #d6d1ca !important;
}
.track-my-train-li-non-last-bottom::before {
    top: 8px !important;
    left: -29px!important;
    width: 17px!important;
    height: 3.5px !important;
    background-color: #D6D1CA !important;
}
.track-my-train-li-non-last-bottom::after {
    top: -13px!important;
    left: -23px!important;
    width: 4px!important;
    height: 22px!important;
    background-color: #d6d1ca!important;
}
.track-my-train-show-calling-points button {
    width: 100%;
    padding: 12px 8px !important;
    background-color: #F6F6F6;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px !important;
    color: #131E29;
}
.track-my-train-stations ul li.track-my-train-loop-li:first-child {
    content: "";
    display: none;
}
.d-none-earlier, .d-none-later{
    display: none;
}
.track-my-train-non-info {
    display: flex;
    gap: 4px;
    margin-top: 11px;
}
.track-my-train-non-info p {
    color:#131E29;
    font-size: 12px;
    line-height: 16px;
}
.track-my-train-non-info img {
    height: 12.632px;
    width: 15px;
}
.track-my-train-padding-space {
    padding: 0 20px;
}

.font-dark {
    color: #131E29 !important;
}

.london-euston-tmt-card {
    margin: 28px 0 !important;
}

.london-euston-tmt-mt-0 {
    margin-top: 0px !important;
}

.london-euston-tmt-card .track-my-train-break-second-box-inner {
    margin-bottom: 8px !important;
}

.tmt-london-bus-icon {
    margin-top: -10px;
}

.no-seat-reservation-overflow {
    overflow-x: hidden !important;
}

.tmt-popup-delay-icon {
    width: 18px;
    height: 15.16px;
}

.upgrade-details-p-mb p {
    margin-bottom: 16px !important;
}

.upgrade-details-p-mb p:last-child {
    margin-bottom: 0 !important;
}

@media (max-width:991px) {
    .track-train-popup {
        flex-direction: column;
    } 
    .track-train-popup .track-train-card {
        order: 1;
    }
    .track-train-popup .track-train-card,
    .track-train-popup .track-train-right {
        width: 100%;
        position: inherit;
    }
}

@media (max-width:768px) {
    .tmt-london-bus-icon {
        margin-top: 0;
    }
}