<app-enhanced-basic-dialog [dialogFooter]="dialogFooter" class="enhanced-alert-dialogs" [dialogTitle]="headerTitle">
  <div class="enhanced-common-popup-theme">
    <div class="enhanced-common-popup-theme-border">
      <div class="enhanced-seat-preferences-flex">
        <div class="enhanced-seat-preferences-header">
          <h2>
            Any preferences? We’ll check what’s available.
          </h2>
          <p>
            Not all trains companies offer allocated seats, but you can take any available seat in your class of travel.
          </p>
        </div>
        <div class="enhanced-seat-preferences-body">
          <div class="enhanced-seat-preferences-seat-card">
            <h3>Seat position</h3>
            <div class="enhanced-seat-preferences-seat-option">
              <mat-radio-group aria-label="Seat position" [(ngModel)]="position">
                <mat-radio-button [value]="seatPrefrenceType?.windowSeat" (click)="onPositionRadioClick($event, seatPrefrenceType?.windowSeat)"
                  [checked]="isPositionRadioChecked(seatPrefrenceType?.windowSeat)">
                  <div class="enhanced-seat-preferences-box">
                    <img src="assets/images/new-design-img/window-seats.svg" alt="" aria-hidden="true" />
                    <p>Window</p>
                  </div>
                </mat-radio-button>
                <mat-radio-button [value]="seatPrefrenceType?.aislSeat" (click)="onPositionRadioClick($event, seatPrefrenceType?.aislSeat)"
                  [checked]="isPositionRadioChecked(seatPrefrenceType?.aislSeat)">
                  <div class="enhanced-seat-preferences-box">
                    <img src="assets/images/new-design-img/aisle-seats.svg" alt="" aria-hidden="true" />
                    <p>Aisle</p>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="enhanced-seat-preferences-seat-card">
            <h3>Seat direction</h3>
            <div class="enhanced-seat-preferences-seat-option">
              <mat-radio-group aria-describedby="Seat direction" [(ngModel)]="facing">
                <mat-radio-button [value]="seatPrefrenceType?.facingSeat" (click)="onDirectionRadioClick($event, seatPrefrenceType?.facingSeat)"
                  [checked]="isDirectionRadioChecked(seatPrefrenceType?.facingSeat)">
                  <div class="enhanced-seat-preferences-box">
                    <img src="assets/images/new-design-img/forward-seats.svg" alt="" aria-hidden="true" />
                    <p>Forward</p>
                  </div>
                </mat-radio-button>
                <mat-radio-button [value]="seatPrefrenceType?.backSeat" (click)="onDirectionRadioClick($event, seatPrefrenceType?.backSeat)"
                  [checked]="isDirectionRadioChecked(seatPrefrenceType?.backSeat)">
                  <div class="enhanced-seat-preferences-box">
                    <img src="assets/images/new-design-img/backward-seats.svg" alt="" aria-hidden="true" />
                    <p>Backward</p>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="enhanced-seat-preferences-seat-card">
            <h3>Other preference (optional)</h3>
            <div class="enhanced-seat-preferences-seat-option">
              <section class="mat-mdc-checkbox-group">
                <mat-checkbox [value]="seatPrefrenceType?.tableSeat" [(ngModel)]="tableSeat" (change)="onSeatTypeToggle($event, seatPrefrenceType?.tableSeat)">
                  <div class="enhanced-seat-preferences-box">
                    <img src="assets/images/new-design-img/table-seats.svg" alt="" aria-hidden="true" />
                    <p>Table seat</p>
                  </div>
                </mat-checkbox>
                <mat-checkbox [value]="seatPrefrenceType?.quietCoach" [(ngModel)]="quietCoach" (change)="onSeatTypeToggle($event, seatPrefrenceType?.quietCoach)">
                  <div class="enhanced-seat-preferences-box">
                    <img src="assets/images/new-design-img/quiet-seats.svg" alt="" aria-hidden="true" />
                    <p>Quiet coach</p>
                  </div>
                </mat-checkbox>
                <mat-checkbox [value]="seatPrefrenceType?.powerSocket" [(ngModel)]="powerSocket" (change)="onSeatTypeToggle($event, seatPrefrenceType?.powerSocket)">
                  <div class="enhanced-seat-preferences-box">
                    <img src="assets/images/new-design-img/power-seats.svg" alt="" aria-hidden="true" />
                    <p>Power socket</p>
                  </div>
                </mat-checkbox>
              </section>
            </div>
          </div>
        </div>
        <div class="enhanced-seat-preferences-footer">
          <p>
            *Window refers to the seat position in relation to the aisle. Most of these seats have a window view as
            well, but not all.
          </p>
          <p>
            *We'll do our best to match your seat preferences. Your seat information will be confirmed on the review
            page.
          </p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #dialogFooter>
    <div class="common-popup-theme-footer seat-preferece-footer-btn">
      <div class="two-btn-footer">
        <button mat-dialog-close type="button" mat-button class="outline-btn outline-primary-btn-hover" aria-label="Cancel">
          Cancel
        </button>
        <button type="button" mat-button class="fill-btn fill-light-hover-btn" (click)="saveSeatPreferences()" [disabled]="isSaveDisabled()" aria-label="Save preferences">
          Save preferences
        </button>
      </div>
    </div>
  </ng-template>
</app-enhanced-basic-dialog>