<app-enhanced-basic-dialog [dialogFooter]="dialogFooter" class="enhanced-alert-dialogs content-center" [dialogTitle]="headerTitle" [iconClose]="false" role="dialog" aria-modal="true" tabindex="-1">
  <ng-content>
    <div class="enhanced-common-popup-theme">
      <div class="enhanced-common-popup-theme-border">
        <div class="enhanced-common-info-content" role="alert" aria-live="assertive" aria-atomic="true">
          <span class="sr-only">{{ headerTitle }}</span>
          <p [ngClass]="{'text-center': data?.isCardAlreadyExist}" [innerHTML]="message"></p>
        </div>
      </div>
    </div>
  </ng-content>
  <ng-template #dialogFooter>
    <div class="common-popup-theme-footer">
      <div class="two-btn-footer journey-dialog-footer-center">
        <button *ngIf="!data?.isTicketNotFound" mat-dialog-close type="button" mat-button class="fill-btn fill-light-hover-btn">
          OK
        </button>
        <button *ngIf="data?.isTicketNotFound" mat-dialog-close type="button" mat-button class="fill-btn fill-light-hover-btn enhanced-error-continue-btn">
          Continue
        </button>
      </div>
    </div>
  </ng-template>
</app-enhanced-basic-dialog>