<div class="vat-receipt">
    <table aria-describedby="VAT Receipt" id="contentToConvert">
        <thead>
            <th colspan="2"></th>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <table class="pdf-table-header" aria-describedby="">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <img src="assets/images/logoNew.png" class="pdf-logo" alt="Avanti West Coast Logo" />
                                </td>
                            </tr>
                            <tr>
                                <td class="pdf-header-spc"></td>
                            </tr>
                            <tr>
                                <td class="text-center pdf-f-700">
                                    Avanti West Coast <span>333846883</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="pdf-add-spc"></td>
                            </tr>
                            <tr class="pdf-add-padding">
                                <td class="text-center">
                                    {{vatReceiptResponse?.VatAddress}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                   <table class="pdf-table-body" aria-describedby="">
                        <thead>
                            <tr>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="pdf-header-spc"></td>
                            </tr>
                            <tr>
                                <td>
                                    VAT:
                                </td>
                                <td class="text-end">
                                    {{vatReceiptResponse?.VatNumber}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="pdf-header-spc"></td>
                            </tr>
                            <tr>
                                <td>
                                    Time:
                                </td>
                                <td class="text-end">
                                    {{vatReceiptResponse?.BookingTime}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="pdf-header-spc"></td>
                            </tr>
                            <tr>
                                <td>
                                    Date:
                                </td>
                                <td class="text-end">
                                    {{vatReceiptResponse?.BookingDate | date: 'dd/MM/yyyy'}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="pdf-header-spc"></td>
                            </tr>
                            <tr>
                                <td>
                                    Price:
                                </td>
                                <td class="text-end">
                                    {{sharedService.currencySymbol('')}}{{sharedService.formatPrice(vatReceiptResponse?.Price)}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="pdf-header-spc"></td>
                            </tr>
                            <tr>
                                <td>
                                    Booking Ref number:
                                </td>
                                <td class="text-end">
                                    {{vatReceiptResponse?.BookingReferenceNumber}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="pdf-header-spc"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="pdf-header-spc"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="pdf-header-spc"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="pdf-footer-border"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="pdf-header-spc"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center pdf-footer-txt">
                                    NOT VALID FOR TRAVEL
                                </td>
                            </tr>
                        </tbody>
                   </table> 
                </td>
            </tr>
        </tbody>
    </table>
</div>