@import url("../../../../assets/css/enhanced-styles.css");

.mat-mdc-tab-body-content {
    padding: 1.5rem;
}

.ngb-dp-weekday {
    font-size: 0 !important;
    position: relative;
}

 
.ngb-dp-weekday:nth-child(1)::before { content: "Mo"; }
.ngb-dp-weekday:nth-child(2)::before { content: "Tu"; }
.ngb-dp-weekday:nth-child(3)::before { content: "We"; }
.ngb-dp-weekday:nth-child(4)::before { content: "Th"; }
.ngb-dp-weekday:nth-child(5)::before { content: "Fr"; }
.ngb-dp-weekday:nth-child(6)::before { content: "Sa"; }
.ngb-dp-weekday:nth-child(7)::before { content: "Su"; }
 
.ngb-dp-weekday::before {
    font-size: 14px !important; 
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-weight: normal;
    line-height: 22px;
}