<h2 mat-dialog-title class="login-signin-title" [class.d-none]="data.IsPopupHeaderHidden">Request Successful</h2>
<span class="dialog-close"  [class.d-none]="data.IsPopupHeaderHidden" mat-dialog-close><img src="assets/images/Close.svg" alt=""></span>
<mat-dialog-content class="message-custom">
    <div class="text-center ptb-20">
        <img src="assets/images/confirm-tick.svg" alt="">

        <span *ngIf="isConfirm">
            <p class="mb-0 f-22 mt-10">Your smartcard has been confirmed successfully.</p>
            <p class="mb-10 f-12">Note: The old Smartcard has been hotlisted now and you wouldn’t be able to use it
                anymore.</p>
        </span>
        <span *ngIf="isLink">
            <p class="mb-0 f-22 mt-10">Your smartcard link request has been sent successfully.
                You may check the request status in "My Request" Section</p>
        </span>
        <span *ngIf="isUnlink">
            <p class="mb-0 f-22 mt-10" *ngIf="!isMySmartcard">The smartcard no. {{unlinkDetails?.SmartCardNumber}} has been unlinked successfully from your account</p>
            <p class="mb-0 f-22 mt-10" *ngIf="isMySmartcard">The smartcard no. {{unlinkDetails?.SmartCardNumber}} has been unlinked successfully from {{unlinkDetails?.Owner}} account</p>
        </span>
        <span *ngIf="isRegister">
            <p class="mb-0 f-22 mt-10">Your smartcard has been registered successfully.</p>
        </span>
        <span *ngIf="isTransfer">
            <p class="mb-0 f-22 mt-10">The Smartcard transfer request has been sent successfully.</p>
            <p class="mb-0 f-22 mt-10">You may check the request status in "My Request" Section.</p>
        </span>
        
        <div *ngIf="isOrder">
            <p class="mb-0 f-22 mt-10">Your smartcard has been successfully Ordered.</p >
        </div>
        <button mat-button class="default-btn mt-10 min-width-140" (click)="onclickOkay()">Okay</button>
    </div>
</mat-dialog-content>