<div class="clearfix"></div>
<div class="profile_wrp">
   <div class="login_form">
      <form [formGroup]="ImageViewForm" (ngSubmit)="onSubmit()">
         <div class="form-group">
            <label>Image View Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control login_fild" placeholder="Image view Name"
               formControlName="imageViewName" inputRef [appInputMaxLength]="150">
         </div>
         <div *ngIf="(f.imageViewName.touched || submitted) && f.imageViewName.errors?.required"
            class="text-danger validation-error">
            {{AppConstants.IMAGE_VIEW_NAME_REQUIRED}}
         </div>


         <div class="form-group">
            <label>Select Status <span class="text-danger">*</span></label>
            <select class="form-control login_fild" formControlName="isActive">
               <option selected value="">Select Status</option>
               <option value="1">{{AppConstants.STATUS_ACTIVE}}</option>
               <option value="0">{{AppConstants.STATUS_INACTIVE}}</option>
            </select>

         </div>
         <div *ngIf="(f.isActive.touched || submitted) && f.isActive.errors?.required"
            class="text-danger validation-error">
            {{AppConstants.IMAGE_VIEW_STATUS_REQUIRED}}
         </div>


         <div class="add_prd_btn_rw">
            <button type="submit" class="btn btn-default login_btn"><em class="fas fa-sign-in-alt"></em>
               <span *ngIf="id; else add">{{AppConstants.UPDATE}}</span>
               <ng-template #add>
                  {{AppConstants.SUBMIT}}
               </ng-template>
            </button>
            <button type="button" class="btn btn-default login_btn cancel_btn_frm" (click)="cancel()"><em
                  class="fa fa-times" aria-hidden="true"></em>Cancel</button>
         </div>

      </form>
   </div>
   <div class="clearfix"></div>
</div>