<app-basic-dialog [dialogTitle]="headerTitle" [dialogFooter]="dialogFooter" [sentEmailSuccessCheck]="true" [iconClose]="iconClose"
[accountClosureCloseBtn]="true">
    <div class="common-popup-theme-in">
        <div class="common-popup-theme-border">
            <div class="common-popup-theme-middle common-popup-theme-fare-middle common-popup-theme-why-middle">
                <p class="f-16 font-dark lh-22 m-f-16 mb-0">
                    We are processing your request and will inform you via your registered email address.
                </p>
            </div>
        </div>
    </div>
</app-basic-dialog>
<ng-template #dialogFooter>
    <div class="common-popup-theme-footer">
        <button class="default-btn" (click)="closeAccount()" mat-button>Ok</button>
    </div>
</ng-template>

