<div class="clearfix"></div>
<div class="profile_wrp">
    <a href="javascript:void(0)" class="prf_edit_icon" [routerLink]="['/admin/edit-profile']"><i class="fa fas fa-edit" aria-hidden="true"></i></a>
<div class="profile_wrp_img"><img [src]="[user_image ? user_image: 'assets/images/profile_pic.jpg']" alt="" onError="this.src='assets/images/profile_pic.jpg'"></div>
<div class="profile_wrp_txt">
    
    <ul class="profile_info">
    <li *ngIf="userProfileData && userProfileData.UserName "><span class="left_prf">Username</span><label class="right_prf" >{{userProfileData.UserName}}</label></li>
    <li *ngIf="userProfileData && (userProfileData.FirstName || userProfileData.LastName)"><span class="left_prf">Name</span><label class="right_prf" >{{userProfileData.FirstName}} {{userProfileData.LastName}}</label></li>
    <li *ngIf="userProfileData && userProfileData.Email"><span class="left_prf" >Email</span><label class="right_prf" style="color: #a0a0a5 !important;">{{userProfileData.Email}}</label></li>
    <li *ngIf="userProfileData && userProfileData.Phone"><span class="left_prf" >Phone Number</span><label class="right_prf">{{userProfileData.Phone}}</label></li>
    
    </ul>
    
    
    </div>  

<div class="clearfix"></div>
</div>
