<app-header></app-header>
<div class="ptb-15 buynow-bttm-mixingdeck min-auto">
    <div class="container plr-xs-5">

      <div class="row mlr-xs--5">
        <div class="col-md-8">
          <div class="mb-2">
            <a href="javascript:void(0)" class="f-14 font-600 text-graphene cursor-pointer-hover price-promise" (click)="goBack()"><img src="assets/images/left-arrow-dark.svg"
                alt="" class="me-2 mt--4"> Go back</a>
          </div>
          <div class="mb-3">
            <h1 class="f-32 f-600">Change seat reservation </h1>
            <p class="f-16 mb-0">{{searchSimilarResponse?.SearchRequestDto?.DepartureLocationName}} to {{searchSimilarResponse?.SearchRequestDto?.ArrivalLocationName}}</p>
          </div>
          <div class="warning-bx mb-3 align-items-start" *ngIf="ticketDetails">
            <img src="assets/images/info_icon_dark.svg" class="me-3" alt="">
            <p class="f-14 mb-0">You have an <span>{{ticketDetails.TicketType}}</span> ticket. To find out what services you are eligible to book a new
              seat on see <a href="javascript:void(1)" (click)="ticketInfo(ticketDetails.TicketType,ticketDetails)" class="spark-link">ticket information.</a></p>
          </div>
        </div>
      </div>

      <div class="row d-md-flex mlr-xs--5">
        <div class="col-md-8 pb-5 pb-xl-0">
          <div class="mt-2 w-100 seat-reserv-panel mat-expansion-panel">

            <div class="mat-expansion-panel-header">
              <div class="mat-expansion-panel-header-title">
                <div class="journey-header">
                  <div class="out-date font-500 text-graphene c-h5 mb-0 mb-md-1" *ngIf="dateOfJourneyShowText">
                    {{showJourneyType}}: {{dateOfJourneyShowText}}
                  </div>
                  <div class="journey-stations c-p1">
                    <p>{{searchSimilarResponse?.SearchRequestDto?.DepartureLocationName}} to {{searchSimilarResponse?.SearchRequestDto?.ArrivalLocationName}}
                            <button mat-button class="simple-btn font-400 edit-journey text-underline d-md-inline d-none cursor-pointer-hover d-flex" (click)="showDatepickerPopup(false)">Edit Date/Time</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="new-mixing pb-4">
              <div class="col-md-12 ps-0 pe-0 ps-md-3 pe-md-3">
                <div class="mb-0 col-md-4 mb-md-2 mt-0 mt-md-2 ms-0 ms-md-2 see-earlier c-p2 ps-0" *ngIf="!isHideEarlier">
                  <a href="javascript:void(3)" class="text-underline cursor-pointer-hover d-flex f-16 font-500" (click)="onClickGetEarlierSearch(false)"><img src="assets/images/clock.svg"
                      alt="" class="mr-5x clock-svg">See earlier trains</a>
                </div>

                <div class="col-12">
                  <div class="row">
                    <mat-table multiTemplateDataRows [dataSource]="dataSource" class="mat-elevation-z8 mixing-deck-tbl">

                      <ng-container class="mixing-deck-tbl th" matColumnDef="Operator">
                        <mat-header-cell *matHeaderCellDef class="c-p1">Operator</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6">
                        
                          <div *ngIf="element['Operator']==1 || element['Operator']==2">
                            <img class="avanti-logo" src="assets/images/avanti-logo-dark.svg" alt="avanti">
                              <span class="train-operator" *ngIf="element['Operator']==2">&nbsp;+ {{element['OperatorChange']}}</span>
                            </div>
                              <span class="train-operator" *ngIf="element['Operator']==3">{{element['SaleCompany']}}</span>
                              <span class="train-operator" *ngIf="element['Operator']==4">Multiple operators</span>
        
                        </mat-cell>
                      </ng-container>

                      <ng-container class="mixing-deck-tbl th" matColumnDef="DepartureTime">
                        <mat-header-cell *matHeaderCellDef class="c-p1">Departure</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6 d-flex">
                         
                          <div class="p-relative me-md-0 me-auto">
                            <span class="strikeout"></span>
                            <span class="dep-code">{{element['DepartureTime']}}</span>
                          </div>
                             <div class="darwin-dep" *ngIf="element['IsDelayed']">{{element['DarwinDepartureTime']}}</div>
                             <span class="cancelled" *ngIf="element['IsCancelled']">Cancelled</span>
                        </mat-cell>
                      </ng-container>

                      <ng-container class="mixing-deck-tbl th" matColumnDef="ArrivalTime">
                        <mat-header-cell *matHeaderCellDef class="c-p1">Arrival</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6">
                          <div class="p-relative">
                           
                            <span class="strikeout"></span>
                          <span class="arr-code">{{element['ArrivalTime']}}</span>
                            <div class="darwin-arr" *ngIf="element['IsDelayed']">{{element['DarwinArrivalTime']}}</div>
                            <span class="cancelled" *ngIf="element['IsCancelled']">Cancelled</span>
                            
                          </div>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="Duration">
                        <mat-header-cell *matHeaderCellDef class="c-p1">
                          Duration
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6">
                          <span>{{element.Duration}}</span>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="Changes">
                        <mat-header-cell *matHeaderCellDef class="c-p1">
                          Changes
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6">
                          <span>{{element.Changes=== 0 ? 'Direct' : element.Changes}}</span>
                        </mat-cell>
                      </ng-container>
                      
                      <ng-container class="mixing-deck-tbl th" matColumnDef="statusOfSolution">
                        <mat-header-cell *matHeaderCellDef class="c-p1"></mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6" >
                          <span class="not-available" *ngIf="(element.IsCancelled || element.IsAlreadyDepartured || element.IsSaleable) && !element.IsSoldOutService">Invalid ticket</span>
                          <mat-radio-button name="OutwardRadioGroup" *ngIf= "!element.IsSoldOutService && !element.IsAlreadyDepartured && !element.IsCancelled && !element.IsSaleable" (change)="onChoosingTicketSolution(element)"
                          [aria-label]="searchSimilarResponse?.SearchRequestDto?.DepartureLocationName + ' to ' + searchSimilarResponse?.SearchRequestDto?.ArrivalLocationName + ' ' + element['DepartureTime'] + ' ' + element['ArrivalTime'] + ' ' + element.Duration + ' ' + (element.Changes=== 0 ? 'Direct' : element.Changes) "
                          >
                            <span >Select</span>
                          </mat-radio-button>
                          <span *ngIf= "element.IsSoldOutService">No seats available</span>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                      <mat-row class="example-element-row cursor-pointer-hover pt-3 pt-sm-0" *matRowDef="let element; columns: columnsToDisplay;"
                      [class.example-expanded-row]="expandedElement === element"
                      [class.mat-row-disabled]="element.IsSaleable || element.IsAlreadyDepartured || element.IsSoldOutService"
                      [class.COJ-mat-row-disabled]="element.IsSaleable || element.IsAlreadyDepartured || element.IsSoldOutService" 
                      [class.train-delay]="element.IsDelayed" [class.train-cancel]="element.IsCancelled">
                      </mat-row>
                    </mat-table>
  
                  </div>
                </div>
  
                <div class="col-md-12 position-static">
                  <div class="row">
                    <div class="col-md-4 see-later ps-0 mt-3 mt-md-2 ms-0 ms-md-2 c-p2" *ngIf="!isHideLater">
                      <a href="javascript:void(4)" class="text-underline cursor-pointer-hover d-flex f-16 font-500" (click)="onClickGetLaterSearch(false)">
                        <img src="assets/images/clock.svg" alt="" class="mr-5x clock-svg">See later trains</a>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="md-new-price plr-30 text-center mt-2" #stickyMenu [class.sticky] = "sticky" >
            <p class="mb-3 f-24 font-500">Total cost: Free</p>
          <button mat-button class="default-btn mb-4 w-100" [disabled]="disableContinueBtn" (click)="onContinueBtn()">Continue</button>
        </div>
        <div class="md-new-price-2">
          <div class="row">
            <div class="col-8">
              <p class="mb-0 f-16">Total cost: Free</p>
            </div>
            <div class="col-4 text-end">
              <button class="default-btn" mat-button  [disabled]="disableContinueBtn" (click)="onContinueBtn()">Continue</button>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-8 pb-5 pb-xl-0" *ngIf="isReturnJourney && !isPartialReturnTypeTicket">
          <div class="mt-2 w-100 seat-reserv-panel mat-expansion-panel">

            <div class="mat-expansion-panel-header">
              <div class="mat-expansion-panel-header-title">
                <div class="journey-header">
                  <div class="out-date font-500 text-graphene c-h5 mb-0 mb-md-1" *ngIf="dateOfJourneyShowTextReturn">
                    {{showJourneyTypeReturn}}: {{dateOfJourneyShowTextReturn}}
                  </div>
                  <div class="journey-stations c-p1">
                    <p>{{searchSimilarResponse?.SearchRequestDto?.ArrivalLocationName}} to {{searchSimilarResponse?.SearchRequestDto?.DepartureLocationName}}
                            <button mat-button (click)="showDatepickerPopup(true)" class="simple-btn font-400 edit-journey text-underline d-md-inline d-none cursor-pointer-hover d-flex">
                              Edit Date/Time
                            </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="new-mixing pb-4">
              <div class="col-md-12 ps-0 pe-0 ps-md-3 pe-md-3">
                <div class="mb-0 col-md-4 mb-md-2 mt-0 mt-md-2 ms-0 ms-md-2 see-earlier c-p2 ps-0" *ngIf="!isHideEarlierReturn">
                  <a href="javascript:void(6)" class="text-underline cursor-pointer-hover d-flex f-16 font-500" (click)="onClickGetEarlierSearch(true)"><img src="assets/images/clock.svg"
                      alt="" class="mr-5x clock-svg">See earlier trains</a>
                </div> 

                <div class="col-12">
                  <div class="row">
                    <mat-table multiTemplateDataRows [dataSource]="dataSourceReturn" class="mat-elevation-z8 mixing-deck-tbl">

                      <ng-container class="mixing-deck-tbl th" matColumnDef="Operator">
                        <mat-header-cell *matHeaderCellDef class="c-p1">Operator</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6">
                        
                          <div *ngIf="element['Operator']==1 || element['Operator']==2">
                            <img class="avanti-logo" src="assets/images/avanti-logo-dark.svg" alt="avanti">
                              <span class="train-operator" *ngIf="element['Operator']==2">&nbsp;+ {{element['OperatorChange']}}</span>
                            </div>
                              <span class="train-operator" *ngIf="element['Operator']==3">{{element['SaleCompany']}}</span>
                              <span class="train-operator" *ngIf="element['Operator']==4">Multiple operators</span>
        
                        </mat-cell>
                      </ng-container>

                      <ng-container class="mixing-deck-tbl th" matColumnDef="DepartureTime">
                        <mat-header-cell *matHeaderCellDef class="c-p1">Departure</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6 d-flex">
                         
                          <div class="p-relative me-md-0 me-auto">
                            <span class="strikeout"></span>
                            <span class="dep-code">{{element['DepartureTime']}}</span>
                          </div>
                             <div class="darwin-dep" *ngIf="element['IsDelayed']">{{element['DarwinDepartureTime']}}</div>
                             <span class="cancelled" *ngIf="element['IsCancelled']">Cancelled</span>
                        </mat-cell>
                      </ng-container>

                      <ng-container class="mixing-deck-tbl th" matColumnDef="ArrivalTime">
                        <mat-header-cell *matHeaderCellDef class="c-p1">Arrival</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6">
                          <div class="p-relative">
                           
                            <span class="strikeout"></span>
                          <span class="arr-code">{{element['ArrivalTime']}}</span>
                            <div class="darwin-arr" *ngIf="element['IsDelayed']">{{element['DarwinArrivalTime']}}</div>
                            <span class="cancelled" *ngIf="element['IsCancelled']">Cancelled</span>
                            
                          </div>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="Duration">
                        <mat-header-cell *matHeaderCellDef class="c-p1">
                          Duration
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6">
                          <span>{{element.Duration}}</span>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="Changes">
                        <mat-header-cell *matHeaderCellDef class="c-p1">
                          Changes
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6">
                          <span>{{element.Changes=== 0 ? 'Direct' : element.Changes}}</span>
                        </mat-cell>
                      </ng-container>
                      
                      <ng-container class="mixing-deck-tbl th" matColumnDef="statusOfSolution">
                        <mat-header-cell *matHeaderCellDef class="c-p1"></mat-header-cell>
                        <mat-cell *matCellDef="let element" class="c-h6" >
                          <span class="not-available" *ngIf="(element.IsCancelled || element.IsAlreadyDepartured || element.IsSaleable) && !element.IsSoldOutService">Invalid ticket</span>
                          <mat-radio-button name="ReturnRadioGroup" *ngIf= "!element.IsSoldOutService && !element.IsAlreadyDepartured && !element.IsCancelled && !element.IsSaleable" (change)="onChoosingTicketSolutionReturn(element)"
                          [aria-label]="searchSimilarResponse?.SearchRequestDto?.ArrivalLocationName + ' to ' + searchSimilarResponse?.SearchRequestDto?.DepartureLocationName + ' ' + element['ArrivalTime'] + ' ' + element['DepartureTime'] + ' ' + element.Duration + ' ' + (element.Changes=== 0 ? 'Direct' : element.Changes) ">
                            <span >Select</span>
                          </mat-radio-button>
                          <span *ngIf= "element.IsSoldOutService">No seats available</span>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                      <mat-row class="example-element-row cursor-pointer-hover pt-3 pt-sm-0" *matRowDef="let element; columns: columnsToDisplay;"
                      [class.example-expanded-row]="expandedElementReturn === element"
                      [class.mat-row-disabled]="element.IsSaleable || element.IsAlreadyDepartured || element.IsSoldOutService"
                      [class.COJ-mat-row-disabled]="element.IsSaleable || element.IsAlreadyDepartured || element.IsSoldOutService" 
                      [class.train-delay]="element.IsDelayed" [class.train-cancel]="element.IsCancelled">
                      </mat-row>
                    </mat-table>
  
                  </div>
                </div>
  
                <div class="col-md-12 position-static">
                  <div class="row">
                    <div class="col-md-4 see-later ps-0 mt-3 mt-md-2 ms-0 ms-md-2 c-p2" *ngIf="!isHideLaterReturn">
                      <a href="javascript:void(7)" class="text-underline cursor-pointer-hover d-flex f-16 font-500" (click)="onClickGetLaterSearch(true)">
                        <img src="assets/images/clock.svg" alt="" class="mr-5x clock-svg">See later trains</a>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>

        

        

      </div>
    </div>
  </div>