<div class="ringsize_modal" [style.overflow-y]="'auto'" [style.max-height]="'100vh'">
  <div class="ringsize_modal_main">
    <div class="ringsize_modal_main_head"><button class="close_ring_size" (click)="close()"><svg width="24" height="24"
          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_3236_5139" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
            height="24">
            <rect width="24" height="24" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_3236_5139)">
            <path
              d="M6.7077 18.6154L6 17.9077L11.6 12.3077L6 6.7077L6.7077 6L12.3077 11.6L17.9077 6L18.6154 6.7077L13.0154 12.3077L18.6154 17.9077L17.9077 18.6154L12.3077 13.0154L6.7077 18.6154Z"
              fill="#010101" />
          </g>
        </svg></button>
    </div>
    <div class="ringsize_modal_con">

      <div class="select_size_wrp">
        <h2>Select Size</h2>
        <p>Need help finding your size? View our <a class="size_guild" (click)="triggerCollapseAndScroll()">size
            guide</a>
        </p>
        <ul class="select_size_select">
          <ng-container *ngFor="let attribute_value of attributeList;">
            <li *ngIf="attribute_value.AttributeDetailValue !== 'NA' && attribute_value.is_show">
              <!-- [ngStyle]="!attribute_value.is_show ? { 'pointer-events': 'none', opacity: '1', 'border-color':'#E8E9EA', color:'#D1D3D4' } : {}" -->
              <label>
                <input type="radio" name="ring size" (click)="onSizeSelect(attribute_value)"
                  [value]="attribute_value?.AttributeDetailId"
                  [checked]="selected_ring_size_attribute_id === attribute_value?.AttributeDetailId">
                <span>{{attribute_value?.AttributeDetailValue}}</span>
              </label>
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="select_size_guide">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="collapsed btn" (click)="triggerCollapseAndScroll()">
                Size Guide
              </a>
              <span class="min_icon_acc" [style.display]="isCollapsed ? 'none' : 'inline'" [style.cursor]="'pointer'"
                (click)="triggerCollapseAndScroll()"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_3236_5159" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                    height="24">
                    <rect width="24" height="24" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_3236_5159)">
                    <path d="M12.3077 15.0154L7 9.7077L7.7077 9L12.3077 13.6L16.9077 9L17.6154 9.7077L12.3077 15.0154Z"
                      fill="#010101" />
                  </g>
                </svg></span>
              <span class="plus_icon_acc" [style.display]="isCollapsed ? 'inline' : 'none'" [style.cursor]="'pointer'"
                (click)="triggerCollapseAndScroll()"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_3141_50399" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                    height="24">
                    <rect x="24" y="24" width="24" height="24" transform="rotate(180 24 24)" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_3141_50399)">
                    <path
                      d="M11.6923 8.9846L17 14.2923L16.2923 15L11.6923 10.4L7.0923 15L6.3846 14.2923L11.6923 8.9846Z"
                      fill="#010101" />
                  </g>
                </svg>
              </span>
            </div>
            <div id="collapsefour" [style.display]="isCollapsed ? 'none' : 'block'">
              <div class="card-body">
                <div>
                  <table class="measurement-tbl width_100_pre_tb ringsize_table_view">
                    <caption style="display: none">
                      ring size details
                    </caption>
                    <thead>
                      <tr>
                        <th class="alt first" scope="col">Circumference (mm)</th>
                        <th class="first" scope="col">Diameter (mm)</th>
                        <th class="first local" scope="col">New Zealand &amp; Australia</th>
                        <th class="alt first" scope="col">US &amp; Canada</th>

                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td class="alt second">44.2</td>
                        <td class="second">14.1</td>
                        <td class="second local">F½</td>
                        <td class="alt second">3</td>

                      </tr>
                      <tr>
                        <td class="alt second">44.8</td>
                        <td class="second">14.3</td>
                        <td class="second local">G</td>
                        <td class="alt second">&nbsp;</td>

                      </tr>
                      <tr>
                        <td class="alt second">45.5</td>
                        <td class="second">14.5</td>
                        <td class="second local">G½</td>
                        <td class="alt second">3½</td>
                      </tr>
                      <tr>
                        <td class="alt second">46.1</td>
                        <td class="second">14.7</td>
                        <td class="second local">H</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">46.8</td>
                        <td class="second">14.9</td>
                        <td class="second local">H½</td>
                        <td class="alt second">4</td>
                      </tr>
                      <tr>
                        <td class="alt second">47.4</td>
                        <td class="second">15.1</td>
                        <td class="second local">I</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">48.0</td>
                        <td class="second">15.3</td>
                        <td class="second local">I½</td>
                        <td class="alt second">4½&lt;</td>
                      </tr>
                      <tr>
                        <td class="alt second">48.7</td>
                        <td class="second">15.5</td>
                        <td class="second local">J</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">49.3</td>
                        <td class="second">15.7</td>
                        <td class="second local">J½</td>
                        <td class="alt second">5</td>
                      </tr>
                      <tr>
                        <td class="alt second">50.0</td>
                        <td class="second">15.9</td>
                        <td class="second local">K</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">50.6</td>
                        <td class="second">16.1</td>
                        <td class="second local">K½</td>
                        <td class="alt second">5½</td>
                      </tr>
                      <tr>
                        <td class="alt second">51.2</td>
                        <td class="second">16.3</td>
                        <td class="second local">L</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">51.9</td>
                        <td class="second">16.5</td>
                        <td class="second local">L½</td>
                        <td class="alt second">6</td>
                      </tr>
                      <tr>
                        <td class="alt second">52.5</td>
                        <td class="second">16.7</td>
                        <td class="second local">M</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">53.1</td>
                        <td class="second">16.9</td>
                        <td class="second local">M½</td>
                        <td class="alt second">6½</td>
                      </tr>
                      <tr>
                        <td class="alt second">53.8</td>
                        <td class="second">17.1</td>
                        <td class="second local">N</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">54.4</td>
                        <td class="second">17.3</td>
                        <td class="second local">N½</td>
                        <td class="alt second">7</td>
                      </tr>
                      <tr>
                        <td class="alt second">55.1</td>
                        <td class="second">17.5</td>
                        <td class="second local">O</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">55.7</td>
                        <td class="second">17.7</td>
                        <td class="second local">O½</td>
                        <td class="alt second">7½</td>
                      </tr>
                      <tr>
                        <td class="alt second">56.3</td>
                        <td class="second">17.9</td>
                        <td class="second local">P</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">57.0</td>
                        <td class="second">18.1</td>
                        <td class="second local">P½</td>
                        <td class="alt second">8</td>
                      </tr>
                      <tr>
                        <td class="alt second">57.2</td>
                        <td class="second">18.2</td>
                        <td class="second local">&nbsp;</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">57.6</td>
                        <td class="second">18.3</td>
                        <td class="second local">Q</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">58.3</td>
                        <td class="second">18.5</td>
                        <td class="second local">Q½</td>
                        <td class="alt second">8½</td>
                      </tr>
                      <tr>
                        <td class="alt second">58.9</td>
                        <td class="second">18.8</td>
                        <td class="second local">R</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">59.5</td>
                        <td class="second">19.0</td>
                        <td class="second local">R½</td>
                        <td class="alt second">9</td>
                      </tr>
                      <tr>
                        <td class="alt second">60.2</td>
                        <td class="second">19.2</td>
                        <td class="second local">S</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">60.8</td>
                        <td class="second">19.4</td>
                        <td class="second local">S½</td>
                        <td class="alt second">9½</td>
                      </tr>
                      <tr>
                        <td class="alt second">61.4</td>
                        <td class="second">19.6</td>
                        <td class="second local">T</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">62.1</td>
                        <td class="second">19.8</td>
                        <td class="second local">T½</td>
                        <td class="alt second">10</td>
                      </tr>
                      <tr>
                        <td class="alt second">62.7</td>
                        <td class="second">20.0</td>
                        <td class="second local">U</td>
                        <td class="alt second">&nbsp;</td>

                      </tr>
                      <tr>
                        <td class="alt second">63.4</td>
                        <td class="second">20.2</td>
                        <td class="second local">U½</td>
                        <td class="alt second">10½</td>
                      </tr>
                      <tr>
                        <td class="alt second">64.0</td>
                        <td class="second">20.4</td>
                        <td class="second local">V</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">64.6</td>
                        <td class="second">20.6</td>
                        <td class="second local">V½</td>
                        <td class="alt second">11</td>
                      </tr>
                      <tr>
                        <td class="alt second">65.3</td>
                        <td class="second">20.8</td>
                        <td class="second local">W</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">65.9</td>
                        <td class="second">21.0</td>
                        <td class="second local">W½</td>
                        <td class="alt second">11½</td>
                      </tr>
                      <tr>
                        <td class="alt second">66.6</td>
                        <td class="second">21.2</td>
                        <td class="second local">X</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">67.2</td>
                        <td class="second">21.4</td>
                        <td class="second local">X½</td>
                        <td class="alt second">12</td>
                      </tr>
                      <tr>
                        <td class="alt second">67.8</td>
                        <td class="second">21.6</td>
                        <td class="second local">Y</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">68.5</td>
                        <td class="second">21.8</td>
                        <td class="second local">Z</td>
                        <td class="alt second">12½</td>
                      </tr>
                      <tr>
                        <td class="alt second">69.1</td>
                        <td class="second">22.0</td>
                        <td class="second local">Z</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">69.7</td>
                        <td class="second">22.2</td>
                        <td class="second local">&nbsp;</td>
                        <td class="alt second">13</td>
                      </tr>
                      <tr>
                        <td class="alt second">70.4</td>
                        <td class="second">22.4</td>
                        <td class="second local">Z+1</td>
                        <td class="alt second">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="alt second">71.0</td>
                        <td class="second">22.6</td>
                        <td class="second local">Z+2</td>
                        <td class="alt second">13½</td>
                      </tr>
                    </tbody>
                  </table>
                </div>























                <div class="rich-text-panel">
                  <div class="rich-text rich-text__full-width">
                    <h2>Find my ring size</h2>
                    <h4>Method 1: Measure a Ring</h4>
                    <div class="embedded-block-entry">
                      <img src="assets/front/images/Ring_icon__1_.svg" alt="Icon - Ring Size Guide Modal- Ring"
                        class="icon">
                    </div>
                    <ol>
                      <li>
                        <p>Find a ring that fits comfortably on the intended finger.</p>
                      </li>
                      <li>
                        <p>Measure the internal diameter (mm) of the ring, using a ruler or measuring tape.</p>
                      </li>
                      <li>
                        <p>Find your size using our size chart above.</p>
                      </li>
                    </ol>
                    <hr>
                    <p></p>
                    <h4>Method 2: Measure your Finger</h4>
                    <div class="embedded-block-entry">
                      <img src="assets/front/images/Hand_icon__1_.svg" alt="Icon  - Ring Size Guide Modal - Finger"
                        class="icon">
                    </div>
                    <ol>
                      <li>
                        <p>Cut a piece string to a length of 10cm.</p>
                      </li>
                      <li>
                        <p>Wrap the string comfortably around your finger where the ring should sit - this should not be
                          pulled tight.</p>
                      </li>
                      <li>
                        <p>Use a pen to mark the overlapping parts of the string. </p>
                      </li>
                      <li>
                        <p>Lay the string out flat and measure the string between the two marked points (mm).</p>
                      </li>
                      <li>
                        <p>Find your size using our size chart above.</p>
                      </li>
                    </ol>
                    <hr>
                    <p></p>
                    <h4>Expert tips</h4>
                    <ol>
                      <li>
                        <p>Measure the correct finger - the same finger on the opposite hand will often be a different
                          size.</p>
                      </li>
                      <li>
                        <p>Don’t have string? A folded strip of paper will suffice.</p>
                      </li>
                      <li>
                        <p>Always measure twice.</p>
                      </li>
                      <li>
                        <p>Measuring in the afternoon when your hands are warm will give you the most accurate result.
                        </p>
                      </li>
                      <li>
                        <p>Oversized rings may require a larger size to ensure correct fitment. <span
                            class="inline-entry__link"><a href="https://www.michaelhill.com.au/customer-service"
                              target="_self" draggable="true" tabindex="0"
                              class="o-button o-button--text-link baseLink">Contact Customer Service</a></span> if
                          you’re unsure.</p>
                      </li>
                    </ol>
                    <p><strong>Hint</strong>: You can also download and print our <span class="inline-entry__link"><a
                          href="https://assets.ctfassets.net/7m8i36sp5l90/nEdJ1oJHybFBsjvN5y7o7/69ac70fab99b7e5282f35174192012f6/MHJ_2023-Always_On_Printable_Ring_Sizer_A4_03.pdf?fit=scale&fm=webp"
                          target="_self" class="o-button o-button--text-link baseLink">Ring Size Guide</a></span> to
                      directly measure your ring.</p>
                    <p></p>
                    <h4>MICHAEL HILL PROMISE</h4>
                    <p>Don’t worry about choosing the wrong size. All rings can be returned (except resized or made to
                      order rings). See our <a href="https://www.michaelhill.com.au/customer-service/returns.html"
                        target="_self" class="baseLink">returns policy here.</a>
                      Still not sure which size to choose? <a id="RichText--16-3"
                        href="https://www.michaelhill.com.au/book-appointment" target="_self" class="baseLink">Book a
                        virtual consultation </a>or <a href="https://www.michaelhill.com.au/stores" target="_self"
                        class="baseLink">find your nearest store.</a>
                    </p>
                  </div>
                </div>













              </div>
            </div>
          </div>
        </div>
      </div>














    </div>
  </div>
</div>
