<app-basic-dialog [dialogTitle]="headerTitle" [dialogFooter]="dialogFooter">
    <div id="vpjd-popup-theme" class="common-popup-theme-in">
        <div id="vpjd-popup-border" class="common-popup-theme-border p-relative">
            <div class="journey-history-subheader">
                <h2>
                    Journey details
                </h2>
                <h3>
                    Qualifying journeys
                </h3>
            </div>
            <div id="vpjd-popup-middle" class="common-popup-theme-middle common-popup-theme-fare-middle common-popup-theme-why-middle pt-0">
                <div id="vpjd-pj-container" class="previous-journeys-container">
                    <ul id="vpjd-pj-list" class="previous-journeys-list">
                        <li id="vpjd-pj-li" *ngFor="let journey of previousJourneyList; let i =index">
                            <div class="previous-journey-new-list">
                                <div class="previous-journey-new-list-left">
                                    <span class="previous-journey-new-date">{{journey?.DepartureTime | date: 'E, dd MMM yyyy'}}</span>
                                    <h3>
                                        {{journey?.FromStationName}} to {{journey?.ToStationName}}
                                    </h3>
                                    <span class="previous-journey-new-booking">Booking ref:{{journey?.BookingRefrenceNumber}}</span>
                                </div>
                                <div class="previous-journey-new-list-right text-end">
                                    <div class="previous-journey-new-list-number">
                                        <img  *ngIf="!checkNullOrZeroTrips(journey)" src="assets/images/club-avanti/journey_history_check_circle.svg" alt="Check icon" />
                                        <span>{{setQualifyingJourneyText(journey?.TripsCompleted)}}</span>
                                    </div>
                                    <button type="button" tabindex="0" class="orange-underline-link f-14 p-0 club-avanti-why-btn" mat-button tooltipClass="club-avanti-why-tooltip" placement="left" container="previous-journey-new-list-right" *ngIf="checkNullOrZeroTrips(journey)" 
                                    [attr.aria-label]="clubAvantiViewPreviousJourneyEnum?.viewPreviousWhysLinkLabelForScreenReader" 
                                    [ngbTooltip]="whylink" #tooltip2="ngbTooltip" [autoClose]="false">
                                        Why?
                                    </button>
                                    <ng-template id="ca-membership-rewards-tooltip" #whylink>
                                        <span class="why-link-tooltip">
                                            <h2 class="text-white lh-20 font-600">
                                                To qualify your journey must be:
                                            </h2>
                                            <p>
                                                75 miles or more, using a ticket valid for travel on Avanti West Coast services.
                                            </p>
                                            <p>
                                                In the case of a multi-stage journey, it must include a stage that is 75 miles or more on an Avanti West Coast service.
                                            </p>
                                            <p>
                                                Booked direct either via the Avanti website or app.
                                            </p>
                                            <p>
                                                Booked using the email address registered to your Club Avanti account.
                                            </p>
                                        </span>
                                    </ng-template>
                                </div>
                            </div>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
    </div>
</app-basic-dialog>
<ng-template #dialogFooter>
    <div id="vpjd-popup-footer" class="common-popup-theme-footer">
        <button id="vpjd-popup-close-btn" class="new-default-btn w-xs-100" mat-dialog-close mat-button>Close</button>
    </div>
</ng-template>
