@import url('../../../assets/css/styles.css');
.new-theme{
    font-size: 14px;
}
.ticket-details-bx {
    border:1px solid #CECECE;
    padding:20px;
}
.mat-cell, .mat-footer-cell {
    font-size: 16px;
}
.seating-div .mat-cell{
    width: 20%;
    border-bottom: 0;
}
.btm-space-td td{
    padding-bottom: 20px;
}
.info-icn2{
    width:20px;
    margin: -3px 0 0 10px;
}
.fare-breakdown-tbl td:first-child{
    padding-left: 0px !important;
}
.fare-breakdown-tbl td{
    border-bottom: none;
}
.fare-breakdown-tbl td:last-child{
    padding-right: 0px !important;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 0px;
}
tr.mat-footer-row, tr.mat-row {
    height: auto;
}

.valid-text{
    color:#204555;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}
.valid-date{
    margin-bottom: 0px;
}
.new-theme .mat-button.default-btn-dark.returnjournry-btn{
    min-width: 150px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 10px !important;
}
.for-season-flexi tr, .for-season-flexi tr td{
    width: 100% !important;
}
.outwrd-lbl {
    display: inline-block;
    line-height: 20px;
}

mat-expansion-panel-header{
    min-height: 64px;
}
.w-83px{
    width: 83px;
}
.w-55px{
    width: 55px;
}

.collapse-border.mat-expanded {
    border-bottom: 1px solid #D6D1CA;
}

.mat-expansion-panel-header {
    height: 100%;
}

@media (min-width:768px){
    .mat-expansion-panel-header {
        min-height: 64px;
      }
}
@media (min-width:767px) and (max-width:1024px){
    .for-season-flexi .valid-date{
        display: block;
    }
    .for-season-flexi td{
        width:30% !important;
    }
}
    @media (max-width:767px){
    .valid-text,.valid-date{
        margin-bottom: 0px;
    }
    .valid-text {
        font-size: 12px;
    }
    .seatiing-dtl-bx tr{
       width: 50% !important;
       display: inline-block;
   }
   .seatiing-dtl-bx tr td{
        width: 100% !important;
        white-space: normal !important;
    }
}
@media (max-width:370px){
    .returnjournry-btn{
        min-width: 75px !important;
    margin-right: 2px !important;
    }
   
}
@media (max-width:480px){
    mat-expansion-panel-header.mobile-view{
        min-height: 130px;
    }
}

.fare-breakdown-tbl tr.mat-footer-row td, .fare-breakdown-tbl tr.mat-row td, .fare-breakdown-tbl tr.mat-footer-row th, .fare-breakdown-tbl tr.mat-row th {
    width: 10%;
}
.min-w-120{
    min-width: 120px;
}
.min-w-160{
    min-width: 160px;
}
.min-w-180{
    min-width: 180px;
}
.journey-tbl{
    display: table;
    float: right;
}
.journey-tbl p{
    display: table-row;
}
.journey-tbl p span.t-cell{
    display: table-cell;
}
.deck-popup-btn img{
    width: 24px;
  }
  .seating-div .fare-breakdown-tbl tr.mat-row th{
      width: 20%;
  }



.upgrade-review-class-tandc-link {
    top: -1.5px;
}

@media (max-width: 991px) and (min-width: 768px){
.reviewbuy-accordian mat-panel-title {
    min-width: 90px;
}

.deck-popup-btn img{
    width: 20px;
  }
}
.deck-popup-btn {
    background: transparent;
    border: none;
  }
  .p-0-tr td, .p-0-tr th{
      padding: 0 !important;
  }

@media (max-width:767px){
    .journey-tbl{
        float: none;
        width: 100%;
    }
}
@media only screen and (max-width: 767px){
    .review-buy tr.mat-row {
        float: auto;
        display: block;
        width: 100%;
    }
    .review-buy tr.mat-row td p{
        display: inline-block;
    }
    .seating-div thead{
        width: 50%;
        float: left;
        display: block;
    }
    .seating-div tbody{
        width: 100%;
        float: left;
        display: block;
    }

    .returnjournry-btn{
        margin-right: 10px !important;
    }
    
    .seating-div tbody tr{
        width: 100% !important;
        float: none;
    }
    .seating-div tbody tr td {
        border: none;
    }
}

.seat-reserve-section {margin-bottom: 16px;}
    .seat-reserve-header .seat-reserve-title h2 {font-size: 24px; color: #204555; font-weight: 600;}
    .seat-reserve-section .seat-reserve-body {margin-top: 16px; padding: 24px; box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 5px;}
    .seat-reserve-detail-header {padding-bottom: 20px; border-bottom: 1px solid #D6D1CA;}
    .seat-reserve-detail-hr {padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #D6D1CA;}
    .seat-reserve-detail-header h3 {color: #131E29; font-size: 16px; font-weight: 600; margin: 0px;}
    .reserve-detail .reserve-detail-station span {font-size: 14px; font-weight: 600; color: #131E29;}
    .reserve-detail .reserve-detail-station span img {transform: rotate(90deg); width: 10px;}
    .reserve-detail-seats {margin-bottom: 20px;} 
    .reserve-detail-seats .reserve-seat-no {font-size: 24px; font-weight: 600; color: #131E29; vertical-align: middle; width: 70px; display: inline-block;}
    .reserve-detail-seats .reserve-seat-list {display: inline-block; font-size: 12px; font-weight: 400; color: #131E29; vertical-align: middle; width: calc(100% - 70px);}
    .reserve-detail .reserve-detail-station {margin-bottom: 16px;}
    .reserve-detail.reserve-detail-box {border-top: 1px solid #D6D1CA;}
    .reserve-detail.reserve-detail-box .reserve-detail-station {margin-top: 10px;}
    .no-reserve-detail-seats {font-size: 12px; font-weight: 400; color: #131E29; margin-top: 32px;}
    .reserve-detail:last-child {
        border-bottom: 0px solid #D6D1CA;
    }
    .reserve-detail {
        padding: 20px 0 10px 0;
        border-bottom: 1px solid #D6D1CA;
    }

    .j-smry{
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    .seat-rsrv-bx{
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    .travel-extra-bx{
        border: 2px solid #131E29;
        border-radius: 5px;
        padding: 15px 20px;
    }
    @media (min-width: 1199px) {
        .flex-xl-74 {
            flex: 74%;
        }
        .flex-xl-26 {
            flex: 26%;
        }
        .flex-wrap-xl-inherit {
            flex-wrap: inherit;
        }
      }
      
      @media (max-width: 1199px) {
        .flex-xl-74 {
            flex: none;
        }
        .flex-xl-26 {
            flex: inherit;
        } 
      }

    mat-expansion-panel.outer mat-expansion-panel-header.outer{
        min-height: 64px !important;
    }
    
    mat-expansion-panel.outer mat-panel-title.outer{
        font-size: 24px;
    }
    
    mat-expansion-panel.inner mat-expansion-panel-header{
        min-height: 60px !important;
        max-height: 60px !important;
        background: #fff;
        border: 1px solid #D6D1CA;
    }
    mat-expansion-panel.inner mat-panel-description {
        justify-content: flex-end;
        align-items: center;
    }
    mat-expansion-panel.inner mat-expansion-panel-header.mat-expanded {
        border: 0px solid #D6D1CA;
        height: 60px !important;
    }
    mat-expansion-panel.inner .mat-expansion-indicator::after{
      margin-bottom: 7px;
    }
    mat-expansion-panel.inner mat-expansion-panel-header.mat-expanded.cdk-focused{
      background: #fff;
    }
    
    mat-expansion-panel.outer mat-panel-title.mat-expansion-panel-header-title{
        flex-grow: 0;
    }
    mat-expansion-panel.outer mat-panel-title.mat-expansion-panel-header-description{
        flex-grow: 12;
    }
    mat-expansion-panel.inner mat-panel-title,mat-expansion-panel.inner mat-radio-button {
        align-self: center;
    }
    mat-expansion-panel.inner.mat-expanded{
        border: 1px solid #D6D1CA;
        border-radius: 5px !important;
    }

    .h-20px{
        height: 20px !important;
    }

    .mat-without-expanded {
        border: 2px solid #204555 !important;
        border-radius: 5px !important;
    }
    .adultbx{
        width: 120px;
        border: 1px solid #204555;
    }
    .add-smartcard{
        border: 1px solid #204555 !important;
    }
    
    .billing-address{
        padding-left: 29px;
        margin-top: 0px;
        color: #131E29;
        word-break: break-word;
    }
    .closeicon.t-20{
        top: 20px;
    }
    @media (max-width:767px){
    
        mat-expansion-panel.inner mat-expansion-panel-header mat-panel-title .mat-panel-icon{
            margin-left: 5px !important;
            margin-right: 10px !important;
            height: 24px;
            min-width: 20px;
        }
        span.mat-panel-title-span {
            font-size: 14px;
        }
        .mat-expansion-panel-content {
            font: 400 14px/20px "Averta", sans-serif !important;
        }
        .mat-expansion-panel-header-title {
            flex-basis: auto;
        }
    }
    @media (max-width:375px){
             
        mat-expansion-panel.inner mat-expansion-panel-header mat-panel-title .mat-panel-icon {
            margin-left: 0px !important;
            margin-right: 5px !important;
            height: 20px;
            min-width: 20px;
            align-self: center;
        }
        .del-mode-price-tag {
            padding: 3px !important;
            color: #131E29 !important;
            font-weight: 500 !important;
            font-size: 12px !important;
        }
        span.mat-panel-title-span {
            font-size: 12px;
        }
        mat-expansion-panel{
            margin: 0 !important;
        }
        .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
            margin-right: 5px;
        }
        mat-expansion-panel.inner mat-expansion-panel-header {
            padding: 0px 7px;
        }
        mat-expansion-panel .p-20{
            padding: 15px;
        }
        p.journey-stations {
            color: #131E29;
            font-size: 12px;
          }
          .f-24.font-500.mb-0.lh-40{
            font-size: 20px;
            line-height: 24px;
          }
          .mb-0.journey-stations.mt-2.flex-fill{
            margin-top: 5px!important;
          }
          .ptb-10.plr-20.bg-fff{
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    @media (min-width:768px) and (max-width:991px){
    mat-expansion-panel.inner mat-expansion-panel-header {
        min-height: 60px !important;
        max-height: 60px !important;
    }
    
    }
    @media (max-width:991px){
        .show.md-new-price-3
        {
          display: block !important;
        }
      }
      
    input[type="radio"] {
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        height: 20px;
        margin-right: 15px;
        position: relative;
        width: 20px;
        appearance: none;
        -webkit-appearance: none;
        border: 1px solid #204555;
        background: #fff;
      }
      input[type="radio"]:after {
        border-radius: 25px;
        content: '';
        display: block;
        height: 10px;
        left: 4px;
        position: relative;
        top: 4px;
        width: 10px;
      }
      input[type="radio"]:checked:after {
        background-color: #204555;
      }
   
      input[type="radio"]:focus{
        box-shadow: 0px 0px 0px 6px #ccc;
        outline: none !important;
        border: 1px solid #204555 !important;
      }
      .delete-icon-btn {
        right: 0;
        position: static;
        top: 0;
        width: auto;
        border: none;
        font-size: 14px;
        font-weight: 400;
    }
    .edit-icon-btn{
        margin-right: 20px;
    }
    
    @media only screen and (max-width: 767px){
        .review-buy .mat-expansion-panel-header-description {
            min-width: 160px;
        }
    span.mat-panel-title-span {
        font-size: 18px !important;
    }
    .mat-expansion-panel-header {
        font-size: 14px;
    }
    .f-24 {
        font-size: 24px !important;
    }
    .mat-expansion-panel-body>.p-20 {
        padding: 10px;
    }
    .mx-xs--10{
        margin-left: -10px;
        margin-right: -10px;
    }
    mat-expansion-panel .p-20 .ml--20{
        margin-left: -15px;
    }
    mat-expansion-panel .p-20 .mr--20{
        margin-right: -15px;
    }
}
.address-bx{
    border: 1px solid #D6D1CA;
    border-radius: 5px;
    padding: 15px;
}
.selected{
    border: 2px solid #204555 !important;
}
button.delete-icon-btn img {
    margin-top: -4px;
}
.train-operator{
    font-weight: 500;
}
mat-panel-description,mat-accordion mat-panel-title span{
    color: #131E29;
}
.recomended{
    background: #F2DAB2;
    padding: 0px 4px;
    font-size: 12px;
}
@media (max-width: 767px){
    .f-24 {
        font-size: 24px !important;
    }
    .f-14 {
    font-size: 14px !important;
    }
    .f-32 {
        font-size: 32px !important;
    }
    .lh-40 {
        line-height: 40px;
    }
    .new-theme mat-expansion-panel .p-20 {
        padding: 15px;
    }
}
input:focus {
    box-shadow: 0 0 0 0.2rem #204555 !important;
}
.input-border-discount:focus{
    box-shadow: none !important;
    border: 2px solid #204555 !important;
}
.input-border-discount.selected:focus{
    box-shadow: none !important;
}
.closeicon{
    position: absolute;
    top: 0;
    right: 0;
  }

  .slct-trn-bx{
    background: #FFFFFF;
    border: 1px solid #D6D1CA;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 11px !important;
  }
  .slct-trn-bx.active-trn{
    border: 1px solid #131E29;
  }
  .slct-trn-bx button{
    border: 0;
    background: 0;
    font-weight: 400;
  }
  .slct-trn-bx button[disabled]{
    color: #131E29 !important;
  }
  .slct-trn-bx button svg{
    width: 24px;
    margin-right: 10px;
  }

  .train-select-inner-bx{
    white-space: normal;
    line-height: 26px;
    font-weight: 400;
    text-align: left;
    padding: 5px 0;
  }
  .mat-accordion .mat-expansion-panel.b-0 {
    border: 0px solid transparent;
}

.seat-prefrences-msg{
    padding: 10px;
    font-size: 14px;
    background: #E2F5E9;
}

.ml-24{
    margin-left: 24px;
}
.bt-16{
    border-top: 16px solid #f5f5f5;
}

@media (max-width: 576px) {
    #rab-details-container {
        padding: 0 12px !important;
    }
}

@media (max-width: 420px) {
    mat-expansion-panel.inner mat-expansion-panel-header{
        min-height: 70px !important;
        max-height: 70px !important;
    }
}

.btn-time{padding-left: 0 !important;}
.upgrade-review-duration-link {
    padding-left: 0 !important;
}