
  <h2 mat-dialog-title class="route-detail-title">Route Details</h2>
  <button class="dialog-close simple-btn" mat-dialog-close aria-label="Close">
    <img src="assets/images/Close.svg" alt=""></button>

  <div class="popup-header-2">
      <div class="row">
        <div class="col-md-6">
          <mat-list role="list" class="duration-details">
            <mat-list-item role="listitem"><span class="duration-details-border-right">Duration <span>
                  {{duration}}</span></span></mat-list-item>
            <mat-list-item role="listitem"><span *ngIf="changes!='Direct'">Changes&nbsp;</span> {{changes}}</mat-list-item>
          </mat-list>

        </div>
        <div class="col-md-6 text-end">
        </div>
      </div>
    </div>
  <mat-dialog-content class="route-detail-body">
    <div class="traindetails" *ngFor="let route of traveLChanges">
      <div class="row">
        <div class="col-md-12" *ngIf="route.RouteType == '' && route?.CallingPoints?.length > 2 ">
          <mat-checkbox class="route-details-checkbx" (change)="onChangeCallingPoints($event.checked,route)">Show all calling
            points</mat-checkbox>
        </div>
        <div class="col-lg-6 col-md-12">
          <table mat-table aria-label="" [dataSource]="getRouteWiseDataSource(route)" class="mat-elevation-z8 routedetails-tbl route-dtl-tbl">

            <ng-container matColumnDef="ArrivalTime">
              <th mat-header-cell *matHeaderCellDef> Arrival </th>
              <td mat-cell *matCellDef="let element">
                <span>{{element.ArrivalTime}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="DepartureTime">
              <th mat-header-cell *matHeaderCellDef> Departure Time </th>
              <td mat-cell *matCellDef="let element">
                <span >{{element.DepartureTime}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="Location">
              <th mat-header-cell   *matHeaderCellDef class="westcoast-highlight"> {{ route.RouteType != ''?route.RouteType: route.TravelSolutionName}} </th>
              <td mat-cell *matCellDef="let element"> {{element.Location}} </td>
            </ng-container>

            <tr mat-header-row></tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [hidden]="!row.IsRouteLocation"></tr>
          </table>
        </div>
        <div  class="col-lg-6 col-md-12" >          
          <h3 class="facilities-heading" *ngIf="route.Facilities.length > 0">Facilities</h3>
          <p class="station-facilities" *ngFor="let facility of route.Facilities">
            <img src="assets/images/tick-inside-circle.svg" alt="">
             {{facility.FacilityType}}</p>
         </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="bt-1">

  </mat-dialog-actions>
