<div class="popup parking-popup">
    <div class="popup-hdr">
        Compensation <button mat-button [mat-dialog-close]="true" class="close-btn"><img
                src="assets/images/Close.svg" alt=""></button>
    </div>
    <div class="popup-body">
        <p class="mb-5 font-500">Refund applications</p>
        <p class="mb-5">You can apply for a refund if you do not end up travelling on the train you have booked, either
            because your plans changed, or because the train was cancelled or severely delayed. You must
            apply within 28 days of the date you were due to have travelled on.
        </p>
        <p class="mb-20">If you would like to get a refund or amend your booking to a different date or time because your
            plans have changed, you will be charged a £10 admin fee per ticket. Not all ticket types are
            refundable. To find out more <a href="https://www.avantiwestcoast.co.uk/help-and-support/refund-journey" class="spark-link" target="_blank" rel="noopener">click here</a></p>
            <p class="font-500 mb-5">Compensation claims</p>
            <p class="mb-20">If you hold a valid single, return, or weekly ticket, you will be able to claim compensation for 
                delays of 15 minutes or more, whatever the cause. To claim compensation and find out more
                <a href="https://www.avantiwestcoast.co.uk/help-and-support/refund-journey" class="spark-link" target="_blank" rel="noopener">click here</a></p>
                <p class="font-500 mb-5">Automatic Delay Repay</p>
                <p>If you buy a ticket and travel using Smartcard, we will automatically give you a refund whenever
                    your journey is delayed for longer than two minutes. For example, if your journey is delayed for
                    14 minutes, we will automatically refund you 39p worth of credit into your c2c account. Your 
                    credit is available for you to redeem against future online purchases - helping you to save money.
                    For more details, <a href="https://www.avantiwestcoast.co.uk/help-and-support/delay-repay" class="spark-link" target="_blank" rel="noopener">click here</a></p>
       
    </div>
</div>