.preference-mode{
    border: 1px solid #E9F0F5;
}
.preference-mode-header{
    border-bottom: 1px solid #E9F0F5;
    padding: 15px 30px;
    background: #E2F5E9;
    font-size: 16px;
}
.preference-mode-body{
    padding: 15px 30px;
    background: #fff;
}
.preference-mode-header a{
    text-decoration: underline;
    color:#131E29;
}
.expand-img{
    padding: 0 10px;
}
.valid-text{
    font-weight: 500;
}
.ticket-dtl-tbl p{
    margin-bottom:0;
}
table.routedetails-tbl p{
    margin-bottom:0;
}

table.routedetails-tbl tr:first-child td:first-child::before {
    content: '';
    position: absolute;
    right: -3px;
    top: 0px;
    width: 3px;
    height: 13px;
    background: #e2f5e9;
}
table.routedetails-tbl tr:first-child td:first-child::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 13px;
    width: 16px;
    height: 16px;
    background: #e2f5e9;
    border: 2px solid #A0ADB7;
    border-radius: 50%;
}
table.routedetails-tbl tr:last-child td:first-child::before {
    content: '';
    position: absolute;
    right: -3px;
    bottom: 0px;
    width: 3px;
    height: 13px;
    background: #e2f5e9;
}
table.routedetails-tbl tr:last-child td:first-child::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #FF4713;
    right: -9px;
    bottom: 13px;
    top: inherit;
    background: #fff;
}
.btm-space-td td{
    padding-bottom: 10px;
}
.duration-tbl td{
    padding: 10px 15px !important;
}
.deck-popup-btn {
    background: transparent;
    border: none;
}

  .deck-popup-btn img{
      width: 20px;
    }
    table.routedetails-tbl {
        margin-top: 10px;
    }
    .seating-position td,.seating-position th{
        width: 17%;
    }
    .journey-tbl{
        display: table;
        float: right;
    }
    .journey-tbl p{
        display: table-row;
    }
    .journey-tbl p span.t-cell{
        display: table-cell;
    }
    .reserve-detail {
        padding: 20px 0 10px 0;
        border-bottom: 1px solid #D6D1CA;
    }
    .reserve-detail:last-child {
        border-bottom: 0px solid #D6D1CA;
    }

    #vb-bookingSection-main .mat-input-element {
        box-sizing: border-box;
    }


    .back-to-btn {margin-top: 20px; margin-bottom: 50px; display: inline-block;}
    .back-to-btn .back-to-btn-txt {font-size: 16px; font-weight: 600; color: #204555;}
    .back-to-btn span .back-img {transform: rotate(180deg);}
    .booking-txt {margin-bottom: 22px;}
    .booking-txt h2 {font-size: 32px; font-weight: 600; color: #204555; vertical-align: middle;}
    .booking-section-box {padding: 24px; background: #fff; border-radius: 8px;}
    .passenger-detail {display: inline-block; vertical-align: middle;} /*--- margin-bottom: 22px; ---*/
    .passenger-booking-total {margin-bottom: 22px;}
    .passenger-detail span {font-size: 18px; font-weight: 400; color: #000;}
    .passenger-detail span.wordSpace {padding-left: 4px;}

    .journey-detail-box {box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 24px;}

    .journey-detail-header {padding-bottom: 16px; border-bottom: 1px solid #D6D1CA;}
    .journey-detail-header p {font-size: 16px; font-weight: 600; margin: 0px; float: left;}
    .journey-detail-header .jurney-time {font-weight: 400; font-size: 16px; float: right;}
    .journey-detail-body .journey-station {margin-top: 24px; margin-bottom: 4px;}
    .journey-detail-body .journey-station h3 {color: #204555; margin: 0px; font-size: 18px; font-weight: 600; vertical-align: middle; display: inline-block;}
    .arrow-img-icon {display: inline-block;} 
    .advance-tickt-txt {margin-top: 20px;}
    .arrow-img-icon img {width: 10px; transform: rotate(90deg);}
    .journey-time-txt p {display: inline-block; margin-bottom: 0px; vertical-align: middle; color: #131E29; font-size: 16px; font-weight: 400;}
    .journey-time-txt .duration-change {display: inline-block; vertical-align: middle; color: #131E29; margin-left: 24px; font-size: 16px; font-weight: 400; }
    .journey-time-txt .duration-change span {display: inline-block; width: 4px; height: 4px; background: #131E29; border-radius: 50%; margin: 0px 6px; vertical-align: middle;}
    .journey-time-txt {margin-bottom: 6px;}
    .boarding-txt {font-size: 14px; font-weight: 400; margin-bottom: 10px;}
    .advance-tickt-txt h4 {font-size: 14px; font-weight: 600; margin-bottom: 10px; color: #131E29;}
    .advance-tickt-txt ul {padding-left: 15px; margin-bottom: 16px;}
    .advance-tickt-txt ul li {font-size: 14px; font-weight: 400; color: #131E29;}
    .term-txt {display: block; color: #ff4713; background: #fff; margin-bottom: 20px; text-decoration: none; font-size: 14px; font-weight: 400;}
    .railcard-txt {margin-bottom: 20px; font-size: 14px; font-weight: 400; color: #131E29;}
    .railcard-txt span img {width: 20px; margin-right: 10px;}
    .railcard-txt span {vertical-align: middle;}
    .journey-detail-footer {border-top: 1px solid #D6D1CA; padding-top: 18px;}  
    .journey-detail-footer .logo {float: left;}
    .journey-detail-footer .logo img {width: 70px;}
    .journey-detail-footer .jorney-price {float: right; font-size: 14px; font-weight: 600; color: #131E29; padding-top: 5px;}

    .journey-btns {margin-top: 32px; margin-bottom: 32px;}
    .journey-link-btn ul {padding-left: 0px; margin: 0px; list-style: none;}
    .journey-link-btn ul li {font-weight: 400; font-size: 14px; margin-right: 12px; display: inline-block; vertical-align: middle; color: #212121;}
    .journey-link-btn ul li span {vertical-align: middle;}
    .journey-link-btn ul li span img {margin-right: 8px;}
    .journey-ticket-btn {text-align: right;
        display: flex;
        align-items: start;
        margin-left: auto;
        justify-content: end;}
    .journey-ticket-btn button {margin-right: 18px;} 
    .booking-ref {text-align: right;}
    .booking-ref .collection-ref {display: inline-block; vertical-align: middle;}
    .collection-ref .collection-ref-lbel {font-size: 16px; font-weight: 600; color: #204555;}
    .collection-ref .collection-ref-txt {font-size: 18px; font-weight: 400; padding-left: 6px; color: #204555;}
    .booking-travel-accord-body .booking-travel-delivey {margin-bottom: 10px;}
    .booking-travel-accord-body .booking-travel-img {display: inline-block; width: 50px; text-align: left; vertical-align: top;}
    .booking-travel-accord-body .booking-travel-body {display: inline-block; vertical-align: top; width: calc(100% - 50px);}
    .booking-travel-accord-box {margin: 48px 0px;}
    .booking-travel-body .travel-detail-title {font-size: 14px; margin: 6px 0px; font-weight: 600; color: #131E29;}
    .booking-travel-body .travel-detail-title span {float: right;}
    .booking-travel-body p {font-size: 14px; margin: 0px; font-weight: 400; color: #131E29;}
    .booking-travel-body p a {color: #ff4713; text-decoration: none;}
    .booking-payment {padding-right: 10px;}
    .booking-payment label {font-size: 12px; font-weight: 400; color: #131E29; margin-bottom: 5px;}
    .booking-payment p {font-size: 16px; font-weight: 400; color: #131E29; margin-bottom: 0px;word-break: break-word;}
    .booking-payment-detail-box {margin-bottom: 16px;}
    .booking-payment span {color: #131E29; font-size: 16px; font-weight: 400;}
    .booking-payment .booking-payment-txt {min-width: 260px; display: inline-block;}
    .booking-payment.refund-bold span {font-weight: 600;}

    .change-detetime-section {background: #F6F6F6; padding: 24px; margin-top: -24px; margin-bottom: 32px;}
    .change-detetime-section-header {margin-bottom: 24px;}
    .change-detetime-section-header h3 {font-size: 24px; float: left; color: #204555;font-weight: 600;} 
    .change-detetime-section-header span {float: right;}
    .cleardate-btn {color: #ff4713;}
    .journey-datetime-msg {margin: 24px -24px; background: #E2F5E9; padding: 16px 24px;}
    .journey-datetime-msg span {font-size: 16px; font-weight: 600; color: #131E29;}
    .journey-datetime-msg span.icons-histoery {padding-right:24px;}

    .seat-reserve-section {margin-bottom: 16px;}
    .seat-reserve-header .seat-reserve-title h2 {font-size: 24px; color: #204555; font-weight: 600;}
    .seat-reserve-section .seat-reserve-body {margin-top: 16px; padding: 24px; box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 5px;}
    .seat-reserve-detail-header {padding-bottom: 10px; border-bottom: 1px solid #D6D1CA;}
    .seat-reserve-detail-header h3 {color: #131E29; font-size: 16px; font-weight: 600; margin: 0px;}
    .reserve-detail .reserve-detail-station span {font-size: 14px; font-weight: 600; color: #131E29;}
    .reserve-detail .reserve-detail-station span img {transform: rotate(90deg); width: 10px;}
    .reserve-detail-seats {margin-bottom: 10px;} 
    .reserve-detail-seats .reserve-seat-no {font-size: 24px; font-weight: 600; color: #131E29; vertical-align: middle; width: 60px; display: inline-block;}
    .reserve-detail-seats .reserve-seat-list {display: inline-block; font-size: 12px; font-weight: 400; color: #131E29; vertical-align: middle; width: calc(100% - 60px);}
    .reserve-detail .reserve-detail-station {margin-bottom: 16px;}
    .reserve-detail.reserve-detail-box {border-top: 1px solid #D6D1CA;}
    .reserve-detail.reserve-detail-box .reserve-detail-station {margin-top: 10px;}
    .no-reserve-detail-seats {font-size: 12px; font-weight: 400; color: #131E29; margin-top: 32px;}
    .seat-reserve-btn {text-align: right;}
    .booking-journey-summary {margin-bottom: 32px;}
    .booking-journey-summary .booking-journey-summary-header {margin-bottom: 16px;}
    .booking-journey-summary-header p {margin: 0px; font-size: 24px; font-weight: 600; color: #204555;}
    .booking-journey-summary-body {border-radius: 5px; box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1); padding: 24px;}
    .journey-summary-detail .journey-summary-header {padding-bottom: 10px; border-bottom: 1px solid #D6D1CA;}
    .journey-summary-header p {font-size: 16px; font-weight: 600; color: #131E29; float: left;}
    .journey-summary-header span {font-size: 16px; font-weight: 400; color: #131E29; float: right;}
    .journey-summary-detail .journey-summary-footer {padding-top: 20px; border-top: 1px solid #D6D1CA;}
    .journey-summary-footer p {font-size: 14px; color: #131E29;}
    .journey-summary-body p {font-weight: 400; font-size: 14px; color: #131E29; margin-bottom: 0px;} 
    table.routedetails-tbl tr:first-child td.Departure-tm.time {font-size: 14px;}

    .routedetails-tbl td.Departure-tm-2.logo:last-child::after {display: none;}

    .change-seat-section {padding: 24px; background: #F6F6F6; margin-top: 5px;}
    .change-seat-section-header {margin-bottom: 20px;}
    .change-seat-section-header h2 {float: left; margin-bottom: 0px; font-size: 24px; font-weight: 600; color: #204555;}
    .change-seat-section-header a {float: right;}
    .change-seat-staion-box { margin-right: 20px;margin-bottom: 20px;}
    .change-seat-staion-box button{width: 100%;}
    .select-train-btn {margin-top: 20px;}
    .select-train-btn button:disabled {background: #E7EBF3 !important; border: 0px !important; color: #2E637A !important; height: 40px; padding: 0px 24px !important;}
    .select-train-btn button {background: #204555 !important;}
    .see-journey-detail {display: none;}


    

    .routedetails-tbl td.Departure-stop {border: 0px !important; padding-left: 0px !important; text-align: left !important;}
    .routedetails-tbl td.Departure-stop::after {display: none;}
    .routedetails-tbl td.Departure-stop span.ride-stop {font-size: 14px; font-weight: 600; color: #FF4713;} 
    .routedetails-tbl td.Departure-stop span.ride-stop img {width: 7px; transform: rotate(90deg);}
    .routedetails-tbl td:last-child::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 21px;
        width: 8px;
        height: 4px;
        background: #0A493E;
        border-radius: 0px;
    }
    table.routedetails-tbl tr:first-child td:last-child::after {
        content: '';
    position: absolute;
    left: -6px;
    top: 13px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: #0a493e;
    box-shadow: 0 0 0px 4px #0a493e;
    }
    table.routedetails-tbl tr:last-child td:last-child::after {
        content: '';
        position: absolute;
        left: -9px;
        bottom: 13px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 4px solid #0A493E;
        background: #fff;
        top: inherit;
    }
    table.routedetails-tbl td {
        padding: 12px 15px 12px 20px !important;
    }
    table.routedetails-tbl td.p-0 {
        padding:0 !important;
    }
    table.routedetails-tbl td:last-child {
        border-left: 3px solid #0A493E;
    }
    table.routedetails-tbl tr:last-child td:last-child::before {
        content: '';
        position: absolute;
        left: -3px;
        bottom: 0px;
        width: 3px;
        height: 13px;
        background: #fff;
    }
    table.routedetails-tbl tr:first-child td:last-child::before {
        content: '';
        position: absolute;
        left: -3px;
        top: 0px;
        width: 3px;
        height: 13px;
        background: #fff;
    }
    table.routedetails-tbl tr:first-child td {
        font-weight: 500;
        font-size: 16px;
    }
    table.routedetails-tbl tr:last-child td {
        font-weight: 500;
        font-size: 16px;
    }
    table.routedetails-tbl td:first-child {
        border-right: none;
    }
    table.routedetails-tbl tr:first-child td:first-child::after, table.routedetails-tbl tr:last-child td:first-child::after {
        display: none;
    }
    table.routedetails-tbl .Departure-tm{  
        text-align: center !important;  
    }
    table.routedetails-tbl tr.with-other-logo td:last-child::after{ bottom: 25px;}
    
    table.routedetails-tbl .Departure-tm-2{ 
        text-align: left !important; 
    }
    table.routedetails-tbl tr.with-other-logo td:last-child{
        padding-top: 10px !important;
    }
    table.routedetails-tbl tr.with-other-logo td:last-child span{
        line-height: 34px;
    }
    .journey-logo{
        transform: translateX(-50%);
        margin-left: 80px;
        width: fit-content;
    }
    table.routedetails-tbl td.journey-mid-btn-td {
        padding: 12px 0px 12px 0px !important;
    }
    table.routedetails-tbl td.journey-mid-btn-td button{
        transform: translateX(-35%);
        background: #fff !important;
        padding: 8px 0px !important;
    }
    .booking-details-container {
        margin-bottom: 32px;
    }
    .outbound-return-box {
        width: calc(100% - 12px);
        margin: 2px auto 0 auto;
        padding: 24px 18px;
    }
    .outbound-return-box h3 {
        color: #204555;
        font-size: 18px;
        font-weight: 600;
    }
    .outbound-return-box .advance-tickt-txt {
        margin-left: 8px;
    }
    .font-600 {
        font-weight: 600 !important;
    }
    .coj-msg {
        background: rgba(244, 202, 64, 0.4);
        border: 1px solid #F4CA40;
        border-radius: 4px;
    }
    .ticket-upgrade-msg {
        margin: 30px 0;
        background: #F6E5AE;
        border: 1px solid #F4CA40;
        border-radius: 4px;
        padding: 12px 12px 14px;
      }
      .ticket-upgrade-msg .info-icon svg {
        margin-top: -10px;
      }

    .coj-upgrade-btn {
        display: flex;
        gap: 14.5px;
    }
    .not-change-datetime-section {
        border: 1px solid #CDCDCD;
        border-radius: 5px;
        background-color: #fff;
        padding: 15px 16px;
        margin: 24px 0 8px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    .not-change-datetime-section img {
        width: 18px;
        height: 18px;
    }

    .not-change-datetime-section p {
        color: #131E29;
        font-size: 14px;
        line-height: 21px;
        margin: 0;
    }

    .not-change-datetime-section-single {
        background-color: #F6F6F6;
        border: 1px solid transparent;
        margin: 24px 0;
    }

    @media (max-width:767px){
        .outbound-return-box .col-md-6:nth-child(2) {
            margin-top: 30px;
        }
        .outbound-return-box {
            width: calc(100% - 8px);
            margin: 3px auto 0 auto;
        }
        .p-30.bt-1.p-relative.bg-fff {
            padding: 15px;
        }
        .journey-tbl{
            float: none;
            width: 100%;
        }
        .preference-mode-header {
            padding: 10px 15px;
            font-size: 12px;
            margin-bottom: 5px;
        }
        .expand-img {
            padding: 0 5px;
            width: 16px;
        }
        .bg-solve.p-30.ptb-20{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 5px;
        }
        .ticket-details-bx {
            padding: 0px !important;
        }
        table.ticket-dtl-tbl,table.ticket-dtl-tbl tr, table.ticket-dtl-tbl tr td{
            display: block;
        }
        table.ticket-dtl-tbl td p{
            display: inline-block;
        }
        table.ticket-dtl-tbl td p.valid-date{
            padding-left:5px;
        }
        table.ticket-dtl-tbl.duration-tbl tr td {
            display: inline-block;
            padding: 0 2px 0 0 !important;
        }
        .journeyextra-bx .col-md-4,.journeyextra-bx .col-md-8{
            padding: 0;
        }
        .journeyextra-bx .mr-20{
            margin-right: 10px !important;
        }
        .journeyextra-bx .col-md-8.text-end{
            text-align: auto !important;
        }
        .journeyextra-bx .col-md-8.text-end .mr-40{
            margin-right: 10px !important;
        }
        table.payment-smry {
            display: table;
        }
        table.payment-smry tr{
            display: table-row !important;
            width: 100% !important;
        }
        table.payment-smry tr td{
            display: table-cell !important;
            width: 50%;
        }
        table.payment-smry tr td p{
            display: block;
            padding-left: 0;
        }
        .passenger-detail span {
            font-size: 16px; 
            color:#131E29;
        }
        .coj-msg .f-14 {
            font-size: 14px !important;
        }
        .refunded-container.pt-10 {
            padding-top: 4px !important;
        }
        .refunded-container .f-14 {
            font-size: 14px !important;
        }
        .ticket-upgrade-msg .info-icon svg {
            margin-top: 0;
          }
          .ticket-upgrade-msg p.f-14 {
            font-size: 14px !important;
          }

          .coj-upgrade-btn {
            flex-direction: column;
            margin: 20px 0 20px;
          }

          .upgrade-btn-span {
            order: 1;
          }
    }

@media only screen and (max-width: 767px) {
    .close-rtn-btn {
        top: 30px !important;
    }
}

@media (min-width:768px) {
    .outwrd-lbl {
        width: 83px;
        display: inline-block;
        line-height: 18px;
    }
}

.preference-mode-header a:hover {
    cursor: pointer;
}

.train-select {
    padding: 10px 15px;
    border: 1px solid #D6D1CA;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    color: #131E29;
    display: flex;
    justify-content: flex-start;    
    min-height: 58px;
    height: auto;
}

.train-select.selected {
    padding: 10px 15px;
    border: 2px solid #131E29;
}

.w-230 {
  min-width: 230px;
}

.close-rtn-btn {
    position: absolute;
    right: 0px;
    top: 34px;
    font-size: 16px;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    gap: 4px;
    width: auto;
    padding: 0;
    height: auto;
    font-weight: 500;
    line-height: normal;
}

.close-rtn-btn .mat-mdc-button-persistent-ripple::before {
    border-radius: 0;
    height: 40px;
    top: -9px;
    padding: 0 16px;
}

.close-rtn-btn img {
    width: 16px;
    height: 16px;
}

.adult-child .newamnd-inputdsn {
  display: inline-block;
  padding-right: 3px;
}
.newamnd-inputdsn label, .newamnd-inputdsn input {
  background: #fff;
}

.changejourney{
  position: relative;
}
.closeicon{
  position: absolute;
  right: 0;
  top: 5px;
  width: 16px;
  cursor: pointer;
}
.tckt-cnfrmtion{
    margin: 30px 0;
    background:  #E2F5E9;
    padding: 15px 0;

}
.close-img{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 14px;
    height: 14px;
}
.sharebtns-ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sharebtns-ul li{
    margin-right: 20px;
    display: inline-block;
}
.sharebtns-ul li button{
    border: none;
    background: transparent;
    color: #212121;
    font-size: 14px;
    margin-top: 10px;
}
.sharebtns-ul li button svg{
    margin-top: -5px;
}
.upgradebanner-ul{
    margin: 0 20px  0 0;
    padding: 0;
    list-style: none;
}
.upgradebanner-ul li{
    margin: 0;
    padding: 0 0 0 25px;
    list-style: none;
    position: relative;
}
.upgradebanner-ul li::before{
    position: absolute;
    height: 14px;
    width: 14px;
    content: '';
    background: url('../../../../../assets/images/tick.svg');
    left: 0;
    top: 4px;
}
.ticket-dtl-tbl tr.mat-footer-row, .ticket-dtl-tbl tr.mat-row {
    height: auto;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 0px;
}
mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-color: rgb(0 0 0 / 0%);
}
.firstclass-upgrade{
    background: url(../../../../../assets/images/upgradebannerbg.png) #e2f5e9 no-repeat;
    background-position: top right;
}
.travel-extras-padd {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.travel-extras-header-btn {
    margin-right: 0;
    font-size: 16px !important;
}

.booking-travel-bike-reserv .travel-bycycle-panel {
    border-radius: 5px !important;
    margin-bottom: 10px;
}
.booking-travel-bike-reserv .travel-bycycle-panel-border {
    border: 1px solid #D6D1CA;
}
.booking-travel-bike-reserv .travel-bycycle-header {
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking-travel-bike-reserv .travel-bycycle-header-padding {
    padding: 0 0 0 20px;
}
.booking-travel-bike-reserv .travel-bycycle-header-padding-1 {
    padding: 10px 20px;
}
.in-checkbox {
    margin: 0 0 11px 68px;
    padding-top: 0 !important;
}
.confirm-reser-btn {
    display: flex;
    justify-content: end;
    margin: 0 !important;
}
.disabled-confirm-btn {
    padding: 2px 13.05px !important;
    height: 40px !important;
    background: #E7EBF3;
}
.confirm-bike-btn {
    padding: 2px 13.05px !important;
    height: 40px !important;
}
.bike-add-pad {
    height: 40px !important;
}
.bike-remove-pad {
    height: 40px !important;
}
.booking-travel-bike-reserv .newamnd-inputdsn .newamnd-inputdsn-adult {
    padding: 7px 6px;
    width: 92px;
    margin-right: 4px !important;
}
.booking-travel-bike-reserv .newamnd-inputdsn-adult button {
    height: 24px !important;
    width: 24px !important;
}
.booking-travel-bike-reserv .newamnd-inputdsn-adult {
    border: 1px solid #D6D1CA;
}
.booking-bike-added {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin-bottom: 19px;
}
.no-bike-reserv {
    display: flex;
    align-items: flex-start;
    gap: 17px;
}
.no-bike-reserv-outward-p {
    padding: 17px 0 40px;
}
.no-bike-reserv-return-p {
    padding: 17px 0 40px;
}
.booking-ref-two {
    display: flex;
    justify-content: end;
}
.mat-expansion-panel-border-color {
    border: 2px solid #131e29!important;
    padding: 0!important;
    border-radius: 5px!important;
}
.m-reserve-free {
    display: none;
}

.m-bike-reserve-order {
    padding: 0;
}

.svg-pad {
    padding-right: 12px;
}

.svg-pad img {
    margin: 0 0 0 -4px;
}

.extras-left-content {
    width: 85%;
}

#vb-jd-clearFix-afterdateClearBtn, #vb-jd-dateClear-span {
    position: relative;
    top: -2px;
}

.group-save-icon{
    width: 20px;
    margin-right: 10px;
}

.railcard-with-discount {
    display: flex;
}

.bc-railcard-mr {
    margin-right: 24px;
}

.discount-14 {
    font-size: 14px;
}

.discount-14 span {
    padding-left: 13px;
}

@media (max-width: 1199px) {
    .railcard-with-discount {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 1200px) {
    .booking-ref {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    .collection-ref, .passenger-booking-total-return {
        margin-bottom: 1rem !important;
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    .booking-ref .ml-40 {
        margin-left: 0 !important;
    }

    .booking-ref-two {
        justify-content: space-between;
    }
    .free-add-btn {
        text-align: center;
    }
    .free-add-txt {
        padding-left: 12px;
    }
    .m-bike-reserve-order {
        padding: 0 15px;
    } 

    .journey-ticket-btn button {
        margin-bottom: 10px;
    } 
}

@media (min-width:992px){
    .journey-time{
        min-height: 274px;
    }
}
@media (min-width:768px){
    .firstclass-upgrade{
        padding-right: 100px;
    }
}
@media (max-width:767px){
    .upgradebanner-ul li::before{
        height: 12px;
        width: 12px;
        top: 2px;
        background-size:cover ;
    }
    .upgradebanner-ul li {
        margin: 3px 0 0 0;
    }
    .ticket-details-bx table>tr {
        width: 100%;
    }
    .ticket-details-bx tbody tr {
        display: inline-block;
        width: 50%;
        height: auto;
    }
    .ticket-details-bx table {
        width: 100%;
        display: block;
    }
    .ticket-details-bx tbody {
        width: 100%;
        display: block;
    }
    .ticket-details-bx tr th.mat-cell, .ticket-details-bx tr td.mat-cell {
        display: block;
        padding: 0 !important;
        font-size: 12px !important;
        white-space: nowrap;
        width: 100%;
    }
    .ticket-details-bx.seating-position{
        overflow: auto;
    }
    .booking-ref {
        display: block;
    }

    .booking-travel-bike-reserv .travel-bycycle-header {
        border: none;
        border-radius: 0;
        align-items: flex-start;
        display: block;
    }
    .bike-add-pad {
        margin: 10px 0 0 48px !important;
        padding: 0 10px !important;
    }
    .bike-remove-pad {
        margin: 0 !important;
        padding: 0 10px !important;
    }
    .free-add-txt {
        display: none;
    }
    .m-reserve-free {
        display: inline;
    }
   
    .booking-travel-bike-reserv .journey-label .font-600 {
        font-weight: 400 !important;
        font-size: 14px !important;
    }
    .m-f-14 {
        font-size: 14px !important;
    }
    .booking-travel-bike-reserv .newamnd-inputdsn .pl-3 {
        padding-left: 10px !important;
        font-size: 14px !important;
    }
    .no-bike-reserv {
        padding-bottom: 0 !important;
    }
    .no-bike-reserv-outward-p {
        padding-bottom: 30px !important;
    }
    .no-bike-reserv-return-p {
        padding-bottom: 30px !important;
    }
    .no-bike-reserv .f-14 {
        font-size: 14px !important;
    }
    .ref-no {
        font-size: 16px !important;
    }
    .booking-travel-bike-reserv .travel-bycycle-panel {
        margin-bottom: 0;
    }
    .travel-bycycle-panel-border-m {
        border: 1px solid #D6D1CA;
        border-radius: 5px !important;
    }
    .travel-bycycle-panel-border-m .travel-bycycle-header {
        padding: 13px;
    }
    .right-travel-extras-card img {
        padding-right: 24px;
        width: 47px;
        height: auto !important;
    }
    .right-travel-extras-card .ml-md-0 {
        padding-left: 43px !important;
    }
    .right-travel-extras-card .mode-of-del {
        padding-left: 0 !important;
    }
    .booking-travel-bike-reserv .travel-bycycle-header-padding {
        padding: 0;
    }
    .booking-travel-delivey.pl-20 {
        padding-left: 0 !important;
    }
}
.train-select-inner-bx{
    white-space: normal;
    line-height: 26px; 
    text-align: left;
    padding: 5px 0;
}
.newamnd-inputdsn .mat-icon-button {
    width: 70px;
    right: 0 !important;
}
.amend-warning{
    background: #C0414D;
    padding: 10px 20px;
    color: #fff;
}

.collect-ticket-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.collect-ticket-container-inner {
    display: flex;
    flex-direction: column;
}

.collect-ticket-icon-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cod-delivery-price {
    float: none;
    padding-top: 7px !important;
}

.collect-ticket-icon {
    height: 25px;
}

.collect-ticket-number {
    padding-left: 40px;
    line-height: 40px !important;
}

.collect-ticket-title {
    line-height: normal;
}

.new-delivery-smartcard {
    display: flex;
    justify-content: flex-end;
}

.new-delivery-smartcard .new-delivery-smartcard-inner {
    display: flex;
    align-items: center;
    gap: 16px;
}

.new-delivery-smartcard .new-delivery-smartcard-icon {
    height: 25px;
}

.download-eticket-dropdown {
    padding: 24px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 12px 2px rgba(19, 30, 41, 0.08);
    position: absolute;
    min-width: 345px;
    width: 100%;
    right: 0;
    top: 48px;
    z-index: 999999;
    border: 1px solid #C5CFD9;
    max-height: 542px;
    overflow-y: auto;
}

.download-eticket-dropdown .download-eticket-dropdown-inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.download-eticket-close-mobile-btn {
    display: none;
}

.pax-download-btn {
    line-height: 20px !important;
    padding: 8px 18px !important;
}

.pax-download-btn:focus {
    height: auto !important;
}

.donwload-ticket-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background-color: transparent;
    z-index: 1;
}

.after-click-arrow {
    transform: rotate(180deg);
    position: relative;
    top: 3px;
}

.download-eticket-arrow-btn:focus {
    border: none;
}

@media (max-width: 992px) {
    .journey-detail-header.return-journey-detail-header {
        margin-top: 32px;
        padding-top: 32px;
        border-top: 1px solid #D6D1CA;
    }
    .confirm-reser-btn {
        margin-left: 15px !important;
    }
    .booking-travel-delivey .mt-32 {
        margin: 10px 0 30px !important;
    }
    .m-bike-reserve-order {
        order: 2;
    }

    .collect-ticket-container {
        padding: 0 0 0 8px !important;
        gap: 10px;
    }

    .collect-ticket-icon {
        height: 25px !important;
        width: auto !important;
        padding-right: 0 !important;
    }

    .cod-delivery-price {
        padding: 0 !important;
        padding-top: 5px !important;
    }

    .collect-ticket-icon-title {
        gap: 28px;
    }

    .collect-ticket-number {
        padding-left: 48px;
    }
}

@media only screen and (max-width: 767px){
    .mode-of-del {
        display: block;
    }
}

@media only screen and (max-width: 767px){

    .journey-summary-detail.return-journey-summary-detail {margin-top: 32px;}
    .journey-detail-header.return-journey-detail-header {
        margin-top: 32px;
        padding-top: 32px;
        border-top: 1px solid #D6D1CA;
    }

    .change-seat-staion-box {margin-bottom: 16px; margin-right: 0px; display: block;}

    .travel-m-remove-btn {
        display: block !important;
    }

    .travel-m-remove-btn .travel-m-remove-margin {
        margin-top: 10px;
    }

    .extras-left-content {
        width: 100%;
    }

    .travel-extras-padd {
        display: block;
    }

    .travel-extras-padd .travel-extras-header-btn {
        width: 100% !important;
        margin-top: 18px;
        height: 40px;
        font-weight: 700 !important;
    }

    .bike-txt, .free-add-txt {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 767px){
    .journey-ticket-btn-mob button {
        width: 100%;
        margin: 5px 0 !important;
    }
    .cleardate-btn {display: none;}
    .newamnd-inputdsn .mat-icon-button {width: auto ;}
    .mat-button {font-size: 16px;}
    .change-seat-staion-box {margin-bottom: 16px; margin-right: 0px; display: block;}
    .journey-time-txt p, .journey-time-txt p span {font-size: 14px;} 
    .booking-txt {margin-bottom: 32px;}
    .booking-ref .collection-ref {margin-bottom: 16px; display: block;}
    .journey-detail-header.return-journey-detail-header {margin-top: 32px; padding-top: 32px; border-top: 1px solid #D6D1CA;}
    .journey-link-btn {margin-bottom: 16px;} 
    .seat-reserve-btn button {width: 100%; font-size: 16px;}
    .seat-reserve-detail-header.return-seat-reserve-detail-header {margin-top: 20px; padding-bottom: 0px; border-bottom: 0px; padding-top: 20px; border-top: 1px solid #D6D1CA;}
    .seat-reserve-header .seat-reserve-title h2 {margin-bottom: 0px;}
    .chnage-timedate button {width: 100%; font-size: 16px; margin: 0; padding: 10px 6px !important;}

    .see-journey-detail {text-align: right; margin: 20px 0; display: block;}
    .see-journey-detail a {color: #131E29; text-decoration: none; font-size: 16px; font-weight: 600;}
    .see-journey-detail a i {font-size: 24px; vertical-align: middle; line-height: normal; margin-top: -3px; margin-left: 5px;}

    .seat-reserve-detail-header {padding-bottom: 0px; border-bottom: 0px;}
    .journey-summary-detail.return-journey-summary-detail {margin-top: 32px;}
    .back-to-btn {padding-left: 20px;}

    .change-detetime-section-header h3 {font-size: 18px;}
    .change-detetime-section-header span img {width: 14px;}
    .journey-datetime-msg span {font-size: 14px;}
    .journey-datetime-msg span.icons-histoery {display: inline-block; width: 30px; vertical-align: top;}
    .journey-datetime-msg span.datetime-msg-txt {display: inline-block; width: calc(100% - 30px); vertical-align: top;}
    .journey-summary-detail .journey-summary-body {padding: 0px;}
    
    .booking-travel-accord-body .booking-payment-col {border-right: 0px !important;  border-bottom: 1px solid #D6D1CA; padding-bottom: 10px; margin-bottom: 10px;}
    .change-seat-section-header h2 {font-size: 18px;}
    .change-seat-section-header a img {width: 14px;}
    .train-select-inner-bx {padding: 0px;}
    .train-select-inner-bx-icon {padding-top: 5px;}

    .next-day-delivery-price {
        padding: 0 !important;
    }

    .collect-ticket-container {
        padding: 0 3px !important;
        gap: 10px;
    }

    .right-travel-extras-card .collect-ticket-icon {
        height: 25px !important;
        width: auto !important;
        padding-right: 0 !important;
    }

    .cod-delivery-price {
        padding: 0 !important;
        padding-top: 2px !important;
    }

    .collect-ticket-icon-title {
        gap: 30px;
        align-items: flex-start;
    }

    .collect-ticket-number {
        padding-left: 50px;
        line-height: 20px !important;
    }

    .new-delivery-smartcard {
        justify-content: flex-start;
        width: auto;
    }
    
    .new-delivery-smartcard .new-delivery-smartcard-icon {
        height: 20px !important;
        padding-right: 0;
        width: auto;
    }

    .download-eticket-dropdown {
        max-height: 80svh;
        min-width: auto;
        overflow-y: auto;
        top: auto;
        bottom: 0;
        padding: 16px 16px 40px;
        position: fixed;
    }

    .download-eticket-close-mobile-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .download-eticket-close-mobile-btn h3 {
        font-size: 16px;
        letter-spacing: 0.32px;
        line-height: 20px;
        font-weight: 700;
        color: #131E29;
        margin: 0;
    }

    .download-eticket-close-mobile-btn button {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px !important;
        padding: 0 !important;
    }

    .download-eticket-close-mobile-btn button .booking-e-ticket {
        position: relative;
        top: -2px;
    }

    .pax-download-btn {
        line-height: 17px !important;
        padding: 8px 18px !important;
    }

    .download-receipt-mbtn {
        padding: 10px 10px !important;
    }
}

.del-mode-price-tag{
    float: right;
}

@media (max-width:576px){
    .in-checkbox {
        margin: 0 0 8px 68px !important;
    }
    table.routedetails-tbl td.journey-mid-btn-td button {
        transform: translateX(-35%);
        display: inline-block;
        white-space: nowrap;
    }
    .confirm-reser-btn {
        margin: 0 !important;
    }
    .booking-payment .booking-payment-txt {
        min-width: 210px;
        max-width: 210px;
    } 
}

@media (max-width:440px) {
    .in-checkbox {
        margin: 0 0 8px 54px !important;
    }

    .bike-add-pad {
        margin: 10px 0 0 48px !important;
    }

    .bike-remove-pad {
        margin: 0 !important;
    }
}

@media (max-width: 400px) {
    .booking-payment .booking-payment-txt {
        min-width: 180px;
        max-width: 180px;
    } 
}

.booking-travel-accord mat-expansion-panel-header h1 {
    font-weight: 500;
}
.list-payment-style{
    list-style-type: circle;
}
.westcoast-highlight1 {
    background: #95E1BF;
    font-style: italic;
    border-radius: 5px;
    padding: 5.5px 9.86px;
    top: 3px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    z-index: 3;
}

@media (max-width: 385px) {
    .booking-payment .booking-payment-txt {
        min-width: 160px;
        max-width: 160px;
    }
}

@media (max-width: 360px) {
    .booking-payment .booking-payment-txt {
        word-break: keep-all;
    }
}

@media (max-width: 340px) {
    .booking-payment .booking-payment-txt {
        max-width: 132px;
        min-width: 132px;
    }
}
    
@media (max-width:320px) {
    table.routedetails-tbl td.journey-mid-btn-td button {
        width: 183px !important;
        text-align: left;
        white-space: normal !important;
        transform: translateX(-44%);
    }
}
