<div class="filter-datepicker-header">
    <h2 mat-dialog-title class="login-signin-title border-bottom-0 mb-0 filter-datepicker-popup-title">Select departing date</h2>
    <button aria-label="Close button" class="dialog-close text-coalescent cursor-pointer-hover simple-btn upgrade-filter-datepicker-close-btn" (click)="onclose()">
        <img aria-label="Close" src="assets/images/close-orange.svg" alt="close_logo"> Close
    </button>
</div>

<mat-dialog-content class="fare-heading-list-box ticket-dialog-box upgrade-datepicker pt-0">
    <form [formGroup]="dateTimeForm" class="p-relative filter-datepicker-popup">

        <ngb-datepicker #dp *ngIf="!deviceInfo" [displayMonths]="2" [minDate]="ngbMinDate" [maxDate]="ngbMaxDate" (dateSelect)="onDateSelection($event)" [ngModelOptions]="{standalone: true}" (navigate)="date = $event.next" [dayTemplate]="t" outsideDays="hidden" [startDate]="startedMonthOnChangeYear">
        </ngb-datepicker>
        <ngb-datepicker #dp *ngIf="deviceInfo" [displayMonths]="1" [minDate]="ngbMinDate" [maxDate]="ngbMaxDate" (dateSelect)="onDateSelection($event)" [ngModelOptions]="{standalone: true}" (navigate)="date = $event.next" [dayTemplate]="t" outsideDays="hidden" [startDate]="startedMonthOnChangeYear">
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" [ngClass]="{'toRangeDate': toDate?.day == date?.day && toDate?.month == date?.month && fromDate?.day != toDate?.day, 'fromRangeDate': fromDate?.day == date?.day && fromDate?.month == date?.month && ((hoveredDate && checkHoverDateBeforeFromDate())  || toDate?.day)}"
                (mouseleave)="hoveredDate = null" [class.fromRangeDateHover]="fromDate?.day == date?.day && fromDate?.month == date?.month && (toDate?.day)">
                {{ date.day }}
            </span>
        </ng-template>

        <div class="filter-datepicker-txt">
            <p class="mb-0 font-dark f-14 text-center">
                Please <span class="font-500">select the date range you</span> wish to filter by
            </p>
        </div>

        <div class="filter-datepicker-year-dropdown">
            <mat-form-field
                class="d-block example-full-width default-input default-input-brdr new-select filter-datepicker-year-mat-field" [ngClass]="{'upcoming-filter-dropdown': data?.journeyType == journeyTypeEnum.upcomingJourney}"
                floatLabel="never">
                <mat-select [disabled]="data?.journeyType == journeyTypeEnum.upcomingJourney"
                    (selectionChange)="onYearChange($event)" [(value)]="defaultSelectedCurrentYear" class="border-gray f-16" panelClass="upgrade-my-booking-filter-datepicker-btn"
                    aria-busy="true">
                    <mat-option *ngFor="let year of yearsArray" [value]="year">{{year}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row mt-0">
            <div class="col-12">
                <button mat-button class="default-btn w-m-100 w-100 mt-0 br-0" (click)="applyChanges()">Apply</button>
            </div>
        </div>
    </form>

</mat-dialog-content>