
<div class="admin_table">
    <div class="table-responsive table_overflow-auto">
        <form [formGroup]="productImportForm">
            <ng-container formArrayName="products">
             
        <table class="table table-bordered table_eror_show">
            <caption style="display:none;">dec</caption>
          <thead>
             <tr> 
                <th class="w-px80" id="serial_number">{{AppConstants.SERIAL_NUMBER}}</th>
                <th id="products_lable" >Product Type <span class="text-danger">*</span></th>
                <th id="products_lable">Product SKU <span class="text-danger">*</span></th>
                <th id="products_lable">Jewelex SKU <span class="text-danger">*</span></th>
                <th id="products_name">Product Name <span class="text-danger">*</span></th>
                <th id="category_name">Category Name <span class="text-danger">*</span></th>
                <th id="article_name">Article Name <span class="text-danger">*</span></th>
                <th id="price" class="text-right w-px100">Price <span *ngIf="defaultCurrency">in ({{defaultCurrency}})</span><span class="text-danger">*</span></th>
                <th id="price" class="text-right w-px100">Incremental Factor <span class="text-danger">*</span></th>
                <th id="desription" class="w-px300">Description <span class="text-danger">*</span></th>
                <th id="engravable">Engravable</th>
                <th id="serial_number">Matching Band </th>
                <th class="w-px80" id="action" style="text-align: center;">Action</th>
             </tr>
          </thead> 
          <tbody  *ngFor="let productRecord of recipeRecords['controls']; index as i;"  [formGroupName]="i">
            
            <tr  [ngClass]="{'error':setProductHasError(i)}"> 
                <td><strong>{{i+1}}.</strong></td>
                <td>
                    <select class="form-control login_fild" formControlName="ProductType">
                       <option selected value="">Select Product Type</option>
                       <option value="Simple">Simple</option>
                       <option value="MatchingBand">Matching Band</option>
                    </select>
                    <div *ngIf="productRecord.get('ProductType')?.touched && productRecord.get('ProductType')?.errors?.required"
                       class="text-danger validation-error">
                       {{AppConstants.PRODUCT_TYPE_REQUIRED}}
                    </div>
                    <div class="text-danger" *ngIf="checkForError(i,'ProductType') && !productRecord.get('ProductType')?.errors?.required">
                      {{checkForError(i,'ProductType')}}
                    </div>
                    
                  </td>
                <td>
                    <input type="text" class="bulk_fild" formControlName='ProductSKU' (keyup)="resetErrors(i,'ProductSKU')"   inputRef>
                    <div *ngIf="productRecord.get('ProductSKU')?.touched && productRecord.get('ProductSKU')?.errors?.required"
                            class="text-danger validation-error" >
                            {{AppConstants.PRODUCT_SKU_REQUIRED}} 
                    </div>
                    <div class="text-danger" *ngIf="checkForError(i,'ProductSKU') && !productRecord.get('ProductSKU')?.errors?.required">
                        {{checkForError(i,'ProductSKU')}}
                    </div>
                   

                </td>
                <td>
                    <input type="text" class="bulk_fild" formControlName='JewelexSKU' (keyup)="resetErrors(i,'JewelexSKU')"  inputRef>
                    <div *ngIf="productRecord.get('JewelexSKU')?.touched && productRecord.get('JewelexSKU')?.errors?.required"
                            class="text-danger validation-error">
                            {{AppConstants.JEWELEX_SKU_REQUIRED}}
                    </div>
                    <div class="text-danger" *ngIf="checkForError(i,'JewelexSKU') && !productRecord.get('JewelexSKU')?.errors?.required">
                        {{checkForError(i,'JewelexSKU')}}
                    </div> 
                    
                </td>
                <td class="valign_top padd-top-15">
                    <input type="text" class="bulk_fild"  formControlName='ProductName' (keyup)="resetErrors(i,'ProductName')" inputRef [appInputMaxLength]="200">
                    <div *ngIf="productRecord.get('ProductName')?.touched && productRecord.get('ProductName')?.errors?.required"
                            class="text-danger validation-error">
                            {{AppConstants.PRODUCT_NAME_REQUIRED}}
                    </div>
                    <div class="text-danger" *ngIf="checkForError(i,'ProductName') && !productRecord.get('ProductName')?.errors?.required">
                        {{checkForError(i,'ProductName')}}
                    </div>
                </td>
                <td class="valign_top padd-top-15">
                    <input type="text" class="bulk_fild" formControlName='CategoryName' (keyup)="resetErrors(i,'CategoryName')" inputRef [appInputMaxLength]="150">
                    <div *ngIf="productRecord.get('CategoryName')?.touched && productRecord.get('CategoryName')?.errors?.required"
                            class="text-danger validation-error">
                            {{AppConstants.CATEGORY_NAME_REQUIRED}}
                    </div>
                    <div class="text-danger" *ngIf="checkForError(i,'CategoryName') && !productRecord.get('CategoryName')?.errors?.required">
                        {{checkForError(i,'CategoryName')}}
                    </div>
                </td>
                <td class="valign_top padd-top-15">
                    <input type="text" class="bulk_fild" formControlName='ArticleName' (keyup)="resetErrors(i,'ArticleByName')" inputRef [appInputMaxLength]="150">
                    <div *ngIf="productRecord.get('ArticleName')?.touched && productRecord.get('ArticleName')?.errors?.required"
                    class="text-danger validation-error">
                        {{AppConstants.ATRICLE_NAME_REQIURED}}
                    </div>
                    <div class="text-danger" *ngIf="checkForError(i,'ArticleByName') && !productRecord.get('ArticleByName')?.errors?.required">
                        {{checkForError(i,'ArticleByName')}}
                    </div>
                </td>
                <td class="text-right valign_top padd-top-15">
                    <input type="text" class="bulk_fild" formControlName='Price' (keypress)="numbersOnly($event)" (keyup)="resetErrors(i,'Price')">
                    <div *ngIf="productRecord.get('Price')?.touched && productRecord.get('Price')?.errors?.required"
                    class="text-danger validation-error">
                        {{AppConstants.PRICE_REQUIRED}}
                    </div>
                    <div class="text-danger" *ngIf="checkForError(i,'Price') && !productRecord.get('Price')?.errors?.required">
                        {{checkForError(i,'Price')}}
                    </div>
                </td>
                <td class="text-right valign_top padd-top-15">
                    <input type="text" class="bulk_fild" formControlName='IncrementalFactor' (keypress)="numbersOnly($event)" (keyup)="resetErrors(i,'IncrementalFactor')">
                    <div *ngIf="productRecord.get('IncrementalFactor')?.touched && productRecord.get('IncrementalFactor')?.errors?.required"
                    class="text-danger validation-error">
                        {{AppConstants.INCREMENTAL_FACTOR_REQUIRED}}
                    </div>
                    <div class="text-danger" *ngIf="checkForError(i,'IncrementalFactor') && !productRecord.get('IncrementalFactor')?.errors?.required">
                        {{checkForError(i,'IncrementalFactor')}}
                    </div>
                </td>
                <td class="valign_top">
                    <textarea class="bulk_desc_fild"  formControlName='Description' (keyup)="resetErrors(i,'Description')" inputRef [appInputMaxLength]="500"></textarea>
                    <div *ngIf="productRecord.get('Description')?.touched && productRecord.get('Description')?.errors?.required"
                    class="text-danger validation-error" >
                        {{AppConstants.DESCRIPTION_REQUIRED}}
                    </div>
                    <div class="text-danger" *ngIf="checkForError(i,'Description') && !productRecord.get('Description')?.errors?.required">
                        {{checkForError(i,'Description')}}
                    </div>
                </td>
                <td class="text-center">
                    <input type="checkbox" class="checkbox_n" name="engrable" formControlName="Engravable" (keyup)="resetErrors(i,'Engravable')">
                    <div class="text-danger" *ngIf="checkForError(i,'Engravable') && !productRecord.get('Engravable')?.errors?.required">
                        {{checkForError(i,'Engravable')}}
                    </div>
                </td>
                <td class="text-center">
                    
                    <input type="checkbox" class="checkbox_n" name="matching_band" formControlName="MatchingBand" (keyup)="resetErrors(i,'MatchingBand')" (change)="changeMatchingBand(i)"  [ngClass]="{'disabled': productRecord.get('ProductType')?.value=='MatchingBand'}">
                    <div class="text-danger" *ngIf="checkForError(i,'MatchingBand') && !productRecord.get('MatchingBand')?.errors?.required">
                        {{checkForError(i,'MatchingBand')}}
                    </div>
                    <div class="text-danger" *ngIf="checkForError(i,'MatchingBandProducts') && !productRecord.get('MatchingBandProducts')?.errors?.required">
                        {{AppConstants.MATCHING_BAND_REQUIRED}}
                    </div>
                </td>
                <td style="text-align: center;">
                    <a href="javascript:void(0)" (click)="discardRecord(i)" class="inline-flex">
                        <img src="assets/images/delete_icon.png" alt="">
                    </a>
                    <a href="javascript:void(0)" (click)="toggle(i)" class="plus_btn_ic inline-flex " [ngClass]="{'active': productRecord?.value?.IsOpen == 1}">
                        <i  class="fa fa-plus-square plus_icon_td_s" aria-hidden="true"></i>
                        <i   class="fa fa-minus-square min_icon_td_s" aria-hidden="true"></i>
                    </a>
                </td>
             </tr>

<tr *ngIf="(getImages(i).controls.length > 0) || (getAttribute(i).controls.length > 0) " class="atri_detail_show " [ngClass]="{'active': productRecord?.value?.IsOpen == 1}">
    <td colspan="12">
        <div class="row">
            <div class="col-6">
                <div class="img_detail_nq_sw bdr-botm-sp w-100-float" *ngIf="getImages(i).controls.length > 0" formArrayName="ImageViewDetails">
                    <label>Image Details</label>
                    <div class="clearfix"></div>
                        <table class="table w-50-pre"  *ngFor="let image of  getImages(i).controls; let k=index"
                        [formGroupName]="k">
                        <caption style="display:none;">table</caption>
                        <thead style="display:none;">
                            <tr style="display:none;">
                                <th id="image-details-heading"></th>
                            </tr>
                        </thead>
                   
                            <tr>

                                <td id="image_width" class="delete_icon"> 
                                    <img  [src]="[(image?.value?.FileType == 'image') ? (image?.value?.Uri ?  image?.value?.Uri : 'assets/images/no-images.png') : 'assets/images/video_img.png']" alt="" title="" class="product_img_vis_new" onError="this.src='assets/images/no-images.png'">
                                 
                                <td class="delete_icon padd-top-12-im">
                                    <input type="text" class="bulk_fild" formControlName='originalUri' (keyup)="resetFormArrayError(i,k,'image',image?.value?.FileType,$event)" inputRef>
                                    <div *ngIf="image?.value?.error"
                                        class="text-danger validation-error">
                                            {{image?.value?.error}}
                                    </div>
                                    <div *ngIf="image?.value?.front_error && !image?.value?.error"
                                    class="text-danger validation-error">
                                        {{image?.value?.front_error}}
                                    </div>
                                    
                                </td>
                                <td   class="delete_icon padd-top-12-im">
                                    <a href="javascript:void(0)" (click)="discardImageRecord(i,k)" class="">
                                        <img src="assets/images/delete_icon.png" alt="">
                                    </a>
                                </td>
                            </tr>
                        </table>
                </div>

                <div class="Mat_Band_De_nq_sw atri_detail_show_new" *ngIf="(getMatchingBands(i).controls.length > 0) && productRecord.get('MatchingBand')?.value"  [ngClass]="{'active': productRecord?.value?.IsOpen == 1}">
                    <div class="attribute_detail_wrp_blk bdr-botm-sp" formArrayName="MatchingBandsDetails">
                        <label>Matching Band Details</label>
                        <div class="row"> 
                            <div class="col-md-4" *ngFor="let band of  getMatchingBands(i).controls; let l=index"
                            [formGroupName]="l">
                                <div class="bulk_import_fild_rw">
                                   
                                    
                                    <input type="text" class="bulk_fild attri_fild_value" formControlName="MatchingProductSKU" (keyup)="resetFormArrayError(i,l,'matchingband')" (input)="checkMatchingBandDuplicacy(i,l)" inputRef>
                                  
                                    <a href="javascript:void(0)" class="delete_icon_label_new" (click)="discardMatchingBandRecord(i,l)"><img src="assets/images/delete_icon.png" alt=""></a>
                                     
                                </div>
                                <div *ngIf="getMatchingBandDisplayNameAt(i,l)?.errors?.required" class="text-danger validation-error">
                                    {{AppConstants.MATCHING_BAND_SKU_REQUIRED}}
                                 </div>
                                <div *ngIf="getMatchingBandDisplayNameAt(i,l)?.errors?.duplicateName && !getMatchingBandDisplayNameAt(i,l)?.errors?.required" class="text-danger validation-error">
                                    {{AppConstants.MATCHING_BAND_SKU_DUPLICATE}}
                                 </div>
                                <div *ngIf="band?.value?.error && !getMatchingBandDisplayNameAt(i,l)?.errors?.required"
                                class="text-danger validation-error">
                                   {{band?.value?.error}}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 bdr-left-sp">
                <div class="attribute_details_nq_sw valign_top" *ngIf="getAttribute(i).controls.length > 0">
                    <div class="attribute_detail_wrp_blk" formArrayName="AttributeDetails">
                        <label>Attribute Details</label>
                        <div class="row"> 
                            <div class="col-md-12" *ngFor="let attribute of  getAttribute(i).controls; let j=index"
                            [formGroupName]="j">
                                <div class="bulk_import_fild_rw bdr-botm-sp">
                                    <div class="row">
                                      
                                       <div class="col-md-3">
                                                <label for="AttributeName">Attribute Name <span class="text-danger">*</span></label>
                                                <input type="text" id="AttributeName" name="AttributeName" class="bulk_fild" formControlName='AttributeName' (keyup)="resetFormArrayError(i,j,'attribute_name')" inputRef [appInputMaxLength]="150">
                                            
                                                <div *ngIf="getAttribute(i).controls[i]?.get('AttributeName')?.errors && getAttribute(i).controls[i]?.get('AttributeName')?.errors?.required"
                                                class="text-danger validation-error">
                                                    {{AppConstants.ATTRIBUTE_NAME_REQUIRED}}
                                                </div>
                                            
                                                <div *ngIf="attribute?.value?.attribute_error && !getAttribute(i).controls[i]?.get('AttributeName')?.errors?.required"
                                                class="text-danger validation-error">
                                                   {{attribute?.value?.attribute_error}}
                                                </div>

                                            </div>
                                                <div class="col-md-3">
                                                <label for="AttributeDetailValue">Attribute Value <span class="text-danger">*</span></label>  
                                                <input type="text" id="AttributeDetailValue" name="AttributeDetailValue" class="bulk_fild" formControlName="AttributeDetailValue" (keyup)="resetFormArrayError(i,j,'attribute_value')" inputRef [appInputMaxLength]="150">
                                                
                                                <div *ngIf="getAttribute(i).controls[i]?.get('AttributeDetailValue')?.errors && getAttribute(i).controls[i]?.get('AttributeDetailValue')?.errors?.required"
                                                class="text-danger validation-error">
                                                    {{AppConstants.ATTRIBUTE_VAUE_NAME_REQUIRED}}
                                                </div>
                                                <div *ngIf="attribute?.value?.detail_value_error && !getAttribute(i).controls[i]?.get('AttributeDetailValue')?.errors?.required"
                                                class="text-danger validation-error">
                                                   {{attribute?.value?.detail_value_error}}
                                                </div>
                                            </div>
                                            <div class="col-md-2" *ngIf="attribute?.value?.AttributeDetailImage" >
                                                <img src="{{attribute?.value?.AttributeDetailImage}}" alt="" title="" class="product_img_vis_new" onError="this.src='assets/images/no-images.png'">
                                            </div>

                                                <div class="col-md-3">
                                                <label for="Attribute_Image">Attribute Image </label>
                                                <input type="text" class="bulk_fild" formControlName='OriginalAttributeDetailImage' name="Attribute_Image" id="Attribute_Image" (keyup)="resetFormArrayError(i,j,'attribute_image')" inputRef>
                                                <div *ngIf="attribute?.value?.AttributeDetailImageError"
                                                class="text-danger validation-error">
                                                   {{attribute?.value?.AttributeDetailImageError}}
                                                </div>
                                            </div>
                                        
                                                <div class="col-md-1">
                                                <a  *ngIf="attribute?.value?.isDelete == 1" href="javascript:void(0)" class="delete_icon_label_new p-top-20" (click)="discardProductRecord(i,j)"><img src="assets/images/delete_icon.png" alt=""></a>
                                            </div>
                                     
                                    </div>
                                    
                                   
                                    
                                   
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </td>
</tr>

          </tbody>
        </table>
          </ng-container>
        </form>
    </div>
</div>
    
<div class="col-sm-12 text-end mt-2">
    <!-- -->
    <button type="button" class="btn btn-default login_btn" [disabled]="!productImportForm.touched || !productImportForm.valid"  *ngIf="is_data_ready_to_import == 0" (click)="validateErrors()"><em _ngcontent-vme-c88="" class="fas fa-sign-in-alt"></em> Check for Errors
    </button>
    <!--   -->
        <button type="button" class="btn btn-default login_btn"  *ngIf="is_data_ready_to_import == 1" (click)="import()"><em _ngcontent-vme-c88="" class="fas fa-sign-in-alt"></em> Import</button>
</div>         