@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("../../../../assets/css/enhanced-styles.css");

.via-avoid-section {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.via-avoid-section button {
    width: 50%;
    min-width: auto;
    padding: 0.438rem 1.5rem;
    border: 0.125rem solid var(--primary-graphene);
    font-size: 0.875rem;
    line-height: 1.375rem !important;
    font-weight: 700;
    color: var(--primary-graphene) !important;
}

.via-avoid-section button.via-avoid-active-btn {
    color: var(--shades-white) !important;
    background-color: var(--primary-graphene);
}

.via-avoid-section button.via-avoid-active-btn:focus-visible {
    background-color: var(--primary-coalescent);
    border: 2px solid var(--primary-coalescent);
    color: var(--shades-white) !important;
}

.via-avoid-section button:first-child {
    border-radius: 0.313rem 0 0 0.313rem;
}

.via-avoid-section button:last-child {
    border-radius: 0 0.313rem 0.313rem 0;
}

.search-station {
    background-color: var(--neutrals-light-grey);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}
.search-station mat-icon {
    position: absolute;
    top: 50%;
    left: 2.5rem;
    z-index: 1;
    bottom: 0;
    font-family: inherit!important;
    transform: translate(0, 10%);
}

.search-station mat-form-field mat-icon {
    display: none;
}

.search-station input {
    caret-color: var(--primary-graphene) !important;
}

.stations-list {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0 1.5rem;
    overflow: auto;margin-bottom: 8rem;height: auto;
}

.stations-types {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.stations-types:last-child {
    margin-bottom: 0;
}

.stations-types:empty {
    display: none;
    margin-bottom: 0;
}

.stations-types p {
    color: var(--primary-coalescent);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;margin-top: 1.5rem;
}

.station-list-popup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.station-list-popup:empty {
    display: none;
}

.stations-name button {
    text-align: left;
    min-width: auto;
    width: 100%;
    padding: 0.875rem 1.375rem;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: var(--primary-coalescent);
    border-radius: 0.313rem;
    outline: 0.125rem solid var(--neutrals-auro-metal);
}


.search-station .mat-mdc-form-field {
    width: 100%;
}



