<div class="login_wrp forgot_pass_bg_res">
  <div class="login_left">

    <div class="login_logo"><img src="assets/images/logo_login_et.png" alt=""></div>

    <div class="login_form"> 
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group"> 
          <input type="text" required autofocus class="form-control login_fild" formControlName="username"  required autofocus placeholder="Email / Username" [ngClass]="{ 'has-error': submitted && hasError('username', 'required') }" inputRef> 
          <div *ngIf="(f.username.touched || submitted) && f.username.errors?.required" class="text-danger validation-error">
            {{AppConstants.USERNAME_EMAIL_REQUIRED}}
          </div>
        </div>
        <div class="login_btn_rw">
        <button type="submit" class="btn btn-default login_btn"><em class="fas fa-sign-in-alt"></em> {{AppConstants.SUBMIT}}</button>
      </div>
        <div class="forgot_pass_link">{{AppConstants.BACK_TO}} <a href="javascript:void(0);" [routerLink]="['/admin/login']">{{AppConstants.LOGIN}}</a></div>
      </form>



    </div>


  </div>
  <div class="login_wrp_in forgot_pass_bg"></div>
</div>