.header {
    padding: 20px;
    background: #eee;
}

.qtt-search-input {
    height: 37.6px;
}

.old-flow-search-popuop-header .mat-mdc-dialog-title {
    font-size: 24px !important;
    padding-left: 0 !important;
    letter-spacing: normal;
}

.old-flow-search-popuop-header .mat-mdc-dialog-title::before {
    display: none !important;
}

.old-flow-search-popuop-body {
    padding: 0 !important;
    margin: 0 10px !important;
}

.old-flow-search-popuop-body h2 {
    color: #131e29 !important;
    text-transform: capitalize;
}
