<app-enhanced-basic-dialog>
  <header>
    <h1 mat-dialog-title>Tickets Information</h1>
    <mat-dialog-actions align="end" class="enhanced-action-popup-close">
      <button mat-button mat-dialog-close class="enhanced-popup-close-btn" aria-label="close tickets information modal">
        <img src="assets/images/new-design-img/close-icons.svg" alt="" aria-hidden="true">
      </button>
    </mat-dialog-actions>
  </header>
  <ng-content>
    <div class="enhanced-common-popup-theme">
      <div class="enhanced-common-popup-theme-border">
        <div class="summary">
          <h3>Not valid on trains timed to depart:</h3>
          <ul>
            <li>London Euston after 04:29 and before 09:26 or after 15:00 and before 18:45 (Restrictions do not apply on Fridays)</li>
          </ul>
        </div>

        <div class="summary">
          <h3>Ticket Description</h3>
          <ul>
            <li>Off-Peak fares are cheaper tickets for travelling on trains that are less busy.</li>
            <li>You may need to travel at specific times of the day, days of the week and sometimes on specific routes or operators.</li>
            <li>The times when you may use your Off-Peak ticket will depend on the journey you are making and you will be advised when buying your ticket.</li>
            <li>The National Rail Journey Planner will automatically work out which tickets are valid for your journey.</li>
            <li>Valid by the route shown -Outward Within 01 Day ,</li>
          </ul>
        </div>

        <div class="summary">
          <h3>Child</h3>
          <ul>
            <li>Children aged 5 to 15 inclusive: 50% discount.</li>
            <li>Up to two children aged under 5 may travel free of charge with each fare-paying adult.</li>
          </ul>
        </div>

        <div class="summary">
          <h3>Railcard</h3>
          <ul>
            <li>1/3 off with the following Railcards: Disabled Persons Railcard, Veterans Railcard, Family & Friends Railcard, HM Forces Railcard, Senior Railcard, Two Together Railcard, 16-25 Railcard, or 26-30 Railcard. 50% discount for 16-17 Saver.</li>
            <li>See terms & conditions of individual Railcard for time restrictions</li>
          </ul>
        </div>
        <div class="summary">
          <h3>Refunds</h3>
          <ul>
            <li>Your ticket is refundable.</li>
            <li>If you decide not to use your ticket to make all or part of your intended journey then you can get a refund by returning your unused ticket to the ticket office or place of purchase (for tickets bought via websites, telesales or travel agents) within 28 days of the ticket expiry date.You may be required to pay an administration fee (up to a maximum of £5 per ticket).</li>
            <li>The refund amount will normally take into account any use you have made of the ticket and in some circumstances no refund will be paid.</li>
          </ul>
        </div>
        <div class="summary">
          <h3>Changes to travel plans</h3>
          <ul>
            <li>If you wish to change your time of travel you can pay the difference between the cost of the ticket held and the cost of the ticket that is most appropriate for the journey you need to make</li>
            <li>In many cases, if you are still travelling at a time when your ticket is not restricted, no additional fare is payable</li>
            <li>If you wish to change the date of travel, or the origin or destination of your ticket, it may be necessary to buy a new ticket and apply for a refund on your existing ticket (see Refund Policy).</li>
          </ul>
        </div>

        <div class="summary">
          <h3>Break of journey</h3>
          <ul>
            <li>Break of journey is permitted unless otherwise indicated by a restriction shown against the ticket's Restriction Code.</li>
            <li>Overnight break of journey - if the journey cannot be completed on the same day, the ticket may be used to continue the journey on the following day.</li>
            <li>Unless otherwise indicated in the relevant restriction code, time restrictions apply as from the initial origin station on both days.</li>
            <li>The appropriate restrictions for the actual day on which travel is being undertaken apply (for example, it may be that if day 1 is on Sunday, no restrictions apply, but on day 2, the ,Monday-Friday restrictions apply).</li>
            <li>All travel must be completed by 04:29 in the morning after this second day.</li>
          </ul>
        </div>

        <div class="summary">
          <h3>Booking deadline</h3>
          <ul>
            <li>None.</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-content>
</app-enhanced-basic-dialog>