@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("../../../../assets/css/enhanced-styles.css");

.summary{margin-bottom: 1.5rem;padding: 1.5rem;}
.summary h3 {
    font-size: 1rem;
    margin-bottom: 0.75rem;line-height: 1.5rem;
}
.summary ul {
    padding-left: 1.25rem;
    font-size: 1rem;
    font-weight: 400;
}
.summary li{line-height: 1.5rem;    margin-bottom: 0.5rem;}

.summary mat-card-anchor {
    margin-top: 0.75rem;
    display: block;
    padding-left: 1.25rem;
}
.summary mat-card-anchor a{
    color:var(--primary-graphene);margin-bottom: 1.5rem;line-height: 1.25rem;
}
@media screen and (max-width:768px){
    .summary{padding: 1rem;}
}