<app-basic-dialog [dialogTitle]="headerTitle" [dialogFooter]="dialogFooter" [changeEmailIcon]="displayedChangeEmailIcon">
    <div id="cem-popup-body" class="common-popup-theme-in change-email-popup">
        <div id="cem-popup-border" class="common-popup-theme-border">
            <div id="cem-popup-inner" class="common-popup-theme-middle common-popup-theme-fare-middle common-popup-theme-why-middle change-email-body">
                <p id="cem-popup-content" class="f-16 mb-8 lh-22 font-400 popup-p-sapce text-justify">
                    Please fill out your details.
                </p>

                <div class="common-error-container"
                    *ngIf="customerResetEmailResponse && !customerResetEmailResponse?.IsEmailChangeVerificationMailSent">
                    <div class="common-error-row">
                        <div class="common-error-icon">
                            <img src="assets/images/change-email-error.svg" alt="">
                        </div>
                        <div class="common-error-msg">
                            <h2>
                                Hmm, that’s not quite right​
                            </h2>
                            <p>
                                The details you’ve typed are incorrect. Please try again.
                            </p>
                        </div>
                    </div>
                </div>

                <form id="cem-popup-form" [formGroup]="changeEmailForm">
                    <div id="cem-popup-row" class="row">
                        <div id="cem-popup-col" class="col-12">
                            <div id="cem-current-email" class="mb-16">
                                <div id="cem-current-email-label" class="font-dark font-700 f-16 lh-22 mb-8">
                                    Current email<span id="cem-current-email-mand" class="dark-spark font-700 f-16 lh-22">*</span>
                                </div>     
                                <mat-form-field id="cem-current-email-mat-form" class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                    <input #currentEmail [ngClass]="{'error-input-focus': changeEmailForm.controls['currentEmail'].touched && changeEmailForm.controls['currentEmail'].invalid}" id="cem-current-email-input" matInput aria-label="Current email" type="text" placeholder="Current email address" formControlName="currentEmail" [prevent-keys]="[32]">
                                    <mat-error id="cem-current-email-mat-error">
                                        <div id="cem-current-email-error-msg-div" *ngIf="changeEmailForm.get('currentEmail').touched && changeEmailForm.get('currentEmail').hasError('required')">
                                            <span id="cem-current-email-error-msg" class="validation-err" class="dark-spark f-12 lh-16 mb-0">
                                                Please complete this mandatory field.
                                            </span>
                                        </div>
                                        <div id="cem-current-email-error-msg-div2" *ngIf="changeEmailForm.get('currentEmail').touched && changeEmailForm.get('currentEmail').hasError('emailRegexError') || changeEmailForm.get('currentEmail').hasError('isCurrentEmail')">
                                            <span id="cem-current-email-error-msg2" class="validation-err" class="dark-spark f-12 lh-16 mb-0">
                                                Email is not valid.
                                            </span>
                                        </div>
                                        <span class="cem-current-email-error-msg3" *ngIf="changeEmailForm.get('currentEmail').touched && changeEmailForm.get('currentEmail').hasError('maxlength')">
                                            Invalid email address length. Please enter a valid email address.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div id="cem-password" class="col-12 mt-8 change-email-popup-body">
                            <div id="cem-password-inner" class="mb-16 new-version-input new-version-input-my-profile">
                                <div id="cem-password-label" class="font-dark font-700 f-16 lh-22 mb-8">
                                    Password<span id="cem-password-mand" class="dark-spark font-700 f-16 lh-22">*</span>
                                </div>     
                                <mat-form-field id="cem-password-mat-form" class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                    <input capsLockDetect (capsLockOn)="capsLock = $event" [ngClass]="{'error-input-focus': changeEmailForm.controls['password'].touched && changeEmailForm.controls['password'].invalid}" id="cem-password-input" [type]="PasswordFieldTextType ? 'text' : 'password'" matInput aria-label="password" placeholder="Enter your password" formControlName="password">
                                    <button id="cem-password-show-hide-btn" class="mt-5px" (click)="PasswordFieldTextType = !PasswordFieldTextType" type="button" mat-icon-button matSuffix attr.aria-label="{{PasswordFieldTextType ? 'Hide password' : 'Show password'}}" [attr.aria-pressed]="PasswordFieldTextType">
                                        <mat-icon id="cem-password-show-hide-icon">
                                            <span id="cem-password-show-hide-icon-span" class="material-symbols-outlined icon-font-size">
                                                {{PasswordFieldTextType ? 'visibility' :
                                                'visibility_off'}}
                                            </span>
                                        </mat-icon>
                                    </button> 
                                    <mat-error class="forgot-password-error" id="cem-password-mat-error">
                                        <span id="cem-password-error-msg" class="dark-spark f-12 lh-16 mb-0"
                                            *ngIf="changeEmailForm.get('password').touched && changeEmailForm.get('password').hasError('required')">
                                            Please complete this mandatory field.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                                <p class="capslock-txt" *ngIf="capsLock === 1">
                                    Caps lock is on
                                </p>
                                <div id="cem-password-forgot" class="common-caption mt-8" *ngIf="ShowForgottenInCaseError">
                                    <button id="cem-password-forgot-btn" type="button" class="font-700 f-16 lh-20 dark-spark p-0 m-0 lh-0 profile-forgot-password" (click)="forgotPassword()" mat-button>
                                        Forgotten password?
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="cem-new-email" class="col-12 mt-8">
                            <div id="cem-new-email-inner" class="mb-16">
                                <div id="cem-new-email-label" class="font-dark font-700 f-16 lh-22 mb-8">
                                    New email<span id="cem-new-email-mand" class="dark-spark font-700 f-16 lh-22">*</span>
                                </div>     
                                <mat-form-field id="cem-new-email-mat-form" class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                    <input [ngClass]="{'error-input-focus': changeEmailForm.controls['newEmail'].touched && changeEmailForm.controls['newEmail'].invalid}" id="cem-new-email-input" matInput aria-label="New email" type="text" placeholder="New email address" formControlName="newEmail" [prevent-keys]="[32]">
                                    <mat-error id="cem-new-email-mat-error">
                                        <div id="cem-new-email-error-msg-div" *ngIf="changeEmailForm.get('newEmail').touched && changeEmailForm.get('newEmail').hasError('required')">
                                            <span id="cem-new-email-error-msg" class="validation-err" class="dark-spark f-12 lh-16 mb-0">
                                                Please complete this mandatory field.
                                            </span>
                                        </div>
                                        <div id="cem-new-email-error-msg-div2" *ngIf="changeEmailForm.get('newEmail').touched && changeEmailForm.get('newEmail').hasError('emailRegexError')">
                                            <span id="cem-new-email-error-msg2" class="validation-err" class="dark-spark f-12 lh-16 mb-0">
                                                Email is not valid.
                                            </span>
                                        </div>
                                        <span class="dark-spark f-12 lh-16 mb-0" *ngIf="changeEmailForm.get('newEmail').hasError('notMatch')">
                                            New email should be different from current email.
                                        </span>
                                        <span class="dark-spark f-12 lh-16 mb-0" *ngIf="changeEmailForm.get('newEmail').touched && changeEmailForm.get('newEmail').hasError('maxlength')">
                                            Invalid email address length. Please enter a valid email address.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div id="cem-confirm-new-email" class="col-12 mt-8">
                            <div id="cem-confirm-new-email-inner">
                                <div id="cem-confirm-new-email-label" class="font-dark font-700 f-16 lh-22 mb-8">
                                    Confirm new email<span id="cem-confirm-new-email-mand" class="dark-spark font-700 f-16 lh-22">*</span>
                                </div>     
                                <mat-form-field id="cem-confirm-new-email-mat-form" class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                    <input [ngClass]="{'error-input-focus': changeEmailForm.controls['confirmEmail'].touched && changeEmailForm.controls['confirmEmail'].invalid}" id="cem-confirm-new-email-input" matInput aria-label="Confirm new email" type="text" placeholder="Confirm new email address" formControlName="confirmEmail" [prevent-keys]="[32]">
                                    <mat-error id="cem-confirm-new-email-mat-error">
                                        <div id="cem-confirm-new-email-error-msg-div" *ngIf="changeEmailForm.get('confirmEmail').touched && changeEmailForm.get('confirmEmail').hasError('required')">
                                            <span id="cem-confirm-new-email-error-msg" class="validation-err" class="dark-spark f-12 lh-16 mb-0">
                                                Please complete this mandatory field.
                                            </span>
                                        </div>
                                        <div id="cem-confirm-new-email-error-msg-div2" *ngIf="changeEmailForm.get('confirmEmail').touched && changeEmailForm.get('confirmEmail').errors && !changeEmailForm.get('confirmEmail').hasError('required')">
                                            <span id="cem-confirm-new-email-error-msg2" class="validation-err" class="dark-spark f-12 lh-16 mb-0">
                                                Email must be a match
                                            </span>
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-basic-dialog>
<ng-template #dialogFooter>
    <div id="cem-footer" class="common-popup-theme-footer">
        <button id="cem-footer-send-email-btn" class="new-default-btn w-xs-100 mr-24 mb-xs-16" [disabled]="changeEmailForm.invalid"
            (click)="sendEmailForVerification()" mat-button>Submit request</button>
        <button id="cem-footer-cancel-btn" mat-dialog-close mat-button class="new-default-outline-btn back-home-page-btn w-xs-100">
            Cancel
        </button>
    </div>
</ng-template>