<div class="popup parking-popup">
    <div class="popup-hdr">
        Replace
    </div>
    <div class="popup-body">
        <h3 class="mb-10 mt-20 f-26">Action Confirmation</h3>
        <p class="mb-2 mt-10">Your Smartcard has been lost, stolen or damaged and you need to replace it. There are
            ticket(s) on this Smartcard so we will cancel these so they can no longer be used - In 
            order to transfer these to your new Smartcard there is £ 20 Admin Fee. Please note 
            whilst your replacement Smartcard is waiting to be delivered you will need to purchase 
            tickets to cover your travel - for information on refunds please contact customer
            relations. Any links to other accounts will be lost.</p>
        <div class="text-end">
            <button class="default-btn-outline mr-10" mat-button>Cancel</button>
            <button class="default-btn" mat-button>Continue</button>
        </div>
    </div>
</div>