<app-basic-dialog [dialogTitle]="headerTitle" [dialogFooter]="dialogFooter">
<div class="common-popup-theme-in">
    <div class="common-popup-theme-fare" *ngIf="fareBreakdownModelData != null && fareBreakdownModelData.length != 0">
        <div class="journey-box" *ngFor="let fareBreakdown of fareBreakdownModelData; let journeyIndex = index;">
            <div class="common-popup-theme-border multi-journey-border">
                <div class="common-popup-theme-fare-title border-0">
                    <h3 class="font-700 f-18 lh-22 link-tag m-0">
                        Journey {{journeyIndex+1}}
                    </h3>
                </div>
            </div>
            <div class="common-popup-theme-border" *ngIf="fareBreakdown.OutWardJourney?.length && !isSeason">
                <div class="common-popup-theme-fare-title">
                    <h3 class="font-700 f-18 lh-22 link-tag m-0">
                        Outward
                        <span class="ml-8 icon-outword">
                            <svg width="21" height="15" viewBox="0 0 21 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.4437 14.1666L11.4782 9.29946H0.666504V5.73477H11.4782L11.4437 0.833313L20.6665 7.51712L11.4437 14.1666Z"
                                    fill="#004F59" />
                            </svg>
                        </span>
                    </h3>
                </div>
                <div class="common-popup-theme-middle common-popup-theme-fare-middle">
                    <div class="common-popup-theme-fare-table">
                        <table aria-label="" class="w-100">
                            <thead>
                                <tr>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400">Passengers</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-center">Railcard/Offers</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-end">Price</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let outWardJourney of fareBreakdown.OutWardJourney;">
                                    <td>
                                        <p class="m-0 f-16 lh-22 font-dark font-400">{{ outWardJourney.Passenger.replace('*','') }}</p>
                                    </td>
                                    <td class="railcard-popup-td">
                                        <p class="m-0 f-12 lh-16 font-dark font-400 min-w-210" [ngClass]="outWardJourney.RailCard == 'No Railcard' ? 'railcard-bright-gray' : 'railcard-solway-breeze'">
                                            {{ outWardJourney.RailCard }}
                                        </p>
                                    </td>
                                    <td class="text-end w-20 railcard-last-td">
                                        <span class="f-12 lh-16 font-dark font-400 mr-04"
                                            [class.text-strikeout]="outWardJourney.IsCheck === true" *ngIf="outWardJourney.IsCheck === true">{{sharedSibling.currencySymbol('')}}{{
                                            sharedSibling.formatPrice(outWardJourney.PricePerPerson) }}</span>
                                        <span
                                            class="f-16 lh-22 font-dark font-700">{{sharedSibling.currencySymbol('')}}{{
                                            sharedSibling.formatPrice(outWardJourney.TotalPrice) }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="common-popup-theme-border" *ngIf="fareBreakdown?.OutwardJourneyExtras?.length">
                <div class="common-popup-theme-fare-title">
                    <h3 class="font-700 f-18 lh-22 link-tag m-0">
                        Extras
                    </h3>
                </div>
                <div class="common-popup-theme-middle common-popup-theme-fare-middle" *ngIf="fareBreakdown?.OutwardJourneyExtras?.length">
                    <div class="common-popup-theme-fare-table">
                        <table aria-label="" class="w-100">
                            <thead>
                                <tr>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400">Passengers</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-center">Travel extras</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-end">Price</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let outwardJourneyExtras of fareBreakdown.OutwardJourneyExtras; let i=index">
                                    <td>
                                        <p class="m-0 f-16 lh-22 font-dark font-400" *ngIf="i == 0 && sharedSibling.searchRequest.IsSeason">
                                            Season
                                        </p>
                                        <p class="m-0 f-16 lh-22 font-dark font-400" *ngIf="i > 0">
                                            
                                        </p>
                                        <p class="m-0 f-16 lh-22 font-dark font-400">
                                            {{ outwardJourneyExtras.Passenger.replaceAll('*','') }}
                                        </p>
                                    </td>
                                    <td class="railcard-popup-td">
                                        <p class="m-0 f-16 lh-22 font-dark font-400 min-w-210 text-center">
                                            {{ outwardJourneyExtras.JourneyExtrasTitle }}
                                        </p>
                                    </td>
                                    <td class="text-end w-20 railcard-last-td">
                                        <span class="f-12 lh-16 font-dark font-400 mr-04"></span>
                                        <span
                                            class="f-16 lh-22 font-dark font-700">{{sharedSibling.currencySymbol('')}}{{
                                            sharedSibling.formatPrice(outwardJourneyExtras.TotalPrice) }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="common-popup-theme-border" *ngIf="fareBreakdown.ReturnJourney?.length && !isSeason">
                <div class="common-popup-theme-fare-title">
                    <h3 class="font-700 f-18 lh-22 link-tag m-0">
                        Return
                        <span class="ml-8 icon-outword">
                            <svg width="21" height="15" viewBox="0 0 21 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.55629 0.833355L9.52175 5.70054L20.3335 5.70054V9.26523H9.52175L9.55629 14.1667L0.333496 7.48288L9.55629 0.833355Z"
                                    fill="#004F59" />
                            </svg>
                        </span>
                    </h3>
                </div>
                <div class="common-popup-theme-middle common-popup-theme-fare-middle">
                    <div class="common-popup-theme-fare-table">
                        <table aria-label="" class="w-100">
                            <thead>
                                <tr>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400">Passengers</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-center">Railcard/Offers</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-end">Price</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let returnJourney of fareBreakdown.ReturnJourney;">
                                    <td>
                                        <p class="m-0 f-16 lh-22 font-dark font-400">{{returnJourney.Passenger.replace('*','')}}</p>
                                    </td>
                                    <td class="railcard-popup-td">
                                        <p class="m-0 f-12 lh-16 font-dark font-400 min-w-210" [ngClass]="returnJourney.RailCard == 'No Railcard' ? 'railcard-bright-gray' : 'railcard-solway-breeze'">
                                            {{returnJourney.RailCard}}
                                        </p>
                                    </td>
                                    <td class="text-end w-20 railcard-last-td">
                                        <span class="f-12 lh-16 font-dark font-400 mr-04"
                                            [class.text-strikeout]="returnJourney.IsCheck === true" *ngIf="returnJourney.IsCheck === true">{{sharedSibling.currencySymbol('')}}{{
                                            sharedSibling.formatPrice(returnJourney.PricePerPerson) }}</span>
                                        <span
                                            class="f-16 lh-22 font-dark font-700">{{sharedSibling.currencySymbol('')}}{{
                                            sharedSibling.formatPrice(returnJourney.TotalPrice) }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="common-popup-theme-border" *ngIf="fareBreakdown?.ReturnJourneyExtras?.length">
                <div class="common-popup-theme-fare-title">
                    <h3 class="font-700 f-18 lh-22 link-tag m-0">
                        Extras
                    </h3>
                </div>
                <div class="common-popup-theme-middle common-popup-theme-fare-middle" *ngIf="fareBreakdown?.ReturnJourneyExtras?.length">
                    <div class="common-popup-theme-fare-table">
                        <table aria-label="" class="w-100">
                            <thead>
                                <tr>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400">Passengers</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-center">Travel extras</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-end">Price</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let returnJourneyExtras of fareBreakdown.ReturnJourneyExtras; let i=index">
                                <tr>
                                    <td>
                                        <p class="m-0 f-16 lh-22 font-dark font-400" *ngIf="i > 0">
                                            
                                        </p>
                                        <p class="m-0 f-16 lh-22 font-dark font-400">
                                            {{ returnJourneyExtras.Passenger.replaceAll('*','') }}
                                        </p>
                                    </td>
                                    <td class="railcard-popup-td">
                                        <p class="m-0 f-16 lh-22 font-dark font-400 min-w-210 text-center">
                                            {{ returnJourneyExtras.JourneyExtrasTitle }}
                                        </p>
                                    </td>
                                    <td class="text-end w-20 railcard-last-td">
                                        <span class="f-12 lh-16 font-dark font-400 mr-04"></span>
                                        <span
                                            class="f-16 lh-22 font-dark font-700">{{sharedSibling.currencySymbol('')}}{{
                                            sharedSibling.formatPrice(returnJourneyExtras.TotalPrice) }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="common-popup-theme-border" *ngIf="fareBreakdown.SeasonJourney != null && isSeason">
                <div class="common-popup-theme-fare-title">
                    <h3 class="font-700 f-18 lh-22 link-tag m-0">
                        Season
                    </h3>
                </div>
                <div class="common-popup-theme-middle common-popup-theme-fare-middle">
                    <div class="common-popup-theme-fare-table">
                        <table aria-label="" class="w-100">
                            <thead>
                                <tr>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400">Passengers</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-center">Railcard</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-end">Price</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="m-0 f-16 lh-22 font-dark font-400">{{
                                            fareBreakdown.SeasonJourney.Passenger.replace('*','') }}</p>
                                    </td>
                                    <td class="railcard-popup-td">
                                        <p class="m-0 f-12 lh-16 font-dark font-400 min-w-210" [ngClass]="fareBreakdown.SeasonJourney.RailCard && fareBreakdown.SeasonJourney.RailCard !== 'No Railcard' ? 'railcard-solway-breeze' : 'railcard-bright-gray'">
                                            {{ fareBreakdown.SeasonJourney.RailCard ? fareBreakdown.SeasonJourney.RailCard : 'No Railcard'}}
                                        </p>
                                    </td>
                                    <td class="text-end w-20 railcard-last-td">
                                        <span class="f-12 lh-16 font-dark font-400 mr-04"
                                            [class.text-strikeout]="fareBreakdown.SeasonJourney.IsCheck === true" *ngIf="fareBreakdown.SeasonJourney.IsCheck === true">{{sharedSibling.currencySymbol('')}}{{
                                            sharedSibling.formatPrice(fareBreakdown.SeasonJourney.PricePerPerson)
                                            }}</span>
                                        <span
                                            class="f-16 lh-22 font-dark font-700">{{sharedSibling.currencySymbol('')}}{{
                                            sharedSibling.formatPrice(fareBreakdown.SeasonJourney.TotalPrice) }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="common-popup-theme-border" *ngIf="fareBreakdown.FlexiJourney != null">
                <div class="common-popup-theme-fare-title">
                    <h3 class="font-700 f-18 lh-22 link-tag m-0">
                        Flexi-Season
                    </h3>
                </div>
                <div class="common-popup-theme-middle common-popup-theme-fare-middle">
                    <div class="common-popup-theme-fare-table">
                        <table aria-label="" class="w-100">
                            <thead>
                                <tr>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400">Passengers</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-center">Railcard</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-end">Price</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="m-0 f-16 lh-22 font-dark font-400">{{
                                            fareBreakdown.FlexiJourney.Passenger.replace('*','') }}</p>
                                    </td>
                                    <td class="railcard-popup-td">
                                        <p class="m-0 f-12 lh-16 font-dark font-400 min-w-210" [ngClass]="fareBreakdown.FlexiJourney.RailCard == 'No Railcard' ? 'railcard-bright-gray' : 'railcard-solway-breeze'">
                                            {{ fareBreakdown.FlexiJourney.RailCard }}
                                        </p>
                                    </td>
                                    <td class="text-end w-20 railcard-last-td">
                                        <span
                                            class="f-12 lh-16 font-dark font-400 mr-04">{{sharedSibling.currencySymbol('')}}{{
                                            sharedSibling.formatPrice(fareBreakdown.FlexiJourney.PricePerPerson)
                                            }}</span>
                                        <span
                                            class="f-16 lh-22 font-dark font-700">{{sharedSibling.currencySymbol('')}}{{
                                            sharedSibling.formatPrice(fareBreakdown.FlexiJourney.TotalPrice) }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="common-popup-theme-border" *ngIf="fareBreakdown?.DeliveryDetails?.length && fareBreakdown?.DeliveryDetails[0]?.JourneyDeliveryTitle">
                <div class="common-popup-theme-fare-title">
                    <h3 class="font-700 f-18 lh-22 link-tag m-0">
                        Delivery
                    </h3>
                </div>
                <div class="common-popup-theme-middle common-popup-theme-fare-middle"
                    *ngIf="fareBreakdown.DeliveryDetails?.length != 0">
                    <div class="common-popup-theme-fare-table">
                        <table aria-label="" class="w-100">
                            <thead>
                                <tr>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400">Passengers</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-center">Ticket delivery type</p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-end">Price</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deliveryDetails of fareBreakdown.DeliveryDetails; let i=index">
                                    <td *ngIf="deliveryDetails?.JourneyDeliveryTitle">
                                        <p class="m-0 f-16 lh-22 font-dark font-400">
                                            {{ deliveryDetails.Passenger }}
                                        </p>
                                    </td>
                                    <td *ngIf="deliveryDetails?.JourneyDeliveryTitle" class="railcard-popup-td">
                                        <p class="m-0 f-16 lh-22 font-dark font-400 min-w-210 text-center" *ngIf="deliveryDetails.JourneyDeliveryTitle == 'TOD'">
                                            Collect your ticket from the station
                                        </p>
                                        <p class="m-0 f-16 lh-22 font-dark font-400 min-w-210 text-center" *ngIf="deliveryDetails.JourneyDeliveryTitle == 'NEXTDAYDELIVERY'">
                                            Next Day Delivery
                                        </p>
                                        <p class="m-0 f-16 lh-22 font-dark font-400 min-w-210 text-center" *ngIf="deliveryDetails.JourneyDeliveryTitle == 'FIRSTCLASSPOST'">
                                            First Class Post
                                        </p>
                                        <p class="m-0 f-16 lh-22 font-dark font-400 min-w-210 text-center" *ngIf="deliveryDetails.JourneyDeliveryTitle == 'ETICKET'">
                                            eTicket
                                        </p>
                                        <p class="m-0 f-16 lh-22 font-dark font-400 min-w-210 text-center" *ngIf="deliveryDetails.JourneyDeliveryTitle == 'SMART_CARD'">
                                            Smart Card
                                        </p>
                                    </td>
                                    <td *ngIf="deliveryDetails?.JourneyDeliveryTitle" class="text-end w-20 railcard-last-td">
                                        <span class="f-12 lh-16 font-dark font-400 mr-04"></span>
                                        <span class="f-16 lh-22 font-dark font-700">{{sharedSibling.currencySymbol('')}}{{sharedSibling.formatPrice(deliveryDetails.TotalPrice)}}</span>
                                            
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="common-popup-theme-border" *ngIf="fareBreakdown?.DiscountPercent != null && fareBreakdown?.DiscountPercent != ''">
                <div class="common-popup-theme-middle common-popup-theme-fare-middle">
                    <div class="common-popup-theme-fare-table">
                        <table aria-label="" class="w-100 discount-class">
                            <thead class="d-none">
                                <tr>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400"></p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400"></p>
                                    </th>
                                    <th>
                                        <p class="m-0 f-12 lh-16 font-dark font-400 text-end"></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="font-700 f-18 lh-22 link-tag m-0">
                                            Discount
                                        </p>
                                    </td>
                                    <td>
                                        <p class="m-0 f-16 lh-22 font-dark font-700 text-center">
                                            <span class="d-block"> {{fareBreakdown?.DiscountType}} ({{fareBreakdown?.DiscountPercent}}%)  </span>
                                        </p>
                                    </td>
                                    <td>
                                        <p class="m-0 f-16 lh-22 font-dark font-700 text-end" *ngIf="(router.url.includes(appRouteEnum.ReviewBuy) || router.url.includes(appRouteEnum.Payment) || router.url.includes(appRouteEnum.deliveryAndReviewbuy)) && fareBreakdown?.DiscountPrice">
                                            {{sharedSibling.currencySymbol('')}}{{sharedSibling.formatPrice(fareBreakdown?.DiscountPrice)}}
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</app-basic-dialog>
<ng-template #dialogFooter>
    <div class="common-popup-theme-footer">
        <div class="d-flex gap-24 justify-between">
            <p class="m-0 f-16 lh-22 font-dark">Total Price</p>
            <h1 class="m-0 f-18 lh-22 font-700 font-dark text-end" *ngIf="router.url.includes(appRouteEnum.ReviewBuy) || router.url.includes(appRouteEnum.Payment) || router.url.includes(appRouteEnum.deliveryAndReviewbuy)">
                {{sharedSibling.currencySymbol('')}}{{sharedSibling.formatPrice((totalPrice))}}</h1>
            <h1 class="m-0 f-18 lh-22 font-700 font-dark text-end" *ngIf="!router.url.includes(appRouteEnum.ReviewBuy) && !router.url.includes(appRouteEnum.Payment) && !router.url.includes(appRouteEnum.deliveryAndReviewbuy)">
                {{sharedSibling.currencySymbol('')}}{{sharedSibling.formatPrice(totalFare)}}</h1>
        </div>
    </div>
</ng-template>