<div class="login_wrp reset_pass_bg_res">
  <div class="login_left">

    <div class="login_logo"><img src="assets/images/logo_login_et.png" alt=""></div>

    <div class="login_form">  
      <form  [formGroup]="RestPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="password" required autofocus class="form-control login_fild" formControlName="password" placeholder="New Password" (keyup)="is_password_match = false" inputRef>
          
        </div>
        <div *ngIf="(f.password.touched || submitted) && f.password.errors?.required" class="text-danger validation-error">
          {{AppConstants.PASSWORD_REUIRED}}
        </div>
        <div *ngIf="(f.password.touched || submitted) && f.password.errors?.minlength && !f.password.errors?.required" class="text-danger validation-error">{{AppConstants.PASSWORD_LIMIT}}</div>
        <div *ngIf="(f.password.touched || submitted) && f.password.errors?.pattern && !f.password?.errors?.minlength" class="text-danger validation-error">{{AppConstants.PASSWORD_SYNTAX}}</div>
        <div class="form-group">
          <input type="password" required autofocus class="form-control login_fild" formControlName="confirm_password" placeholder="Confirm Password" (keyup)="is_password_match = false" inputRef>
          
        </div>
        <div *ngIf="(f.confirm_password.touched || submitted) && f.confirm_password.errors?.required" class="text-danger validation-error">
          {{AppConstants.CONFIRM_PASSWORD_REQUIRED}}
        </div>
        <div *ngIf="(f.password.touched || submitted) && f.confirm_password.errors?.minlength && !f.confirm_password.errors?.required" class="text-danger validation-error">{{AppConstants.CONFIRM_PASSWORD_LIMIT}}</div>
        <div *ngIf="(f.password.touched || submitted) && f.confirm_password.errors?.pattern && !f.confirm_password?.errors?.minlength" class="text-danger validation-error">{{AppConstants.CONFIRM_PASSWORD_SYNTAX}}</div>
        <div *ngIf="submitted && is_password_match" class="text-danger validation-error">{{AppConstants.PASSWROD_NOT_MATCH}}</div>
        <div class="login_btn_rw">
        <button type="submit" class="btn btn-default login_btn"><em class="fas fa-sign-in-alt"></em>{{AppConstants.SUBMIT}}</button>
      </div>
        
      </form>



    </div>


  </div>
  <div class="login_wrp_in reset_pass_bg"></div>
</div>