<app-enhanced-basic-dialog  [dialogFooter]="dialogFooter"  class="enhanced-alert-dialogs" [dialogTitle]="headerTitle">
  <ng-content>
  <div class="enhanced-common-popup-theme">
    <div class="enhanced-common-popup-theme-border"> 


  <div class="alert-content p-0">
    <p><mat-slide-toggle aria-labelledby="avantiLabel" labelPosition="before" [(ngModel)]="isAvantiFilter" (change)="selectedToggle('Avanti', $event)">Avanti trains only
      <p id="avantiLabel" class="sr-only">{{getToggleAriaLabel('Avanti')}}</p>
    </mat-slide-toggle></p>
    <p><mat-slide-toggle aria-labelledby="directLabel" labelPosition="before" [(ngModel)]="isDirectFilter" (change)="selectedToggle('Direct', $event)">Direct trains only
      <p id="directLabel" class="sr-only">{{getToggleAriaLabel('Direct')}}</p>
    </mat-slide-toggle></p>
  </div>



    </div>
  </div>

</ng-content>


<ng-template #dialogFooter>
  <div class="common-popup-theme-footer">
      <div class="d-flex gap-24 justify-between">
        <button mat-dialog-close id="efc-qtt-footer-next-btn" (click)="showFilterData()" type="button" mat-button class="fill-btn fill-light-hover-btn">
          Show trains
         
      </button>
      </div>
  </div>
</ng-template>




</app-enhanced-basic-dialog>