.popup-hdr {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #A0ADb7;
    color: #131E29;
    position: relative;
}

.popup-body {
    padding: 20px 0;
}
.popup-available-space{
    padding: 12px 20px;
    color: #204555;
    background: #E2F5E9;
    border-radius: 6px;
}
.popup-available-space p{
   font-size: 16px;
   line-height: 18px;
}
.popup-available-space h3{
    font-size: 72px;
    line-height: 80px;
    margin: 15px 0 0;
}
.popup-capacity{
    padding: 12px 20px;
    color: #204555;
    background: #D6D1CA;
    border-radius: 6px;
}
.popup-capacity p{
   font-size: 16px;
   line-height: 18px;
}
.popup-capacity h3{
    font-size: 72px;
    line-height: 80px;
    margin: 15px 0 0;
}
.mb-5 {
    margin-bottom: 5px !important;
}