<app-enhanced-basic-dialog [isFooter]="false" class="enhanced-alert-dialogs">
  <header>
    <h1 *ngIf="isDeparture == true && isViaAvoid == false" mat-dialog-title>Departing</h1>
    <h1 *ngIf="isArrving" mat-dialog-title>Arriving</h1>
    <h1 *ngIf="isDeparture == false && isArrving == false && (isViaAvoid == true || isVia == true)" mat-dialog-title>Add via / avoid station</h1>
    <mat-dialog-actions align="end" class="enhanced-action-popup-close">
      <button mat-button mat-dialog-close (click)="onClose()" class="enhanced-popup-close-btn">
        <img src="assets/images/new-design-img/close-icons.svg" alt="" aria-hidden="true">
        <span class="sr-only" *ngIf="isDeparture == true && isViaAvoid == false">close departing modal</span>
        <span class="sr-only" *ngIf="isArrving">close arriving modal</span>
        <span class="sr-only" *ngIf="isDeparture == false && isArrving == false && (isViaAvoid == true || isVia == true)">close add via avoid station modal</span>
      </button>
    </mat-dialog-actions>
  </header>

  <ng-content>
    <div class="enhanced-common-popup-theme">
      <div class="enhanced-common-popup-theme-border">
          <!----- Via Avoid ----->
          <div class="via-avoid-section" *ngIf="isDeparture == false && isArrving == false && (isViaAvoid == true || isVia == true)">
              <button type="button" (click)="onSelectViaAvoid('VIA')"
              mat-button [ngClass]="{'via-avoid-active-btn': selectedButton === 'VIA'}" aria-label="Via">
                Via
              </button>
              <button type="button" [ngClass]="{'via-avoid-active-btn': selectedButton === 'AVOID'}" (click)="onSelectViaAvoid('AVOID')"
              mat-button aria-label="Avoid">
                Avoid
              </button>
          </div>
          <!----- End Via Avoid ----->

          <!----- Search Station ----->
          <form [formGroup]="locationForm">
            <div class="search-station" *ngIf="isDeparture == true && isViaAvoid == false">
              <mat-label>Search for station name</mat-label>
              <mat-icon matPrefix><img src="assets/images/new-design-img/search-icons.svg" alt="" aria-hidden="true"></mat-icon>
              <mat-form-field appearance="outline" class="example-form-field common-floting-input">
                <input matInput type="text" aria-label="Search for station name" placeholder="Enter 3 or more characters" formControlName="departureLocationName" (keydown)="onLocationChanges($event)" 
                [matAutocomplete]="departureAutoSingle" required class="cursor-pointer">
                <button
                  *ngIf="locationForm.get('departureLocationName')?.value"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearDepartureField('departureLocationName')"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <mat-autocomplete #departureAutoSingle="matAutocomplete">
              </mat-autocomplete>
            </div>
            <div class="search-station" *ngIf="isArrving">
              <mat-label>Search for station name</mat-label>
              <mat-icon matPrefix><img src="assets/images/new-design-img/search-icons.svg" alt="" aria-hidden="true"></mat-icon>
              <mat-form-field appearance="outline" class="example-form-field common-floting-input">
              
                <input matInput type="text" aria-label="Search for station name" placeholder="Enter 3 or more characters" formControlName="arrivalLocationName" (keydown)="onLocationChanges($event)" 
                [matAutocomplete]="arrivalAutoSingle" required class="cursor-pointer">
                <button
                  *ngIf="locationForm.get('arrivalLocationName')?.value"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearDepartureField('arrivalLocationName')"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <mat-autocomplete #arrivalAutoSingle="matAutocomplete">
              </mat-autocomplete>
            </div>
            <div class="search-station" *ngIf="isDeparture == false && isViaAvoid == true">
              <mat-label>Search for station name</mat-label>
              <mat-icon matPrefix><img src="assets/images/new-design-img/search-icons.svg" alt="" aria-hidden="true"></mat-icon>
              <mat-form-field appearance="outline" class="example-form-field common-floting-input">
                <input class="cursor-pointer" matInput type="text" aria-label="Search for station name" placeholder="Enter 3 or more characters" formControlName="viaAvoidStationName" [matAutocomplete]="viaAvoidStation" (keydown)="onLocationChanges($event)" required>
                <button
                  *ngIf="locationForm.get('viaAvoidStationName')?.value"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearDepartureField('viaAvoidStationName')"
                >
                </button>
              </mat-form-field>
              <mat-autocomplete #viaAvoidStation="matAutocomplete">
              </mat-autocomplete>
            </div>
          </form>
          <!----- End Search Station ----->

          <!----- Stations ----->
          <div class="stations-list" *ngIf="isDeparture == true && isViaAvoid == false">
              <div class="stations-types" *ngIf="(filteredDeparturesFavourite | async) as favs">
                  <ng-container *ngIf="favs.length > 0">
                      <p *ngIf="showFavourite">Favourite stations</p>
                      <div class="station-list-popup">
                        <div class="stations-name" *ngFor="let a of filteredDeparturesFavourite | async" (click)="onStationSelected(a.Name, a.Id)">
                            <button mat-button class="staions-name-div">
                                <div class="return-station-name">
                                  {{a.Name}}
                                </div>
                            </button>
                        </div>
                      </div>
                  </ng-container>
              </div>
 
              <div class="stations-types" *ngIf="(filteredDeparturesPopular | async) as pops">
                  <ng-container *ngIf="pops.length > 0">
                      <p *ngIf="showPopular">Popular stations</p>
                      <div class="station-list-popup">
                          <div class="stations-name" *ngFor="let a of filteredDeparturesPopular | async" (click)="onStationSelected(a.Name, a.Code)">
                              <button mat-button class="staions-name-div">
                                  <div class="return-station-name">{{a.Name}}</div>
                              </button>
                          </div>
                      </div>  
                  </ng-container>
              </div>
 
              <div class="stations-types" *ngIf="filteredDeparturesMore">
                  <ng-container>
                      <p *ngIf="showMoreStation">More stations</p>
                      <div class="station-list-popup">
                          <div class="stations-name" *ngFor="let a of filteredDeparturesMore | async" (click)="onStationSelected(a.Name, a.Id)">
                              <button mat-button class="staions-name-div">
                                  <div class="return-station-name">
                                    {{a.Name}}
                                  </div>
                              </button>
                          </div>
                      </div>
                  </ng-container>
              </div>
          </div>

          <div class="stations-list" *ngIf="isArrving">
            <div class="stations-types" *ngIf="(filteredArrivalsFavourite | async) as arrfavs">
              <ng-container *ngIf="arrfavs.length > 0">
                <p *ngIf="showFavourite">Favourite stations</p>
                <div class="station-list-popup">
                  <div class="stations-name" *ngFor="let a of filteredArrivalsFavourite | async"
                    (click)="onStationSelected(a.Name, a.Id)">
                    <button mat-button class="staions-name-div">
                      <div class="return-station-name">{{a.Name}}</div>
                    </button>
                  </div>
                </div>
              </ng-container>
              
              </div>

              <div class="stations-types" *ngIf="(filteredArrivalsPopular | async) as arrPop">
                <ng-container *ngIf="arrPop.length > 0">
                  <p *ngIf="showPopular">Popular stations</p>
                  <div class="station-list-popup">
                    <div class="stations-name" *ngFor="let a of filteredArrivalsPopular | async"
                      (click)="onStationSelected(a.Name, a.Code)">
                      <button mat-button class="staions-name-div">
                        <div class="return-station-name">{{a.Name}}</div>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>

              <div class="stations-types" *ngIf="filteredArrivalsMore">
                <ng-container>
                  <p *ngIf="showMoreStation">More stations</p>
                  <div class="station-list-popup">
                    <div class="stations-name" *ngFor="let a of filteredArrivalsMore | async" (click)="onStationSelected(a.Name, a.Id)">
                      <button mat-button class="staions-name-div">
                        <div class="return-station-name">{{a.Name}}</div>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>
          </div>

          <div class="stations-list" *ngIf="isDeparture == false && isViaAvoid == true">
              <div class="stations-types" *ngIf="(filteredViaAvoidFavourite | async) as viafavs">
                <ng-container *ngIf="viafavs.length > 0">
                  <p *ngIf="showFavourite">Favourite stations</p>
                  <div class="station-list-popup">
                    <div class="stations-name" *ngFor="let a of filteredViaAvoidFavourite | async"
                      (click)="(DepartureLocationName != a.Name && ArrivalLocationName != a.Name) && onStationSelected(a.Name, a.Id)">
                      <button mat-button class="staions-name-div"
                        [class.cursor-disabled]="DepartureLocationName === a.Name || ArrivalLocationName === a.Name">
                        <div class="return-station-name">{{a.Name}}</div>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>

              <div class="stations-types" *ngIf="(filteredViaAvoidPopular | async) as viaPop">
                <ng-container *ngIf="viaPop.length > 0">
                  <p *ngIf="showPopular">Popular stations</p>
                  <div class="station-list-popup">
                    <div class="stations-name" *ngFor="let a of filteredViaAvoidPopular | async"
                      (click)="(DepartureLocationName != a.Name && ArrivalLocationName != a.Name) && onStationSelected(a.Name, a.Code)">
                      <button mat-button class="staions-name-div"
                        [class.cursor-disabled]="DepartureLocationName === a.Name || ArrivalLocationName === a.Name">
                        <div class="return-station-name">{{a.Name}}</div>
                      </button>
                    </div>
                  </div>
                </ng-container>
                  
              </div>

              <div class="stations-types" *ngIf="filteredViaAvoidMore">
                <ng-container>
                  <p *ngIf="showMoreStation">More stations</p>
                  <div class="station-list-popup">
                    <div class="stations-name" *ngFor="let a of filteredViaAvoidMore | async"
                      (click)="(DepartureLocationName != a.Name && ArrivalLocationName != a.Name) && onStationSelected(a.Name, a.Id)">
                      <button mat-button class="staions-name-div"
                        [class.cursor-disabled]="DepartureLocationName === a.Name || ArrivalLocationName === a.Name">
                        <div class="return-station-name">{{a.Name}}</div>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>
          </div>
          <!----- End Stations ----->
      </div>
    </div>
  </ng-content>
</app-enhanced-basic-dialog>