<app-basic-dialog [dialogTitle]="headerTitle" [dialogFooter]="dialogFooter" [showIdleTimer]="timeCounter" [iconClose]="false">
    <div class="common-popup-theme-in">
        <div class="common-popup-theme-border">
            <div *ngIf="data.isIdleNotify" class="common-popup-theme-middle common-popup-theme-fare-middle common-popup-theme-why-middle">
                <p class="m-0 f-16 lh-22 font-400 popup-p-sapce text-justify">
                    Due to inactivity your session will expire in 5 minutes unless you extend the session.
                </p>
            </div>
            <div *ngIf="!data.isIdleNotify" class="common-popup-theme-middle common-popup-theme-fare-middle common-popup-theme-why-middle session-timeout-signout">
                <p class="m-0 f-16 lh-22 font-400 text-black"> 
                    You've been signed out - please sign in to continue
                </p>
            </div>
        </div>
    </div>
</app-basic-dialog>
<ng-template #dialogFooter>
    <div class="common-popup-theme-footer">
        <div class="atag-new-default-outline">
            <button mat-dialog-close mat-button class="new-default-outline-btn mr-24 back-home-page-btn" (click)="backTohomePage()">{{sessionTimeOutEnum.backToHomePageCTA}}</button>
            <button *ngIf="data.isIdleNotify" class="new-default-btn w-xs-100 extend-session-btn" mat-dialog-close mat-button (click)="extendSession()">{{sessionTimeOutEnum.extendMySessionCTA}}</button>
            <button *ngIf="!data.isIdleNotify" class="new-default-btn w-xs-100 extend-session-btn" mat-dialog-close mat-button (click)="goToSignIn()">{{sessionTimeOutEnum.signInCTA}}</button>
        </div>
    </div>
</ng-template>
