<app-basic-dialog [dialogTitle]="headerTitle" [dialogFooter]="dialogFooter" [sentEmailSuccessCheck]="data?.displayedSuccessIcon" [verifyEmailError]="data?.displayedErrorIcon">
    <div id="mpfp-common-popup-main" class="common-popup-theme-in">
        <div id="mpfp-common-popup-border" class="common-popup-theme-border">
            <div id="mpfp-common-popup-theme-middle" class="common-popup-theme-middle common-popup-theme-fare-middle common-popup-theme-why-middle" *ngIf="data?.IsEmailChangeVerificationMailSent">
                <p id="mpfp-common-popop-emailMessage" class="m-0 f-16 lh-22 font-400 popup-p-sapce text-justify">
                    {{forgotPasswordMsgEnum.resetEmailVerificationLinkMsg}}
                </p>
            </div>
            <div id="mpfp-common-popup-theme-middle"
                class="common-popup-theme-middle common-popup-theme-fare-middle common-popup-theme-why-middle"
                *ngIf="data?.IsVerificationEmailSentFromBooking">
                <p id="mpfp-common-popop-emailMessage" class="m-0 f-16 lh-22 font-400 popup-p-sapce text-justify" [innerHTML] = "data?.infoMsg">
                   
                </p>
            </div>
            <div id="mpfp-common-popup-theme-middle2" *ngIf="data?.IsEmailSend" class="common-popup-theme-middle common-popup-theme-fare-middle common-popup-theme-why-middle">
                <div id="mpfp-forgot-success" class="forgot-password-sucess">
                    <p id="mpfp-forgot-success-txt" class="f-16 font-700 font-dark lh-22">
                        You'll get an email in the next few minutes with a link to reset your password.
                    </p>
                    <p id="mpfp-forgot-success-points" class="f-16 font-dark lh-22 mt-27 mb-27">
                        If the email doesn't arrive in the next few minutes:
                    </p>
                    <ul id="mpfp-forgot-success-correct-email" class="m-0 p-0">
                        <li id="mpfp-forgot-success-correct-email-add" class="f-16 lh-22 font-dark mb-12">
                            1. Make sure the email address you typed is correct
                        </li>
                        <li id="mpfp-forgot-success-check-email" class="f-16 lh-22 font-dark mb-12">
                            2. Check your junk or spam folders
                        </li>
                        <li id="mpfp-forgot-success-already-register" class="f-16 lh-22 font-dark">
                            3. If the email address isn't already registered with us, <span id="mpfp-forgot-success-sign-up" class="d-block">you can <a id="mpfp-forgot-success-sign-up-link" (click)="commonService.goToSignUp()" class="dark-spark c-pointer">Sign up here</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</app-basic-dialog>
<ng-template #dialogFooter>
    <div id="mpfp-common-popup-theme-footer" class="common-popup-theme-footer">
        <button id="mpfp-common-popup-okBtn" class="new-default-btn w-xs-100" mat-dialog-close mat-button>Okay</button>
    </div>
</ng-template>
