<app-header></app-header>
<div class="offers-headline-container">
    <usp-banner></usp-banner>
</div>
<div class="container-fluid register-page-container old-register-page" *ngIf="isReg">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 mobile-padding-0">
                    <div class="account-box bg-white">
                        <div class="account-box-title">
                            <h1 class="m-0 color-graphene font-600 text-center">Create an Account</h1>
                            <div class="account-title-border"></div>
                        </div>
                        <div class="account-box-middle">
                            <div *ngIf="register.invalid && showBanner" class="error-banner-bx" role="alert">
                                <h2 class="f-18 text-spark-dark">
                                    <button class="simple-btn" (click)="hideBanner()">
                                        <img src="assets/images/close-orange.svg" alt="close_icon">
                                    </button>
                                    Please amend the errors in the following mandatory fields.
                                </h2>
                                <div *ngIf="isSubmitted" class="ps-2">
                                    <ul class="text-spark-dark font-500">
                                        <li *ngIf="register.get('email').touched && register.get('email').hasError('emailRegexError')">
                                            Email: Email is not valid.
                                        </li>
                                        <li *ngIf="register.get('email').touched && register.get('email').hasError('required')">
                                            Email: Please complete this mandatory field.
                                        </li>
                                        <li *ngIf="register.get('email').touched && register.get('email').hasError('maxlength')">
                                            Email: Invalid email address length. Please enter a valid email address.
                                        </li>
                                        <li *ngIf="register.get('confirmEmail').touched && register.get('confirmEmail').hasError('required')">
                                            Repeat Email: Please complete this mandatory field.
                                        </li>
                                        <li *ngIf="register.get('confirmEmail').touched && register.get('confirmEmail').errors && !register.get('confirmEmail').hasError('required')">
                                            Repeat Email: Email must be a match
                                        </li>
                                        
                                        <li *ngIf="register.get('other').hasError('other')">
                                           Other Title: Please complete this mandatory field.
                                        </li>
                                        <li *ngIf="register.get('firstName').touched && register.get('firstName').hasError('required')">
                                            First Name: Please complete this mandatory field.
                                        </li>
                                        <li *ngIf="register.get('firstName').touched && register.get('firstName').hasError('pattern')">
                                            First Name: First Name is invalid.
                                        </li>
                                        <li *ngIf="register.get('lastName').touched && register.get('lastName').hasError('required')">
                                            Surname: Please complete this mandatory field.
                                        </li>
                                        <li *ngIf="register.get('lastName').touched && register.get('lastName').hasError('pattern')">
                                            Surname: Surname is invalid.
                                        </li>
                                        <li *ngIf="register.get('lastName').touched && register.get('lastName').hasError('minlength')">
                                            Surname: Surname must contain at least 2 characters.
                                        </li>
                                        <li
                                            *ngIf="(register.get('dobMonth').touched && register.get('dobMonth').invalid && !register.get('dobMonth').hasError('isClubAvantiError'))||(register.get('dobYear').touched && register.get('dobYear').invalid)">
                                            DOB: Please enter a valid date of birth (mm/yyyy)
                                        </li>
                                        <li *ngIf="register.get('dobMonth').touched && register.get('dobMonth').hasError('isClubAvantiError')">
                                            DOB: You have to be over 16 years old to join Club Avanti
                                        </li>
                                        <li *ngIf="register.get('password').untouched && !(register.get('password').hasError('pattern') || register.get('password').hasError('specialCharMoreThanOne'))">
                                            Password: At least 1 number, 1 uppercase letter, 1 lowercase letter and 1 special character (!,-_.&#64;;:$%^[\]?=>/<).
                                        </li>
                                        <li *ngIf="register.get('password').touched && register.get('password').hasError('required')">
                                            Password: Please complete this mandatory field.
                                        </li>
                                        <li *ngIf="register.get('password').touched && (register.get('password').hasError('pattern') || register.get('password').hasError('specialCharMoreThanOne'))">
                                            Password: 10 or more characters, at least 1 number. 1 uppercase letter, 1 lowercase letter and 1 special character (!,-_.&#64;;:$%^[\]?=>/<).
                                        </li>
                                        <li *ngIf="register.get('postCode').touched && register.get('postCode').hasError('required')">
                                            Postcode: Please complete this mandatory field.
                                        </li>
                                        <li *ngIf="register.get('postCode').touched && register.get('postCode').hasError('minlength')">
                                            Postcode: Incorrect postcode format, please check and re-enter.
                                        </li>
                                        <li *ngIf="register.get('postCode').touched && register.get('postCode').hasError('pattern')">
                                            Postcode: Postcode is invalid.
                                        </li>
                                        <li *ngIf="register.get('address1').touched && register.get('address1').hasError('required')">
                                            First Line: Please complete this mandatory field.
                                        </li>
                                        <li *ngIf="register.get('address1').touched && register.get('address1').hasError('pattern')">
                                            First Line: First Line is invalid.
                                        </li>
                                        <li *ngIf="register.get('address2').touched && register.get('address2').hasError('pattern')">
                                            Second Line: Second Line is invalid.
                                        </li>
                                        <li *ngIf="register.get('address3').touched && register.get('address3').hasError('pattern')">
                                            Third Line: Third Line is invalid.
                                        </li>
                                        <li *ngIf="register.get('city').touched && register.get('city').hasError('required')">
                                            City/Town: Please complete this mandatory field.
                                        </li>
                                        <li *ngIf="register.get('city').touched && register.get('city').hasError('pattern')">
                                            City/Town: City is invalid.
                                        </li>
                                        <li *ngIf="register.get('country').touched && register.get('country').hasError('pattern')">
                                            Country: Country is invalid.
                                        </li>
                                        <li *ngIf="register.get('mobile').touched && register.get('mobile').hasError('checkZeroPosition')">
                                            Mobile Number: Mobile number should between 11 and 14 digits,Mobile number should be start with 0 or +.
                                        </li>
                                        <li *ngIf="register.get('mobile').hasError('letterError')">
                                            Mobile Number: Mobile number should not contain any letter
                                        </li>
                                        <li *ngIf="register.get('confirmPolicy').hasError('required') && isSubmitted">
                                            T & C: Please complete this mandatory field.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <form [formGroup]="register" (ngSubmit)="submit()" class="upgrade-post-edit-form">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-24">
                                            <label class="font-dark font-700 f-16 lh-22 mb-8" for='emailid'>
                                                Email
                                                <span class="dark-spark font-700 f-16 lh-22">*</span>
                                            </label>     
                                            <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                <input matInput type="text" formControlName="email" [ngClass]="{ 'is-invalid': register.get('email').errors  && isSubmitted}" [prevent-keys]="[32]" required id="emailid" aria-label="Eamil address">
                                                <mat-error>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('email').touched && register.get('email').hasError('required')">
                                                        Please complete this mandatory field.
                                                    </span>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('email').touched && register.get('email').hasError('emailRegexError')">
                                                        Email is not valid.
                                                    </span>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('email').touched && register.get('email').hasError('maxlength')">
                                                        Invalid email address length. Please enter a valid email address.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-24">
                                            <label class="font-dark font-700 f-16 lh-22 mb-8" for='repeatemailid'>
                                                Repeat Email
                                                <span class="dark-spark font-700 f-16 lh-22">*</span>
                                            </label>     
                                            <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                <input matInput type="text" placeholder="Confirm email address" formControlName="confirmEmail" [ngClass]="{ 'is-invalid': register.get('confirmEmail').errors  && isSubmitted}" [prevent-keys]="[32]" id="repeatemailid" aria-label="Repeat email address">
                                                <mat-error>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('confirmEmail').touched && register.get('confirmEmail').hasError('required')">
                                                        Please complete this mandatory field.
                                                    </span>
                                                    <span class="dark-spark f-12 lh-16 mb-0 d-none" #val_err>
                                                        Please Type your Email again
                                                    </span>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('confirmEmail').touched && register.get('confirmEmail').errors && !register.get('confirmEmail').hasError('required')">
                                                        Email must be a match
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-12" id="title">
                                        <div class="mb-24 upgrade-mat-select">
                                            <label class="font-dark font-700 f-16 lh-22 mb-8">
                                                Title
                                            </label>
                                            <mat-form-field class="d-block example-full-width default-input default-input-brdr new-select" floatLabel="never">
                                                <mat-select aria-labelledby="title" aria-busy="true" [(value)]="selected" formControlName="title" class="border-gray f-16">
                                                    <mat-option value="">Choose Title</mat-option>
                                                    <mat-option *ngFor="let title of commonService.titleListArray" [value]="title">{{title}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-12" *ngIf="register.get('title').value =='Other'">
                                        <div class="mb-24">
                                            <label class="font-dark font-700 f-16 lh-22 mb-8" for='other'>
                                                Other Title
                                                <span class="dark-spark font-700 f-16 lh-22">*</span>
                                            </label>     
                                            <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                <input matInput id="other" type="text" formControlName="other" aria-label="Other title">
                                                <mat-error>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('other').hasError('other')">
                                                        Please complete this mandatory field.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-24">
                                            <label class="font-dark font-700 f-16 lh-22 mb-8" for='firstName'>
                                                First Name
                                                <span class="dark-spark font-700 f-16 lh-22">*</span>
                                            </label>     
                                            <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                <input matInput id="firstName" type="text" formControlName="firstName" maxlength="50" aria-label="First name">
                                                <mat-error>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('firstName').touched && register.get('firstName').hasError('required')">
                                                        Please complete this mandatory field.
                                                    </span>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('firstName').touched && register.get('firstName').hasError('pattern')">
                                                        First Name is invalid.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-24">
                                            <label class="font-dark font-700 f-16 lh-22 mb-8" for='lastName'>
                                                Surname
                                                <span class="dark-spark font-700 f-16 lh-22">*</span>
                                            </label>     
                                            <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                <input matInput id="lastName" type="text" formControlName="lastName" minlength="2" maxlength="50" aria-label="Surname">
                                                <mat-error>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('lastName').touched && register.get('lastName').hasError('required')">
                                                        Please complete this mandatory field.
                                                    </span>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('lastName').touched && register.get('lastName').hasError('minlength')">
                                                        Surname must contain at least 2 characters.
                                                    </span>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('lastName').touched && register.get('lastName').hasError('pattern')">
                                                        Surname is invalid.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-24">
                                            <label class="font-dark font-700 f-16 lh-22 mb-8">
                                                Date of Birth
                                            </label>
                                            <div class="row">
                                                <div class="col-6" id="mm">
                                                    <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                        <input aria-label="Month of date of birth" matInput type="text" placeholder="MM" formControlName="dobMonth" maxlength="2" (blur)="convertMonth()" id="dateofbirth">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-6" id="yy">
                                                    <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                        <input aria-label="Year of date of birth" #dobField matInput type="text" placeholder="YYYY" formControlName="dobYear" maxlength="4">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <mat-error>
                                                <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('dobMonth').touched && register.get('dobMonth').hasError('isClubAvantiError')">
                                                    You have to be over 16 years old to join Club Avanti
                                                </span>
                                                <span class="dark-spark f-12 lh-16 mb-0" *ngIf="(register.get('dobMonth').touched && register.get('dobMonth').invalid && !register.get('dobMonth').hasError('isClubAvantiError'))||(register.get('dobYear').touched && register.get('dobYear').invalid)">
                                                    Please enter a valid date of birth (mm/yyyy)
                                                </span>
                                            </mat-error>
                                        </div>
                                    </div>
                                    <div class="col-12 new-version-input">
                                        <div class="mb-24 registration-password-field">
                                            <label class="font-dark font-700 f-16 lh-22 mb-8" for='password'>
                                                Password
                                                <span class="dark-spark font-700 f-16 lh-22">*</span>
                                            </label>     
                                            <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                <input capsLockDetect (capsLockOn)="capsLock = $event" matInput id="password" placeholder="Use 10 or more characters" [type]="fieldTextType ? 'text' : 'password'" formControlName="password"
                                                [prevent-keys]="[32,34,35,38,39,40,41,42,43,96,9,128,123,124,125,126]" maxlength="25" aria-label="Password">
                                                <button mat-button class="f-16" type="button" matSuffix (click)="fieldTextType = !fieldTextType" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="fieldTextType">
                                                    <mat-icon id="rc-password-visible-hide-icon">
                                                        {{fieldTextType ? 'visibility' : 'visibility_off'}}
                                                    </mat-icon>
                                                </button>
                                                <mat-error>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('password').touched && register.get('password').hasError('required')">
                                                        Please complete this mandatory field.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                            <p class="capslock-txt" *ngIf="capsLock === 1">
                                                Caps lock is on
                                            </p>
                                            <div class="common-caption common-caption-position">
                                                <span class="common-caption-txt" *ngIf="register.get('password').untouched && !(register.get('password').hasError('pattern') || register.get('password').hasError('specialCharMoreThanOne'))">
                                                    At least 1 number, 1 uppercase letter, 1 lowercase letter and 1 special character (!,-_.&#64;;:$%^[\]?=>/<).
                                                </span>
                                                <span class="common-caption-txt dark-spark" *ngIf="register.get('password').touched && (register.get('password').hasError('pattern') || register.get('password').hasError('specialCharMoreThanOne'))">
                                                    10 or more characters, at least 1 number. 1 uppercase letter, 1 lowercase letter and 1 special character (!,-_.&#64;;:$%^[\]?=>/<).
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12" [ngClass]="!isManualAddressSelected ? 'show-full-Address' : 'hide-full-Address'">
                                        <div class="mb-8">
                                            <label class="font-dark font-700 f-16 lh-22 mb-8" for='formattedAddress'>
                                                Address
                                                <span class="dark-spark font-700 f-16 lh-22">*</span>
                                            </label>     
                                            <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                <input matInput id="formattedAddress" [prevent-keys]="[32]" type="text" formControlName="formattedAddress" aria-label="Address"
                                                placeholder="Enter your address or postcode">
                                                <button mat-button class="f-14 addressInput" type="button" matSuffix aria-label="Search Address">
                                                    <span>
                                                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M13.425 13.7314L8.49375 8.8002C8.11875 9.1252 7.68151 9.37832 7.18202 9.55957C6.68253 9.74082 6.15103 9.83145 5.5875 9.83145C4.23548 9.83145 3.09122 9.3627 2.15473 8.4252C1.21824 7.4877 0.75 6.35645 0.75 5.03145C0.75 3.70645 1.21875 2.5752 2.15625 1.6377C3.09375 0.700195 4.22813 0.231445 5.55938 0.231445C6.89063 0.231445 8.02188 0.700195 8.95312 1.6377C9.88438 2.5752 10.35 3.70738 10.35 5.03426C10.35 5.56988 10.2625 6.0877 10.0875 6.5877C9.9125 7.0877 9.65 7.55645 9.3 7.99395L14.25 12.9064L13.425 13.7314ZM5.56875 8.70645C6.58438 8.70645 7.44766 8.34707 8.15859 7.62832C8.86953 6.90957 9.225 6.04395 9.225 5.03145C9.225 4.01895 8.86953 3.15332 8.15859 2.43457C7.44766 1.71582 6.58438 1.35645 5.56875 1.35645C4.54271 1.35645 3.67057 1.71582 2.95234 2.43457C2.23411 3.15332 1.875 4.01895 1.875 5.03145C1.875 6.04395 2.23411 6.90957 2.95234 7.62832C3.67057 8.34707 4.54271 8.70645 5.56875 8.70645Z" fill="black"/>
                                                        </svg>                                                            
                                                    </span>
                                                </button>
                                                <mat-error>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('formattedAddress').touched && register.get('formattedAddress').hasError('required')">
                                                        Please complete this mandatory field.
                                                    </span>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('formattedAddress').touched && register.get('formattedAddress').hasError('pattern')">
                                                        Address is invalid.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="hide-full-Address">
                                            <input matInput id="postCodeFA" type="text" formControlName="postCodeFA">
                                            <input matInput id="address1FA" type="text" formControlName="address1FA">
                                            <input matInput id="address2FA" type="text" formControlName="address2FA">
                                            <input matInput id="address3FA" type="text" formControlName="address3FA">
                                            <input matInput id="cityFA" type="text" formControlName="cityFA">
                                            <input matInput id="countryFA" type="text" formControlName="countryFA">
                                        </div>
                                    </div>
                                    <div class="col-12" [ngClass]="isManualAddressSelected ? 'show-full-Address' : 'hide-full-Address' ">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-24">
                                                    <label class="font-dark font-700 f-16 lh-22 mb-8" for='postCode'>
                                                        Postcode
                                                        <span class="dark-spark font-700 f-16 lh-22">*</span>
                                                    </label>     
                                                    <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                        <input matInput id="pc" type="text" formControlName="postCode" maxlength="10" aria-label="Postcode">
                                                        <mat-error>
                                                            <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('postCode').touched && register.get('postCode').hasError('required')">
                                                                Please complete this mandatory field.
                                                            </span>
                                                            <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('postCode').touched && register.get('postCode').hasError('minlength') && !register.get('postCode').hasError('pattern')">
                                                                Incorrect postcode format, please check and re-enter.
                                                            </span>
                                                            <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('postCode').touched && register.get('postCode').hasError('pattern')">
                                                                Postcode is invalid.
                                                            </span>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-24">
                                                    <label class="font-dark font-700 f-16 lh-22 mb-8" for='address1'>
                                                        First Line
                                                        <span class="dark-spark font-700 f-16 lh-22">*</span>
                                                    </label>     
                                                    <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                        <input matInput id="add1" type="text" formControlName="address1" aria-label="First line of address" maxlength="50">
                                                        <mat-error>
                                                            <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('address1').touched  && register.get('address1').hasError('required')">
                                                                Please complete this mandatory field.
                                                            </span>
                                                            <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('address1').touched && register.get('address1').hasError('pattern')">
                                                                First Line is invalid.
                                                            </span>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-24">
                                                    <label class="font-dark font-700 f-16 lh-22 mb-8" for='address2'>
                                                        Second Line
                                                    </label>     
                                                    <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                        <input matInput id="add2" type="text" formControlName="address2" aria-label="Second line of address" maxlength="50">
                                                        <mat-error>
                                                            <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('address2').touched && register.get('address2').hasError('pattern')">
                                                                Second Line is invalid.
                                                            </span>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-24">
                                                    <label class="font-dark font-700 f-16 lh-22 mb-8" for='address3'>
                                                        Third Line
                                                    </label>     
                                                    <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                        <input matInput id="add3" type="text" formControlName="address3" aria-label="Third line of address" maxlength="50">
                                                        <mat-error>
                                                            <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('address3').touched && register.get('address3').hasError('pattern')">
                                                                Third Line is invalid.
                                                            </span>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-24">
                                                    <label class="font-dark font-700 f-16 lh-22 mb-8" for='city'>
                                                        City/Town
                                                        <span class="dark-spark font-700 f-16 lh-22">*</span>
                                                    </label>     
                                                    <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                        <input matInput id="ci" type="text" formControlName="city" aria-label="City Town" maxlength="58">
                                                        <mat-error>
                                                            <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('city').touched  && register.get('city').hasError('required')">
                                                                Please complete this mandatory field.
                                                            </span>
                                                            <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('city').touched && register.get('city').hasError('pattern')">
                                                                City is invalid.
                                                            </span>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-8">
                                                    <label class="font-dark font-700 f-16 lh-22 mb-8" for='country'>
                                                        Country
                                                    </label>     
                                                    <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                        <input matInput id="co" type="text" formControlName="country" aria-label="Country" maxlength="58">
                                                        <mat-error>
                                                            <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('country').touched && register.get('country').hasError('pattern')">
                                                                Country is invalid.
                                                            </span>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-24">
                                        <!-- New registration page UI changes -->
                                        <button type="button" class="p-0 lh-16 f-12 font-400 font-dark underline mobile-pad-0 upgrade-f-12" style="padding: 0 !important;" mat-button *ngIf = "!isManualAddressSelected" (click)="showOtherAddressFields()">
                                            Enter address manually 
                                        </button>
                                        <button type="button" class="p-0 lh-16 f-12 font-400 font-dark underline mobile-pad-0 upgrade-f-12" style="padding: 0 !important;" mat-button *ngIf = "isManualAddressSelected" (click)="showOtherAddressFields()">
                                            Search for address
                                        </button>
                                    </div>
                                    <div class="col-12">
                                        <div class="mobile-container">
                                            <label class="font-dark font-700 f-16 lh-22 mb-8" for='Mobile'>
                                                Mobile
                                            </label>     
                                            <mat-form-field class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                                <input matInput id="Mobile" type="text" formControlName="mobile" aria-label="Mobile" maxlength="14" appOnlyMobilenumber (keydown)="CheckLetterPresence($event)">
                                                <mat-error>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf="register.get('mobile').touched && register.get('mobile').hasError('checkZeroPosition')">
                                                        Mobile number should between 11 and 14 digits, Mobile number should be start with 0 or +.
                                                    </span>
                                                    <span class="dark-spark f-12 lh-16 mb-0" *ngIf=" register.get('mobile').hasError('letterError')">
                                                        Mobile number should not contain any letter
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                            <div class="common-caption common-caption-position">
                                                <span class="common-caption-txt">
                                                    Get live travel updates sent straight to your phone.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-16 mt-50">
                                        <label class="c-pointer mb-0" for="chk_joinClub">
                                            <p class="f-14 lh-21 font-400 mb-0 d-flex align-items-center gap-08 word-break-word">
                                                <span class="new-input-checkbox top-6 position-relative">
                                                    <input type="checkbox" id="chk_joinClub" formControlName="confirmClubAvanti">
                                                </span>
                                                <span>
                                                    Join Club Avanti, our loyalty program to earn free travel and exclusive discounts. I also confirm I am 16+ and accept the 
                                                    <a href="https://www.avantiwestcoast.co.uk/tickets-and-savings/club-avanti#ts&cs"
                                                        class="dark-spark underline font-400" target="_blank" rel="noopener">
                                                        Club Avanti Terms and Conditions
                                                    </a>
                                                </span>
                                            </p>
                                        </label>
                                    </div>
                                    
                                    <div class="col-12 mb-16">
                                        <label class="c-pointer mb-0" for="chk_privacyPolicy">
                                            <p class="f-14 lh-21 font-400 mb-0 d-flex align-items-center gap-08 word-break-word">
                                                <span class="new-input-checkbox top-3 position-relative">
                                                    <input type="checkbox" id="chk_privacyPolicy" formControlName="confirmPolicy" required>
                                                </span>
                                                <span>
                                                    I accept the 
                                                    <a [href]="footerNavigationLinkEnum?.privacyPolicy" target="_blank" rel="noopener" class="dark-spark underline font-400">
                                                        Privacy Policy
                                                    </a>
                                                    and
                                                    <a href="https://www.avantiwestcoast.co.uk/about-us/policies-and-procedures/terms-and-conditions" class="dark-spark underline font-400" target="_blank" rel="noopener">
                                                        Terms and Conditions
                                                    </a> 
                                                </span>
                                            </p>
                                        </label>
                                    </div>
                                    <div class="col-12" *ngIf="register.get('confirmPolicy').hasError('required') && isSubmitted">
                                        <span class="validation-err">Please complete this mandatory field.</span>
                                    </div>
                                    <div class="col-12">
                                        <label class="c-pointer mb-0" for="chk_remeberMe">
                                            <p class="f-14 lh-21 font-400 mb-0 d-flex align-items-center gap-08 word-break-word" id="para2">
                                                <span class="new-input-checkbox top-3 position-relative">
                                                    <input type="checkbox" id="chk_remeberMe" formControlName="rememberme">
                                                </span>
                                                <span>
                                                    Remember me on this device
                                                </span>
                                            </p>
                                        </label>
                                    </div>
                                    <div class="col-12 mb-24">
                                        <p *ngIf="error" class="error m-0">
                                            {{ error }}
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <button mat-button class="new-default-btn w-100" type="submit">
                                            Next
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid register-page-container" *ngIf="!isReg">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 mobile-padding-0">
                    <div class="account-box bg-white">
                        <div class="account-box-title">
                            <div class="account-create-icon mb-04 d-flex justify-center">
                                <span>
                                    <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="14.5" cy="14" r="14" fill="#6CAF35"/>
                                        <path d="M12.1326 19.5641L21.6769 10.0198L20.5957 8.90137L12.1326 17.3644L8.81451 14.009L7.69604 15.1275L12.1326 19.5641Z" fill="white" stroke="white" stroke-width="0.75"/>
                                    </svg>                                        
                                </span>
                            </div>
                            <h1 class="m-0 font-600 text-center f-32imp lh-38 font-dark">Account created</h1>
                        </div>
                        <div class="account-box-middle">
                            <form (ngSubmit)="checkCustomerLogin()">
                                <div id="widget-container" class="page">
                                </div>
                                <script async>
                                    const Spinner = (() => {
                                        const page = document.querySelector('.page');
                                        const spinner = document.createElement('p');
                                        spinner.classList.add('spinner');
                                        spinner.appendChild(document.createTextNode('Loading...'))
                                        page.appendChild(spinner);
                                        return {
                                            show: () => spinner.classList.add('spinner--show'),
                                            hide: () => spinner.classList.remove('spinner--show'),
                                            remove: () => page.removeChild(spinner),
                                        }
                                    })()
                                </script>
                                <div class="col-12 mt-24">
                                    <button mat-button class="new-default-btn w-100" type="submit" data-submit-widget mat-button>
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
