<app-enhanced-basic-dialog [dialogFooter]="dialogFooter" class="enhanced-alert-dialogs content-center" [dialogTitle]="headerTitle" role="dialog" aria-modal="true" tabindex="-1">
  <ng-content>
    <div class="enhanced-common-popup-theme">
      <div class="enhanced-common-popup-theme-border">
        <div class="enhanced-common-info-content" role="alert" aria-live="assertive" aria-atomic="true">
          <span class="sr-only">{{ headerTitle }}</span>
          <p>
            Changing your selection will discard any details you've entered. Are you sure you want to continue?
          </p>
        </div>
      </div>
    </div>
  </ng-content>
  <ng-template #dialogFooter>
    <div class="common-popup-theme-footer">
      <div class="two-btn-footer">
        <button mat-dialog-close type="button" mat-button class="outline-btn outline-primary-btn-hover">
          Cancel
        </button>
        <button mat-dialog-close type="button" mat-button class="fill-btn fill-light-hover-btn" (click)="proceed()">
          Yes, change option
        </button>
      </div>
    </div>
  </ng-template>
</app-enhanced-basic-dialog>