<app-enhanced-basic-dialog id="eard-add-railcard-dialog" [dialogFooter]="dialogFooter" class="enhanced-alert-dialogs add-railcard">
  <header id="eard-add-railcard-dialog-header">
    <h1 id="eard-add-railcard-dialog-title" mat-dialog-title>Add Railcard</h1>
    <mat-dialog-actions id="eard-add-railcard-dialog-action" align="end" class="enhanced-action-popup-close">
      <button id="eard-add-railcard-dialog-close-btn" class="enhanced-popup-close-btn" mat-button (click)="onCancelRailcard()" aria-label="Close add railcard modal">
        <img id="eard-add-railcard-dialog-close-icon" src="assets/images/new-design-img/close-icons.svg" alt="" />
      </button>
    </mat-dialog-actions>
  </header>

  <ng-content id="eard-add-railcard-dialog-ng-content">
    <div id="eard-add-railcard-dialog-form" class="enhanced-common-popup-theme" [formGroup]="railcardForm">
      <div id="eard-add-railcard-dialog-border" class="enhanced-common-popup-theme-border">
          <div id="eard-add-railcard-dialog-section" class="add-railcard-section">
            <div id="eard-add-railcard-dialog-row" class="add-railcard-row">
              <div id="eard-add-railcard-dialog-type" class="add-railcard-type w-100">
                <mat-form-field id="eard-add-railcard-dialog-field" appearance="outline" [floatLabel]="'always'" class="common-floting-input select" aria-hidden="true">
                  <mat-label id="eard-add-railcard-dialog-label">Railcard</mat-label>
                  <mat-select id="eard-add-railcard-dialog-select" formControlName="railcardName" (selectionChange)="onRailcardChange($event.value)" class="cursor-pointer">
                    <mat-option id="eard-add-railcard-dialog-option" value="">Select a railcard</mat-option>
                    <mat-option id="eard-add-railcard-dialog-option_{{railcardNameIndex}}" *ngFor="let railcard of railCardModel; let railcardNameIndex = index;" [value]="railcard.Code">
                      {{ railcard.Name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div id="eard-add-railcard-dialog-amount" class="add-railcard-amount">
                <div id="eard-add-railcard-dialog-amount-pax" class="edit-qtt-adult-pax">
                  <button id="eard-add-railcard-dialog-amount-decrease-pax" mat-button [attr.aria-label]="ariaMinusRailcardLabel || getRailcardQuantityAriaLabel(false)" (click)="decrementRailcardCount()" class="pax-decrease-increase-btn pax-decrease-btn"
                  [ngClass]="data.railcardForm.get('railcardCount')?.value > 0 ? '' : 'pax-disabled-btn'" (focus)="resetRailcardAria()">−</button>
                  <mat-form-field id="eard-add-railcard-dialog-amount-field" appearance="outline" [floatLabel]="'always'" 
                  [ngClass]="{'error-border': railcardForm.get('railcardAdult')?.errors?.adultValid || railcardForm.get('railcardChild')?.errors?.childValid }"
                  class="common-floting-input edit-qtt-pax-input">
                      <mat-label id="eard-add-railcard-dialog-amount-label">Amount</mat-label>
                      <input id="eard-add-railcard-dialog-amount-input" matInput type="number" [formControl]="data.railcardForm.get('railcardCount')" disabled  class="cursor-pointer"/>
                  </mat-form-field>
                  <button id="eard-add-railcard-dialog-amount-increase-pax" mat-button [attr.aria-label]="ariaPlusRailcardLabel || getRailcardQuantityAriaLabel(true)" (click)="incrementRailcardCount()" class="pax-decrease-increase-btn pax-increase-btn" (focus)="resetRailcardAria()">+</button>
                </div>
              </div>
            </div>
            <div id="eard-add-railcard-dialog-adult" class="add-railcard-pax">
              <div class="sr-only" aria-live="polite" aria-atomic="true">{{ quantityLiveMessage }}</div>
              <div id="eard-add-railcard-dialog-adult-inner" class="add-railcard-adult w-100" *ngIf="data?.showAdultChildField(railcardForm.get('railcardName').value)">
                <div id="eard-add-railcard-dialog-adult-pax" class="edit-qtt-adult-pax">
                  <button id="eard-add-railcard-dialog-adult-decrease-pax" mat-button [attr.aria-label]="getQuantityFocusLabel('railcardAdult', false)" (click)="decrementRailcardAdult()" class="pax-decrease-increase-btn pax-decrease-btn">−</button>
                  <mat-form-field id="eard-add-railcard-dialog-adult-field" appearance="outline" [floatLabel]="'always'"
                  [ngClass]="{'error-border': railcardFormGroup.get('railcardAdult')?.errors?.adultValidIn }"
                  class="common-floting-input edit-qtt-pax-input">
                      <mat-label id="eard-add-railcard-dialog-adult-label">{{data.railcardForm.get('railcardAdult').value > 1 ? 'Adults' : 'Adult'}}</mat-label>
                      <input id="eard-add-railcard-dialog-adult-total" matInput type="number" [formControl]="data.railcardForm.get('railcardAdult')" tabindex="-1" disabled readonly />
                  </mat-form-field>
                  <button id="eard-add-railcard-dialog-adult-increase" mat-button [attr.aria-label]="getQuantityFocusLabel('railcardAdult', true)" (click)="incrementRailcardAdult()" class="pax-decrease-increase-btn pax-increase-btn">+</button>
                </div>
              </div>
              <div id="eard-add-railcard-dialog-child" class="add-railcard-child w-100" *ngIf="data?.showAdultChildField(railcardForm.get('railcardName').value)">
                <div id="eard-add-railcard-dialog-child-inner" class="edit-qtt-adult-pax">
                  <button id="eard-add-railcard-dialog-child-decrease" mat-button [attr.aria-label]="getQuantityFocusLabel('railcardChild', false)" (click)="decrementRailcardChild()" class="pax-decrease-increase-btn pax-decrease-btn">−</button>
                  <mat-form-field id="eard-add-railcard-dialog-child-field" appearance="outline" [floatLabel]="'always'" 
                  [ngClass]="{'error-border': railcardForm.get('railcardChild')?.errors?.childValidIn }" class="common-floting-input edit-qtt-pax-input">
                      <mat-label id="eard-add-railcard-dialog-child-label">Children</mat-label>
                      <input id="eard-add-railcard-dialog-child-input" matInput  type="number" [formControl]="data.railcardForm.get('railcardChild')" tabindex="-1" disabled readonly />
                  </mat-form-field>
                  <button id="eard-add-railcard-dialog-child-increase" mat-button [attr.aria-label]="getQuantityFocusLabel('railcardChild', true)" (click)="incrementRailcardChild()" class="pax-decrease-increase-btn pax-increase-btn">+</button>
                </div>
              </div>
            </div>
            <div id="eard-add-railcard-dialog-msg" class="add-railcard-msg" *ngIf="railcardFormGroup.get('railcardCount')?.errors && adultChildVisible">
              <div id="eard-add-railcard-dialog-msg-inner" class="info-card w-100" *ngIf="railcardFormGroup.get('railcardCount')?.errors.railcardValid">
                <img id="eard-add-railcard-dialog-msg-icon" src="assets/images/new-design-img/Informative.svg" alt="" aria-hidden="true" />
                <p id="eard-add-railcard-dialog-msg-txt">
                  To use your railcard, number of adults must be between {{railcardFormGroup.get('railcardCount').errors.minValue}}
                   and 
                   {{railcardFormGroup.get('railcardCount').errors.maxValue}}.
                </p>
              </div>
              <div id="eard-add-railcard-dialog-msg-inner2" class="info-card w-100" *ngIf="railcardFormGroup.get('railcardCount')?.errors.disableChildValid">
                <img id="eard-add-railcard-dialog-msg-icon2" src="assets/images/new-design-img/Informative.svg" alt="" aria-hidden="true" />
                <p id="eard-add-railcard-dialog-msg-txt2">
                  To use your railcard, number of children must be {{railcardFormGroup.get('railcardCount').errors.childCount}}.
                </p>
              </div>
            </div>
            <div id="eard-add-railcard-dialog-msg2" class="add-railcard-msg" [formGroup]="railcardForm">
              <div id="eard-add-railcard-dialog-msg2-inner" class="info-card w-100" *ngIf="railcardForm.get('railcardAdult')?.errors && railcardForm.get('railcardAdult')?.errors.adultValid">
                <img id="eard-add-railcard-dialog-msg2-icon" src="assets/images/new-design-img/Informative.svg" alt="" aria-hidden="true" />
                <p id="eard-add-railcard-dialog-msg2-txt">
                  Railcards passenger number cannot be higher than overall passenger number.
                </p>
              </div>
              <div id="eard-add-railcard-dialog-msg2-inner2" class="info-card w-100" *ngIf="railcardForm.get('railcardChild')?.errors && !railcardForm.get('railcardAdult')?.errors && railcardForm.get('railcardChild')?.errors.childValid">
                <img id="eard-add-railcard-dialog-msg2-icon2" src="assets/images/new-design-img/Informative.svg" alt="" aria-hidden="true" />
                <p id="eard-add-railcard-dialog-msg2-txt2">
                  Railcards passenger number cannot be higher than overall passenger number.
                </p>
              </div>
            </div>
            <div id="eard-add-railcard-dialog-msg3" class="add-railcard-msg" *ngIf="railcardFormGroup.get('railcardAdult')?.errors && !railcardFormGroup.get('railcardCount')?.errors && adultChildVisible">
              <div id="eard-add-railcard-dialog-msg3-inner" class="info-card w-100" *ngIf="railcardFormGroup.get('railcardAdult')?.errors.adultValidIn">
                <img id="eard-add-railcard-dialog-msg3-icon" src="assets/images/new-design-img/Informative.svg" alt="" aria-hidden="true" />
                <p id="eard-add-railcard-dialog-msg3-txt">
                  To use your railcard, number of adults must be between 
                  {{railcardFormGroup.get('railcardAdult').errors.minValue}}
                   and 
                   {{railcardFormGroup.get('railcardAdult').errors.maxValue}}.
                </p>
              </div>
            </div>
            <div id="eard-add-railcard-dialog-msg4" class="add-railcard-msg" *ngIf="railcardFormGroup.get('railcardChild')?.errors && !railcardFormGroup.get('railcardCount')?.errors && !railcardFormGroup.get('railcardAdult')?.errors && adultChildVisible">
              <div id="eard-add-railcard-dialog-msg4-inner" class="info-card w-100" *ngIf="railcardForm.get('railcardChild')?.errors.childValidIn">
                <img id="eard-add-railcard-dialog-msg4-icon" src="assets/images/new-design-img/Informative.svg" alt="" aria-hidden="true" />
                <p id="eard-add-railcard-dialog-msg4-txt">
                  To use your railcard, number of children must be between 
                  {{railcardFormGroup.get('railcardChild').errors.minValue}}
                   and 
                   {{railcardFormGroup.get('railcardChild').errors.maxValue}}.
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </ng-content>
  <ng-template id="eard-add-railcard-dialog-ng-template" #dialogFooter>
    <div id="eard-add-railcard-dialog-footer" class="common-popup-theme-footer d-flex footer-buttons-end">
      <div id="eard-add-railcard-dialog-footer-inner" class="d-flex gap-24 justify-between w-100">
        <button id="eard-add-railcard-dialog-footer-btn" id="efc-qtt-footer-next-btn" type="button" aria-label="Add railcard"
        [disabled]="!railcardForm.valid || railcardForm.get('railcardCount').value == 0 || railcardForm.get('railcardName').value === '' || railCardValueChange" (click)="addRailcardToList()"
         mat-button class="fill-btn w-100 fill-light-hover-btn">
          Add railcard
        </button>
      </div>
    </div>
  </ng-template>