<form [formGroup]="qttForm" id="es-main-form">
    <div class="new-amd bg-fff" id="es-form-container">
        <div class="row" id="es-form-row">
            <div class="col-lg-12 col-md-12" id="es-form-col">
                <table class="jrny-info w-100" aria-label="Edit Journey" id="es-form-table">
                    <tr id="es-tr1">
                        <th style="display: none;" id="es-form-th-empty" colspan="5">Empty</th>
                    </tr>
                    <tr class="mobile-new-editdsn p-relative" id="es-tr2">
                        <td id="es-tr2-td" class="old-flow-m-interchange-icon">
                            <div class="newamnd-inputdsn p-xs-static upgrade-interchange-icon" id="es-leaving-from">
                                <span aria-label="Leaving from" id="es-leaving-from-li">
                                    <label for="leaveFrom" class="f-12" id="es-leaving-from-label">Leaving from</label>
                                    <input id="leaveFrom" matInput type="text" formControlName="departureLocationName" (click)="onClickLocation(true,false)" placeholder="Departing station" readonly class="cursor-default" (keyup)="handleKeyup($event, 'leaveFrom')">
                                </span>
                                <button id="es-leaving-from-button" class="station-swipe-btn" mat-button (click)="onChangeStationsSearch()" aria-label="swipe the stations">
                                    <span id="es-leaving-from-icon">
                                        <img id="es-leaving-from-img" src="assets/images/exchange.png" alt="">
                                    </span>
                                </button>
                            </div>
                        </td>
                        <td id="es-tr2-td2">
                            <div class="newamnd-inputdsn going-to-input-position" id="es-going-to" aria-label="going to">
                                <label for="goingTo" class="f-12" id="es-going-to-label">Going to</label>
                                <input id="goingTo" matInput type="text" formControlName="arrivalLocationName" (click)="onClickLocation(false,false)" readonly placeholder="Arriving station" class="cursor-default" (keyup)="handleKeyup($event, 'goingTo')">
                            </div>
                        </td>
                        <td class="d-block d-md-none mb-0 w-100" id="es-m-tr2-td3">
                            <div class="d-block" id="es-m-add-station">
                                <p class="added-avoid d-inline-block" id="es-m-remove-txt" *ngIf="amendSearchRequest.PathConstraintLocation !== 0 && showPathConstraint">
                                    {{findLocation(amendSearchRequest.PathConstraintLocation)}}
                                    <button mat-button class="remove-btn" id="es-m-remove-btn" (click)="removePathConstraint()" aria-label="Remove the station" *ngIf="amendSearchRequest.PathConstraintLocation && amendSearchRequest.PathConstraintLocation !== 0 && showPathConstraint">
                                        <img src="assets/images/close-orange.svg" id="es-m-remove-icon" alt="remove_via" *ngIf="amendSearchRequest.PathConstraintLocation !== 0 && showPathConstraint">
                                        Remove
                                    </button>
                                </p>
                                <div class="text-end" id="es-m-add-close-btn">
                                    <button mat-button id="es-m-add-btn" class="spark-link-dark spark-link-dark-btn f-14 d-inline-block w-150 font-400 p-relative-z-0" *ngIf="!hideviaavoid" (click)=showviaavoid()>
                                        + Add via / avoid station
                                    </button>
                                    <button id="es-m-close-btn" mat-button class="spark-link f-14 d-inline-block w-150 p-relative-z-0" (click)="onCloseViaAvoid();" *ngIf="hideviaavoid">
                                        <img src="assets/images/close-orange.svg" id="es-m-close-icon" class="popup-close-icon cursor-pointer-hover ms-auto" alt="close_via">
                                        Close Via/Avoid
                                    </button>
                                </div>
                                <div class="row" id="es-m-avoid-hide" [hidden]="!hideviaavoid">
                                    <div id="options" class="col-md-4 pe-md-0 newamnd-inputdsn radio-btns align-self-center">
                                        <mat-radio-group id="es-m-radio-group" formControlName="pathConstraintType" aria-labelledby="options">
                                            <fieldset id="es-m-avoid-fieldset">
                                                <legend style="display: none;" id="es-m-avoid-legend">pathConstraintType</legend>
                                                <mat-radio-button id="es-m-via-radio" value="VIA" name="button1" class="example-radio-button via-avoid-radio-btn upgrade-mobile-via-btn">
                                                    Via
                                                </mat-radio-button>
                                                <mat-radio-button value="AVOID" id="es-m-avoid-radio" name="button1" class="example-radio-button via-avoid-radio-btn upgrade-mobile-via-btn">
                                                    Avoid
                                                </mat-radio-button>
                                            </fieldset>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-md-5" id="es-m-col">
                                        <div class="newamnd-inputdsn" id="es-m-station" aria-label="Via / avoid station">
                                            <label for="stations" class="f-12" id="es-m-station-label">Station</label>
                                            <input id="stations" matInput type="text" formControlName="pathConstraintLocation" placeholder="Add Via/Avoid" (click)="onClickLocation(false,true)" autocomplete="off" readonly class="cursor-default" (keyup)="handleKeyup($event, 'station')">
                                        </div>
                                    </div>
                                    <div class="col-md-3 align-self-end" id="es-m-add-col">
                                        <button id="es-m-add-btn-2" class="default-btn-outline-2 w-100 mt-2 mt-md-0 old-flow-h-40" [disabled]="qttForm.get('pathConstraintLocation').value === ''" (click)="addPathConstraint()" mat-button>Add</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="deapart-coloum" id="es-tr2-td4">
                            <div class="newamnd-inputdsn" id="es-depart-date" aria-label="Depart">
                                <label for="depart" id="es-depart-date-label" class="f-12">Depart</label>
                                <input id="depart" matInput class="detepicker-with-delete" formControlName="startDateTime" (click)="showDatepickerPopup(true)" readonly class="cursor-default" (keyup)="handleKeyup($event, 'depart')">
                            </div>
                            <div *ngIf="pastDepart" id="es-depart-date-msg" class="validation-err">Departure date must only be in future.</div>
                        </td>
                        <td class="return-coloum" id="es-tr2-td5">
                            <div class="newamnd-inputdsn w-230" id="es-return-date-con">
                                <span aria-label="Return" id="es-return-date-area">
                                    <label for="return" id="es-return-date-label" class="f-12">Return</label>
                                    <input id="return" matInput class="detepicker-with-delete" formControlName="returnDateTime" (click)="showDatepickerPopup(false)" autocomplete="off" placeholder="Add return" readonly class="cursor-default" (keyup)="handleKeyup($event, 'return')">
                                </span>
                                <button type="button" id="es-return-date-btn" aria-label="clear return" class="cursor-pointer-hover close-rtn-btn text-coalescent" mat-icon-button matSuffix (click)="clearDate()">
                                    <span id="es-return-date-txt" class="cleardate-btn">Clear </span> 
                                    <img id="es-return-date-img" src="assets/images/close-orange.svg" class="popup-close-icon ms-auto old-flow-rtn-close-btn" alt="">
                                </button>
                            </div>
                            <div *ngIf="pastReturn" id="es-return-date-msg" class="validation-err">Return date must only be in future.</div>
                            <div *ngIf="isReturnExceedStart" id="es-return-date-msg2" class="validation-err">Return date must be later than the start date.
                            </div>
                        </td>
                        <td class="adult-chld-td" id="es-tr2-td6">
                            <div class="adult-child" id="es-adult-child">
                                <div class="newamnd-inputdsn" id="es-adult-container">
                                    <label for="adult" id="es-adult-label" class="f-12">{{isPluralAdult==true?'Adults (16+)':'Adult (16+)'}}</label>
                                    <div class="d-flex newamnd-inputdsn-adult me-2" id="es-adult-btn-input">
                                        <button (click)="decrement()" id="es-adult-minus-btn" [attr.aria-label]="'Remove an adult from ' + count + ' adults'">-</button>
                                        <input id="adult" type="text" value="{{count}}" disabled formControlName="adultCount">
                                        <button (click)="increment()" id="es-adult-plus-btn" [attr.aria-label]="'Add an adult in ' + count + ' adults'">+</button>
                                    </div>
                                </div>

                                <div class="newamnd-inputdsn" id="es-child-container">
                                    <label for="child" id="es-child-label" class="f-12">{{'Child (5-15)'}}</label>
                                    <div class="d-flex newamnd-inputdsn-adult" id="es-child-btn-input">
                                        <button (click)="decrement2()" id="es-child-minus-btn" [attr.aria-label]="'Remove an Child from ' + count2 + ' Children'">-</button>
                                        <input id="child" type="text" value="{{count2}}" disabled formControlName="childCount">
                                        <button (click)="increment2()" id="es-plus-minus-btn" [attr.aria-label]="'Add an Child in ' + count2 + ' Children'">+</button>
                                    </div>
                                </div>
                                <div id="es-railcard" *ngIf="!sharedService?.journeySummaryModel?.IsPromo" class="newamnd-inputdsn-railcard d-md-none old-es-railcard">
                                    <button mat-button id="es-add-railcard" class="spark-link spark-link-btn f-14 d-block font-400 float-right p-relative-z-0" *ngIf="!hiderailcard" (click)="showrailcard()">
                                        + Add railcard
                                    </button>
                                    <button mat-button id="es-close-railcard" class="spark-link f-14 d-block" *ngIf="hiderailcard" (click)="onCancelRailcard()">
                                        <img src="assets/images/close-orange.svg" id="es-close-railcard-img" class="popup-close-icon cursor-pointer-hover ms-auto" alt="close_logo"> 
                                        Close railcard
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="qttForm.get('adultCount').errors" id="es-min-pax-msg">
                                <div *ngIf="qttForm.get('adultCount')?.errors.passengerCount" id="es-min-pax-msg2">
                                    <span class="validation-err" id="es-min-pax-msg3">Minimum 1 passenger required.</span>
                                </div>
                            </div>
                            <div class="w-205" [formGroup]="railcardForm" id="es-pax-railcard-msg">
                                <div *ngIf="railcardForm.get('railcardAdult')?.errors" id="es-pax-railcard-msg2">
                                    <div *ngIf="railcardForm.get('railcardAdult')?.errors.adultValid" id="es-pax-railcard-msg3">
                                        <span class="validation-err" id="es-pax-railcard-msg4">
                                            Railcards passenger number cannot be higher than overall passenger number.
                                        </span>
                                    </div>
                                </div>
                                <div id="es-pax-railcard-msg5" *ngIf="railcardForm.get('railcardChild')?.errors && !railcardForm.get('railcardAdult')?.errors">
                                    <div id="es-pax-railcard-msg6" *ngIf="railcardForm.get('railcardChild')?.errors.childValid">
                                        <span class="validation-err" id="es-pax-railcard-msg7">
                                            Railcards passenger number cannot be higher than overall passenger number.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="qttForm.get('childCount').errors" id="es-min-cp-msg">
                                <div *ngIf="qttForm.get('childCount')?.errors.passengerCount" id="es-min-cp-msg2">
                                    <span class="validation-err" id="es-min-cp-msg3">Minimum 1 passenger required.</span>
                                </div>
                            </div>
                            <div class="w-205" *ngIf="showGroupTravelLink" id="es-more-pax-msg">
                                <span class="validation-err" id="es-more-pax-msg2">
                                    Booking for 10 or more, please visit our 
                                    <a href="https://www.avantiwestcoast.co.uk/tickets-and-savings/group-travel" id="es-gtp" target="_blank" rel="noopener" class="">
                                        Group travel page.
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="add-via-deskop" id="es-tr3">
                        <td class="pt-md-20 mb-xs-0 add-via-deskop" id="es-tr3-td" colspan="3">
                            <div class="d-block" id="es-d-add-station">
                                <p class="added-avoid d-inline-block" id="es-d-remove-txt" *ngIf="amendSearchRequest.PathConstraintLocation !== 0 && showPathConstraint">
                                    {{findLocation(amendSearchRequest.PathConstraintLocation)}}
                                    <button id="es-d-remove-btn" mat-button class="remove-btn" (click)="removePathConstraint()" *ngIf="amendSearchRequest.PathConstraintLocation && amendSearchRequest.PathConstraintLocation !== 0 && showPathConstraint">
                                        <img src="assets/images/close-orange.svg" id="es-d-remove-img" alt="remove_via" *ngIf="amendSearchRequest.PathConstraintLocation !== 0 && showPathConstraint">
                                        Remove
                                    </button>
                                </p>
                                <button mat-button class="spark-link-dark f-14 d-block w-150 font-400 old-flow-edit-link-btn old-flow-p-inline-16" *ngIf="!hideviaavoid" (click)=showviaavoid() id="es-d-add-avoid-btn">+ Add via / avoid station</button>
                                <button mat-button class="spark-link f-14 d-block w-150 old-flow-f-14" (click)="onCloseViaAvoid();" *ngIf="hideviaavoid" id="es-d-close-avoid-btn">
                                    <img src="assets/images/close-orange.svg" id="es-d-add-avoid-img" class="popup-close-icon cursor-pointer-hover ms-auto" alt="close_via">
                                    Close Via/Avoid
                                </button>
                                <div class="row" [hidden]="!hideviaavoid" id="es-d-hide-avoid">
                                    <div id="options" class="col-md-4 pe-md-0 newamnd-inputdsn radio-btns align-self-center">
                                        <mat-radio-group id="es-d-radio-group" formControlName="pathConstraintType" aria-labelledby="options">
                                            <fieldset id="es-d-radio-fieldset">
                                                <legend id="es-d-radio-legend" style="display: none;">pathConstraintType</legend>
                                                <mat-radio-button id="es-d-radio-btn" value="VIA" name="button1" class="example-radio-button old-flow-via-btn">
                                                    Via
                                                </mat-radio-button>
                                                <mat-radio-button id="es-d-radio-btn2" value="AVOID" name="button1" class="example-radio-button old-flow-via-btn">
                                                    Avoid
                                                </mat-radio-button>
                                            </fieldset>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-md-5" id="es-d-avoid-col">
                                        <div class="newamnd-inputdsn" id="es-d-avoid-station">
                                            <label for="station" class="f-12" id="es-d-avoid-label">Station</label>
                                            <input id="station" matInput type="text" formControlName="pathConstraintLocation" placeholder="Add Via/Avoid" (click)="onClickLocation(false,true)" autocomplete="off" readonly class="cursor-default" (keyup)="handleKeyup($event, 'station')">
                                        </div>
                                    </div>
                                    <div class="col-md-3 align-self-end" id="es-d-avoid-col2">
                                        <button class="default-btn-outline-2 w-100 mt-2 mt-md-0 old-flow-h-40" id="es-d-add-btn" [disabled]="qttForm.get('pathConstraintLocation').value === ''" (click)="addPathConstraint()" mat-button>Add</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="mb-xs-0 add-via-deskop" id="es-td-blank"></td>
                        <td class="pt-md-20 text-spark" id="es-promo-applied" colspan="2" *ngIf="sharedService?.journeySummaryModel?.IsPromo">1 promotion applied
                        </td>
                        <td class="pt-md-20" id="es-tr3-td2" colspan="2" *ngIf="!sharedService?.journeySummaryModel?.IsPromo">
                            <div formArrayName="railcards" id="es-railcard-name" class="multiple-railcards" *ngFor="let railcard of qttForm.get('railcards')['controls']; let i = index;">
                                <p class="added-avoid d-inline-block" id="es-railcard-txt" *ngIf="qttForm.get(['railcards', i, 'railcardFullName']).value !== ''">
                                    {{qttForm.get(['railcards', i, 'railcardFullName']).value}}
                                    <button mat-button class="remove-btn" id="es-railcard-remove-btn" (click)="removeRailcard(i)" *ngIf="qttForm.get(['railcards', i, 'showRemoveRailcard']).value">
                                        <img src="assets/images/close-orange.svg" id="es-remove-railcard-img" alt="remove_card">
                                        Remove
                                    </button>
                                </p>
                            </div>
                            <div class="d-none d-md-block" id="es-m-railcard-btn">
                                <button mat-button id="es-m-railcard-add-btn" class="spark-link spark-link-btn f-14 d-block font-400 float-right old-flow-edit-link-btn old-flow-p-inline-16" *ngIf="!hiderailcard" (click)="showrailcard()">
                                    + Add railcard
                                </button>
                                <button mat-button class="spark-link f-14 d-block old-flow-close-railcard-btn" id="es-m-railcard-close-btn" *ngIf="hiderailcard" (click)="onCancelRailcard()">
                                    <img src="assets/images/close-orange.svg" id="es-m-railcard-close-img" class="popup-close-icon cursor-pointer-hover ms-auto" alt="close_logo"> 
                                    Close railcard
                                </button>
                            </div>
                            <div class="addvia-popup" id="es-hide-railcard" [formGroup]="railcardForm" [hidden]="!hiderailcard">
                                <div class="newamnd-inputdsn mb-10" id="es-hide-railcard-name">
                                    <label for="rail" class="f-12" id="es-hide-railcard-label">Railcard</label>
                                    <select id="rail" name="" (change)="onRailcardActionChange(railcards.length - 1)" formControlName="railcardName">
                                        <option value="" id="es-hide-railcard-option">Select</option>
                                        <option *ngFor="let railcard of railCards" id="es-hide-railcard-option2" [value]="railcard.Code">{{railcard.Name}}</option>
                                    </select>
                                </div>
                                <div class="newamnd-inputdsn" id="es-hide-amount">
                                    <label for="amount" class="f-12" id="es-hide-amount-label">Amount</label>
                                    <div class="d-flex newamnd-inputdsn-adult" id="es-hide-amount-btns">
                                        <button (click)="decrementRailcardCount()" id="es-amount-minus-btn" [attr.aria-label]="'Remove an Railcard from ' + railcardCount + ' railcards'">-</button>
                                        <input id="amount" type="text" value="{{railcardCount}}" formControlName="railcardCount" disabled class="railcardCount">
                                        <button (click)="incrementRailcardCount()" id="es-amount-plus-btn" [attr.aria-label]="'Add a Railcard in ' + railcardCount + ' railcards'">+</button>
                                    </div>
                                </div>
                                <div class="newamnd-inputdsn w-50 d-inline-block" id="es-hide-adult" *ngIf="showAdultChildField(railcardForm.get('railcardName').value)">
                                    <label for="adult1" class="f-12" id="es-hide-adult-label">Adult</label>
                                    <div class="d-flex newamnd-inputdsn-adult" id="es-hide-adult-btns">
                                        <button (click)="decrementRailcardAdult()" id="es-hide-adult-minus" [attr.aria-label]="'Remove an adult from ' + railcardAdult + ' adults'">-</button>
                                        <input id="adult1" type="text" value="{{railcardAdult}}" formControlName="railcardAdult" disabled>
                                        <button (click)="incrementRailcardAdult()" id="es-hide-adult-plus" [attr.aria-label]="'Add an adult in ' + railcardAdult + ' adults'">+</button>
                                    </div>
                                </div>
                                <div class="newamnd-inputdsn float-right" id="es-hide-child" *ngIf="showAdultChildField(railcardForm.get('railcardName').value)">
                                    <label for="child1" class="f-12" id="es-hide-child-label">Child</label>
                                    <div class="d-flex newamnd-inputdsn-adult" id="es-hide-child-btns">
                                        <button (click)="decrementRailcardChild()" id="es-hide-child-minus-btn" [attr.aria-label]="'Remove an Child from ' + railcardChild + ' Children'">-</button>
                                        <input id="child1" type="text" value="{{railcardChild}}" formControlName="railcardChild" disabled>
                                        <button (click)="incrementRailcardChild()" id="es-hide-child-plus-btn" [attr.aria-label]="'Add a Child in ' + railcardChild + ' Children'">+</button>
                                    </div>
                                </div>
                                <div id="es-railcardcount-msg" *ngIf="railcardForm.get('railcardCount')?.errors && adultChildVisible">
                                    <div id="es-vaildrailcard-msg" *ngIf="railcardForm.get('railcardCount')?.errors.railcardValid">
                                        <span class="validation-err" id="es-vaildrailcard-span"> 
                                            To use your railcard number of adults must be between
                                            {{railcardForm.get('railcardCount').errors.minValue}}
                                            and
                                            {{railcardForm.get('railcardCount').errors.maxValue}}.
                                        </span>
                                    </div>
                                    <div id="es-disablerailcard-msg" *ngIf="railcardForm.get('railcardCount')?.errors.disableChildValid">
                                        <span class="validation-err" id="es-disablerailcard-span"> 
                                            To use your railcard number of children must be
                                            {{railcardForm.get('railcardCount').errors.childCount}}.
                                        </span>
                                    </div>
                                </div>
                                <div id="es-railcardadult-msg" *ngIf="railcardForm.get('railcardAdult')?.errors && !railcardForm.get('railcardCount')?.errors && adultChildVisible">
                                    <div id="es-vaildrailcardadult-msg" *ngIf="railcardForm.get('railcardAdult')?.errors.adultValidIn">
                                        <span class="validation-err" id="es-vaildrailcardadult-span">
                                            To use your railcard number of adults must be between
                                            {{railcardForm.get('railcardAdult').errors.minValue}}
                                            and
                                            {{railcardForm.get('railcardAdult').errors.maxValue}}.
                                        </span>
                                    </div>
                                </div>
                                <div id="es-railcardchild-msg" *ngIf="railcardForm.get('railcardChild')?.errors && !railcardForm.get('railcardCount')?.errors && !railcardForm.get('railcardAdult')?.errors && adultChildVisible">
                                    <div id="es-vaildrailcardchild-msg" *ngIf="railcardForm.get('railcardChild')?.errors.childValidIn">
                                        <span class="validation-err" id="es-vaildrailcardchild-span">
                                            To use your railcard number of children must be
                                            between
                                            {{railcardForm.get('railcardChild').errors.minValue}}
                                            and
                                            {{railcardForm.get('railcardChild').errors.maxValue}}.
                                        </span>
                                    </div>
                                </div>
                                <button id="es-add-railcard-btn" class="default-btn-outline-2 w-100 mt-3 old-flow-h-40" mat-button [disabled]="!railcardForm.valid || railcardForm.get('railcardCount').value == 0 || railcardForm.get('railcardName').value === '' || railCardValueChange" (click)="addRailcardToList()">Add railcard</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="es-filter-main" class="new-amd-filters" *ngIf="false">
        <div class="row d-md-flex" id="es-filter-row">
            <div class="col-lg-8 col-md-7" id="es-filter-col">
                <table class="jrny-info" id="es-filter-table" aria-label="Edit Journey">
                    <tr id="es-filter-tr">
                        <th id="es-filter-th" style="display: none;" colspan="3">Empty</th>
                    </tr>
                    <tr id="es-filter-tr2">
                        <td class="filter-td" id="es-filter-td">
                            <p id="es-filter-title" class="filterby-txt mb-md-0 mb-2">Filter by</p>
                        </td>
                        <td class="filters-td" id="es-filter-td2">
                            <mat-form-field appearance="fill" id="es-filter-form">
                                <mat-label id="es-filter-label">Train operator</mat-label>
                                <mat-select id="es-filter-select" formControlName="operaterFilter" #operator class="drop-toggle btn flat">
                                    <mat-option id="es-filter-option" value="1">Avanti only</mat-option>
                                    <mat-option id="es-filter-option2" value="0">All</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td class="filters-td" id="es-filter-td3">
                            <mat-form-field appearance="fill" id="es-filter-form2">
                                <mat-label id="es-filter-label2">Changes</mat-label>
                                <mat-select id="es-filter-select2" formControlName="changesFilter" #changesFil class="drop-toggle btn flat" aria-label="Select changes">
                                    <mat-option id="es-filter-option3" value="-1" selected></mat-option>
                                    <mat-option id="es-filter-option4" value="0">Direct only</mat-option>
                                    <mat-option id="es-filter-option5" value="1">Changes allowed</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="" id="es-train-type">
        <div class="row new-amd-filters d-md-flex bg-f6" id="es-train-row">
            <div class="col-lg-7 col-md-7 ps-xl-5" id="es-train-col">
                <ul class="upgrade-qtt-filter" id="es-train-ul">
                    <li id="es-train-li">
                        <p class="filterby-txt d-none d-md-block" id="es-showonly-title">Show only:</p>
                        <span class="d-block d-sm-block d-md-none" id="es-train-span">
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.77799 17.5L12.2226 14.6667V10.1333L20 0.5H9.99361H0L7.77799 10.1333V17.5Z" fill="#131E29" />
                            </svg>
                        </span>
                    </li>
                    <li id="es-train-li2">
                        <button id="es-avanti-train" mat-button class="btn-rounded filter-btns" [class.active-btn]="isOperatorFilterChoosed" (click)="onOperatorFilterClick()">Avanti trains</button>
                    </li>
                    <li id="es-train-li3">
                        <button id="es-direct-train" mat-button class="btn-rounded filter-btns" [class.active-btn]="isChangeFilterChoosed" (click)="onChangeFilterClick()">Direct trains</button>
                    </li>
                </ul>
            </div>

            <div class="col-lg-5 col-md-5 text-center edit-section-box" id="es-train-col2">
                <button id="es-apply-train-btn" mat-button class="default-btn w-270 old-flow-h-40" [disabled]="pastDepart || pastReturn || isReturnExceedStart" (click)="applyChanges()">Apply changes</button>
                <button id="es-close-train-mbtn" mat-button class="spark-link ml-10 d-none d-md-inline-block old-flow-h-40 old-flow-p-inline-16" (click)=onClose()>Cancel</button>
                <button id="es-close-train-btn" mat-button class="spark-link ml-10 d-md-none old-flow-h-40 old-flow-p-inline-16" (click)=onClose()>Cancel</button>
            </div>
            <div class="col-12" id="es-train-col3" *ngIf="continueDisabledWarnMsg">
                <div class="bg-solve mt-2 p-10" id="es-train-msg">
                    <div class="d-flex justify-center" id="es-train-msg-div">
                        <span id="es-train-msg-span">
                            <svg width="18" height="16" class="mr-10 mt-minus-8" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 15.5437L9.01919 0L0 15.5437H18ZM9.82516 9.82516H8.17484V6.52452H9.82516V9.82516ZM8.17484 13.0874H9.82516V11.4371H8.17484V13.0874Z" fill="#204555"/>
                            </svg>
                        </span>
                        <span id="es-train-msg-span2">
                            Please 
                            <a id="es-train-apply-change" class="text-coalescent text-underline cursor-pointer-hover" (click)="applyChanges()">apply changes</a> 
                            or cancel edit journey to update prices and continue your ticket purchase
                        </span>
                    </div>
                </div>
            </div>
            <div id="es-train-col4" class="col-lg-12 col-md-12 ps-xl-5 pe-xl-5" *ngIf="sharedService.isSearchErrorSoldOut || sharedService.isReturnSearchErrorSoldOut">
                <div class="seat-prefrences-msg" id="es-train-seat">
                    <span id="es-train-seat-span">
                        <svg width="18" height="16" class="mr-10 mt-minus-8" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18 15.5437L9.01919 0L0 15.5437H18ZM9.82516 9.82516H8.17484V6.52452H9.82516V9.82516ZM8.17484 13.0874H9.82516V11.4371H8.17484V13.0874Z" fill="#204555"/>
                        </svg>
                    </span>
                    <span id="es-train-seat-msg" aria-label="sharedService.timeoutErrorMessage">{{sharedService.timeoutErrorMessage}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="es-blank-row">

    </div>
</form>