.f-16imp{
    font-size: 16px;
}

.dialog-close-focus {
    background-color: transparent;
}

.dialog-close-focus:focus {
    background-color: #c4dbcc;
}

.delete-popup-title {
    border-bottom: 1px solid #D6D1CA;
    padding-bottom: 15px;
    padding-right: 40px;
}

.upgrade-payment-page-popup {
    padding: 0 1.5rem 1.5rem;
}

.upgrade-payment-page-popup h2 {
    padding: 0 0 15px;
    width: 100%;
}

.upgrade-payment-page-popup .dialog-close img {
    height: 20px;
    width: 20px;
}

.upgrade-payment-page-popup .mat-mdc-dialog-content {
    padding: 20px 0 30px;
}

.upgrade-payment-page-popup .mat-mdc-dialog-content .shadow-none {
    color: #131e29 !important;
    letter-spacing: normal !important;
}

.upgrade-payment-page-popup .mat-mdc-dialog-actions {
    padding: 8px 0;
}

.upgrade-payment-page-popup .mat-mdc-dialog-actions .new-default-outline-btn {
    height: 40px !important;
}

@media (max-width:767px){
    .mat-dialog-actions {
        margin-bottom: 0px;
    }

    .mat-dialog-title {
        font-size: 32px !important;
    }

    .delete-popup-title {
        font-size: 20px !important;
        line-height: normal;
        padding-right: 1rem !important; 
    }

    .mobile-pb-14 {
        padding-bottom: 14px !important;
    }

    .button-h {
        padding-top: 14px;
      }
    
    .button-h .new-default-btn.mat-button {
        padding: 10px 10px !important;
    }

    .confirm-popup {
        padding: 10px !important;
    }

    .upgrade-payment-page-popup .mat-mdc-dialog-content {
        padding: 0;
    }

    .upgrade-payment-page-popup .upgrade-remove-journey-btn {
        padding: 8px 10px !important;
    }
}

.delete-heade {
    position: relative;
}
