.header-top {
    background: #204555;
    position: relative;
    z-index: 1;
}

mat-toolbar {
    background: #131E29;
    min-height: 65px;
}

.menu-spacer {
    flex: 1 1 auto;
}

.logo-img {
    width: 110px;
    cursor: pointer;
}

mat-toolbar a {
    color: #fff;
}

mat-toolbar a:hover {
    text-decoration: none;
}

.mat-drawer-container {
    background: transparent;
}

.menutoggle-icon:focus {
    outline: none;
}

.menutoggle-icon mat-icon {
    color: #fff;
    border: 1px solid #fff;
    padding: 2px;
    height: 30px;
    width: 32px;
    border-radius: 3px;
}

.signin-btn {
    color: #fff;
    border-radius: 0;
}

.header-main {
    position: relative;
    z-index: 1;
}

mat-sidenav-container,
mat-sidenav {
    height: auto !important;
}

mat-sidenav-container {
    min-height: calc(100% - 101px) !important;
}