.seat-picker-title {
    font-size: 24px;
    color: #131E29;
    padding-bottom: 18px;
    margin: 0px !important; 
}

.seat-header::before {
    content: '';
    position: absolute;
    background: #FF4713;
    width: 10px;
    height: 100%;
    top: 0px;
    left: 0px;
}
.seat-danger .seat-header::before{
    background: #C0414D;
}
.seat-success .seat-header::before{
    background: #6CAF35;
}
.seat-success .seat-picker-title,.seat-danger .seat-picker-title{
    display: none;
}
.seat-picker-title.success-title,.seat-picker-title.danger-title{
    display:none;
}
.seat-success .success-title,.seat-danger .danger-title{
    display: inline-block;
}

.seat-success .change-other-seats,.seat-danger .change-other-seats{
    display: block;
}
.seat-success .change-seat-button-container,.seat-danger .change-seat-button-container{
    display: none;
}
.seat-success .train-coach-container,.seat-danger .train-coach-container{
    max-width: 100% !important;
    flex: 0 0 100%;
}
.seat-success ~ .seatpicker-footer .button-container .change-other-seats,.seat-danger ~ .seatpicker-footer .button-container .change-other-seats {
    display: block;
}

.v-align-unset{
    vertical-align: unset;
    filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5) !important;

}
.train .train-boxcar{
    width: 90px;
    display: block;
    height: 60px;
    border: 1px solid #e0ddd8;
    margin-right: 5px;
    background: white;
    border-radius: 2px;
    padding-left: 5px;
}
.train .train-boxcar.active{
    background-color: #204555;
    color: #ffffff !important;
    border-color: #FF4915;
}

.w-h-18{
    width: 18px;
    height: 18px !important;
}
.returnjournry-btn {
    min-width: 117px;
}
.seat-danger{
    position: relative;
}
.seat-danger::before{
    content: '';
    width: 20px;
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/alert.svg);
    background-size: 100% 100%;
}

.train .train-boxcar:last-child {
    border-top-right-radius: 70% !important;
    text-align: center;
}
.train .train-boxcar:first-child {
    border-top-left-radius: 70% !important;
    text-align: center;
}

.selected-box, .available-box, .unavailable-box {
  font-size: 11px;
  font-weight: bold;
}

.selected-box::before{
    content: '';
    display: inline-block;
    width: 15px;
    vertical-align: middle;
    height: 15px;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #204555;
  }
.available-box::before{
    content: '';
    display: inline-block;
    width: 15px;
    vertical-align: middle;
    height: 15px;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #e2f5e9;
    border: 1px solid #868585;
}
.unavailable-box::before{
    content: '';
    display: inline-block;
    width: 15px;
    vertical-align: middle;
    height: 15px;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #c5cfd9;
    border: 1px solid #868585;
}
.coach-overlay, .coach-unreservable-overlay, .coach-unreservable-overlay-advance-travel{
    position: relative;
}
.coach-overlay::after {
    position: absolute;
    content: '';
    left: 0;
    top:0;
    background: rgba(39, 39, 39, 0.7607843137254902);
    width: 100%;
    height: calc(100% - 10px);
}

.coach-overlay .coach-overlay-text{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    color: #FFFFFF;
}

.coach-unreservable-overlay::after {
  position: absolute;
  content: '';
  left: 0;
  top:0;
  background: rgba(39, 39, 39, 0.7607843137254902);
  width: 100%;
  height: calc(100% - 10px);
}

.coach-unreservable-overlay .coach-unreservable-overlay-text{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9;
  color: #FFFFFF;
}

.coach-unavailable-overlay::after {
  position: absolute;
  content: '';
  left: 0;
  top:0;
  background: rgba(39, 39, 39, 0.7607843137254902);
  width: 100%;
  height: 100%;
}

.coach-unreservable-overlay-advance-travel .coach-unreservable-overlay-advance-travel-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    color: #FFFFFF;
}
  
.coach-unreservable-overlay-advance-travel::after {
    position: absolute;
    content: '';
    left: 0;
    top:0;
    background: rgba(39, 39, 39, 0.7607843137254902);
    width: 100%;
    height: calc(100% - 10px);
}

.coach-unavailable-overlay .coach-unavailable-overlay-text{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9;
  color: #FFFFFF;
}

.carriage-overlay::after {
    position: absolute;
    content: '';
    left: 0;
    top:0;
    background: #EBEBEB;
    color:#204555;
    border:1px solid #707070;
    width: 100%;
    height: calc(100% - 10px);
}
.carriage-overlay svg{
    visibility: hidden;
}
.carriage-overlay{
    position: relative;
}
.carriage-overlay .carriage-overlay-text{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    color: #204555;
}
.v-hidden{
    visibility: hidden;
}
.coach-overlay-text,.carriage-overlay-text,.change-other-seats,.coach-unreservable-overlay-text, .coach-unavailable-overlay-text, .coach-unreservable-overlay-advance-travel-text{
    display: none;
}

.seat-success ~ .seatpicker-dialog-box,.seat-success ~ .seatpicker-footer .seat-colors,.seat-success ~ .seatpicker-footer .exit-without-save,.seat-success ~ .seatpicker-footer .save-seat{
display: none;
}
.seat-success ~ .seatpicker-footer .services{
    display: none !important;
}
.seat-danger ~ .seatpicker-dialog-box,.seat-danger ~ .seatpicker-footer .seat-colors,.seat-danger ~ .seatpicker-footer .save-seat,.seat-danger ~ .seatpicker-footer .exit-without-save{
display: none;
}
.seat-danger ~ .seatpicker-footer .services{
    display: none !important;
}
.close-sp-btn{
    display: none;
}
.seat-success ~ .seatpicker-footer .close-sp-btn ,.seat-danger ~ .seatpicker-footer .close-sp-btn{
    display: block;
    margin-left: auto;
}
.seat-success ~ .seatpicker-footer .button-container,.seat-danger ~ .seatpicker-footer .button-container{
    max-width: 100% !important;
    flex: 100%;
}


.new-seat-success-text,.new-seat-failed-text{
    display: none;
}
.seat-success .new-seat-success-text,.seat-danger .new-seat-failed-text{
display: block;
}
.seat-success .reserved-seat-text,.seat-danger .reserved-seat-text{
    display: none;
}
.your-seat{
    display: none;
}
.seat-success .your-seat{
    display: block;
}
.seat-success .travel-direction{
    display: none;
}

.train-boxcar i {
    position: absolute;
}

.train-boxcar i.facilities:first-child {
    right: -2px;
    bottom: 2px;
}

.train-boxcar i.facilities:nth-child(2) {
    right: 17%;
    bottom: 2px;
}

.train-boxcar i.facilities:nth-child(3) {
    bottom: 2px;
    right: 35%;
}

.train-boxcar i.facilities:nth-child(4) {
    bottom: 2px;
    right: 54%;
}

.train-boxcar i.facilities:nth-child(5) {
    right: 75%;
    bottom: 2px;
}

.train-boxcar i.facilities:nth-child(6) {
    right: 0px;
    bottom: 20px;
}
.train-boxcar i.facilities:nth-child(7) {
    right: 17%;
    bottom: 20px;
}
.train-boxcar i.facilities:nth-child(8) {
    right: 35%;
    bottom: 20px;
}
.train-boxcar i.facilities:nth-child(9) {
    right: 54%;
    bottom: 20px;
}
.train-boxcar i.facilities:nth-child(10) {
    right: 75%;
    bottom: 20px;
}
.train-boxcar i.facilities:nth-child(11) {
    right: 0px;
    bottom: 40px;
}
.train-boxcar i.facilities{
    width:13px;
    height: 14px !important;
}

.train .train-boxcar:first-child i,.train .train-boxcar:last-child i {
    text-align: left;
}

.train-boxcar:last-child i.facilities:nth-child(11) {
    left: 5% !important;
    right: unset !important;
}

.train-boxcar .QUIE::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/QUIE.svg);
    background-size: 100% 100%;
}
.train-boxcar.active .QUIE::before{
    background-image: url(/assets/images/quiet-white.svg) !important;
}
.train-boxcar .WCHR::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/WCHR.svg);
    background-size: 100% 100%;
}
.train-boxcar.active .WCHR::before{
    background-image: url(/assets/images/WHEELCHAIR-white.svg) !important;
}
.train-boxcar .CYCLE::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/BIKE.svg);
    background-size: 100% 100%;
}
.train-boxcar.active .CYCLE::before{
    background-image: url(/assets/images/BIKE-white.svg) !important;
}
.train-boxcar .UNRESERVED::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/UNRESERVABLE.svg);
    background-size: 100% 100%;
}
.train-boxcar.active .UNRESERVED::before{
    background-image: url(/assets/images/UNRESERVABLE-white.svg) !important;
}
.train-boxcar .BOTTLED::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/BOTTLED.svg);
    background-size: 100% 100%;
}
.train-boxcar.active .BOTTLED::before{
    background-image: url(/assets/images/BOTTLED-white.svg) !important;
}
.train-boxcar .SHOP::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/shop.svg);
    background-size: 100% 100%;
}
.train-boxcar.active .SHOP::before{
    background-image: url(/assets/images/SHOP-white.svg) !important;
}
.train-boxcar .POWE::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/PLUG.svg);
    background-size: 100% 100%;
}
.train-boxcar.active .POWE::before{
    background-image: url(/assets/images/PLUG-white.svg) !important;
}
.train-boxcar .PSEA::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/PRIORITY.svg);
    background-size: 100% 100%;
}
.train-boxcar.active .PSEA::before{
    background-image: url(/assets/images/PRIORITY-white.svg) !important;
}
.train-boxcar .LUGG::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/LUGGAGE.svg);
    background-size: 100% 100%;
}
.train-boxcar.active .LUGG::before{
    background-image: url(/assets/images/LUGGAGE-white.svg) !important;
}
.train-boxcar .NRWC::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/TOILET.svg);
    background-size: 100% 100%;
}
.train-boxcar.active .NRWC::before{
    background-image: url(/assets/images/TOILET-white.svg) !important;
}

.train-boxcar .FIRSTCLASS::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;

    background-image: url(/assets/images/first-class.svg);
    background-size: 100% 100%;
}

.train-boxcar.active .FIRSTCLASS::before{
    background-image: url(/assets/images/first-class-white.svg) !important;
}

.mat-option-text{
    font-size: 18px;
}
.mat-select{
    font-size: 18px;
}
.mat-dialog-title{
    margin:0px !important;
}
 

.unreservable-coaches {
  text-align: center;
  vertical-align: middle;
  line-height: 500px;
}

.t-top-space {
    margin-top: -10px;
}

.svg-container::-webkit-scrollbar, .seat-selected-box::-webkit-scrollbar
, .seat-select-coach .seat-select-coach-list::-webkit-scrollbar, .seat-select-popup::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
.svg-container::-webkit-scrollbar-track, .seat-selected-box::-webkit-scrollbar-track
, .seat-select-coach .seat-select-coach-list::-webkit-scrollbar-track, .seat-select-popup::-webkit-scrollbar-track {
    background: #444444;
    border:4px solid #e7ebf3 ;
  }
  /* Handle */
.svg-container::-webkit-scrollbar-thumb, .seat-selected-box::-webkit-scrollbar-thumb
, .seat-select-coach .seat-select-coach-list::-webkit-scrollbar-thumb, .seat-select-popup::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
.svg-container::-webkit-scrollbar-thumb:hover, .seat-selected-box::-webkit-scrollbar-thumb:hover
, .seat-select-coach .seat-select-coach-list::-webkit-scrollbar-thumb:hover, .seat-select-popup::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .svg-container, svg {
    vertical-align: baseline !important;
    overflow-x: hidden !important;
  }



  .svg-container {
	overflow-x: hidden !important;
	scrollbar-width: thin;
	scrollbar-color: #c0c0c0 #f5f5f5;
    height: auto;
}
.svg-containerr::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.svg-container::-webkit-scrollbar-track {
    background: #444444;
    border:4px solid #e7ebf3 ;
}
.svg-container::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px !important;

}


  .rot-arrow-up
  {
    transform: rotate(90deg);
  }

  .close-mrgn:focus {background: #eee;}
  .close-mrgn { 
    z-index: 9;
    cursor: pointer;
    background: #fff;
    border: 0px;
    padding: 0px;
    min-width: auto;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px !important;
    line-height: normal;
}
.close-mrgn img {width: 15px;}
.change-seat-detail {
    padding: 15px 0px 0px;
}

.all-tranis-content {
    padding-bottom: 170px;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

.anchor-link, .anchor-link:hover{
  text-decoration: none;
}

.services-section img {width: 10px; vertical-align: middle; margin-top: 4px;}
.svg-coach-header {
  background: #e2f5e9;
  color: #204555;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #204555;
  margin-bottom: 7px;
}

.svg-coach-header.current-section {
  background: #204555;
  color: #e2f5e9;
}
.seat-select-no .booked-seats-wrapper {display: inline-block; margin-right: 10px; margin-bottom: 10px;}
.seat-select-no .booked-seats-wrapper.active {padding: 0; outline: 2px solid #204555; outline-offset: 3px; border: none; display: inline-block;
    border-radius: 2px; margin-right: 10px;}
.seat-select-no .booked-seats { 
  background: #204555;
  color: #e2f5e9;
  border-radius: 4px; 
  border: 1px solid #204555; 
  width: 40px;
  min-width: auto;
  padding: 0px !important;
  height: 36px !important;
  font-size: 16px !important; 
}

.seat-select-no {
    padding-bottom: 0;
}

.services-section {
    font-size: 13px;
    padding-bottom: 10px;
    display: flex;
    gap: 6px;
    align-items: flex-start;
}

.services-section i {color: #A3A983; font-size: 12px;}

.restricted-icon {
    height: 14.67px !important;
    width: 14.67px !important;
    margin-top: 3px !important;
}

.example-card {
  width: 100%;
}
.journey-detail-card {margin-top: 16px;}
.journey-detail-card .example-card {padding: 12px 16px; border: 1px solid #DDDDDD; box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 4px;}
.journey-detail-card .example-card p {margin-bottom: 7px; font-size: 14px; font-weight: normal;}
.journey-detail-card .example-card .out-date {
    font-size: 16px;
    margin: 7px 0px;
}
.journey-detail-card .example-card .outbond-txt {display: block; margin-bottom: 7px; font-size: 16px; font-weight: 600; color: #131E29;}
.journey-detail-card .example-card .journey-stations {display: block;}
.journey-detail-card .example-card .journey-stations p { font-size: 16px; font-weight: 600; color: #204555;}

.journey-detail-card .mat-mdc-card-content {
    padding: 0 !important;
}

.seat-select .svg-coach-header-wrapper .svg-coach-header {
    width: 40px;
    height: 70px;
    cursor: pointer;
    padding: 5px 0px;
    margin-bottom: 0px;
    text-align: center;
    background: #c5cfd9;
    border: 2px solid #ffffff;
    border-radius: 8px;
    font-weight: 600;
}

.seat-select-coach-list .select-coach-list {display: inline-block; vertical-align: bottom;}

.seat-select .svg-coach-header-wrapper .svg-coach-header span {display: block; line-height: 35px;}
.seat-select .svg-coach-header-wrapper .svg-coach-header span img {margin: 0px auto !important; height: 22px !important; width: 22px;}
.seat-select .svg-coach-header-wrapper.current-section .svg-coach-header {border: 2px solid #204555; color: #fff; background: #204555; }
.seat-select .svg-coach-header-wrapper.current-section .svg-coach-header span img {border-radius: 50%; background-color: #fff;}

.seat-select .svg-coach-header-wrapper.current-section.active-seat {border: 2px solid #204555; display: inline-block;
        padding: 3px; border-radius: 9px; text-align: center; margin-left: 0px;}
 

.seat-select .svg-coach-header-wrapper.active-seat {border: 2px solid #333; display: inline-block;
        padding: 3px; border-radius: 9px; text-align: center; margin-left: 0px;}
.seat-select .svg-coach-header-wrapper{ margin-left: 5px; margin-bottom: 7px;}
.seat-select .svg-coach-header-wrapper.unavailable-seat .svg-coach-header {background: #e2f5e9; border: 2px solid #204555;}
.seat-selected-box svg {background: #fff; border-radius: 10px;}
.seat-selected-box svg image {display: none;}
.svg-container svg {background: #fff; border-radius: 10px;}

.seat-selected-box {
    height: 88vh;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.seat-select .seat-select-coach .seat-select-coach-list {
    height: 77vh;
    margin-bottom: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.seat-row-direction {
    display: inline-block;
    width: 80px; 
    position: fixed;
    bottom: 120px;

} 
.seat-row-direction img {width: 15px;}
.seat-select-coach .seat-select-coach-list {
    display: inline-block; vertical-align: bottom;
}
.seat-row-direction span {
    display: block;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
}

.seat-select-popup {height: 100%;}

.seat-picker, .seat-picker mat-dialog-containerr {height: 95vh;}

.change-seat-section {background: #fff;} 
.journey-detail {font-size: 16px; font-weight: 600; cursor: pointer;}
.save-section-btn button {width: 263px; height: 40px; padding: 0px; text-align: center; font-size: 16px;} 
.save-section-btn {position: absolute; bottom: 20px; right: 20px;}

.seat-colse-section{background: #fff; padding: 21px;}
.seat-colse-detail {position: absolute; top: 50%; transform: translate(0px, -50%);}
.seat-colse-detail h2 {font-size: 24px; font-weight: 600; margin-bottom: 16px;}
.seat-colse-detail p {font-size: 16px; line-height: 24px; margin: 0px; display: block; margin-bottom: 26px!important;}
.seat-colse-detail p span {display: block;}
.seat-colse-detail .default-btn-outline.exit-without-save {width: 128px;}
.seat-colse-detail .default-btn.exit-without-save {width: 162px;}


.seat-select .svg-coach-header-wrapper.unavailable-seat.current-section.active-seat .svg-coach-header {
    background: #204555;
}

.all-tranis-have {
    margin-top: 18px;
    margin-left: 5px;
}

.all-tranis-heading {
    margin-bottom: 8px;
}

.upgrade-all-tranis-heading {
    margin-bottom: 8px !important;
}

.all-tranis-content .single-train-content {
    float: left;
    height: 33px;
}

.all-tranis-content .single-train-content-in {
    display: flex;
    gap: 6px;
    align-items: center;
    white-space: nowrap;
    margin: 0 16px 8px 0;
}

.all-trains-icon-content {
    margin-top: -5px;
}

.seat-success-mgs {
    cursor: auto;
}

.mat-expansion-panel-header.seat-success-mgs .mat-expansion-panel-header-title {
    margin-right: 0;
}

.mat-expansion-panel-header.seat-success-mgs .mat-expansion-panel-header-title .seat-header {
    flex-grow: 1;
}

.mb-7 {
    margin-bottom: 7px;
}

.height-save-selection {
    min-height: auto;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.change-seat-scroll {
    overflow-y: auto;
    height: auto;
    max-height: 100%;
    min-height: 100%;
}

.after-seat-selection {
    display: flex;
    align-items: center;
    background-color: #fff;
    max-width: 100vw;
}

.after-seat-selection .seat-change-txt {
    margin: 0px 20px 0px !important;
}

.after-seat-selection .seat-change-txt .mat-expansion-panel-header {
    padding: 15px 0 !important;
}

.after-seat-selection .seat-change-txt h2 {
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 1.25 !important;
    letter-spacing: 0px !important;
    color: #000000 !important;
}

.after-seat-selection .seat-header::before {
    display: none;
}

.after-seat-selection .reserved-seat-text {
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 23px !important;
    letter-spacing: 0px !important;
    color: #204555 !important;
    word-wrap: break-word;
    word-break: break-all;
}

.after-seat-selection .out-date {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.25 !important;
    letter-spacing: 0px !important;
}

.after-seat-selection .outwart-txt {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    letter-spacing: 0px !important;
}

.after-seat-selection .journey-stations {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    letter-spacing: 0px !important;
}

.after-seat-selection .journey-detail hr {
    display: none !important;
}

.unavailable-txt {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.seat-container {
    position: relative;
}

.overlay-height {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.hitachi-svg-coach-header {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: auto !important;
}

.hitachi-svg-coach-header span {
    line-height: normal !important;
}

.hitachi-overlay-msg span {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.seatpicker-hide-entity-code {
    text-indent: -9px;
}

.upgrade-mb-20 {
    margin-bottom: 20px !important;
}

@media (min-width:768px) and (max-width:991px){ 
    .seat-select .svg-coach-header-wrapper {margin-left: -5px;}
    .seat-select .svg-coach-header-wrapper .svg-coach-header {margin: 0px auto;}

    .journey-details {
        display: none;
    }

    hr { display: none; }

    .seat-row-direction {
        margin-right: 10px;
        display: block;
        width: auto; 
        position: static;
        bottom: 110px;
    
    }
    .seat-row-direction i {font-size: 18px;}
    

    .seat-select-popup {
        height: 90vh;
        overflow: auto;
        overflow-x: hidden;
    }
    .selected-box::before, .available-box::before, .unavailable-box::before{
        width: 12px; height: 12px; margin-right: 4px; margin-top: -4px;
      }
    
    .save-section-btn {position: fixed; width: 100%; bottom: 0px; right: 0px; padding: 10px; background: #fff; box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.1);}
    .save-section-btn button {width: 70%; float: none !important;}
    .save-section-btn .button-container {text-align: center !important;}
    .change-seat-section {width: 100%; position: fixed; top: 0px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);}
    .seat-picker-title {font-size: 18px; padding-bottom: 16px;}
    .journey-detail-card .example-card {margin-bottom: 10px;}
    .seat-selected-box {height: 85vh; margin-top: 102px;}
    .seat-select .seat-select-coach .seat-select-coach-list {height: 62vh; margin-top: 115px;}

    .seat-colse-section {padding: 0px 15px; width: 100%; position: fixed; top: 0px; box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);}
    .seat-colse-detail {position: static; transform: none; padding: 50px 0px 70px 0px;}
}

@media (min-width: 400px) and (max-width:576px) {
    .seat-select .svg-coach-header-wrapper {margin-left: 15px;}
    .seat-select .svg-coach-header-wrapper.current-section.active-seat {margin-left: 15px;}
    .seat-select .svg-coach-header-wrapper.active-seat {margin-left: 15px;}
}

@media (min-width: 320px) and (max-width: 400px) {
    .seat-select .svg-coach-header-wrapper {margin-left: 7px;}
    .seat-select .svg-coach-header-wrapper.current-section.active-seat {margin-left: 7px;}
    .seat-select .svg-coach-header-wrapper.active-seat {margin-left: 7px;}
}

@media screen and (max-height: 1366px) {
    .seat-row-direction {
        bottom:290px; 
        left: 50px; 
        white-space: nowrap;
    }
}

@media screen and (max-height: 1240px) {
    .seat-row-direction {
        bottom:200px; 
        left: 50px; 
        white-space: nowrap;
    }
}

@media screen and (max-height: 1024px) {
    .seat-row-direction {
        bottom: 180px; 
        left: auto; 
        white-space: normal;
    }
}

@media screen and (max-height: 992px) {
    .seat-row-direction {
        bottom: 180px; 
        left: auto; 
        white-space: normal;
    }
}

@media screen and (max-height: 768px) {
    .seat-row-direction {
        bottom: 140px; 
        left: auto; 
        white-space: normal;
    }
}

@media screen and (max-width: 1187px) {
    .seatpicker-hide-entity-code {
        text-indent: -6px;
    }
}

@media screen and (max-width: 1183px) {
    .seatpicker-hide-entity-code {
        text-indent: -7px;
    }
}

@media screen and (max-width: 1179px) {
    .seatpicker-hide-entity-code {
        text-indent: -8px;
    }
}

@media screen and (max-width: 1176px) {
    .seatpicker-hide-entity-code {
        text-indent: -9px;
    }
}

@media screen and (max-width: 1172px) {
    .seatpicker-hide-entity-code {
        text-indent: -10px;
    }
}

@media screen and (max-width: 1168px) {
    .seatpicker-hide-entity-code {
        text-indent: -11px;
    }
}

@media screen and (max-width: 1164px) {
    .seatpicker-hide-entity-code {
        text-indent: -12px;
    }
}

@media screen and (max-width: 1161px) {
    .seatpicker-hide-entity-code {
        text-indent: -13px;
    }
}

@media screen and (max-width: 1157px) {
    .seatpicker-hide-entity-code {
        text-indent: -14px;
    }
}

@media screen and (max-width: 1153px) {
    .seatpicker-hide-entity-code {
        text-indent: -15px;
    }
}

@media screen and (max-width: 1149px) {
    .seatpicker-hide-entity-code {
        text-indent: -16px;
    }
}

@media screen and (max-width: 1146px) {
    .seatpicker-hide-entity-code {
        text-indent: -17px;
    }
}

@media screen and (max-width: 1146px) {
    .seatpicker-hide-entity-code {
        text-indent: -17px;
    }
}

@media screen and (max-width: 1142px) {
    .seatpicker-hide-entity-code {
        text-indent: -18px;
    }
}

@media screen and (max-width: 995px) {
    .seatpicker-hide-entity-code {
        text-indent: -7px;
    }
}

@media (max-width: 992px) {
    .height-save-selection {
        height: auto;
        width: 100vw;
    }

    .all-tranis-content {
        padding-bottom: 0;
    }

    .change-seat-scroll {
        min-height: auto;
    }

    .order-minus-one-m {
        order: -1;
    }

    .seat-success-msg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 173px;
        overflow-y: auto;
        overflow-x: hidden;
        max-width: 100vw;
    }

    .seat-success-msg .seat-change-txt {
        margin-left: 0 !important;
    }

    .after-seat-selection .seat-change-txt .mat-expansion-panel-header{
        padding: 0 !important;
    }

    .seat-success-msg .seat-header {
        padding: 0;
    }

    .seat-success-msg .seat-header .journey-stations c-p1 p {
        margin: 0;
    }

    .after-seat-selection .change-seat-detail {
        width: 100%;
    }
}

@media (max-width:767px) { 
    .seat-select .svg-coach-header-wrapper.current-section.active-seat {margin-left: 6px;}
    .seat-select .svg-coach-header-wrapper {margin-left: 5px;}
    .seat-select .svg-coach-header-wrapper .svg-coach-header {margin: 0px auto;}
    .seat-select .svg-coach-header-wrapper.active-seat{margin-left: 5px;} 

    .journey-details {
        display: none;
    }

    hr { 
        display: none; 
    }

    .seat-row-direction {
        margin-right: 12px;
        display: block;
        width: auto; 
        position: static;
        bottom: 133px;
    }

    .seat-row-direction i {font-size: 18px;}
    
    .seat-select-popup {
        height: 90vh;
        overflow: auto;
        overflow-x: hidden;
    }
    .selected-box::before, .available-box::before, .unavailable-box::before{
        width: 12px; height: 12px; margin-right: 4px; margin-top: -4px;
      }
    
    .save-section-btn {position: fixed; width: 100%; bottom: 0px; right: 0px; padding: 10px; background: #fff; box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.1);
        height: 60px;
    }
    .save-section-btn button {width: 70%; float: none !important;}
    .save-section-btn .button-container {text-align: center !important;}
    .change-seat-section {width: 100%; position: fixed; top: 0px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); overflow-y: auto;}
    .seat-picker-title {font-size: 18px; padding-bottom: 16px;}
    .journey-detail-card .example-card {margin-bottom: 10px;}
    .seat-selected-box {height: 58vh; margin-top: 145px;}
    .seat-select .seat-select-coach .seat-select-coach-list {height: 37vh; margin-top: 145px;}

    .seat-colse-section {padding: 0px 15px; width: 100%; position: fixed; top: 0px; box-shadow: 0px 4px 4px rgb(0 0 0 / 10%); z-index: 9;}
    .seat-colse-detail {position: static; transform: none; padding: 50px 0px 70px 0px;}

    .seat-success-msg {
        max-height: 255px;
    }

    .change-seat-detail {
        position: relative;
        height: 100%;
        width: 100%;
        max-height: 173px;
        min-height: 173px;
    }

    .seat-change-txt {
        position: absolute;
        top: 15px;
        margin: 50px 0px 0px;
    }

    .reserved-seat-text-width {
        word-wrap: break-word;
        word-break: break-all;
    }

    .hitachi-overlay-msg span {
        font-size: 12px;
        font-weight: 400;
    }

    .svg-container {
        margin-top: 18px !important;
    }
}

@media (max-width:576px) { 
    .seat-select-popup {
        height: 90vh;
        overflow: auto;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 348px) {
    .seatpicker-hide-entity-code {
        text-indent: -10px;
    }
}

@media screen and (max-width: 337px) {
    .seatpicker-hide-entity-code {
        text-indent: -12px;
    }
}

@media screen and (max-width: 334px) {
    .seatpicker-hide-entity-code {
        text-indent: -24px;
    }
}

@media(max-width: 320px) {
    .seat-success-msg, .full-height-s {
        height: 100%;
        max-height: 100%;
    }

    .seat-success-msg .change-seat-detail {
        max-height: 100%;
        min-height: auto;
        display: flex;
        align-items: center;
    }

    .seat-success-msg .change-seat-detail .seat-change-txt   {
        position: inherit;
    }
}