<div class="component-breadcrumbs">
    <div class="container">
        <div class="layout--12">
            <div class="column">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><span itemprop="name">404 - Content Not Found</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="component-jumbotron  jumbo-image" >
    <div class="container">
        <div class="content">
            <h1 class="jumbotron__title">Something's not right</h1>
            <h2 class="jumbotron__subtitle">We can't find the page you're looking for. Use the navigation links above or click the Avanti West Coast logo at the top left to go back to the home page.&nbsp;</h2>
        </div>
    </div>
</div>
<app-footer></app-footer>