  .warning-bx{
    background: #E2F5E9;
    padding: 20px 30px;
    display: flex;
}


mat-table {
  width: 100%;
}

mat-row.example-detail-row.mat-row.ng-tns-c14-5.ng-star-inserted{
  display: none;
}

mat-row.mat-row.ng-tns-c14-5.example-element-row.ng-star-inserted.example-expanded-row + mat-row.example-detail-row {
  display: flex;
  padding: 0;
  border: 0;
}
.mat-elevation-z8{
  box-shadow: none;
}

mat-row.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row mat-cell {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: block;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
mat-row.mat-header-row {
  height: 44px;
}
.list-bx{
  margin: 6px;
  padding: 5px;
  display: flex;
  position: relative;
  color: #131E29;
}
.price-value{
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  line-height: 36px;
}
.price-value span.curr-symbol {
  font-size: 18px;
  font-weight: normal;
}

p.deck-disc {
  margin: 0 10px;
    line-height: 36px;
}
.mixing-deck-tbl {
  border-spacing: 0 5px;
    border-collapse: separate;
    background: transparent;
    padding-top: 10px;
}
.viewmore-btn{
  color: #FF4713;
  font-size: 14px;
  font-weight: 500;
}
.tkt-class{
  line-height: 25px;
  font-size: 20px;
  color: #131e29;
  margin: 7px 0 0 7px;
}
.single-return-heading{
  color: #FF4713;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 0 7px;
}
.single-return-bx {
  border-right: 1px solid #D6D1CA;
  border-bottom: 1px solid #D6D1CA;
}
.deck-popup-btn2{
  right: 45px;
}

.small-qtt {
  padding: 15px 0;
  background: #204555;
}
.routing_icon{
  width: 40px;
}



.descriptions td.active a:hover {
  color: #204555;
  text-decoration: none;
}
.Journey-theader{
  padding: 8px;
  background: #204555;
}
.Journey-theader p{
  color: #fff;
  margin: 8px 0 0 0;
}
.Journey-theader .arrow-img{
  margin: 0 4px;
}
.pre-btn{
    color: #fff;
}
.mid-btn{
  color: #131E29;
  background: #E2F5E9;
  line-height: 16px;
  padding: 5px 22px;
  font-size: 14px;
  min-width: 90px;
  cursor: default;
}
.nxt-btn{
    color: #fff;
}
.mix-day-btns{
    float: right;
    display: flex;
    width: fit-content;
}
.mixing-deck-tbl table-header-cell {
  background: #D6D1CA;
     color: #131E29;
     font-size: 14px;
     width: 16.66%;
     text-align: center !important;
 }
 .mixing-deck-tbl mat-cell.mat-column-DepartureTime,
 .mixing-deck-tbl mat-cell.mat-column-ArrivalTime,
 .mixing-deck-tbl mat-cell.mat-column-Changes,
 .mixing-deck-tbl mat-cell.mat-column-Duration,
 .mixing-deck-tbl mat-cell.mat-column-SingleFare
  {
     text-align: center !important;

 }
 .mixing-deck-tbl mat-cell.mat-column-actions {
  text-align: right !important;
}

.mat-row-disabled{
  background-color: lightgrey !important;
}
.saleable-label {
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 999;
    width: 250px;
  text-align: center;
  transform: translate(-90%,-50%);
  background: #9E9E9E;
}
.mid-btn.mat-button.mat-button-base {
  cursor: default;
}
.cursor-no-drop{
  cursor: no-drop;
}
mat-cell.mat-cell.cdk-column-expandedDetail.mat-column-expandedDetail.ng-tns-c14-5.ng-star-inserted.expanded .example-element-detail {
  overflow: visible;
}
.journey-header::before{
  content: '';
  position: absolute;
  background: #FF4713;
  width: 10px;
  height: 54px;
  top: 0px;
  left: 0px;
}
.mat-expansion-panel-header{
  min-height: 64px !important;
  height: auto !important;
}
.mat-expansion-panel.seat-reserv-panel{
  box-shadow: none;
  border-radius: 0 !important;
  overflow: visible;
}
.mat-expansion-panel.seat-reserv-panel .mat-expansion-panel-header {
  padding: 0 2px;
  border-bottom: 1px solid #A0ADB7;
}
.journey-header{
  padding-left: 15px;
  margin-left: 15px;
  position: relative;
  padding-top: 0px;
}
@media (max-width:1024px){
  .list-bx {
    padding: 7px 0px 7px 10px;
}
}

.btn-blue-outline{
  color: #204555;
  padding: 2px 10px !important;
  border: 1px solid #204555 !important;
  line-height: 33px !important;
  transition: 0.5s;
  border-radius: 0;
}
.btn-blue-outline.selected{
  background: #204555;
  color: #ffffff;
  padding: 2px 10px !important;
  border: 1px solid #204555 !important;
  line-height: 33px !important;
  transition: 0.5s;
}

.c-label {
  border: 1px solid #D6D1CA;
  width: 145px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
}
.label-first{
  background-color: #95E1BF;
  color:#131E29;
  border: none;
}
.label-heading,.deck-disc{
  flex-basis: 44%;
}
.label-other,.ticket-box,.label-desc{
  flex-basis: 50%;
}
.label-other{
  display: flex;
}

.first-ticket,.standard-ticket {
  flex-basis: 50%;
  min-width: 120px;
  max-width: 136px;
}
.flex-60{
  flex:60%;
}
.flex-55{
  flex:55%;
}
.flex-40{
  flex:40%;
}
.flex-35{
  flex:35%;
}
.flex-80{
  flex:80%;
}
.flex-20{
  flex:20%;
}
.w-80{
  width:80%;
}

.advance-desc p{
  color:#204555;
  font-size: 16px;

}
.advance-desc ul li{
margin-bottom: 10px;
}
.single-ticket{
  border-bottom: 1px solid #D6D1CA;
}
.prevent-click{
  pointer-events: none;
}
.mat-expansion-panel-header-title {
  padding-top: 5px;
}

@media (max-width:767px){
  .journey-header{
    margin-left: 0px;
    margin-top: 15px;
  }
  .journey-header::before{
    top:3px;
    height: calc(100% - 20px);
  }
  .c-label {
    width:50%;
  }
  .label-other, .ticket-box, .label-desc{
    flex-basis: 100%;
  }
  .first-ticket, .standard-ticket{
    min-width: 131px;
    max-width:initial;
  }
}
.dep-code::after {
  content: ''  !important ; 
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
}

.cdk-column-DepartureTime.mat-column-DepartureTime.ng-star-inserted {
  min-width: 16%;
  justify-content: flex-start;
}
.cdk-column-ArrivalTime.mat-column-ArrivalTime.ng-star-inserted {
  min-width: 18%;
  justify-content: flex-start;
  padding-left:10px !important;
}

.cdk-column-Duration.mat-column-Duration.ng-star-inserted {
  min-width: 10%;
  justify-content: flex-start;
}
.cdk-column-Changes.mat-column-Changes.ng-star-inserted {
min-width: 8%;
padding-right: 0px;
justify-content: center;
}


.cdk-column-DepartureTime{position: relative;}
.cdk-column-DepartureTime::after {
  content: '→';
  position: absolute;
  margin-left: 0px;
  z-index: 999;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
}
span.dep-code {
  display: block;
  width: 100px;
}

@media(max-width:767px){
  span.dep-code[_ngcontent-lqa-c16] {
    display: block;
    width: auto;
}
mat-cell.cdk-column-ArrivalTime.mat-column-ArrivalTime.ng-star-inserted {
  -ms-flex-order: 4;
  order: 4;
  min-width: 61%!important;
}
mat-cell.cdk-column-DepartureTime.mat-column-DepartureTime.ng-star-inserted {
  -ms-flex-order: 3;
  order: 3;
  min-width: 39%!important;
}
mat-cell.cdk-column-Duration.mat-column-Duration.ng-star-inserted {
  -ms-flex-order: 5;
  order: 5;
  min-width: 20%!important;
}
mat-cell.cdk-column-SingleFare.mat-column-SingleFare.ng-star-inserted {
  -ms-flex-order: 8;
  order: 8;
  min-width: 35%!important;
  position: static;
}
}
.mixing-deck-tbl .example-element-row.example-expanded-row {
  border-bottom: 2px solid #204555;
}