<div class="mixing-deck-feature-bx">
  <div class="container">
    <div id="oh-tag-row" class="font-500 our-tag">
      <div id="oh-tag-div">
        <span id="oh-tag-fees" class="our-tag-sapn">
          <svg width="24" height="23" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="10.5" stroke="#204555" stroke-width="2" />
            <path d="M11.4598 17.5L24.5 4.07343L22.9718 2.5L11.4598 14.3531L7.02815 9.79021L5.5 11.3636L11.4598 17.5Z"
              fill="#204555" />
          </svg>
          <span id="oh-tag-fees-txt" class="ps-2">We never charge booking fees</span>
        </span>
        <span id="oh-tag-price" class="our-tag-sapn">
          <svg width="24" height="23" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="10.5" stroke="#204555" stroke-width="2" />
            <path d="M11.4598 17.5L24.5 4.07343L22.9718 2.5L11.4598 14.3531L7.02815 9.79021L5.5 11.3636L11.4598 17.5Z"
              fill="#204555" />
          </svg>
          <a id="oh-tag-price-a" href="https://www.avantiwestcoast.co.uk/tickets-and-savings/ways-to-save/our-price-promise" class="ps-2 color-graphene price-promise" target="_blank" rel="noopener">Our price promise <span id="oh-tag-price-span" class="forhide">hidecompo</span>
          </a>
        </span>
        <span id="oh-tag-seat" class="d-lg-inline-block d-md-none d-none our-tag-sapn">
          <svg width="24" height="23" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="10.5" stroke="#204555" stroke-width="2" />
            <path d="M11.4598 17.5L24.5 4.07343L22.9718 2.5L11.4598 14.3531L7.02815 9.79021L5.5 11.3636L11.4598 17.5Z"
              fill="#204555" />
          </svg>
          <span id="oh-tag-seatBooking" class="ps-2">Pick your seat when booking</span>
        </span>
      </div>
    </div>
  </div>
  </div>