@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("../../../../assets/css/enhanced-styles.css");

.journey-details-itinerary-popup {
    min-width: auto ;
    max-width: 72rem ;
    width: 100% ;
    height: calc(100vh - 128px);
}

.journey-details-flex {
    display: flex;
    gap: 1.5rem;
}

.journey-details-left {
    width: 100%;
    max-width: 40%;
}

.journey-details-right {
    width: 100%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.journey-details-card {
    border: 0.063rem solid var(--neutrals-light-periwinkle);
    border-radius: 0.313rem;
}

.journey-details-card-header {
    padding: 1rem 1.5rem;
    background-color: var(--primary-graphene);
    border-radius: 0.25rem 0.25rem 0 0;
}

.journey-details-card-header h3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--shades-white);
    margin-bottom: 0;
}

.journey-details-card-body {
    padding: 1.5rem;
}

.journey-details-route {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;   
}

.journey-details-route-inner {
    border-bottom: 0.063rem solid var(--neutrals-light-periwinkle);
}

.journey-details-route-inner:last-child {
    border-bottom: none;
}

.journey-details-route-train img {
    width: 5.188rem;
    height: 3.125rem;
    padding: 0 0 0 0.5rem;
}

.journey-details-route-train p {
    border-radius: 0.313rem;
    background-color: var(--neutrals-light-grey);
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.125rem;
    color: var(--primary-coalescent);
    display: table-cell;
}

.journey-details-route-msg {
    margin: 1rem 0 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.313rem;
    background-color: var(--feel-good-green);
}

.journey-details-route-not-msg {
    background-color: var(--neutrals-bright-grey);
}

.journey-details-route-msg-content h5 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: var(--primary-coalescent);
    margin-bottom: 0;
}

.journey-details-route-msg-content p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
}

.journey-details-train-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.journey-details-train-info-inner {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-top: 1px solid var(--neutrals-light-periwinkle);
    padding-top: 1.5rem;
}

.journey-details-train-info-inner span{
    width: 100%;
    font-size: 14px;
    flex: 0 0 100%;
    color: var(--primary-coalescent);
    padding-left: 0.75rem;
    border-left: 0.25rem solid var(--primary-dark-spark);
}
.journey-details-train-info-inner span a {color: var(--primary-graphene);font-weight: 400;text-decoration: underline;text-underline-offset: 0.25rem;margin-top: 12px;font-size: 14px;}
.journey-details-train-info-inner span a:hover{font-weight: 700;}

.journey-details-train-info-inner:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

.journey-details-train-info-inner h4 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: var(--primary-coalescent);
    
}

.journey-details-train-info-inner p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
}

.journey-details-train-facilities-row {
    display: flex;
    flex-direction: column;
    
}

.journey-details-train-facilities:empty {
    display: none;
}

.journey-details-train-facilities .mat-accordion .mat-expansion-panel {
    box-shadow: none;
    border-bottom: none;
    border-radius: 0 !important;
}

.journey-details-train-facilities .mat-accordion .mat-expansion-panel-header {
    padding: 0;
    margin: 0;
    height: auto;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
}

.journey-details-train-facilities .mat-accordion .mat-expansion-panel-header-description {
    flex: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--primary-graphene);
}

.journey-details-train-facilities .mat-accordion .mat-expansion-panel-header-title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--primary-coalescent);
}

.journey-details-train-facilities .mat-accordion .mat-expanded .mat-expansion-panel-content {
    padding: 1.5rem 0 0 0;
   
}

.journey-details-train-facilities .mat-accordion .mat-expanded .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0;
}

.journey-details-train-facilities .mat-accordion .journey-details-train-facilities-list ul {
    padding-left: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    margin-bottom: 0;
}

.journey-details-train-facilities .mat-accordion .journey-details-train-facilities-list ul li {
    position: relative;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--primary-coalescent);
}

.journey-details-train-facilities .mat-accordion .journey-details-train-facilities-list ul li::before {
    content: "";
    position: absolute;
    left: -1.25rem;
    top: 0;
    background-image: url(../../../../assets/images/new-design-img/list-check.svg);
    height: 1rem;
    width: 1rem;
}

.journey-details-accessibility {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.journey-details-accessibility-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.journey-details-accessibility-title h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--primary-coalescent);
}

.journey-details-accessibility-title img {
    padding: 0.167rem 0.417rem;
}

.journey-details-accessibility-content {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
}

.journey-details-accessibility-content p {
    line-height: 1.375rem;
    color: var(--primary-coalescent);
    font-size: 0.875rem;
}

/*----- Route station -----*/
.journey-details-route-stations-container {
    display: flex;
    flex-direction: column;
}

.journey-details-route-stations-container .journey-details-route-stations {
    min-height: 3.125rem;
    display: flex;
    gap: 3.063rem;
}

.journey-details-route-stations-time {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: var(--primary-coalescent);
    text-align: center;
}

.journey-details-route-stations-time.journey-details-route-strike-time {
    color: var(--neutrals-auro-metal) !important;
    text-decoration-line: line-through;
}

.journey-details-route-left-width {
    width: 2.625rem;
    min-width: 2.625rem;
    display: flex;
    justify-content: center;
}

.journey-details-route-left-width img {
    width: 1.5rem;
    height: 1.5rem;
}

.journey-details-route-stations-name {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: var(--primary-coalescent);
    margin-bottom: 0;
}

.journey-details-route-stations-name .journey-details-route-train-cancelled {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 700;
    color: var(--destructive-watermellon);
    display: block;
    text-align: left;
}

.journey-details-route-stations-container .journey-details-route-other .journey-details-route-stations-name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: var(--primary-graphene);
}

.journey-details-route-stations-bus-name {
    color: var(--destructive-watermellon);
}

.journey-details-route-other-time {
    font-size: 0.813rem;
    line-height: 1.125rem;
    color: var(--primary-graphene);
    letter-spacing: -0.007rem;
    font-weight: 400;
    display: block;
}

.journey-details-route-stations-accordion {
    height: auto !important;
    min-height: 3.125rem;
}

.journey-details-route-stations-accordion .mat-accordion .mat-expansion-panel {
    box-shadow: none;
    border-bottom: none;
    border-radius: 0 !important;
    overflow: visible;
}

.journey-details-route-stations-accordion .mat-accordion .mat-expansion-panel-header {
    padding: 0!important;
    height: auto;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    min-height: 3.125rem;
    align-items: baseline;
}

.journey-details-route-stations-accordion .mat-accordion .mat-content {
    flex: none;
}

.journey-details-route-stations-accordion .mat-accordion .mat-expansion-panel-header-description {
    line-height: 1.375rem;
    font-size: 0.875rem;
    color: var(--primary-graphene);
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.journey-details-route-stations-accordion .mat-accordion .mat-expansion-panel-content {
    padding: 0;
    height: auto;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    position: relative;
    left: -92px;
    overflow: hidden;
}

.journey-details-route-stations-accordion .mat-accordion .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0;
    margin: 0;
}

.journey-details-route-stations-accordion .mat-accordion .journey-details-route-stations-inner {
    display: flex;
    gap: 3.063rem;
}

.journey-details-route-stations-accordion .mat-accordion .journey-details-route-stations-inner .journey-details-route-stations-time,
.journey-details-route-stations-accordion .mat-accordion .journey-details-route-stations-inner .journey-details-route-stations-name {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--primary-coalescent);
    text-align: center;
}
.journey-details-route-stations-accordion .mat-accordion .journey-details-route-stations-inner .journey-details-route-stations-name {
    text-align: left !important;
}
.journey-details-route-first-stations .journey-details-route-stations-name,
.journey-details-route-last-stations .journey-details-route-stations-name,
.journey-details-route-other .journey-details-route-stations-name,
.journey-details-route-stations-accordion .journey-details-route-hide-show,
.journey-details-route-stations-accordion .journey-details-route-stations .journey-details-route-stations-name {
    position: relative;
}

.journey-details-route-accordion-header.cdk-keyboard-focused,
.journey-details-route-accordion-header.cdk-focused:focus-visible,
.journey-details-route-accordion-header.cdk-keyboard-focused:focus-visible {
    background-color: transparent !important;
}

.journey-details-route-accordion-header.cdk-keyboard-focused .mat-content,
.journey-details-route-accordion-header.cdk-focused:focus-visible .mat-content,
.journey-details-route-accordion-header.cdk-keyboard-focused:focus-visible .mat-content {
    background-color: transparent !important;
    outline: 0.125rem solid var(--primary-coalescent) !important;
    outline-offset: 0.125rem !important;
    border-radius: 0.25rem;
}

.journey-details-route-accordion-header .mat-content,
.journey-details-route-accordion-header .mat-content,
.journey-details-route-accordion-header.mat-content {
    padding-right: 0.25rem;
}

.journey-details-route-accordion-header .mat-expansion-indicator,
.journey-details-route-accordion-header .mat-expansion-indicator,
.journey-details-route-accordion-header .mat-expansion-indicator {
    position: relative;
    left: -6px;
}

.journey-details-facilites-accordion-header.cdk-keyboard-focused,
.journey-details-facilites-accordion-header.cdk-focused:focus-visible,
.journey-details-facilites-accordion-header.cdk-keyboard-focused:focus-visible {
    background-color: transparent !important;
}

.journey-details-facilites-accordion-header.cdk-keyboard-focused .mat-content .mat-expansion-panel-header-description,
.journey-details-facilites-accordion-header.cdk-focused:focus-visible .mat-content .mat-expansion-panel-header-description,
.journey-details-facilites-accordion-header.cdk-keyboard-focused:focus-visible .mat-content .mat-expansion-panel-header-description {
    background-color: transparent !important;
    outline: 0.125rem solid var(--primary-coalescent) !important;
    outline-offset: -3px !important;
    border-radius: 0.25rem;
}

.journey-details-route-first-stations .journey-details-route-stations-name::before {
    content: "";
    position: absolute;
    top: 0.125rem;
    left: -2rem;
    border-radius: 100%;
    border: 4px solid var(--primary-graphene);
    padding: 4.37px;
    z-index: 1;
    background-color: var(--shades-white);
}

.journey-details-route-first-stations .journey-details-route-stations-name::after {
    content: "";
    position: absolute;
    top: 1.063rem;
    left: -1.625rem;
    height: calc(100% - 1.063rem);
    width: 0.25rem;
    z-index: 0;
    background-color: var(--primary-graphene);
}

.journey-details-route-last-stations .journey-details-route-stations-name::before {
    content: "";
    position: absolute;
    top: 0.125rem;
    left: -2rem;
    border-radius: 100%;
    border: 4px solid var(--primary-graphene);
    padding: 4.37px;
    z-index: 1;
    background-color: var(--shades-white);
}

.journey-details-route-last-stations .journey-details-route-stations-name::after {
    content: "";
    position: absolute;
    bottom: 2.938rem;
    left: -1.625rem;
    height: 100%;
    width: 0.25rem;
    z-index: 0;
    background-color: var(--primary-graphene);
}

.journey-details-route-other .journey-details-route-stations-name::after {
    content: "";
    position: absolute;
    top: 0;
    left: -1.625rem;
    height: 100%;
    width: 0.25rem;
    z-index: 0;
    background-color: var(--primary-graphene);
}

.journey-details-route-stations-accordion .journey-details-route-hide-show::after {
    content: "";
    position: absolute;
    top: 0;
    left: -1.625rem;
    height: 100%;
    width: 0.25rem;
    z-index: 0;
    background-color: var(--primary-graphene);
}

.journey-details-route-stations-accordion .journey-details-route-stations .journey-details-route-stations-name::before {
    content: "";
    position: absolute;
    top: 0.438rem;
    left: -1.5rem;
    height: 0.25rem;
    width: 0.438rem;
    background-color: var(--primary-graphene);
}

.journey-details-route-stations-accordion .journey-details-route-accordion-inner .journey-details-route-stations:first-child,
.journey-details-route-stations-accordion .journey-details-route-accordion-inner .journey-details-route-stations:last-child {
    display: none;
}

.journey-details-card-body .mat-expansion-indicator::after {
    color: var(--primary-graphene);
}

.journey-details-train-facilities-row .mat-expansion-indicator::after {
    left: -7px;
    top: -3px;
    position: relative;
    padding: 4.16px;
    border-width: 0 3px 3px 0;
}

.journey-details-train-facilities-row .mat-expanded .mat-expansion-indicator::after {
    left: 6px;
}

.journey-details-route-hide-show .mat-expansion-indicator::after {
    left: -7px;
    top: -2px;
    position: relative;
    padding: 4.16px;
    border-width: 0 3px 3px 0;
}

.journey-details-route-hide-show .mat-expanded .mat-expansion-indicator::after {
    left: 5px;
    top: 0px;
}
/*----- Station Route station -----*/

@media (width <= 1024px) {
    .journey-details-itinerary-popup{margin: 0 1.5rem;}

    .journey-details-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .journey-details-flex .journey-details-left,
    .journey-details-flex .journey-details-right {
        max-width: none;
    }
}

@media (width <= 768px) {
    
   

    .journey-details-flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .enhanced-common-popup-container .mat-mdc-dialog-surface {
        border-radius: 0;
    }

    .journey-details-itinerary-popup .enhanced-common-popup-body .mat-mdc-dialog-content {
        max-height: none;
        padding: 0;margin-bottom: 2rem;
    }

    .enhanced-common-popup-body {
        overflow: auto;
    }

    .journey-details-card-body {
        padding: 1rem;
    }

    .journey-details-itinerary-popup .enhanced-common-popup-header h2 {
        width: 88%;
    }
}



.journey-details-train-facilities-row .journey-details-train-facilities {
    border-bottom: 1px solid var(--neutrals-light-periwinkle);padding: 1.25rem 0;
}
.journey-details-train-facilities-row .journey-details-train-facilities:last-child{
    border: none;
}
