<div class="clearfix"></div>
<div class="login_form">
  <form [formGroup]="AddAttributeForm" (ngSubmit)="onSubmit()">
    <div class="upload_img_wrp pb-2">
      <h2>Attribute</h2>
      <div class="row m-0">
        <div class="col-md-6 col-xxl-3">
          <div class="form-group">
            <label for="\attribute">Attribute Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control login_fild" id="attribute" placeholder="Attribute Name"
              formControlName="attributeName" inputRef [appInputMaxLength]="150">
          </div>
          <div *ngIf=" submitted && f.attributeName.errors?.required" class="text-danger validation-error">
            {{AppConstants.ATTRIBUTE_NAME_FIELD_REQUIRED}}
          </div>
        </div>
        <div class="col-md-6 col-xxl-3">
          <div class="form-group" *ngIf="articleData && articleData.length > 0">
            <label for="\article">Article <span class="text-danger">*</span></label>
            <select class="form-control login_fild" formControlName="articleId" id="article">
              <option selected value="">Select Article</option>
              <option *ngFor="let article of articleData; let i=index;" value="{{article?.ArticleId}}">
                {{article?.ArticleName}}</option>
            </select>
            <div *ngIf="submitted && f.articleId.errors?.required" class="text-danger validation-error">
              {{AppConstants.ARTICLE_REQUIRED}}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-3">
          <div class="form-group" *ngIf="imageViewData && imageViewData.length > 0">
            <label for="\imageView">Image view </label>
            <select class="form-control login_fild" formControlName="imageViewId" id="imageView">
              <option selected value="">Select ImageView</option>
              <option [ngStyle]="{'display': AppConstants.checkName(imageView?.ImageViewName) ? 'none' : ''}"
                *ngFor="let imageView of imageViewData; let i=index;" value="{{imageView?.ImageViewId}}">
                {{imageView?.ImageViewName}}</option>
            </select>
          </div>
          <div *ngIf="submitted && f.imageViewId.errors?.required" class="text-danger validation-error">
            {{AppConstants.IMAGE_VIEW_REQUIRED}}
          </div>
        </div>
        <div class="col-md-6 col-xxl-3">
          <div class="form-group">
            <label for="\status">Status <span class="text-danger">*</span></label>
            <select class="form-control login_fild" formControlName="isActive" id="status">
              <option selected value="">Select Status</option>
              <option value="1">{{AppConstants.STATUS_ACTIVE}}</option>
              <option value="0">{{AppConstants.STATUS_INACTIVE}}</option>
            </select>
          </div>
          <div *ngIf="submitted && f.isActive.errors?.required" class="text-danger validation-error">
            {{AppConstants.ATTRIBUTE_STATUS_REQUIRED}}
          </div>
        </div>

        <div class="bottom-configurable_b_w row">
          <div class="col-md-3">
            <div class="bottom-configurable">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="false"
                formControlName="isConfigurable">
              <label class="form-check-label" for="inlineRadio2"> Configurable </label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="bottom-configurable">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio4" value="false"
                formControlName="is_product_details">
              <label class="form-check-label" for="inlineRadio4">Summary</label>
            </div>
          </div>

          <div class="col-md-3" style="display: none;">
            <div class="bottom-configurable">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="false"
                formControlName="is_specification">
              <label class="form-check-label" for="inlineRadio3">Specification </label>
            </div>
          </div>
          <div class="text-danger validation-error" style="display: none;"
            *ngIf="is_for_showing == 1 || (!AddAttributeForm.get('is_product_details')?.value && !AddAttributeForm.get('is_specification')?.value)">
            {{AppConstants.SELECT_ONE_OPTION}}
          </div>

          <div class="col-md-3">
            <div class="bottom-configurable">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio5" value="false"
                formControlName="engravable" (change)="resetEngraveImage($event)">
              <label class="form-check-label" for="inlineRadio5">Engravable</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="upload_img_wrp pb-3">
      <div class="row m-0" formArrayName="attributeDetails">
        <div class="add-leade-page-main">
          <div class="add-leade-page-title text-right">
            <h2>Add Attribute</h2>
            <button type="button" class="btn btn-default login_btn pull-right" (click)="addAttributeDetailForm()"><em
                class="fa fa-plus" aria-hidden="true"></em> Add Attribute
              Value</button>
          </div>

        </div>
        <div class="image_diamension">
          <span *ngIf="AddAttributeForm.get('attributeName')?.value">Dimension : </span><span
            *ngIf="AddAttributeForm.get('attributeName')?.value && (AddAttributeForm.get('attributeName')?.value.toLowerCase().includes(AppConstants.WEIGHT) || AddAttributeForm.get('attributeName')?.value.toLowerCase().includes(AppConstants.BRACELETE_STYLE)) ">(800
            x 400) PX</span>
          <span
            *ngIf="AddAttributeForm.get('attributeName')?.value && (!AddAttributeForm.get('attributeName')?.value.toLowerCase().includes(AppConstants.WEIGHT)&& !AddAttributeForm.get('attributeName')?.value.toLowerCase().includes(AppConstants.BRACELETE_STYLE)) ">(600
            x 600) PX</span> <br>
          Formats : .png, .jpg, .jpeg and .jfif
        </div>
        <div id="todo" cdkDropList class="example-list" style="cursor: all-scroll" (cdkDropListDropped)="drop($event)">
          <div class="col-md-12 sub_frm_wrp_add" cdkDrag
            *ngFor="let attribute of addAttributeDetailFormArray.controls; let i=index" [formGroupName]="i">

            <div class="row">
              <div class="col-md-5 d-flex">
                <div class="upload__btn-box upload_img_vw_p_m" *ngIf="!hideUploadImgOpt">
                  <label class="upload__btn upload_img_vw_p">
                    <p><em class="fas fa-cloud-upload-alt"></em> Upload image</p>
                    <input type="file" (change)="uploadAttachment($event,i,'normal_image')"
                      accept=".png, .jpg, .jpeg, .jfif" data-max_length="20" class="upload__inputfile">
                  </label>
                  <div *ngIf="submitted && addAttributeDetailFormArray.controls[i].get('base64_image_url')?.errors"
                    class="error-msg text-danger">
                    <div *ngIf="addAttributeDetailFormArray.controls[i].get('base64_image_url')?.errors?.required">
                      {{AppConstants.REQUIRED_FIELD}}</div>
                  </div>
                </div>

                <div class="upload__img-wrap"
                  *ngIf="addAttributeDetailFormArray.controls[i].get('base64_image_url') && addAttributeDetailFormArray.controls[i].get('base64_image_url')?.value">
                  <div class='upload__img-box'>
                    <div
                      [ngStyle]="{'background-image': 'url(' + addAttributeDetailFormArray.controls[i].get('base64_image_url')?.value + ')'}"
                      [attr.data-number]='[i+1]' class='img-bg'>
                      <div class='upload__img-close' (click)="deleteImage(i,'normal_image')"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group m-0 pt-0 px-3 color-input-wrapper"
                  *ngIf="AddAttributeForm.get('attributeName')?.value.toLowerCase().includes(AppConstants.METAL_COLOR)">
                  <label style="width:100%;">Color Code 1<span class="text-danger">*</span></label>
                  <input class="form-check-input color-input" [(colorPicker)]="color[i]" formControlName="color"
                    [style.background]="color[i]" (colorPickerChange)="onEventLog($event,i,1)" />
                  <div *ngIf="submitted && addAttributeDetailFormArray.controls[i].get('color')?.errors"
                    class="error-msg text-danger">
                    <div *ngIf="addAttributeDetailFormArray.controls[i].get('color')?.errors?.required">
                      {{AppConstants.REQUIRED_FIELD}}</div>

                  </div>
                </div>
                <div class="form-group m-0 pt-0 px-3 color-input-wrapper"
                  *ngIf="AddAttributeForm.get('attributeName')?.value.toLowerCase().includes(AppConstants.METAL_COLOR)">
                  <label style="width:100%;">Color Code 2</label>
                  <input class="form-check-input color-input" [(colorPicker)]="secondryColor[i]"
                    formControlName="secondryColor" [style.background]="secondryColor[i]"
                    (colorPickerChange)="onEventLog($event,i,2)" />
                  <!-- <div *ngIf="submitted && addAttributeDetailFormArray.controls[i].get('secondryColor')?.errors"
                    class="error-msg text-danger">
                    <div *ngIf="addAttributeDetailFormArray.controls[i].get('secondryColor')?.errors?.required">
                      {{AppConstants.REQUIRED_FIELD}}</div>

                  </div> -->
                </div>
              </div>
              <div class="col-md-2" *ngIf="AddAttributeForm.get('engravable')?.value">
                <div class="upload__btn-box upload_img_vw_p_m">
                  <label class="upload__btn upload_img_vw_p">
                    <p><em class="fas fa-cloud-upload-alt"></em> Engraving</p>
                    <input type="file" (change)="uploadAttachment($event,i,'engrav_image')"
                      accept=".png, .jpg, .jpeg, .jfif" data-max_length="20" class="upload__inputfile">
                  </label>
                </div>

                <div class="upload__img-wrap"
                  *ngIf="addAttributeDetailFormArray.controls[i].get('engrav_base64_image_url') && addAttributeDetailFormArray.controls[i].get('engrav_base64_image_url')?.value">
                  <div class='upload__img-box'>
                    <div
                      [ngStyle]="{'background-image': 'url(' + addAttributeDetailFormArray.controls[i].get('engrav_base64_image_url')?.value + ')'}"
                      [attr.data-number]='[i+1]' class='img-bg'>
                      <div class='upload__img-close' (click)="deleteImage(i,'engrav_image')"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Attribute Value <span class="text-danger">*</span></label>
                  <input type="text" class="form-control login_fild" placeholder="Attribute Value"
                    formControlName="attributeValue" inputRef [appInputMaxLength]="150">
                </div>
                <div *ngIf="submitted && addAttributeDetailFormArray.controls[i].get('attributeValue')?.errors"
                  class="error-msg text-danger">
                  <div *ngIf="addAttributeDetailFormArray.controls[i].get('attributeValue')?.errors?.required">
                    {{AppConstants.REQUIRED_FIELD}}</div>
                </div>
              </div>
              <div class="col-md-2">

                <div class="form-group">
                  <label>Status <span class="text-danger">*</span></label>
                  <select class="form-control login_fild" formControlName="isActive">
                    <option selected value="">Select Status</option>
                    <option value="1">{{AppConstants.STATUS_ACTIVE}}</option>
                    <option value="0">{{AppConstants.STATUS_INACTIVE}}</option>
                  </select>
                </div>
                <div *ngIf="submitted && addAttributeDetailFormArray.controls[i].get('isActive')?.errors"
                  class="error-msg text-danger">
                  <div *ngIf="addAttributeDetailFormArray.controls[i].get('isActive')?.errors?.required">
                    {{AppConstants.REQUIRED_FIELD}}</div>
                </div>
              </div>
              <div class="col-md-1" *ngIf="addAttributeDetailFormArray.controls[i].get('isDelete')?.value == 1"
                (click)="deleteAttribute(i,addAttributeDetailFormArray.controls[i].get('attributeValue')?.value,addAttributeDetailFormArray.controls[i].get('attributeDetailId')?.value)">
                <button type="button" class="delete-button pull-right"><svg xmlns="http://www.w3.org/2000/svg"
                    width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add_prd_btn_rw">
      <button type="submit" class="btn btn-default login_btn"><em class="fas fa-sign-in-alt"></em>
        <span *ngIf="id; else add">{{AppConstants.UPDATE}}</span>
        <ng-template #add>
          {{AppConstants.SUBMIT}}
        </ng-template>
      </button>
      <button type="button" class="btn btn-default login_btn cancel_btn_frm" (click)="cancel()"><em class="fa fa-times"
          aria-hidden="true"></em>Cancel</button>
    </div>

  </form>
</div>
<div class="clearfix"></div>
