@font-face {
    font-family: 'Averta';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Averta.otf') format('opentype');
    src: url('../fonts/Averta.otf') format('opentype'), url('../fonts/Averta.woff') format('woff'), url('../fonts/Averta.woff2') format('woff2'), url('../fonts/Averta.ttf') format('truetype'), url('../fonts/Averta.eot#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Averta';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/AvertaRegularItalic.otf') format('opentype');
    src: url('../fonts/AvertaRegularItalic.otf') format('opentype'), url('../fonts/AvertaRegularItalic.woff') format('woff'), url('../fonts/AvertaRegularItalic.woff2') format('woff2'), url('../fonts/AvertaRegularItalic.ttf') format('truetype'), url('../fonts/AvertaRegularItalic.eot#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Averta';
    font-weight: 900;
    font-style: italic;
    src: url('../fonts/AvertaBlackItalic.otf') format('opentype');
    src: url('../fonts/AvertaBlackItalic.otf') format('opentype'), url('../fonts/AvertaBlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'Averta';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/AvertaBold.otf') format('opentype');
    src: url('../fonts/AvertaBold.otf') format('opentype'), url('../fonts/AvertaBold.woff') format('woff'), url('../fonts/AvertaBold.woff2') format('woff2'), url('../fonts/AvertaBold.ttf') format('truetype'), url('../fonts/AvertaBold.eot#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Averta';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/AvertaBoldItalic.otf') format('opentype');
    src: url('../fonts/AvertaBoldItalic.otf') format('opentype'), url('../fonts/AvertaBoldItalic.woff') format('woff'), url('../fonts/AvertaBoldItalic.woff2') format('woff2'), url('../fonts/AvertaBoldItalic.ttf') format('truetype'), url('../fonts/AvertaBoldItalic.eot#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Averta';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/AvertaLight.otf') format('opentype');
    src: url('../fonts/AvertaLight.otf') format('opentype'), url('../fonts/AvertaLight.woff') format('woff'), url('../fonts/AvertaLight.woff2') format('woff2'), url('../fonts/AvertaLight.ttf') format('truetype'), url('../fonts/AvertaLight.eot#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Averta';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/AvertaLightItalic.otf') format('opentype');
    src: url('../fonts/AvertaLightItalic.otf') format('opentype'), url('../fonts/AvertaLightItalic.woff') format('woff'), url('../fonts/AvertaLightItalic.woff2') format('woff2'), url('../fonts/AvertaLightItalic.ttf') format('truetype'), url('../fonts/AvertaLightItalic.eot#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Averta';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/AvertaSemibold.otf') format('opentype');
    src: url('../fonts/AvertaSemibold.otf') format('opentype'), url('../fonts/AvertaSemibold.woff') format('woff'), url('../fonts/AvertaSemibold.woff2') format('woff2'), url('../fonts/AvertaSemibold.ttf') format('truetype'), url('../fonts/AvertaSemibold.eot#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Averta';
    font-weight: 500;
    font-style: italic;
    src: url('../fonts/AvertaSemiboldItalic.otf') format('opentype');
    src: url('../fonts/AvertaSemiboldItalic.otf') format('opentype'), url('../fonts/AvertaSemiboldItalic.woff') format('woff'), url('../fonts/AvertaSemiboldItalic.woff2') format('woff2'), url('../fonts/AvertaSemiboldItalic.ttf') format('truetype'), url('../fonts/AvertaSemiboldItalic.eot#iefix') format('embedded-opentype');
}