<div>
    <div class="loyalty-close-btn">
        <button mat-button class="dialog-close simple-btn" role="button" mat-dialog-close aria-label="Close">
            <img src="assets/images/Close.svg" alt="close button">
        </button>
    </div>
    <h3 class="mb-16 f-32imp text-uppercase loyalty-popup-title">
        <span class="font-300 d-block font-dark">One last step.</span> 
        <span class="font-700 text-spark">save preferences</span>
    </h3>
    <p class="f-16 mb-28 lh-22 font-400 text-black loyalty-popup-para">
        Save preferences below and then you are all set to go. 
    </p>
    <button class="default-btn f-16 h-44 w-100 d-block" (click)="onClosePopup()" mat-button>Got it!</button>
</div>    