<div class="clearfix"></div>
   <div class="profile_wrp change_pass_w"> 
      <div class="login_form">
         <form [formGroup]="changetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
               <label>{{AppConstants.OLD_PASSWORD_TESXT}} <span class="text-danger">*</span></label>
               <input type="password" class="form-control login_fild" placeholder="Old Password" formControlName="oldPassword" inputRef>
               <div *ngIf="(f.oldPassword.touched || submitted) && f.oldPassword.errors?.required" class="text-danger validation-error">
                  Old password field is required.
               </div>
            </div>
             <div class="form-group">
                <label>{{AppConstants.NEW_PASSWORD_TESXT}} <span class="text-danger">*</span></label>
               <input type="password" class="form-control login_fild" placeholder="New Password" formControlName="newPassword" inputRef>
               <div *ngIf="(f.newPassword.touched || submitted) && f.newPassword.errors?.required" class="text-danger validation-error">
                  {{AppConstants.NEW_PASSWORD_REQUIRED}}
               </div>
               <div *ngIf="(f.newPassword.touched || submitted) && f.newPassword.errors?.minlength && !f.newPassword.errors?.required" class="text-danger validation-error">{{AppConstants.NEW_PASSWORD_LENGTH}}</div>
               <div *ngIf="(f.newPassword.touched || submitted) && f.newPassword.errors?.pattern && !f.newPassword?.errors?.minlength" class="text-danger validation-error">{{AppConstants.NEW_PASSWORD_VALIDATION}}</div>
            </div>
             <div class="form-group">
                <label>{{AppConstants.CONFIRM_PASSWORD_TEXT}} <span class="text-danger">*</span></label>
               <input type="password" class="form-control login_fild" placeholder="Confirm Password" formControlName="confirmPassword" inputRef>
               <div *ngIf="(f.confirmPassword.touched || submitted) && f.confirmPassword.errors?.required" class="text-danger validation-error">
                  {{AppConstants.CONFIRM_PASSWORD_REQUIRED}}
               </div>
               <div *ngIf="(f.confirmPassword.touched || submitted) && f.confirmPassword.errors?.minlength && !f.confirmPassword.errors?.required" class="text-danger validation-error">{{AppConstants.CONFIRM_PASSWORD_LIMIT}}</div>
               <div *ngIf="(f.confirmPassword.touched || submitted) && f.confirmPassword.errors?.pattern && !f.confirmPassword?.errors?.minlength" class="text-danger validation-error">{{AppConstants.CONFIRM_PASSWORD_SYNTAX}}</div>
               <div *ngIf="submitted && is_password_match" class="text-danger validation-error">{{AppConstants.PASSWROD_NOT_MATCH}}</div>
            </div>
           
             
           
            <div class="add_prd_btn_rw">
            <button type="submit" class="btn btn-default login_btn"><i class="fa fa-unlock-alt" aria-hidden="true"></i>{{AppConstants.CHANGE_PASSWORD_SUBMIT}}</button>
            <button type="submit" class="btn btn-default login_btn cancel_btn_frm" [routerLink]="['/admin/my-profile']"><i class="fa fa-times" aria-hidden="true"></i>{{AppConstants.CHANGE_PASSWORD_CANCEL}}</button>
            </div>
         </form>
      </div>
       <div class="clearfix"></div>
   </div>

