<app-enhanced-basic-dialog [dialogFooter]="dialogFooter"  class="enhanced-alert-dialogs content-center" [dialogTitle]="headerTitle"  [iconClose]="false" role="dialog" aria-modal="true" tabindex="-1">
  <ng-content>
  <div class="enhanced-common-popup-theme">
    <div class="enhanced-common-popup-theme-border">
    <div class="alert-content" role="alert" aria-live="assertive" aria-atomic="true">
      <span class="sr-only">{{ headerTitle }}</span>
      <p *ngIf="!headerTitle">Please choose your preferred train(s) on the train times page. All available tickets will be shown once you select a train time and try searching again.</p>
      <p *ngIf="headerTitle">{{message}}</p>
    </div>
    </div>
  </div> 
</ng-content>
<ng-template #dialogFooter>
  <div class="common-popup-theme-footer">
      <div class="d-flex gap-24 justify-between">
        <button mat-dialog-close id="efc-qtt-footer-next-btn" type="button" mat-button class="fill-btn fill-light-hover-btn">
          {{footerBtnText}}
        </button>
      </div>
  </div>
</ng-template> 
  




</app-enhanced-basic-dialog>