@media (max-width:991px) {
    tr.counter td:first-child {
        padding-left: 10px !important;
    }
}

@media (max-width:1024px) {
    .datepicker-info .ngb-dp-month:last-child {
        display: none;
    }

    .w-230 {
        min-width: auto !important;
    }

    .newamnd-inputdsn.radio-btns mat-radio-button:first-child label {
        margin-right: 0px !important;
    }

    .newamnd-inputdsn.radio-btns mat-radio-button label {
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .datepicker-info {
        width: 80% !important;
    }

    .datepicker-info .ngb-dp-month {
        width: 100%;
    }

    .datepicker-info .mat-dialog-title {
        margin: 0 !important;
        padding: 0;
    }

    .datepicker-info .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    .datepicker-info .ngb-dp-arrow.right button {
        padding-left: 2px;
    }

    .datepicker-info mat-dialog-actions.mat-dialog-actions {
        display: none !important;
    }

    .mat-form-field-subscript-wrapper {
        position: static !important;
    }

    mat-row.mat-row-disabled mat-cell.mat-column-SingleFare {
        min-width: 35.5% !important;
    }
}

@media (max-width:767px) {
    .mixing-deck-tbl .example-expanded-row+.example-detail-row mat-cell {
        padding: 3px !important;
    }

    .tooltip.show.coalescent .tooltip-inner {
        max-width: 299px !important;
    }

    .return-tbl mat-cell.mat-cell.cdk-column-fastest.mat-column-fastest {
        display: none;
    }

    .mat-form-field-subscript-wrapper {
        position: static !important;
    }

    .mixing-deck-tbl .mat-row-disabled .cdk-column-expand-collapse.mat-column-expand-collapse.ng-star-inserted {
        display: none;
    }

    .mixing-deck-tbl .mat-row-disabled mat-cell.cdk-column-SingleFare.mat-column-SingleFare.ng-star-inserted {
        order: 2;
        min-width: 53% !important;
    }

    .mixing-deck-tbl .mat-row-disabled mat-cell.cdk-column-ArrivalTime.mat-column-ArrivalTime .prices-from {
        display: none;
    }

    .mixing-deck-tbl .mat-row-disabled mat-cell.cdk-column-ArrivalTime.mat-column-ArrivalTime {
        min-width: 43%;
    }

    .mixing-deck-tbl .mat-row-disabled mat-cell.cdk-column-Duration.mat-column-Duration {
        justify-content: flex-end;
    }

    mat-row.mat-row-disabled mat-cell.mat-column-SingleFare span {
        font-size: 12px;
        text-align: right;
    }

    .nectar-txt {
        padding-top: 6px;
    }

    .forgot-signin-title {
        font-size: 22px;
    }

    .last-child-nofare-new {
        font-size: 12px;
    }

    .return-tbl mat-cell.select-return.mat-cell.cdk-column-Select.mat-column-Select {
        order: 2;
        min-width: 45%;
        position: static;
        padding-right: 0px !important;
    }

    .farebuy-tbl {
        flex-wrap: wrap;
        width: 100%;

        .mat-button {
            margin-left: auto;
        }

        .mixing-deck-tbl .avanti-logo {
            width: 73px;
        }
    }

    table.mixing-deck-tbl thead {
        display: none;
    }

    td.cdk-column-expand-collapse.mat-column-expand-collapse.ng-star-inserted {
        position: absolute;
        right: 20px;
        width: 130px;
    }

    td.cdk-column-Operator.mat-column-Operator.ng-star-inserted {
        position: absolute;
        top: 0;
        left: 0;
        width: 140px;
        height: auto;
    }

    td.cdk-column-DepartureTime.mat-column-DepartureTime.ng-star-inserted,
    td.cdk-column-ArrivalTime.mat-column-ArrivalTime.ng-star-inserted {
        width: 70px;
    }

    mat-cell.cdk-column-Operator.mat-column-Operator.ng-star-inserted {
        min-width: 38%;
        min-height: 60px;
        order: 1;
    }

    mat-cell.cdk-column-expand-collapse.mat-column-expand-collapse.ng-star-inserted {
        order: 2;
        min-width: 52%;
    }

    mat-cell.cdk-column-DepartureTime.mat-column-DepartureTime.ng-star-inserted {
        order: 3;
        min-width: 39%;
    }

    mat-cell.cdk-column-ArrivalTime.mat-column-ArrivalTime.ng-star-inserted {
        order: 4;
        min-width: 61%;
    }

    mat-cell.cdk-column-SingleFare.mat-column-SingleFare.ng-star-inserted {
        order: 8;
        min-width: 35%;
        position: static;
    }

    .return-tbl mat-cell.cdk-column-Operator.mat-column-Operator {
        min-width: 45%;
        min-height: 60px;
        order: 1;
    }

    .return-tbl mat-cell.cdk-column-ArrivalTime.mat-column-ArrivalTime.ng-star-inserted {
        order: 4;
        min-width: 39%;
    }

    .return-tbl mat-cell.cdk-column-Duration.mat-column-Duration.ng-star-inserted {
        order: 5;
        min-width: 13%;
        justify-content: flex-end;
    }

    .cheap-fast {
        position: absolute;
        top: 4px;
        left: 0;
        z-index: 9;
        width: 200px;
        text-align: left;
    }

    .mixing-deck-tbl mat-cell.mat-column-actions {
        position: absolute;
        top: -12px;
        left: 0;
    }

    .cheap-fast span {
        margin-right: 3px;
    }

    mat-cell.cdk-column-Duration.mat-column-Duration.ng-star-inserted {
        order: 5;
        min-width: 20%;
    }

    mat-cell.cdk-column-Changes.mat-column-Changes.ng-star-inserted {
        order: 6;
        min-width: 41%;
    }

    mat-cell.mat-cell.cdk-column-actions.mat-column-actions.ng-star-inserted {
        order: -1;
        min-width: 4%;
    }

    .mixing-deck-tbl .cdk-column-Operator.mat-column-Operator.ng-star-inserted {
        padding-left: 0px;
    }

    .mixing-deck-tbl mat-row {
        min-height: 20px;
        padding: 0 10px;
        flex-wrap: wrap;
        position: relative;
    }

    .mixing-deck-tbl mat-row.example-detail-row {
        border: 0px solid #e4dfdf;
        padding: 0 0px
    }

    .mixing-deck-tbl mat-header-row {
        display: none;
    }

    mat-cell,
    mat-footer-cell,
    mat-header-cell {
        overflow: visible !important;
    }
}

@media only screen and (max-width:767px) {
    th.westcoast-highlight:last-of-type {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    mat-cell.mat-cell.cdk-column-SelectReturnTime.mat-column-SelectReturnTime {
        order: -2;
        min-width: 100%;
        padding-top: 5px;
    }

    span.changes::after {
        content: 'Chg';
        margin-left: 3px;
    }

    mat-table.return-tbl .prices-from {
        display: none;
    }

    span.duration::after {
        content: ')';
    }

    span.duration::before {
        content: '(';
    }

    .bs-tooltip-left {
        transform: translate(13px, 139px) !important;
    }

    .bs-tooltip-auto[x-placement^=left] .arrow::before,
    .bs-tooltip-left .arrow::before {
        top: 0 !important;
        border-width: .4rem .4rem 0 !important;
        border-top-color: #000 !important;
        left: auto;
        border-left-color: transparent;
    }

    .bs-tooltip-auto[x-placement^=left] .arrow,
    .bs-tooltip-left .arrow {
        bottom: -13px !important;
    }

    ngb-tooltip-window.bs-tooltip-left .arrow,
    ngb-tooltip-window.bs-tooltip-right .arrow {
        top: auto !important;
        left: calc(50% - .4rem) !important;
    }

    .mat-dialog-content {
        min-height: 30px;
    }

    .fare-footer p {
        margin-bottom: 0px;
    }

    .fare-break.mat-dialog-actions {
        margin-bottom: 0px !important;
    }

    .route-icon {
        position: absolute;
        top: 35px;
        z-index: 999;
        right: 40px;
        width: auto;
        padding: 0;
    }

    img.user-login-img {
        vertical-align: middle !important;
    }

    .signin-btn {
        flex-basis: 50%;
    }

    .amend-search-popup .mat-tab-body-content,
    .amend-search-popup .mat-tab-body.mat-tab-body-active,
    .amend-search-popup .mat-tab-body-wrapper {
        overflow: auto !important;
    }

    .review-buy tr.mat-row.btm-space-td {
        display: block;
        width: 50%;
        float: right;
    }

    .main-heading {
        font-size: 20px !important;
    }

    .f-14 {
        font-size: 12px !important;
    }

    .popup-hdr {
        font-size: 20px;
        padding-bottom: 8px;
    }

    button.delete-icon-btn img {
        margin-top: -6px !important;
    }

    .mt--10 {
        margin-top: 0;
    }

    .total-bx .mt--10 {
        margin-top: 10px;
    }

    .mt-m-10 {
        margin-top: 10px !important;
    }

    .w-m-100 {
        width: 100%;
    }

    .mat-content {
        align-items: center !important;
    }

    .review-buy tr.mat-row {
        float: left;
        display: block;
        width: 50%;
    }

    .review-buy tr {
        th.mat-cell,
        td.mat-cell {
            display: block;
            padding: 0 !important;
            font-size: 12px !important;
            white-space: nowrap;
        }
    }

    .ticket-details-bx {
        padding: 5px !important;
    }

    .seating-div {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .f-24 {
        font-size: 14px !important;
    }

    .fm-16 {
        font-size: 16px !important;
    }

    .f-32 {
        font-size: 20px !important;
    }

    .font-m-400 {
        font-weight: 400 !important;
    }

    .lh-40 {
        line-height: unset;
    }

    .price-div-mb {
        width: 50%;
        float: right;
        text-align: right;
    }

    .maximize-mobile {
        position: absolute;
        top: 25px;
        right: 20px;
    }

    .maximize-div {
        position: static;
    }

    .mobile-view .mix-day-btns span.max-w-50 {
        width: min-content;
        display: block;
    }

    .form-group-label {
        font-size: 12px;
    }

    .form-control-lg {
        font-size: 12px;
        height: 32px;
    }

    .forgot-password-btn,
    .forgot-password-btn:hover {
        font-size: 12px;
    }

    .Journey-theader .mix-day-btns {
        float: none !important;
        width: auto !important;
        justify-content: space-between;

        button {
            padding: 3px 5px !important;
            line-height: 18px !important;
            min-width: 40px !important;
        }
    }

    .mixing-deck-tbl .cdk-column-expand-collapse.mat-column-expand-collapse.ng-star-inserted {
        padding-right: 0px !important;
        justify-content: flex-end;
    }

    .dep-code::after,
    .darwin-dep::after {
        margin-left: 2px;
        top: 44%;
    }

    .c-h5 {
        font-size: 15px !important;
    }

    .c-p1 {
        font-size: 12px !important;
    }

    .counter div {
        font-size: 15px;
    }

    .tickets-rem {
        font-size: 12px;
    }

    .price-value {
        font-size: 15px;
    }

    .price-value span.curr-symbol {
        font-size: 15px;
    }

    .deck-disc .f-16 {
        font-size: 14px !important;
    }

    .new-amd-filters .filterby-txt {
        margin-top: 20px;
    }

    .new-amd-filters .jrny-info td {
        padding-right: 0px !important;
        margin-bottom: 2px !important;
    }

    .new-amd-filters .mat-select~.mat-form-field-label-wrapper label {
        height: auto;
        font-size: inherit !important;
        line-height: inherit !important;
        top: 0.8em;
    }

    .new-amd-filters .mat-form-field-appearance-fill .mat-form-field-infix {
        padding: 0;
        border-top: 0px;
    }

    .new-amd-filters .filters-td .mat-form-field-wrapper {
        padding: 0px 0px;
    }

    .new-amd-filters .drop-toggle {
        width: 100% !important;
        height: 40px;
        line-height: 27px;
    }

    .new-amd-filters span.mat-select-value-text {
        font-size: 15px !important;
    }

    .lbl-tgl-grp-dprt-after {
        display: none;
    }

    .datepicker-info {
        top: 3% !important;
        width: 61% !important;
    }
}

@media (min-width: 375px) and (max-width:767px) {
    .dep-code::after,
    .darwin-dep::after {
        margin-left: 9px;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .dep-code::after,
    .darwin-dep::after {
        margin-left: 0px;
    }
}

@media only screen and (min-width:768px) {
    .mat-row-disabled .select-return.cdk-column-Select.mat-column-Select {
        min-width: 27% !important;
        text-align: left;
    }

    .select-return.cdk-column-Select.mat-column-Select,
    mat-header-cell.returntime-select.mat-header-cell.cdk-column-Select.mat-column-Select {
        min-width: 20%;
        justify-content: center;
    }

    .mixing-deck-tbl .avanti-logo {
        width: 75px;
    }

    .Journey-theader .mix-day-btns {
        float: none !important;
        width: auto !important;
        justify-content: flex-end;

        button {
            padding: 3px 5px !important;
            line-height: 18px !important;
            min-width: auto;
        }
    }

    .w-md-60 {
        width: 60% !important;
    }

    .w-md-67 {
        width: 67% !important;
    }

    .dep-code::after {
        position: absolute;
    }
}

@media only screen and (max-width:767px) {
    body {
        font-size: 12px;
    }

    .mixing-deck-tbl-rtrn mat-cell.mat-cell:last-of-type {
        justify-content: flex-end;
    }

    .amend-search-bx .search-via-select {
        font-size: 12px;
        line-height: 13px;
        height: 32px;
    }

    .amend-search-bx input {
        font-size: 12px !important;
        line-height: 16px !important;
        height: 32px !important;
    }

    .amend-search-bx .selectbox {
        font-size: 12px;
        line-height: 13px;
    }

    .amend-search-bx .mat-select {
        font-size: 12px !important;
        line-height: 13px !important;
        height: 32px !important;
    }

    .amend-search-bx .mat-expansion-panel-header {
        font-size: 12px !important;
        line-height: 13px;
        height: 32px !important;
        max-height: 32px !important;
        padding: 0 10px;
    }

    .mat-expansion-panel-header {
        font-size: 12px;
        padding: 0 10px !important;
        align-items: center;
    }

    .basket-page .mat-expansion-panel-header {
        padding: 0 15px !important;
    }

    .mode-of-del {
        display: flex;
        justify-content: space-between;
    }

    span.mat-panel-title-span {
        font-size: 12px !important;
    }

    img.mat-panel-icon.mat-smart {
        margin-right: 0px !important;
        height: 20px !important;
    }

    .del-mode-price-tag {
        font-size: 12px !important;
    }

    .login-signin-title {
        font-size: 20px !important;
    }

    .login-signin-title.address {
        padding-bottom: 10px !important;
    }

    .mat-mdc-dialog-title {
        margin: 0 0 10px !important;
        font-size: 20px !important;
    }

    .mat-dialog-container {
        padding: 10px !important;
    }

    .mat-dialog-content {
        margin: 0 !important;
        padding: 0 !important;
    }

    span.dialog-close img {
        width: 15px;
    }

    .dialog-close {
        position: absolute;
        top: 16px;
        right: 17px;
    }

    table.routedetails-tbl td {
        font-size: 12px;
    }

    table.routedetails-tbl th {
        font-size: 14px;
    }

    .amend-search-bx .mat-form-field-appearance-legacy .mat-form-field-label {
        font-size: 12px !important;
        line-height: 32px;
    }

    .buynow-bttm-mixingdeck {
        td:first-of-type,
        th:first-of-type {
            padding-left: 5px !important;
            padding-left: 0px !important;
        }

        td:last-of-type,
        th:last-of-type {
            padding-right: 0px !important;
        }

        .flex-1 {
            flex: 1;
        }

        table th,
        table td {
            text-align: center !important;
            font-size: 12px !important;
            width: 10%;
        }
    }

    .mat-button {
        font-size: 12px;
        line-height: 16px !important;
        height: auto;
        padding: 8px 10px !important;
    }

    .new-theme .mat-button.default-btn-dark {
        font-size: 16px;
        padding: 1px 20px !important;
        line-height: 33px !important;
        font-weight: 500;
    }

    .flex-1 {
        flex: 1;
    }

    .farebuy-bx .cost-value {
        font-size: 20px !important;
    }

  .cdk-overlay-pane {
        max-width: 100vw !important;
        min-width: 80vw;
        justify-content: flex-end;
    }

    .filter-range-datepicker-popup {
        max-width: 480px !important;
        min-width: 480px !important;
        width: 480px !important;
    }

    .mat-list-base .mat-list-item {
        font-size: 14px;
    }

    .fare-footer {
        justify-content: space-between;
        display: flex !important;
        width: 100% !important;
    }

    .max-w-200 {
        max-width: 200px;
    }

    .review-buy .mat-expansion-panel-header-description {
        min-width: 200px;
    }

    .mat-dialog-actions {
        display: flex !important;
    }

    .fare-header-list,
    .outward-journey-extras {
        display: flex !important;
        justify-content: space-between;
        padding: 10px 0px 10px 0px !important;
    }

    .heading.flex-end {
        min-width: 65px;
        max-width: 70px;
        padding: 4px;
    }

    .fare-header-list.header .heading:first-child {
        min-width: 80px;
        max-width: 100px;
    }

    .fare-header-list.header .heading {
        padding: 4px;
        min-width: 65px;
        max-width: 70px;
    }

    .fare-header-list .first-col,
    .outward-journey,
    .second-col {
        display: flex !important;
    }

    .fare-header-list .first-col {
        flex-wrap: wrap;
        max-width: 100px;
        min-width: 80px;
    }

    span.outward {
        display: block;
        width: 69px;
        white-space: normal;
        line-height: 16px;
    }

    .farebuy-bx {
        padding: 10px 0 !important;
    }

    .upgrade-season-payment-footer {
        padding-bottom: 0 !important;
    }

    .mat-icon {
        height: 16px;
        width: 16px;
    }

    .mat-icon svg {
        vertical-align: unset;
    }

    .farebuy-bx .info-icn {
        height: 20px !important;
        width: 25px !important;
    }


    .list-bx {
        padding: 0px !important;
        align-items: center;
        justify-content: space-between;
    }

    .price-value {
        flex-basis: 30%;
    }

    .tkt-class {
        font-size: 14px !important;
        text-align: left;
    }

    body .default-input input {
        font-size: 12px !important;
        height: 32px !important;
    }

    p.deck-disc {
        margin: 0 5px !important;
        line-height: 14px !important;
        flex-basis: 45%;
    }

    button.parking-icon-btn {
        top: 2px;
    }

    .mid-btn span {
        font-size: 12px;
    }

    .popup-buttons-div {
        flex-basis: 5%;
        justify-content: flex-start;
        display: flex;
    }

    .farebuy-bx .totalcost {
        font-size: 14px !important;
    }

    .progressbar .counter td.active span:before {
        left: -11px;
    }
}

@media only screen and (max-width: 576px) {
    .filter-range-datepicker-popup {
        max-width: 400px !important;
        min-width: 400px !important;
        width: 400px !important;
    }
}

@media only screen and (max-width: 420px) {
    .filter-range-datepicker-popup {
        max-width: 320px !important;
        min-width: 320px !important;
        width: 320px !important;
    }

    .filter-datepicker-popup .custom-day.range.faded::before {
        width: 6px;
        left: -2px;
    }

    .filter-datepicker-popup .custom-day.range.faded::after {
        width: 30px;
        right: -30px;
    }

    .filter-datepicker-popup .custom-day.fromRangeDate::after,
    .filter-datepicker-popup .custom-day.fromRangeDateHover.fromRangeDate:after {
        width: 50px;
    }   
}

@media only screen and (max-width:390px) {
    .heading.fb-1 {
        min-width: 27%;
    }

    .heading.fb-2 {
        min-width: 30%;
    }

    .heading.fb-3 {
        min-width: 17%;
    }

    .heading.fb-4 {
        min-width: 20%;
    }

    .fbh-1.heading {
        min-width: 18%;
    }

    .fbh-2.heading {
        min-width: 24%;
    }

    .fbh-3.heading {
        min-width: 27%;
    }

    .fbh-4.heading {
        min-width: 15%;
    }

    .fare-header-list.header .fbh-5.heading {
        min-width: 15%;
    }
}

@media only screen and (max-width: 340px) {
    .filter-range-datepicker-popup {
        max-width: 280px !important;
        min-width: 280px !important;
        width: 280px !important;
    }

    .filter-datepicker-popup .custom-day.range.faded::before {
        width: 0;
    }

    .filter-datepicker-popup .custom-day.range.faded::after {
        width: 25px;
        right: -25px;
    }
}

@media only screen and (max-width:320px) {
    .dep-code::after,
    .darwin-dep::after {
        margin-left: -4px;
    }

    .return-tbl mat-cell.select-return.mat-cell.cdk-column-Select.mat-column-Select {
        padding-right: 4px;
    }

    .price-value {
        flex-basis: 20% !important;
    }

    button.outward {
        min-width: auto !important;
    }

    .fare-header-list .first-col {
        min-width: 50px !important;
    }

    .fare-header-list.header .heading:first-child {
        min-width: 50px !important;
    }

    .fare-footer {
        width: 100% !important;
    }

    body .default-input input {
        font-size: 12px;
        height: 32px;
    }

    .parking-icon-btn img {
        width: 20px;
    }

    button.parking-icon-btn {
        background: transparent !important;
    }

    .route-icon img {
        width: 34px;
    }

    .signin-btn {
        padding: 0 !important;
    }

    .example-element-detail {
        overflow-y: visible !important;
    }
}

@media only screen and (max-width: 300px) {
    .custom-day.range, .custom-day:hover {
        width: 30px;
        height: 30px;
        margin-top: -2px;
        margin-left: 1px;
    }

    .filter-range-datepicker-popup {
        max-width: 260px !important;
        min-width: 260px !important;
        width: 260px !important;
    }

    .filter-datepicker-popup .custom-day.range.faded::after {
        width: 26px;
        right: -21px;
        height: 30px;
        top: -2px;
    }

    .filter-datepicker-popup .custom-day.fromRangeDate::after,
    .filter-datepicker-popup .custom-day.fromRangeDateHover.fromRangeDate:after {
        top: -2px;
        height: 30px;
        width: 43px;
    }
}

@media only screen and (min-width:768px) {
    .return-tbl mat-cell.mat-cell.cdk-column-fastest.mat-column-fastest {
        min-width: 12%;
    }

    .farebreak {
        min-width: 600px;
    }

    .cdk-column-SelectReturnTime.mat-column-SelectReturnTime {
        display: none;
    }
}

@media only screen and (min-width:1024px) {
    .return-tbl mat-cell.mat-cell.cdk-column-fastest.mat-column-fastest {
        min-width: 10%;
    }

    .mixing-deck-tbl .avanti-logo {
        width: 70px;
    }

    mat-cell.select-return.mat-cell.cdk-column-Select.mat-column-Select.ng-tns-c15-6.ng-star-inserted {
        justify-content: flex-start;
    }

    .farebreak {
        min-width: 600px;
    }
}

@media only screen and (min-width:768px) {
    .tooltip.show.coalescent.tablet {
        left: -80px !important;
    }

    .tooltip.show.coalescent.tablet .arrow {
        left: calc(75% - .4rem);
    }

    .mixing-deck-tbl mat-cell,
    .mixing-deck-tbl mat-footer-cell,
    .mixing-deck-tbl mat-header-cell {
        overflow: visible;
        flex-wrap: wrap;
    }

    .mat-column-Operator {
        padding-left: 10px !important;
    }

    .cdk-column-Operator.mat-column-Operator.ng-star-inserted {
        min-width: 13%;
    }

    .cdk-column-expand-collapse.mat-column-expand-collapse.ng-star-inserted {
        min-width: 15%;
    }

    .cdk-column-DepartureTime.mat-column-DepartureTime.ng-star-inserted {
        min-width: 14%;
    }

    .cdk-column-ArrivalTime.mat-column-ArrivalTime.ng-star-inserted {
        min-width: 13%;
    }

    @media (min-width:768px) and (max-width:1023px) {
        .cdk-column-ArrivalTime.mat-column-ArrivalTime.ng-star-inserted {
            min-width: 15%;
        }
    }

    .cdk-column-SingleFare.mat-column-SingleFare.ng-star-inserted {
        min-width: 10%;
        justify-content: center;
    }

    .cdk-column-Duration.mat-column-Duration.ng-star-inserted {
        min-width: 11%;
        justify-content: center;
    }

    .cdk-column-Changes.mat-column-Changes.ng-star-inserted {
        min-width: 10%;
        justify-content: center;
    }

    .cdk-column-actions.mat-column-actions.ng-star-inserted {
        min-width: 11%;
        justify-content: center;
    }

    .mixing-deck-tbl .cdk-column-expand-collapse.mat-column-expand-collapse.ng-star-inserted {
        text-align: right;
        justify-content: flex-end;
        min-width: 100px;
    }
}

@media only screen and (min-width:801px) {
    .mixing-deck-tbl .cdk-column-expand-collapse.mat-column-expand-collapse.ng-star-inserted {
        text-align: right;
        min-width: 90px;
        justify-content: flex-end;
    }

    .cdk-column-SingleFare.mat-column-SingleFare.ng-star-inserted {
        min-width: 13%;
        justify-content: center;
    }

    .dep-code::after,
    .darwin-dep::after {
        margin-left: 2px;
    }
}

@media only screen and (min-width:1025px) {
    .fast-tag {
        display: block;
    }

    tr.descriptions td {
        font-size: 16px;
    }

    .deck-tag {
        display: block;
    }

    .mat-column-Operator {
        padding-left: 24px !important;
    }

    .mixing-deck-tbl .mat-column-Operator {
        padding-left: 6px !important;
    }

    .dep-code::after,
    .darwin-dep::after {
        margin-left: 10px;
    }

    .mixing-deck-tbl .train-cancel mat-cell.mat-column-SingleFare span.not-available {
        display: inline;
        min-width: 88px;
    }

    .cdk-column-Operator.mat-column-Operator.ng-star-inserted {
        min-width: 13%;
        justify-content: flex-start;
    }

    .cdk-column-expand-collapse.mat-column-expand-collapse.ng-star-inserted {
        min-width: 15%;
        justify-content: flex-start;
    }

    .cdk-column-DepartureTime.mat-column-DepartureTime.ng-star-inserted {
        min-width: 15%;
        justify-content: flex-start;
    }

    .cdk-column-ArrivalTime.mat-column-ArrivalTime.ng-star-inserted {
        min-width: 17%;
        justify-content: flex-start;
    }

    .cdk-column-SingleFare.mat-column-SingleFare.ng-star-inserted {
        min-width: 8% !important;
        justify-content: flex-start;
    }

    .cdk-column-Duration.mat-column-Duration.ng-star-inserted {
        min-width: 10%;
        justify-content: flex-start;
    }

    .cdk-column-Changes.mat-column-Changes.ng-star-inserted {
        min-width: 8%;
        padding-right: 7px;
        justify-content: center;
    }

    .cdk-column-fastest.mat-column-fastest.ng-star-inserted {
        min-width: 10%;
        padding-right: 7px;
        justify-content: center;
    }

    .cdk-column-actions.mat-column-actions.ng-star-inserted {
        min-width: 11%;
        justify-content: flex-start;
    }

    .select-return.cdk-column-Select.mat-column-Select,
    mat-header-cell.returntime-select.mat-header-cell.cdk-column-Select.mat-column-Select {
        min-width: 13%;
        justify-content: flex-start;
    }

    .mixing-deck-tbl-rtrn .select-return.cdk-column-Select.mat-column-Select,
    mat-header-cell.returntime-select.mat-header-cell.cdk-column-Select.mat-column-Select {
        justify-content: flex-end;
        padding-right: 10px;
        min-width: 13%;
        text-align: left;
    }

    .dep-code::after {
        position: absolute;
        left: 75px;
        z-index: 99;
    }

    .COJ-mat-row-disabled .cdk-column-Price.mat-column-Price {
        min-width: 32%;
    }
}

// ie specific css
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .mixing-deck-tbl .mat-header-cell {
        height: 10px;
    }

    .example-element-row .mat-cell {
        min-height: auto;
    }

    .dep-code::after {
        position: absolute !important;
    }

    .clock-svg {
        width: 23px;
        height: 19px;
        margin-top: 3px;
    }

    .return-tbl mat-cell.cdk-column-Select.mat-column-Select,
    .return-tbl mat-header-cell.cdk-column-Select.mat-column-Select {
        min-width: 10%;
        justify-content: center;
    }

    .return-tbl .select-return.cdk-column-Select.mat-column-Select,
    .return-tbl mat-header-cell.returntime-select.mat-header-cell.cdk-column-Select.mat-column-Select {
        min-width: 14%;
        justify-content: flex-start;
    }
}

/* recite me css start */
@media (min-width: 1200px) {
    .cdk-column-SingleFare.mat-column-SingleFare.ng-star-inserted {
        justify-content: center !important;
        min-width: 11% !important;
    }

    .mixing-deck-tbl-rtrn .cdk-column-Changes.mat-column-Changes.ng-star-inserted {
        min-width: 11%;
    }
}

/* recite me css end */
@media only screen and (max-width: 498px) {
    .mat-button {
        line-height: 17px !important;
        padding: 8px 10px !important;
    }

    .journey-extra-page .mat-expansion-panel-header {
        height: auto !IMPORTANT;
    }
}

@media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none) {
    .cdk-column-actions.icn-box {
        max-width: none;
    }

    img.mat-panel-icon {
        min-width: auto !important;
    }

    .newamnd-inputdsn input,
    .newamnd-inputdsn select,
    .newamnd-inputdsn .newamnd-inputdsn-adult {
        line-height: 20px;
        height: 40px;
    }

    .d-flex.newamnd-inputdsn-adult input {
        height: auto !important;
    }

    .newamnd-inputdsn.radio-btns mat-radio-button:first-child label {
        margin-right: 15px !important;
    }

    .datepicker-info .ngb-dp-arrow.right {
        left: auto;
    }

    .datepicker-info .btn-link {
        width: auto;
    }

    .datepicker-info .ngb-dp-week {
        justify-content: space-around !important;
    }

    .datepicker-info .ngb-dp-week.ngb-dp-weekdays {
        justify-content: space-around !important;
    }

    .mat-table.ticket-dtl-tbl td {
        border: none !important;
    }

    .ticket-details-bx table tr td {
        border: 0px solid !important;
    }
}

@media screen and (min-width:567px) and (max-width:768px) {
    .fbh-3.heading {
        max-width: 106px !important;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .fbh-3.heading {
        max-width: none !important;
    }

    .cleardate-btn {
        display: none;
    }

    .close-rtn-btn {
        right: -6px !important;
    }
}

@media (max-width: 767px) {
    .cdk-overlay-pane {
        max-width: 95vw !important;
        min-width: 80vw;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .confirm-popup h2{font-size: 32px !important;padding: 0;}
    .basket-count-anchor-focus {
        padding-left: 0px !important;
        min-width: 40px !important;
        padding-right: 0 !important;
    }

    .signin-btn {
        max-width: 150px !important;
    }

    .m-text-color {
        color: #131E29 !important;
    }

    .d-none-768 {
        display: none;
    }
}