<app-header></app-header>
<div id="ev-main" class="reset-email-page text-center" *ngIf="startVerifyEmailResponseDto">
    <div id="ev-container" class="container plr-xs-5 my-profile-container">
        <div id="ev-row" class="row mlr-xs-5">
            <div id="ev-col" class="col-md-12 p-0 d-flex justify-content-center">
                <div id="ev-msg-area" class="reset-email-success">
                    <div *ngIf="isConfirmEmailSuccess">
                        <img id="ev-success-icon" src="assets/images/reset-email-success.svg"
                            class="mb-20 width-54" alt="Success" />
                        <h1 *ngIf="startVerifyEmailResponseDto?.MessageHeading" id="ev-msg-title" class="mb-12 f-32 font-600 lh-40 link-tag">
                            {{startVerifyEmailResponseDto?.MessageHeading}}
                        </h1>
                        <p *ngIf="startVerifyEmailResponseDto?.InfoMessage" id="ev-sub-msg" class="text-center f-16 lh-22 font-dark mb-12">
                            {{startVerifyEmailResponseDto?.InfoMessage}}
                        </p>
                    </div>
                    <div *ngIf="!isConfirmEmailSuccess">
                        <img id="ev-success-icon" src="assets/images/reset-email-warning.svg"
                            class="mb-20 width-54" alt="Success" />
                        <h1 *ngIf="startVerifyEmailResponseDto?.MessageHeading" id="ev-msg-title" class="mb-12 f-32 font-600 lh-40 link-tag">
                            {{startVerifyEmailResponseDto?.MessageHeading}}
                        </h1>
                        <p *ngIf="startVerifyEmailResponseDto?.ErroMessage" id="ev-sub-msg" class="text-center f-16 lh-22 font-dark mb-12">
                            {{startVerifyEmailResponseDto?.ErroMessage}}
                        </p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center gap-12">
                        <div *ngIf="!isLoginUser">
                            <button id="ev-sign-in-btn" mat-button class="new-default-btn" (click)="goToSign()">
                                Sign-in
                            </button>
                        </div>
                        <div class="d-flex justify-content-center align-items-center gap-12" *ngIf="isLoginUser">
                            <button id="ev-sign-in-btn" mat-button class="new-default-outline-btn" (click)="goToMyAccount()">
                                My account
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>