// @import 'assets/front/css/animate.min.css';
// @import 'assets/front/css/fontawesome.min.css';
// @import 'assets/front/css/front-responsive.css';
// @import 'assets/front/css/front-style.css';
// @import 'assets/front/css/slick.css';
div,
span,
a,
p,
ul,
li,
table,
td,
button,
input,
select,
dl,
dd,
del,
header,
footer,
textarea,
label,
strong,
b {
  font-family: 'Be Vietnam Pro', sans-serif !important;
  letter-spacing: 0px;
}

th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baskervville', serif !important;
  letter-spacing: 0px;
}

.loading-spinner {
  .loading-spinner__mask {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffc5;
    opacity: 0.2;
    z-index: 999;
  }

  .loading-spinner__spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 0.5rem solid #282829;
    border-top: 0.5rem solid #b8b8b8;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    z-index: 9999;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loder_main_wrp {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: none !important;
}

.loder_main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 18%;
}

.loder_bdr {
  background: #000a;
  padding: 8px 8px 5px;
  border-radius: 10px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 4px dashed #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
