<app-enhanced-basic-dialog id="elp-sign-in-dialog" class="login-popup ">
    <header id="elp-sign-in-dialog-header" class="enchanced-common-popup-header">
        <h1 id="elp-sign-in-dialog-title" mat-dialog-title>
            Sign in or register to continue your purchase
        </h1>
        <mat-dialog-actions id="elp-sign-in-dialog-action" align="end" class="enchanced-common-popup-header-action">
            <button id="elp-sign-in-close-dialog-btn" mat-button mat-dialog-close aria-label="close sign in or register modal">
                <img id="elp-sign-in-close-dialog-icon" src="assets/images/new-design-img/close-icons.svg" alt="" aria-hidden="true">
            </button>
        </mat-dialog-actions>
        
    </header>

    <mat-dialog-content id="elp-sign-in-dialog-content" class="enchanced-common-popup-content">
        <div *ngIf="form.invalid && showBanner || invalidCredential && showBanner" class="" role="alert">
            
            <div *ngIf="!form.get('username').hasError('required') && !form.get('password').hasError('required') && isSubmitted">
               <div class="ps-2 sign-error-banner-bx">
                <button class="simple-btn" (click)="hideBanner()">
                    <img src="assets/images/new-design-img/Informative.svg" alt="Informative">
                </button> 
                <h2 class="" aria-label="Please amend the errors in the following mandatory fields">
                    The details you’ve typed are incorrect. Please amend the errors in the following mandatory fields or use the 'Forgotten password?' link to reset your details.
                </h2>
               </div>
               
            </div>
            <div *ngIf="invalidCredential" class="sign-error-banner-bx mb-10">
                <ul class="text-spark-dark font-500">
                    <li>
                        {{lockoutMessage}}
                    </li>
                </ul>
            </div>
        </div>
        <div id="elp-sign-in-dialog-container" class="sign-in-popup-container">
            <form id="elp-sign-in-dialog-form" [formGroup]="form">
                <div id="elp-sign-in-dialog-email-area" class="enhanced-common-label-field">
                    <label id="elp-sign-in-dialog-email-label" for="email">Email address<span>*</span></label>
                    <input matInput id="email" placeholder="Enter your email address" formControlName="username" type="text" class="enhanced-common-label-field-placeholder" 
                    [ngClass]="(form.get('username').hasError('emailRegexError') || form.get('username').hasError('required') || form.get('username').hasError('maxlength')) && isSubmitted ? 'error-border' :  '' " aria-label="Enter your email address">
                    <div *ngIf="form.get('username').hasError('emailRegexError')  && isSubmitted">
                        <span class="validation-err">Email is not valid.</span>
                    </div>
                    <div *ngIf="form.get('username').hasError('required') && isSubmitted">
                        <span class="validation-err">Please complete this mandatory field.</span>
                    </div>
                    <div *ngIf="form.get('username').hasError('maxlength') && isSubmitted">
                        <span class="validation-err">Invalid email address length. Please enter a valid email address.</span>
                    </div>
                </div>
                <div id="elp-sign-in-dialog-password-area" class="enhanced-common-label-field password-field">
                    <label id="elp-sign-in-dialog-password-label" for="password">Password<span>*</span></label>
                    <input matInput id="password" placeholder="Enter your password" capsLockDetect (capsLockOn)="capsLock = $event" 
                    [ngClass]=" form.get('password').hasError('required') && isSubmitted ? 'error-border' :  '' "
                    [type]="passwordFieldTextType ? 'text' : 'password'" 
                    type="password" formControlName="password" class="enhanced-common-label-field-placeholder" aria-label="Enter your password">
                    <button (click)="passwordFieldTextType = !passwordFieldTextType" type="button"
                    mat-icon-button matSuffix attr.aria-label="{{passwordFieldTextType ? 'Hide password' : 'Show password'}}"
                    [attr.aria-pressed]="passwordFieldTextType">
                        <mat-icon class="sign-in-mat-icon">
                            <span id="lp-password-visible-hide-icon" class="material-symbols-outlined icon-font-size">
                                {{passwordFieldTextType ? 'visibility' :
                                'visibility_off'}}
                            </span>
                        </mat-icon>
                    </button>
                    <div *ngIf="form.get('password').hasError('required') && isSubmitted">
                        <span class="validation-err">Please complete this mandatory field.</span>
                    </div>
                </div>
                <p class="capslock-txt mt-0 mb-8" *ngIf="capsLock === 1">
                    Caps lock is on
                </p>
                <mat-checkbox formControlName="rememberme" id="elp-sign-in-dialog-remember-checkbox" class="enhanced-common-mat-checkbox">Remember me on this device</mat-checkbox>
                <p *ngIf="error" class="error">
                    {{ error }}
                </p>
                <button id="elp-sign-in-dialog-btn" mat-button class="fill-btn" aria-label="Sign in" (click)="submit()">
                    Sign in
                </button>
                <div id="elp-sign-in-dialog-footer" class="sign-in-footer-flex">
                    <button id="elp-sign-in-dialog-forgot-password-btn" type="button" mat-button class="enhanced-forgot-password-btn" (click)="forgotPassword()" aria-label="Forgotten password">
                        Forgotten password?
                    </button>
                    <button id="elp-sign-in-dialog-create-account-btn" type="button" mat-button class="enhanced-create-account-btn" (click)="registerForm()" aria-label="Create a new account">
                        Create a new account
                    </button>
                </div>
            </form>
        </div>
    </mat-dialog-content>
</app-enhanced-basic-dialog>

