@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("../../../../assets/css/enhanced-styles.css");

.alert-image {
    display: flex;
    justify-content: center;
}

.no-train-found-content {
    margin-bottom: 1rem;
}

.logout-popup-btn {
    height: 3rem !important;
}

.payment-not-completed-content {
    padding: 1.5rem;
}

@media (width <= 1023px) {
    .payment-not-completed-ok-btn {
        width: 100%;
    }
}
