
<div class="prd-srh">



   <div class="prd-srh-left-v">

      <div class="form-group position-relative">
         <label>Search by Article Name</label>
         <input type="text" class="form-control login_fild padd-right-45 prdsrh_icon_v" name="search" #productSearch
            placeholder="Search by article name" [(ngModel)]="search_text" (keyup)="prodcut_search($event)">
         <button class="prdfilter_icon_v" type="button" (click)="searchByName(productSearch?.value)"></button>
      </div>

   </div> 
   <div class="prd-srh-right-v"  >
   <a href="javascript:void(0);" *isAuthorize="[permissionTask.articleAdd]" [routerLink]="['add-article']" class="default-btn add_btn_art margin-top-8-i"><i
      class="fa fa-plus" aria-hidden="true"></i> Add Article</a>
      </div>

   <div class="prd-srh-right-v">

      <div class="form-group position-relative">
         <label>Search by Status</label>
         <select class="form-control login_fild prdsrh_icon_v" (change)="searchByStatus($event)"
            [(ngModel)]="search_status">
            <option value="-1">{{AppConstants.SELECT_STATUS}}</option>
            <option value="1">{{AppConstants.STATUS_ACTIVE}}</option>
            <option value="0">{{AppConstants.STATUS_INACTIVE}}</option>
         </select>
      </div>

   </div>



</div>

<div class="admin_table">
   <div class="table-responsive" *ngIf="articleData && articleData.length > 0; else recordNotFound">
      <table class="table table-bordered">
         <caption style="display:none;">Dec</caption>
         <thead>
            <tr>
               <th class="w-px60" id="srno">{{AppConstants.SERIAL_NUMBER}}</th>
               <th id="article-name">Article Name</th>
               <th class="w-px100" id="createdon">Created On</th>
               <th class="w-px100" id="modifiedon">Modified On</th>
               <th class="w-px70" id="status">Status</th>
               <th class="w-px70" id="action">Action</th>
            </tr>
         </thead>
         <tbody>
            <tr
               *ngFor="let article of articleData | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems : totalItemsCount}; let i=index;">
               <td>{{(page-1)*itemsPerPage +i+1}}</td>
               
               <td>{{article?.ArticleName}}</td>
               <td>{{article?.CreatedOn ?( article?.CreatedOn | date :'dd-MMM-yyyy'): ''}} </td>
               <td>{{article?.ModifiedOn ?( article?.ModifiedOn | date :'dd-MMM-yyyy'): ''}}</td>
               <td class="Status_clr">{{article?.IsActive == 1 ? 'Active' : 'Inactive'}}</td>
               <td class="auction_link"><a href="javascript:void(0);" *isAuthorize="[permissionTask.articleEdit]" 
                     (click)="editArticle(article?.ArticleId)"><img src="assets/images/edit_icon.png" alt=""></a><a
                     href="javascript:void(0);" *isAuthorize="[permissionTask.articleDelete]"  (click)="deleteArticle(article?.ArticleId,article?.ArticleName)"><img
                        src="assets/images/delete_icon.png" alt=""></a></td>
            </tr>
         </tbody>
      </table>
      <div class="pagination"  *ngIf="articleData && articleData.length > 0">
         <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
   </div>
   <ng-template #recordNotFound>
      <div class="row p-3 g-1">
         <div class="col-md-12 no-record text-center">
            {{AppConstants.NO_RECORD_FOUND}}
         </div>
      </div>
   </ng-template>
</div>