.mat-dialog-container {
    padding-top: 0 !important;
}

.travel-extras-msg {
    gap: 10px;
}

.extras-list {
    border-radius: 5px;
    border: 2px solid #131E29;
    gap: 10px;
    padding: 8px 14px;
}

.extras-list-right {
    gap: 10px;
}

.travel-extras-table table tr td:first-child {
    width: 137px;
}

.travel-extras-add-btn {
    width: 84.04px !important;
}

.extras-disabled-txt {
    width: 110px;
}

.disabled-content {
    opacity: 0.5;
    cursor: not-allowed;
}

.extras-list.disabled-border {
    border: 1px solid rgb(19, 30, 41, 0.5);
}

.br-round {
    border-radius: 4px;
}

.travel-extras-body .default-btn-outline:focus {
    background-color: transparent !important;
}

@media (max-width: 767px) {
    .travel-extras-modal {
        overflow-x: hidden !important;
        padding: 24px !important;
    }

    .travel-extras-modal mat-button,
    .travel-extras-modal mat-button:hover {
        padding: 0 !important;
        background-color: transparent !important;
    }

    .d-m-block {
        display: block !important;
    }

    .mft-24 {
        font-size: 24px !important;
    }

    .mft-14 {
        font-size: 14px !important;
    }

    .mft-16 {
        font-size: 16px !important;
    }

    .mmt-0 {
        margin-top: 0 !important;
    }

    .mm-btn {
        font-size: 16px;
        padding: 13px 10px !important;
    }

    .extras-list {
        padding: 14px;
    }

    .extras-list-right.d-flex {
        display: block !important;
    }

    .extras-list-btn {
        padding-top: 10px;
    }

    .travel-extras-add-btn {
        padding: 8px 24.62px !important;
    }

    .extras-list.disabled-border {
        border: 2px solid rgb(19, 30, 41, 1);
    }

    .extras-disabled-txt {
        width: 100%;
    }

    .extras-disabled-txt p {
        padding-top: 10px;
    }

    .disabled-content.disabled-content-normal {
        opacity: 1;
        cursor: auto;
    }

    .default-btn:focus {
        border: none !important;
    }
}

@media (max-width: 340px) {
    .travel-extras-modal {
        padding: 6px !important;
    }
}