<!-- USP Section -->
<section id="enh-usp-section">
    <div id="enh-subheader-usp-container" class="subheader-container horizontal-center">
        <div id="enh-subheader-usp-common-container" class="common-container">
            <ul id="enh-subheader-usp-list">
                <li id="enh-subheader-usp-list-fees">
                    <img id="enh-subheader-usp-list-fees-icon" src="assets/images/new-design-img/subheader-icon.svg" alt="" aria-hidden="true" />
                    We never charge booking fees
                </li>
                <li id="enh-subheader-usp-list-seat">Pick your seat when booking</li>
                <li id="enh-subheader-usp-list-rewards">Earn Club Avanti rewards</li>
            </ul>
        </div>
    </div>
</section>
<!-- End USP Section -->

<!-- Header User Account, Stepper and Form Section -->
<div id="enh-main-header-container" class="main-header-container">
    <!-- Header User Account Section -->
    <section id="enh-header-section">
        <div id="enh-header-container" class="user-account-container horizontal-center">
            <div id="enh-header-common-container" class="common-container m-common-container">
                <div id="enh-header-inner-container" class="d-flex user-header">
                    <!-- Header Logo -->
                    <div id="enh-header-logo-container">
                        <a id="enh-header-logo-link" href="{{homePageURL}}" class="user-account-logo">
                            <img id="enh-header-logo" src="assets/images/new-design-img/header-logo.svg" alt="Avanti West Coast" class="header-avanti-logo" />
                        </a>
                    </div>
                    <!-- End Header Logo -->
                     
                    <div id="enh-header-user-account-basket-container" class="d-flex header-user-basket">
                        <!-- Header User Account -->
                        <div id="enh-header-signin" class="user-account-signin">
                            <img id="enh-header-user-icon" src="assets/images/new-design-img/header-account.svg" alt="" aria-hidden="true" [ngClass] = "isLoaderActive || isPaymentAPICall ? 'user-disabled-while-loader' : ''" />
                            <button *ngIf="!sharedService.isLogin && !onSignInPage && !router.url.includes(appRouteEnum.resetEmail)" [disabled] = "isLoaderActive || isPaymentAPICall" [ngClass] = "isLoaderActive || isPaymentAPICall ? 'user-disabled-while-loader' : ''" (click)="openSignInDialog()" aria-label="Sign in or Register">Sign in / Register</button>
                            <button id="enh-header-signin-btn" [disabled] = "isLoaderActive || isPaymentAPICall" [ngClass] = "isLoaderActive || isPaymentAPICall ? 'user-disabled-while-loader' : ''" class="user-account-signin-btn" *ngIf="sharedService.isLogin && !router.url.includes(appRouteEnum.resetEmail)" mat-button [attr.aria-label]="'Hi ' + customerName + ' Account' + (menuOpen ? '' : '')" [matMenuTriggerFor]="menu" (menuOpened)="menuOpen = true" (menuClosed)="menuOpen = false">
                                <span id="enh-header-username" aria-hidden="true">Hi, {{customerName}}</span>
                                <img id="enh-header-user-arrow" src="assets/images/new-design-img/header-account-arrow.svg" alt="" aria-hidden="true" />
                            </button>
                            <mat-menu #menu="matMenu" class="matmenu-myaccount" xPosition="after" yPosition="below">

                                <button mat-menu-item (click)="[showAccountDetails()]" aria-label="Menu item 1 My account">
                                  <span>My account</span>
                                </button>
                                
                                <button mat-menu-item (click)="[showLogoutPopup()]" aria-label="Menu item 2 Logout">
                                  <span>Logout</span>
                                </button>
                            </mat-menu>
                        </div>
                        
                        <!-- End Header User Account -->

                        <!-- Header Basket -->
                        <div *ngIf="basketCount > 0 && isLoggedIn" id="enh-header-basket" class="basket-container" [ngClass]="router.url.includes(enhancedAppRouteEnum.deliveryAndReviewBy) ? 'review-basket' : ''">
                            <button [disabled]="isLoaderActive || isPaymentAPICall" [ngClass] = "isLoaderActive || isPaymentAPICall ? 'basket-disabled-while-loader' : ''" (click)="commonServices?.redirectToReviewBuyPage()" id="enh-header-basket-btn" class="user-account-signin-btn review-basket-btn" mat-button [attr.aria-label]="'Basket, ' + basketCount + 'journey added'">
                                <span id="enh-header-basket-txt" class="user-account-basket-txt f-600">Basket</span>
                                <div id="enh-header-basket-icon-container" class="basket-counter">
                                    <img id="enh-header-basket-icon" src="assets/images/new-design-img/header-basket.svg" alt="" aria-hidden="true" />
                                    <span id="enh-header-basket-number" class="basket-counter-number">{{basketCount}}</span>
                                </div>
                            </button>
                        </div>
                        <!-- End Header Basket -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header User Account Section -->

    <!-- Stepper Section -->
    <section id="enh-stepper-section">
        <div id="enh-stepper-container" class="stepper-container horizontal-center">
            <div id="enh-stepper-common-container" class="common-container m-common-container">
                <div id="enh-stepper-inner-container" class="d-flex stepper-header">
                    <div id="enh-stepper-logo-container">
                        <a id="enh-stepper-logo-link" href="{{homePageURL}}" aria-label="Awanti west coast logo">
                            <img id="enh-stepper-logo" src="assets/images/new-design-img/header-logo.svg" alt="Avanti West Coast" class="header-avanti-logo" />
                        </a>
                    </div>

                    <!-- Stepper Navigation -->
                    <div id="enh-stepper-navigation" class="stepper-navigation">
                        <ul id="enh-stepper-list" class="stepper-navigation-list">
                            <li id="enh-stepper-select-time">
                                <div id="enh-stepper-select-time-inside" class="stepper-navigation-list-inside">
                                    <div id="enh-stepper-select-time-circle" [ngClass]="this.setActiveClass(1)" aria-hidden="true" aria-hidden="true" class="stepper-navigation-circle-show">
                                        <span id="enh-stepper-select-time-circle-icon-span" class="stepper-navigation-completed-circle-icon" *ngIf="getStepClass(1) == 'check'">
                                            <img id="enh-stepper-select-time-icon" src="assets/images/new-design-img/stepper-check.svg" alt="" class="stepper-check-icon" aria-hidden="true" />
                                        </span>
                                        <img id="enh-stepper-select-time-pencil-icon" src="assets/images/new-design-img/stepper-pencil.svg" alt="" class="stepper-pencil-icon" *ngIf="getStepClass(1) == 'edit'" aria-hidden="true" />
                                    </div>
                                    <p  id="enh-stepper-select-time-txt" [ngClass]="addActiveOrDisabledClassOnHeaderText(1)">Select time</p>
                                    
                                </div>
                            </li>
                            <li id="enh-stepper-select-ticket-class" class="stepper-navigation-active-li">
                                <div id="enh-stepper-select-ticket-class-inside" class="stepper-navigation-list-inside">
                                    <div id="enh-stepper-select-ticket-class-circle" [ngClass]="this.setActiveClass(2)" aria-hidden="true" class="stepper-navigation-circle-show">
                                        <span id="enh-stepper-select-ticket-class-check-icon-span" class="stepper-navigation-completed-circle-icon" *ngIf="getStepClass(2) == 'check'">
                                            <img id="enh-stepper-select-ticket-class-check-icon" src="assets/images/new-design-img/stepper-check.svg" alt="" class="stepper-check-icon" aria-hidden="true" />
                                        </span>
                                        <img id="enh-stepper-select-ticket-class-pencil-icon" src="assets/images/new-design-img/stepper-pencil.svg" alt="" class="stepper-pencil-icon" *ngIf="getStepClass(2) == 'edit'" aria-hidden="true" />
                                        <span id="enh-stepper-select-ticket-class-number" class="stepper-navigation-disabled-circle-txt" *ngIf="getStepClass(2) !== 'edit' && getStepClass(2) !== 'check'">2</span>
                                    </div>
                                    <p id="enh-stepper-select-ticket-class-txt" [ngClass]="addActiveOrDisabledClassOnHeaderText(2)">Select ticket & class</p>
                                </div>
                            </li>
                            <li id="enh-stepper-review">
                                <div id="enh-stepper-review-inside" class="stepper-navigation-list-inside">
                                    <div id="enh-stepper-review-circle" [ngClass]="this.setActiveClass(3)" class="stepper-navigation-circle-show">
                                        <span id="enh-stepper-review-check-icon-span" class="stepper-navigation-completed-circle-icon" *ngIf="getStepClass(3) == 'check'">
                                            <img id="enh-stepper-review-check-icon" src="assets/images/new-design-img/stepper-check.svg" alt="" aria-hidden="true" class="stepper-check-icon" />
                                        </span>
                                        <img id="enh-stepper-review-pencil-icon" src="assets/images/new-design-img/stepper-pencil.svg" alt="" aria-hidden="true" class="stepper-pencil-icon" *ngIf="getStepClass(3) == 'edit'" />
                                        <span id="enh-stepper-review-number" class="stepper-navigation-disabled-circle-txt" *ngIf="getStepClass(3) !== 'edit' && getStepClass(3) !== 'check'">3</span>
                                    </div>
                                    <p id="enh-stepper-review-txt" [ngClass]="addActiveOrDisabledClassOnHeaderText(3)">Review</p>
                                </div>
                            </li>
                            <li id="nhc-stepper-payment">
                                <span class="sr-only">Step 4 Payment</span>
                                <div id="enh-stepper-payment-inside" class="stepper-navigation-list-inside" aria-hidden="true">
                                    <div id="enh-stepper-payment-circle" [ngClass]="this.setActiveClass(4)" class="stepper-navigation-circle-show">
                                        <span id="enh-stepper-payment-check-icon-span" class="stepper-navigation-completed-circle-icon" *ngIf="getStepClass(4) == 'check'">
                                            <img id="enh-stepper-payment-check-icon" src="assets/images/new-design-img/stepper-check.svg" alt="" class="stepper-check-icon" aria-hidden="true" />
                                        </span>
                                        <img id="enh-stepper-payment-pencil-icon" src="assets/images/new-design-img/stepper-pencil.svg" alt="" class="stepper-pencil-icon" *ngIf="getStepClass(4) == 'edit'" aria-hidden="true" />
                                        <span id="enh-stepper-payment-number" class="stepper-navigation-disabled-circle-txt" *ngIf="getStepClass(4) !== 'edit' && getStepClass(4) !== 'check'">4</span>
                                    </div>
                                    <p id="enh-stepper-payment-txt" [ngClass]="addActiveOrDisabledClassOnHeaderText(4)">Payment</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End Stepper Navigation -->

                    <div id="enh-stepper-blank-area"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Stepper Section -->
    
    <!-- Mobile Journey Type Section -->
    <section id="enh-journey-type-section" class="m-journey-section">
        <div id="enh-journey-type-container" class="m-journey-section-container horizontal-center">
            <div id="enh-journey-type-common-container" class="common-container m-common-container">
                <div id="enh-journey-type-inside" class="journey-section-inside">
                    <div id="enh-journey-type-area" class="m-journey-type">
                        <p id="enh-journey-type-txt">{{headerTextOutwardOrReturn()}}<span *ngIf="router?.url === '/' + enhancedAppRouteEnum?.selectTicketAndClass">: {{travelDateFormatted(searchRequest)}}</span></p>
                    </div>
                    <div *ngIf="!isLoaderActive && router?.url === '/' + enhancedAppRouteEnum?.selectTicketAndClass" id="eeqc-edit-btn-area" class="view-edit-form-btn-area desktop-show different-way">
                        <button (click)="openEdit()" id="eeqc-edit-btn-btn" mat-button class="common-edit-form-btn ttc-edit" aria-label="Edit">
                            <span id="eeqc-edit-btn-icon-are">
                                <img id="eeqc-edit-btn-icon" src="assets/images/new-design-img/edit-ticket.svg" alt="" aria-hidden="true" />
                            </span>
                            Edit
                        </button>
                    </div>
                    <div id="enh-journey-type-filter-area" class="journey-section-filter" *ngIf="!isLoaderActive && router?.url === '/' + enhancedAppRouteEnum?.searchResult">
                        <button id="enh-journey-type-filter-btn" mat-button class="journey-section-filter-btn" (click)="enhancedFilterMobileDialogs()" [attr.aria-label]="getJourneyFilterAriaLabel(searchRequest)">
                            <img id="enh-journey-type-filter-icon" src="assets/images/new-design-img/filter-icon.svg" alt="" aria-hidden="true" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Mobile Journey Type Section -->

    <!-- Edit QTT Form -->
    <app-enhanced-edit-qtt *ngIf="showEdit" (submitEdit)="submitEdit($event)"></app-enhanced-edit-qtt>
    <!-- End Edit QTT Form -->
</div>
<!-- End Header User Account, Stepper and Form Section -->