.barcode-area {
    border: 1px solid #E7EBF3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
}

.barcode-popup-txt {
    font-size: 14px;
}

.barcode-text-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.barcode-text-area h1 {
    color: #004F59;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2.8px;
}

.barcode-copy-btn {
    padding: 0 !important;
    color: #E42B00;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.32px;
    text-decoration-line: underline;
    line-height: 20px;
    text-underline-offset: 3px;
}

@media (max-width: 768px) {
    .barcode-text-area h1 {
        font-size: 20px;
        letter-spacing: 2px;
    }
}
