<app-header></app-header>
<app-account-header></app-account-header>
<div class="bg-f5 pt-15 pb-85 buynow-bttm">
    <div class="container plr-xs-5">
        <div class="row">
            <div class="col-md-12 p-0 mt-20">
                <div class="ptb-10 plr-20 bg-fff p-relative">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="f-24 font-500 mb-0 lh-40">My payments</p>
                        </div>
                    </div>
                </div>
                <div class="p-30 bt-1 p-relative bg-fff ">
                    <div class="preference-mode">
                        <div class="preference-mode-header">
                            <a href="">My Smart Cards</a> <img src="assets/images/Expand arrow.svg" alt="" class="expand-img"> Replace Smart Card
                        </div>
                        <div class="preference-mode-body">
                            <p class="mb-0 font-500 f-18">General Information</p>
                            <div class="row">
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Title<span class="text-spark ps-1"></span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <mat-label>Mr</mat-label>
                                        <mat-select formControlName="country">
                                            <mat-option value="option1">Mr</mat-option>
                                            <mat-option value="option2">Ms</mat-option>
                                            <mat-option value="option3">Mrs</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Name<span class="text-spark ps-1"></span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="John" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Surname<span class="text-spark ps-1"></span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="Doe" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Smartcard nickname<span class="text-spark ps-1"></span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="Enter smartcard nickname" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Date of Birth<span class="text-spark ps-1"></span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="Select DOB" required>
                                    </mat-form-field>
                                </div>
                                
                            </div>
                            <p class="mb-0 mt-20 font-500 f-18">Delivery options and address</p>
                            <p class="mb-0 mt-10 font-500">Send to</p>
                            <div class="row">
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Title<span class="text-spark ps-1"></span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <mat-label>Mr</mat-label>
                                        <mat-select formControlName="country">
                                            <mat-option value="option1">Mr</mat-option>
                                            <mat-option value="option2">Ms</mat-option>
                                            <mat-option value="option3">Mrs</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Name<span class="text-spark ps-1">*</span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="Name" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Surname<span class="text-spark ps-1">*</span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="Suranme" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <p class="mb-0 mt-10 font-500">Address</p>
                            <div class="row">
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Postcode<span class="text-spark ps-1">*</span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="Enter Postcode" maxlength="10" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">First line<span class="text-spark ps-1">*</span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="Enter First Line" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Second Line<span class="text-spark ps-1"></span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="Enter Second Line" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Third Line<span class="text-spark ps-1">*</span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="Enter Third Line" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">City/Town<span class="text-spark ps-1">*</span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="Enter city/town" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-10">
                                    <label class="f-14">Country<span class="text-spark ps-1"></span></label>
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <mat-label>Select Country</mat-label>
                                        <mat-select formControlName="country">
                                            <mat-option value="option1">United Kingdom</mat-option>
                                            <mat-option value="option2">USA</mat-option>
                                            <mat-option value="option3">Italy</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mt-10"><mat-checkbox class="route-details-checkbx">I accept Smartcard Terms and Conditions</mat-checkbox></div>
                            <div class="row">
                                <div class="col-12">
                                    <button class="default-btn float-right mt-10" mat-button>Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="preference-mode mt-10">
                        <div class="preference-mode-header">
                            Ordered Smart Card Status
                        </div>
                        <div class="preference-mode-body">
                            <table mat-table [dataSource]="dataSource" class="payment-tbl" aria-label="">

                                <ng-container matColumnDef="bookingdate">
                                  <th mat-header-cell *matHeaderCellDef> Booking Date </th>
                                  <td mat-cell *matCellDef="let element"> {{element.bookingdate}} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="reference">
                                  <th mat-header-cell *matHeaderCellDef> Reference </th>
                                  <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="product">
                                  <th mat-header-cell *matHeaderCellDef> Product </th>
                                  <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="cost">
                                    <th mat-header-cell *matHeaderCellDef> Cost </th>
                                    <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                                  </ng-container>
                              
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                        </div>
                    </div>
                    <div class="preference-mode mt-10">
                        <div class="preference-mode-header">
                            <a href="">Linked Smart Cards</a> <img src="assets/images/Expand arrow.svg" alt="" class="expand-img"> Link Smartcard to My Account
                        </div>
                        <div class="preference-mode-body ptb-50">
                            <p>Please enter details of the smartcard to be linked</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="f-16 font-500 mb-0 mt-10">Smartcard Number<span class="text-spark ps-1"></span></label>
                                </div>
                                <div class="col-md-9">
                                    <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                                        <input matInput placeholder="Type smartcard number" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-12">
                                    <button class="default-btn float-right" mat-button>Send Request</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="font-500 mb-0 mt-15">eVoucher</p>
                    <div class="preference-mode mt-10">
                        <div class="preference-mode-header">
                            My eVoucher
                        </div>
                        <div class="preference-mode-body ptb-50">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>