.sign-in-page-main {
    padding: 96px 0;
}

.sign-in-page-title {
    color: #004F59;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 36px;
}

.sing-in-form-body {
    width: 538px;
}

/* Changes after upgrading */
.change-password-arrow {
    top: -1px;
    left: 0;
    position: relative;
}

.error-input-focus {
    border: 1px solid #E42B00 !important;
    box-shadow: none !important;
    border-radius: 5px;
}
/* End Changes after upgrading */

@media (max-width: 767px) {
   
    .sign-in-page-main {
        padding: 64px 10px;
    }

    .forgot-password-sign-in button {
        padding: 0 !important;
    }

    .sign-in-mat-icon {
        font-size: 20px !important;
    }

    .icon-font-size {
        font-size: 92% !important;
    }

    .sing-in-form-body {
        padding: 0 20px !important;
    }
}

@media (max-width: 539px) {
    .mobile-sign-in-page {
        width: 100%;
        display: block !important;
        padding: 0 20px !important;
    }

    .sing-in-form-body {
        width: 100%;
        padding: 0 !important;
    }
}



