<app-header></app-header>
<app-account-header [newHeaderFlag]="myPreferencesHideHeaderFlag" [headerFlag]="hideHeaderFlag" class="account-prefrences"></app-account-header>
<form id="mp-form" [formGroup]="myPreferencesForm" (ngSubmit)="onClickSubmit()">
    <div id="mp-innerPage" class="bg-f6 pb-85 pt-96 mobile-mt-28 buynow-bttm">
        <div id="mp-container" class="container">
            <div id="mp-row" class="row">
                <div id="mp-col" class="col-md-12 page-box-p">
                    <div id="mp-preferencesArea" class="p-relative bg-fff br-5 account-card-p">
                        <div id="mp-deliveryArea" class="preference-delivery-mode d-none">
                            <div id="mp-deliveryRow" class="row">
                                <div id="mp-deliveryCol" class="col-12">
                                    <div id="mp-deliveryTitleDiv">
                                        <div id="mp-deliveryTitleInnerDiv" class="new-form-label">
                                            <p id="mp-deliveryTitle" class="font-dark font-700 f-16 lh-22 m-0 d-flex align-items-center">
                                                Delivery Mode
                                                <a id="mp-deliveryTitleIcon" href="https://www.avantiwestcoast.co.uk/ticket-and-discounts/getting-your-ticket" target="_blank" class="ml-16 d-flex delivery-link" aria-label="Delivery mode help link" rel="noopener">
                                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1.5 18C1.1 18 0.75 17.85 0.45 17.55C0.15 17.25 0 16.9 0 16.5V1.5C0 1.1 0.15 0.75 0.45 0.45C0.75 0.15 1.1 0 1.5 0H8.475V1.5H1.5V16.5H16.5V9.525H18V16.5C18 16.9 17.85 17.25 17.55 17.55C17.25 17.85 16.9 18 16.5 18H1.5ZM6.55 12.525L5.5 11.45L15.45 1.5H9.975V0H18V8.025H16.5V2.575L6.55 12.525Z" fill="black"/>
                                                    </svg>                                                        
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="mp-deliveryCol2" class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div id="mp-deliverySelectArea" class="new-form-group">
                                        <div id="selMode">
                                            <mat-form-field id="mp-deliveryMatFromField" class="default-select w-100" floatLabel="never">
                                                <mat-label id="mp-deliveryMatLabel" for="deliveryMode" >Choose Delivery Mode</mat-label>
                                                <mat-select id="mp-deliveryMatSelect" [attr.aria-label]="'selMode'" class="new-form-select"
                                                    formControlName="deliveryModeControl" aria-busy="true">
                                                    <mat-option id="mp-deliveryMatOptionLabel">Choose Delivery Mode</mat-option>
                                                    <mat-option id="mp-deliveryMatOption_{{deliveryModIndex}}"
                                                        *ngFor="let deliveryMode of myPreferencesResponse?.DeliveryModeList; let deliveryModIndex = index;"
                                                        value="{{deliveryMode}}">{{deliveryMode}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mp-stationsArea" class="preference-favourite-stations">
                            <div id="mp-stationsRow" class="row">
                                <div id="mp-stationsCol" class="col-12">
                                    <div id="mp-stationsDiv">
                                        <div id="mp-stationsInnerDiv" class="new-form-label">
                                            <p id="mp-stationsTitle" class="font-dark font-700 f-16 lh-22 m-0">Favourite Stations <span id="mp-stationsTitleTag" class="font-400">(You can add up to five favourite stations)</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div id="mp-stationsCol2" class="col-lg-6 col-md-6 col-sm-12 col-12" *ngIf = "myPreferencesResponse?.FavouriteStationsList?.length >= 0 || favouriteStationDisplayCount == 1">
                                    <div id="mp-stationsInputArea" class="new-form-group new-auto-form-group">
                                        <div id="favoriteStation1Control">
                                            <mat-form-field id="mp-stationsMatFormField" class="default-input default-input-brdr w-100" floatLabel="never">
                                                <input id="mp-stationsInput" matInput class="new-form-input" placeholder="Choose favourite station..."
                                                    formControlName="favoriteStation1Control" [matAutocomplete]="favoriteStation_1" aria-labelledby="favoriteStation1Control">
                                                <mat-autocomplete id="mp-stationsAutoComplete" #favoriteStation_1="matAutocomplete">
                                                    <mat-option id="mp-stationsOption_{{favoriteStationIndex}}" *ngFor="let station of favoriteStation1 | async; let favoriteStationIndex = index;" [value]="station.Name" [ngClass]="_allowSelection(station.Name)">
                                                        {{station.Name}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-error id="mp-stationsMatError">
                                                    <span id="mp-stationsSameError" *ngIf="myPreferencesForm.get('favoriteStation1Control').hasError('mustMatch')">
                                                        Favourite Station can not be same.
                                                    </span>
                                                    <span id="mp-stationsValidError" *ngIf="myPreferencesForm.get('favoriteStation1Control').hasError('validStation')">
                                                        Please select a valid Favourite Station.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div id="mp-stationsCol3" class="col-lg-6 col-md-6 col-sm-12 col-12" *ngIf = "myPreferencesResponse?.FavouriteStationsList?.length > 1 || favouriteStationDisplayCount > 1">
                                    <div id="mp-stationsInputArea2" class="new-form-group new-auto-form-group">
                                        <div id="favoriteStation2Control">
                                            <mat-form-field id="mp-stationsMatFormField2" class="default-input default-input-brdr w-100" floatLabel="never">
                                                <input id="mp-stationsInput2" matInput class="new-form-input" placeholder="Choose favourite station..."
                                                    formControlName="favoriteStation2Control" [matAutocomplete]="favoriteStation_2" aria-labelledby="favoriteStation2Control">
                                                <mat-autocomplete id="mp-stationsAutoComplete2" #favoriteStation_2="matAutocomplete">
                                                    <mat-option id="mp-stationsOption2_{{favoriteStationTwoIndex}}" *ngFor="let station of favoriteStation2 | async; let favoriteStationTwoIndex = index;" [value]="station.Name" [ngClass]="_allowSelection(station.Name)">
                                                        {{station.Name}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-error id="mp-stationsMatError2">
                                                    <span id="mp-stationsSameError2" *ngIf="myPreferencesForm.get('favoriteStation2Control').hasError('mustMatch')">
                                                        Favourite Station can not be same.
                                                    </span>
                                                    <span id="mp-stationsValidError2" *ngIf="myPreferencesForm.get('favoriteStation2Control').hasError('validStation')">
                                                        Please select a valid Favourite Station.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div id="mp-stationsCol4" class="col-lg-6 col-md-6 col-sm-12 col-12" *ngIf = "myPreferencesResponse?.FavouriteStationsList?.length > 2 || favouriteStationDisplayCount > 2">
                                    <div id="mp-stationsInputArea3" class="new-form-group new-auto-form-group">
                                        <div id="favoriteStation3Control">
                                            <mat-form-field id="mp-stationsMatFormField3" class="default-input default-input-brdr w-100" floatLabel="never">
                                                <input id="mp-stationsInput3" matInput class="new-form-input" placeholder="Choose favourite station..."
                                                    formControlName="favoriteStation3Control" [matAutocomplete]="favoriteStation_3" aria-labelledby="favoriteStation3Control">
                                                <mat-autocomplete id="mp-stationsAutoComplete3" #favoriteStation_3="matAutocomplete">
                                                    <mat-option id="mp-stationsOption3_{{favoriteStationThreeIndex}}" *ngFor="let station of favoriteStation3 | async; let favoriteStationThreeIndex = index;" [value]="station.Name" [ngClass]="_allowSelection(station.Name)">
                                                        {{station.Name}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-error id="mp-stationsMatError3">
                                                    <span id="mp-stationsSameError3" *ngIf="myPreferencesForm.get('favoriteStation3Control').hasError('mustMatch')">
                                                        Favourite Station can not be same.
                                                    </span>
                                                    <span id="mp-stationsValidError3" *ngIf="myPreferencesForm.get('favoriteStation3Control').hasError('validStation')">
                                                        Please select a valid Favourite Station.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div id="mp-stations5" class="col-lg-6 col-md-6 col-sm-12 col-12" *ngIf = "myPreferencesResponse?.FavouriteStationsList?.length > 3 || favouriteStationDisplayCount > 3">
                                    <div id="mp-stationsInputArea4" class="new-form-group new-auto-form-group">
                                        <div id="favoriteStation4Control">
                                            <mat-form-field id="mp-stationsMatFormField4" class="default-input default-input-brdr w-100" floatLabel="never">
                                                <input id="mp-stationsInput4" matInput class="new-form-input" placeholder="Choose favourite station..."
                                                    formControlName="favoriteStation4Control" [matAutocomplete]="favoriteStation_4" aria-labelledby="favoriteStation4Control">
                                                    <mat-autocomplete id="mp-stationsAutoComplete4" #favoriteStation_4="matAutocomplete">
                                                        <mat-option id="mp-stationsOption4_{{favoriteStationFourIndex}}" *ngFor="let station of favoriteStation4 | async; let favoriteStationFourIndex = index;" [value]="station.Name" [ngClass]="_allowSelection(station.Name)">
                                                            {{station.Name}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                    <mat-error id="mp-stationsMatError4">
                                                        <span id="mp-stationsSameError4" *ngIf="myPreferencesForm.get('favoriteStation4Control').hasError('mustMatch')">
                                                            Favourite Station can not be same.
                                                        </span>
                                                        <span id="mp-stationsValidError4" *ngIf="myPreferencesForm.get('favoriteStation4Control').hasError('validStation')">
                                                            Please select a valid Favourite Station.
                                                        </span>
                                                    </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div id="mp-stationsCol5" class="col-lg-6 col-md-6 col-sm-12 col-12" *ngIf = "myPreferencesResponse?.FavouriteStationsList?.length > 4 || favouriteStationDisplayCount > 4">
                                    <div id="mp-stationsInputArea5" class="new-form-group new-auto-form-group">
                                        <div id="favoriteStation5Control">
                                            <mat-form-field id="mp-stationsMatFormField5" class="default-input default-input-brdr w-100" floatLabel="never">
                                                <input id="mp-stationsInput5" matInput class="new-form-input" placeholder="Choose favourite station..."
                                                    formControlName="favoriteStation5Control" [matAutocomplete]="favoriteStation_5" aria-labelledby="favoriteStation5Control">
                                                    <mat-autocomplete id="mp-stationsAutoComplete5" #favoriteStation_5="matAutocomplete">
                                                        <mat-option id="mp-stationsOption5_{{favoriteStationFiveIndex}}" *ngFor="let station of favoriteStation5 | async; let favoriteStationFiveIndex = index;" [value]="station.Name" [ngClass]="_allowSelection(station.Name)">
                                                            {{station.Name}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                    <mat-error id="mp-stationsMatError5">
                                                        <span id="mp-stationsSameError5" *ngIf="myPreferencesForm.get('favoriteStation5Control').hasError('mustMatch')">
                                                            Favourite Station can not be same.
                                                        </span>
                                                        <span id="mp-stationsValidError5" *ngIf="myPreferencesForm.get('favoriteStation5Control').hasError('validStation')">
                                                            Please select a valid Favourite Station.
                                                        </span>
                                                    </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div id="mp-stationsCol6" class="col-12">
                                    <button id="mp-stationsAddMoreBtn" *ngIf = "favouriteStationDisplayCount !== 5" (click) = "updateFavoriteStationCount()" type="button" mat-button class="font-700 f-16 lh-20 add-more-btn">
                                        Add more stations
                                        <img id="mp-stationsAddMoreIcon" src="assets/images/account-plus.svg" alt="Add More Icon" /> 
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="mp-railcardArea" class="preference-railcard">
                            <div id="mp-railcardRow" class="row">
                                <div id="mp-railcardCol" class="col-12 mt-16">
                                    <div id="mp-railcardDiv">
                                        <div id="mp-railcardInnerDiv" class="new-form-label">
                                            <p id="mp-railcardTitle" class="font-dark font-700 f-16 lh-22 m-0 d-flex align-items-center">
                                                Railcard
                                                <a id="mp-railcardTitleIcon" href="https://www.avantiwestcoast.co.uk/tickets-and-savings/railcards" target="_blank" class="ml-16 d-flex railcard-link" aria-label="Railcard help link" rel="noopener">
                                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1.5 18C1.1 18 0.75 17.85 0.45 17.55C0.15 17.25 0 16.9 0 16.5V1.5C0 1.1 0.15 0.75 0.45 0.45C0.75 0.15 1.1 0 1.5 0H8.475V1.5H1.5V16.5H16.5V9.525H18V16.5C18 16.9 17.85 17.25 17.55 17.55C17.25 17.85 16.9 18 16.5 18H1.5ZM6.55 12.525L5.5 11.45L15.45 1.5H9.975V0H18V8.025H16.5V2.575L6.55 12.525Z" fill="black"/>
                                                    </svg>                                                        
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="mp-railcardCol2" class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div id="mp-railcardSelectArea" class="new-form-group">
                                        <div id="mp-railcardSelectDiv">
                                            <mat-form-field id="mp-railcardMatFormField" class="default-select w-100">
                                                <!-- <mat-label id="mp-railcardMatLabel">No Railcard</mat-label> -->
                                                <mat-select id="mp-railcardMatSelect" class="new-form-select upgrade-preferences-mat-select" formControlName="railCardControl" aria-busy="true" >
                                                    <mat-option id="mp-railcardMatOption"  value="NO_RAILCARD" >No Railcard</mat-option>
                                                    <mat-option id="mp-railcardMatOption2_{{railcardIndex}}" *ngFor="let railCard of myPreferencesResponse?.RailCardList; let railcardIndex = index;" value="{{railCard.Code}}">
                                                        {{railCard.Description}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mp-paymentArea" class="preference-payment-method">
                            <div id="mp-paymentRow" class="row">
                                <div id="mp-paymentCol" class="col-12">
                                    <div id="mp-paymentTitleDiv" class="">
                                        <div id="mp-paymentInnerTitleDiv" class="new-form-label">
                                            <p id="mp-paymentTitle" class="font-dark font-700 f-16 lh-22 m-0">Payment method</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="mp-paymentCol2" class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div id="mp-paymentSelectArea" class="new-form-group">
                                        <div id="mp-paymentSelectDiv">
                                            <mat-form-field id="mp-paymentMatFormField" class="default-select w-100" >
                                                <!-- <mat-label id="mp-paymentMatLabel" for="payment">Choose Payment method</mat-label> -->
                                                <mat-select id="mp-paymentMatSelect" class="new-form-select upgrade-preferences-mat-select" formControlName="paymentModeControl" aria-busy="true" [aria-label]="'s'" id="payment">
                                                    <mat-option id="mp-paymentMatOption"  value="Default_Payment">Choose Payment method</mat-option>
                                                    <mat-option id="mp-paymentMatOption2_{{paymentIndex}}" *ngFor="let paymentMode of myPreferencesResponse?.PaymentMode; let paymentIndex = index;" value="{{paymentMode}}">
                                                        {{paymentMode}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mp-addressArea" class="preference-billing-address">
                            <div id="mp-addressRow" class="row">
                                <div id="mp-addressCol" class="col-12">
                                    <div id="mp-addressTitleDiv" class="new-form-group">
                                        <div id="mp-addressInnerTitleDiv" class="new-form-label mb-0">
                                            <p id="mp-addressTitle" class="font-dark font-700 f-16 lh-22 m-0">Billing Address</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="mp-addressCol2_{{addressIndex}}" class="col-lg-3 col-md-4 col-sm-12 col-12 upgrade-post-day-radio-btn upgrade-proference-mb-20" *ngFor="let address of myPreferencesResponse?.Addresses; let addressIndex = index;">
                                    <p id="mp-addressType_{{addressIndex}}" class="font-400 f-14 lh-20 mb-0 font-dark">{{address.AddressType}}</p>
                                    <p id="mp-addressFull_{{addressIndex}}" class="billing-address font-700 f-14 lh-20 font-dark mt-0 pt-02 mb-16">
                                        {{address.Address.Address1}}<br>
                                        {{address.Address.Address2}} {{address.Address.Address3}}
                                        {{address.Address.PostCode}} <br>
                                        {{address.Address.City}} 
                                        <span id="mp-addressCountry_{{addressIndex}}" class="d-block">{{address.Address.Country}}</span>
                                        {{address.Address.CountryCode ? '('+address.Address.CountryCode+')' : ''}}
                                    </p>
                                    <mat-radio-button id="mp-addressRadio_{{addressIndex}}" class="font-400 lh-21 f-14 mb-20 m-f-14 upgrade-preference-default-checkbox" [checked]="address.IsDefault" (change)="onSelectAddress(address)"
                                    [aria-label]="address.AddressType + ' ' + address.Address.Address1 + ' ' + address.Address.Address2 + ' ' + address.Address.Address3  + ' ' +  address.Address.PostCode + ' ' + address.Address.City + ' ' + address.Address.Country + ' (' + address.Address.CountryCode + ') '">
                                        Set as default
                                    </mat-radio-button>
                                </div>
                            </div>
                        </div>
                        <div id="mp-joinClubArea" class="club-avanti-banner mt-28 mb-48 p-relative"
                         *ngIf="myPreferencesResponse && !myPreferencesResponse?.IsRegistrationInProgress && !myPreferencesResponse?.IsRegisteredToLoyality && !commonService?.doesClubAvantiPortalDisplay()">
                            <div id="mp-joinClubImgArea" class="club-avanti-imgs p-absolute">
                                <div id="mp-joinClubImgDiv" class="club-avanti-imgs-inner">
                                    <img id="mp-joinClubImg" src="assets/images/Avanti_Mix.png" class="club-avanti-phone-img" alt="Club Avanti Phone" />
                                </div>
                            </div>
                            <div id="mp-joinClubOff" class="club-avanti-top">
                                <div id="mp-joinClubRow" class="row">
                                    <div id="mp-joinClubCol" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <img id="mp-joinClubLogo" src="assets/images/club-avanti-banner-logo-2.png" class="d-block mb-20" alt="Club Avanti Logo" />
                                        <h3 id="mp-joinClubTitleArea" class="mb-20 f-32imp font-white text-uppercase">
                                            <span id="mp-joinClubTitle" class="font-300">Join the club that</span> 
                                            <span id="mp-joinClubPlaces" class="font-700 text-spark">takes you places</span>
                                        </h3>
                                        <p id="mp-joinClubDiscountTxt" class="font-white f-18 lh-22 font-300">
                                            Get 10% off your next train journey and other great rewards. Join us - it’s free 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="mp-joinClubBottom" class="club-avanti-bottom">
                                <div id="mp-joinClubRow2" class="row">
                                    <div id="mp-joinClubCol2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <mat-checkbox id="mp-joinClubMatCheckbox" class="club-avanti-checkbox" aria-labelledby="clubAvantiControl" formControlName="clubAvantiControl" (change)="openLoyaltySignupPopup()">
                                            <span id="mp-joinClubConfirm" class="f-16"><span id="mp-joinClubAvanti">Join Club Avanti.</span> I confirm I am 16+ and accept the </span>
                                            <a id="mp-joinClubTerms" class="f-16 lh-22" href="https://www.avantiwestcoast.co.uk/tickets-and-savings/club-avanti#ts&cs" target="_blank" rel="noopener">Club Avanti Terms and Conditions</a>
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mp-communication" class="preference-mode mt-15">
                            <div id="mp-communicationTitle" class="preference-mode-header">
                                Communication Preferences
                            </div>
                            <style>
                                .spinner {
                                    display: none;
                                }

                                .spinner--show {
                                    display: block;
                                }
                            </style>

                            <div id="widget-container" class="preference-mode-body page"></div>
                        </div>
                        <div id="mp-savePreferencesRow" class="row mt-16">
                            <div id="mp-savePreferencesCol" class="col-12 preference-m-btn">
                                <button id="savePreference" class="new-default-btn mr-16" data-submit-widget mat-button>
                                    Save Preferences
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<app-footer></app-footer>