:host {
    display: flex;
    justify-content: center;
}

  .login-bx .form-group {
    margin-bottom: 1.5rem;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  label {
      display: inline-block;
      margin-bottom: .5rem;
  }
  body :host .default-input input {   
      box-sizing: border-box;
  }

  mat-form-field {
    width: 100%;
  }
  .validation-err{
    color:red;
    display: block;
    margin-bottom: 5px;
  }
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  mat-card {
    background: #fff;
    color: rgba(0,0,0,.87);
    border-top: 4px solid #204555;
    border-radius: 0px !important;
}
mat-card form{
    width: 50%;
    padding-top: 4%;
}
.pass-eye-btn{
  position: absolute;
    top: 35px;
    right: 10px;
}
.ng-invalid.is-invalid ~ .pass-eye-btn{
    right: 30px;
}

.reset-password {
    padding: 96px 0;
    min-width: 504px;
    max-width: 504px;
    margin: 0 auto;
}

.reset-password-header .reset-password-hint,
.reset-password-footer .reset-password-hint {
  list-style-type: none;
}

.reset-password .reset-password-body .reset-password-form .new-default-btn,
.reset-password .reset-password-footer .new-default-btn {
  height: 48px !important;
}

.reset-password .reset-password-body .reset-password-form .mat-error span {
  color: #E42B00 !important;
}

.reset-password .reset-password-body .reset-password-form .new-input input.error-input-focus {
  border: 1px solid #E42B00 !important;
  box-shadow: 0 0 0 0.1rem rgb(228 43 0 / 100%) !important;
}

.focus-icon:hover,
.focus-icon:focus {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .reset-password-header h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .reset-password-header ul li,
  .reset-password-footer ul li {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .reset-password .reset-password-body .reset-password-form .mt-5px {
    margin-top: 7px !important;
  }
}

@media (max-width: 600px) {
  .reset-password {
    padding: 64px 0;
    min-width: auto;
    max-width: none;
  }
}