<div class="clearfix"></div>
<div class="profile_wrp change_pass_w">


<div class="seting_tab_menu_wrp">
   <div class="tab seting_tab_menu">
      <button class="tablinks" *isAuthorize="[permissionTask.manageBaseRateView]" [ngClass]="{ 'active': default_tab === 'first_tab' }"   (click)="default_tab = 'first_tab'">Base Rates</button>
      <button class="tablinks"  *isAuthorize="[permissionTask.manageMetalRateView]"  [ngClass]="{ 'active': default_tab === 'second_tab' }" (click)="default_tab = 'second_tab'">Metal Rates</button>
     
    </div>
    
    <div id="BaseGold" class="tabcontent"  *isAuthorize="[permissionTask.manageBaseRateView]" [ngStyle]="{'display': default_tab === 'first_tab' ? 'block' : 'none'  }">
      <div class="login_form"> 
         <div class="image_diamension text-center" style="display: none !important;">
             Dimension : (600 x 300) PX <br>
             Formats : .png, .jpg, .jpeg and .jfif <br>
          </div>
         <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
 
             <div class="frm_add_froup_w" >
 
                 <div class="form-group" *ngIf="settingForm.get('is_logo_active')?.value == 1" style="display: none !important;">
                     <div class="sub_frm_wrp_add_colm_upload">
                         <div class="upload__btn-box upload_img_vw_p_m">
  
                             <label class="upload__btn upload_img_vw_p">
                                <p><em class="fas fa-cloud-upload-alt"></em> Upload logo <span class="text-danger">*</span></p>
                                <input type="file" accept=".png, .jpg, .jpeg, .jfif" (change)="uploadAttachment($event)"
                                   data-max_length="20" class="upload__inputfile">
                             </label>
                             <div *ngIf="is_image_upload && submitted"
                                 class="text-danger validation-error">
                                 {{AppConstants.REQUIRED_LOGO}}
                             </div> 
                         </div> 
                         <div class="upload__img-wrap" *ngIf="logo_base64_images">
                             <div class='upload__img-box' >
                                <div [attr.data-number]='1' class='img-bg' onError="resetImage()">
                                 <img src="{{logo_base64_images ? logo_base64_images :'assets/images/no-images.png' }}" alt="" onError="this.src='assets/images/no-images.png'">
                                   <div class='upload__img-close' (click)="resetImage()"></div>
                                </div>
                             </div>
                          </div>
                     </div>
                     
                 </div>
 
                 <div class="form-group">
                     <label>Base Gold Price<span class="text-danger">*</span></label>
                     <input type="text" class="form-control login_fild" placeholder="Base Gold Price" formControlName="base_gold_price" inputRef  (keypress)="numbersOnly($event)">
                  </div>
                  <div *ngIf="(f.base_gold_price.touched || submitted) && f.base_gold_price.errors?.required"
                     class="text-danger validation-error">
                        {{AppConstants.BASE_GOLD_PRICE_REQUIRED}}
                  </div>
                  <div class="form-group">
                     <label>Base Platinum Price<span class="text-danger">*</span></label>
                     <input type="text" class="form-control login_fild" placeholder="Base Platinum Price" formControlName="base_platinum_price" inputRef (keypress)="numbersOnly($event)">
                  </div>
                  <div *ngIf="(f.base_platinum_price.touched || submitted) && f.base_platinum_price.errors?.required"
                     class="text-danger validation-error">
                        {{AppConstants.BASE_PLATINUM_PRICE_REQUIRED}}
                  </div>
 
                 <div class="form-group" *ngIf="currency && currency.length > 0 && settingForm.get('is_currency_active')?.value == 1">
                     <label>Manage Currency <span class="text-danger">*</span></label>
                     <select class="form-control login_fild" formControlName="currency">
                         <option selected value="">Select Currency</option>
                         <option *ngFor="let currency_setting of currency" value="{{currency_setting}}">
                             {{currency_setting}}</option>
                     </select>
                 </div> 
 
                  
                 <div *ngIf="(f.currency.touched || submitted) && f.currency.errors?.required"
                     class="text-danger validation-error">
                     {{AppConstants.CURRENCY_REQUIRED}}
                 </div>
             </div>
 
 
 
 
             <div class="add_prd_btn_rw" *isAuthorize="[permissionTask.manageBaseRateEdit]">
                 <button type="submit" class="btn btn-default login_btn">
                     <em class="fas fa-sign-in-alt"></em>
                     Update Settings
                 </button>
                 <button type="button" class="btn btn-default login_btn cancel_btn_frm"
                     [routerLink]="['/admin/dashboard']"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
             </div>
 
 
 
         </form>
 
 
 
 
     </div>
     <div class="clearfix"></div>
    </div>
    
    <div id="CurrentGold" class="tabcontent"  *isAuthorize="[permissionTask.manageMetalRateView]" [ngStyle]="{'display': default_tab === 'second_tab' ? 'block' : 'none'  }">
      <div class="login_form">
         <form [formGroup]="AddMetalRatesForm" (ngSubmit)="onMetalRateSubmit()">
            <div class="form-group">
               <label>Current Gold Rate<span class="text-danger">*</span></label>
               <input type="text" class="form-control login_fild" placeholder="Current Gold Rate" formControlName="current_gold_rate" inputRef  (keypress)="numbersOnly($event)">
            </div> 
            <div *ngIf="(m.current_gold_rate.touched || metal_submitted) && m.current_gold_rate.errors?.required"
               class="text-danger validation-error">
                  {{AppConstants.CURRENT_GOLD_RATE_REQUIRED}}
            </div>
            <div class="form-group">
               <label>Current Platinum Rate<span class="text-danger">*</span></label>
               <input type="text" class="form-control login_fild" placeholder="Current Platinum Rate" formControlName="current_platinum_rate" inputRef (keypress)="numbersOnly($event)">
            </div>
            <div *ngIf="(m.current_platinum_rate.touched || metal_submitted) && m.current_platinum_rate.errors?.required"
               class="text-danger validation-error">
                  {{AppConstants.CURRENT_PLATINUM_RATE_REQUIRED}}
            </div>
            <div class="form-group">
               <label>Conversion From USD to POUND<span class="text-danger">*</span></label>
               <input type="text" class="form-control login_fild" placeholder="Conversion Rate" formControlName="price_usd_to_pound" inputRef (keypress)="numbersOnly($event)">
            </div>
            <div *ngIf="(m.price_usd_to_pound.touched || metal_submitted) && m.price_usd_to_pound.errors?.required"
               class="text-danger validation-error">
                  {{AppConstants.CONVERSION_RATE_REQUIRED}}
            </div>
            
            <div class="form-group">
               <label>Round Off<span class="text-danger">*</span></label>
               <input type="text" class="form-control login_fild" placeholder="Round Off" formControlName="price_roundoff_value" inputRef (keypress)="numbersOnly($event)">
            </div>
            <div *ngIf="(m.price_roundoff_value.touched || metal_submitted) && m.price_roundoff_value.errors?.required"
               class="text-danger validation-error">
                  {{AppConstants.ROUND_OFF_REQUIRED}}
            </div>

            <div class="d-flex justify-content-between btn_set_markup">
               <label>Markup Prices</label>
            <button type="button" class="btn btn-default login_btn pull-right"
            (click)="addNewMarkUpControl()"><em class="fa fa-plus" aria-hidden="true"></em> Add MarkUp Prices
            </button>
            </div>

            <div class="form-group">
               <label>Default Markup Price (%)<span class="text-danger">*</span></label>
               <input type="text" class="form-control login_fild" placeholder="Markup Price" formControlName="markup_in_price" inputRef (keypress)="numbersOnly($event)">
            </div>
            <div *ngIf="(m.markup_in_price.touched || metal_submitted) && m.markup_in_price.errors?.required"
               class="text-danger validation-error">
                  {{AppConstants.MARKUP_PRICE_REQUIRED}}
            </div>
            <ng-container formArrayName="markup_price">
              <div class="admin_table">
               <table class="table table-bordered table_eror_show" *ngIf="markupRecords['controls'] && markupRecords['controls']?.length > 0">
                  <caption style="display:none;">dec</caption>
                  <thead>
                     <tr> 
                        <th class="w-px80" id="serial_number">{{AppConstants.SERIAL_NUMBER}}</th>
                        <th id="products_lable" >Min Price <span class="text-danger">*</span></th>
                        <th id="products_lable">Max Price <span class="text-danger">*</span></th>
                        <th id="products_lable">Markup Price (%) <span class="text-danger">*</span></th>
                        <th class="w-px80" id="action" style="text-align: center;">Action</th>
                     </tr>
                  </thead>
                  
                  <tbody  *ngFor="let productRecord of markupRecords['controls']; index as i;"  [formGroupName]="i">
                     <tr>
                        <td><strong>{{i+1}}.</strong></td>
                        <td>
                           <input type="text" class="bulk_fild" formControlName="min_price" placeholder="Min Price" (keypress)="numbersOnly($event)"  inputRef>
                           <div *ngIf="(productRecord.get('min_price')?.touched || metal_submitted) && productRecord.get('min_price')?.errors?.required"
                            class="text-danger validation-error">
                            Min Price Required
                           </div>
                        </td>
                        <td>
                           <input type="text" class="bulk_fild" formControlName="max_price" placeholder="Max Price"  (keypress)="numbersOnly($event)" inputRef>
                           <div *ngIf="(productRecord.get('max_price')?.touched || metal_submitted) && productRecord.get('max_price')?.errors?.required"
                            class="text-danger validation-error">
                            Max Price Required
                           </div>
                        </td>
                        <td>
                           <input type="text" class="bulk_fild" formControlName="markup_percent" (keypress)="numbersOnly($event)" placeholder="Markup Price (%)"  inputRef>
                           <div *ngIf="(productRecord.get('markup_percent')?.touched || metal_submitted) && productRecord.get('markup_percent')?.errors?.required"
                           class="text-danger validation-error">
                           Markup Percent Required
                          </div>
                        </td>
                        <td style="text-align: center;" >
                           <a href="javascript:void(0)" class="inline-flex" (click)="deleteMarkUp(i)">
                               <img src="assets/images/delete_icon.png" alt="">
                           </a>
                       </td>
                     </tr>
                     
                  </tbody>
               </table> 
            </div>
            </ng-container>



            <div class="add_prd_btn_rw" *isAuthorize="[permissionTask.manageMetalRateEdit]">
             <button type="submit" class="btn btn-default login_btn">
                 <em class="fas fa-sign-in-alt"></em>
                 Update Settings
             </button>
             <button type="button" class="btn btn-default login_btn cancel_btn_frm"
                 [routerLink]="['/admin/dashboard']"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
            </div>
   
         </form>
      </div>
      <div class="clearfix"></div> 
    </div>
    

   </div>



   




   <div class="clearfix"></div>   
</div>