.recent-search {
    padding: 0 8px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    height: 28px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.time-out-msg {
    margin-bottom: 48px;
}

.session-timeout-signout {
    padding: 43px 32px !important;
}

@media (max-width: 768px) {
    .back-home-page-btn {
        display: block;
        margin-bottom: 16px;
        margin-right: 0;
        width: 100%;
    }

    .time-out-msg {
        margin-bottom: 44px;
    }

    .common-popup-theme-middle .f-14 {
        font-size: 14px !important;
    }

    .extend-session-btn {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .session-timeout-signout {
        padding: 52px 16px !important;
    }
}

@media (max-width: 420px) {
    .session-timeout-signout {
        padding: 42px 16px !important;
    }
}

@media (max-width: 360px) {
    .session-timeout-signout {
        padding: 52px 16px !important;
    }
}