<app-enhanced-basic-dialog class="enhanced-alert-dialogs" [isFooter]="false" [dialogTitle]="headerTitle">
    <ng-content>
      <div class="enhanced-common-popup-theme">
          <div class="enhanced-common-popup-theme-border" *ngIf="isSaleable">
            <div class="summary mb-0 first-summary">
              <h3>Why's that?</h3>
              <ul>
                <li>This message is displayed when a service has <strong>no reservation available.</strong> </li>
                <li>The train might be <strong>fully booked</strong> if you’re searching at a short notice or if there’s a big event going on.</li>
                <li>
                  The train might be <strong>waiting for confirmation</strong> to run on the scheduled time if you’re planning ahead but tickets aren’t available.
                </li>
              </ul>
              <mat-card-anchor><a href="https://www.avantiwestcoast.co.uk/travel-information/plan-your-journey/timetables">Check out our timetable page</a></mat-card-anchor>
            </div>
            <div class="summary second-summary">
              <h3>Can I still get on the same train?</h3>
              <ul class="m-0">
                <li>Yes, you can still get on our <strong>unreserved coaches</strong> without a reservation.</li>
                <li>If you're comfortable without a guaranteed seat, you can <strong>purchase a flexible Off-Peak or Anytime ticket online</strong> for your chosen travel date and board your preferred train. You can also purchase a ticket on your date of travel at the station.</li>
                <li>
                  For unreserved Standard Class seats, please head to:
                  <ul class="m-0">
                    <li><strong>Pendolino Trains: </strong>Coach C (Plus Coaches U & G on 11-car trains)</li>
                    <li><strong>Evero Trains: </strong>Coach C (Plus Coach N on 10-car trains)</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="summary third-summary">
              <h3>What if I prefer a guaranteed seat?</h3>
              <ul>
                <li>If you prefer a guaranteed seat, you can choose a different class of travel on this train or opt for a train at a different time.</li>
              </ul>
            </div>
          </div>

          <div class="enhanced-common-popup-theme-border" *ngIf="!isSaleable">
            <div class="enhanced-ticket-soldout-popup">
              <div class="enhanced-ticket-soldout-popup-content">
                <h3>Why's that?</h3>
                <p>
                  If you're searching at quite short notice or if there's a big event going on, this train might be fully booked. If you're planning ahead and tickets aren't showing for a specific train, we might still be awaiting confirmation that the train will run at the times advertised. <a href="https://www.avantiwestcoast.co.uk/travel-information/plan-your-journey/timetables">Check out our timetables page</a> for more information.
                </p>
              </div>
              <div class="enhanced-ticket-soldout-popup-content">
                <h3>Still want to go?</h3>
                <p>
                  If this train is the one for you, you have a couple of options. We have unreserved coaches on all our trains so, if you don't mind not being guaranteed a seat, you can buy a flexible Off-Peak or Anytime ticket at the station without a reservation, then use your ticket's flexibility to hop on your preferred train. Head to coach C, U or G on our Pendolino trains, or coach C, H or N on Evero trains to find unreserved Standard Class seats.
                </p>
              </div>
              <div class="enhanced-ticket-soldout-popup-content">
                <p>
                  If you'd rather be sure of a seat, try another class of travel on this train, or a train at another time.
                </p>
              </div>
            </div>
          </div>
      </div>
  </ng-content>
</app-enhanced-basic-dialog>



