<div class="dash_rew_w">
  <div class="row">
    <ng-container *isAuthorize="[permissionTask.articleView]">
      <div class="col-lg-3 col-md-6" *ngIf="articlesCount">
        <div class="dash_rew_wrp" [routerLink]="['/admin/article-master']" style="cursor: pointer;">

          <div class="dash_rew_wrp_icon"><img src="assets/images/article_icon_n.png" alt=""></div>
          <div class="dash_rew_wrp_txt">
            <p>Articles</p>
            <h3>{{articlesCount}}</h3>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *isAuthorize="[permissionTask.categoryView]">
      <div class="col-lg-3 col-md-6" *ngIf="categoriesCount">
        <div class="dash_rew_wrp" [routerLink]="['/admin/category-master']" style="cursor: pointer;">
          <div class="dash_rew_wrp_icon"><img src="assets/images/cate_icon_n.png" alt=""></div>
          <div class="dash_rew_wrp_txt">
            <p>Categories</p>
            <h3>{{categoriesCount}}</h3>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *isAuthorize="[permissionTask.attributeView]">
      <div class="col-lg-3 col-md-6" *ngIf="attributesCount" style="cursor: pointer;">
        <div class="dash_rew_wrp" [routerLink]="['/admin/attribute-master']">
          <div class="dash_rew_wrp_icon"><img src="assets/images/attribute_icon_n.png" alt=""></div>
          <div class="dash_rew_wrp_txt">
            <p>Attributes</p>
            <h3>{{attributesCount}}</h3>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *isAuthorize="[permissionTask.productsView]">
      <div class="col-lg-3 col-md-6" *ngIf="productsCount">
        <div class="dash_rew_wrp">
          <div class="dash_rew_wrp_icon"><img src="assets/images/products_ic.png" alt=""></div>
          <div class="dash_rew_wrp_txt">
            <p>Products</p>
            <h3>{{productsCount}}</h3>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<div class="prd-srh" *isAuthorize="[permissionTask.productsView]">



  <div class="prd-srh-left-v" *ngIf="categoryData && categoryData.length > 0">

    <div class="form-group position-relative">
      <label>Search by Category</label>
      <select class="form-control login_fild prdsrh_icon_v" (change)="searchByCategory($event)"
        [(ngModel)]="category_search">
        <option selected value="0">Select category</option>
        <option *ngFor="let category of categoryData ; let i=index;" value="{{category?.CategoryId}}">
          {{category?.CategoryName}}</option>
      </select>
    </div>

  </div>
  <div class="prd-srh-right-v">

    <div class="form-group position-relative">
      <label>Search by Product Name</label>
      <input type="text" class="form-control login_fild padd-right-45 prdsrh_icon_v" name="search" #productSearch
        placeholder="Search by product name" [(ngModel)]="search_text" (keyup)="prodcut_search($event)">
      <button class="prdfilter_icon_v" type="button" (click)="searchByName(productSearch?.value)"></button>
    </div>

  </div>

  <div class="prd-srh-left-v">

    <div class="form-group position-relative">
      <label>Search by Status</label>
      <select class="form-control login_fild prdsrh_icon_v" (change)="searchByCategory($event)"
        [(ngModel)]="search_status">
        <option value="-1">{{AppConstants.SELECT_STATUS}}</option>
        <option value="1">{{AppConstants.STATUS_ACTIVE}}</option>
        <option value="0">{{AppConstants.STATUS_INACTIVE}}</option>
      </select>
    </div>

  </div>



</div>
<div class="dash_rew_w" *isAuthorize="[permissionTask.productsAdd]">
  <div class="row">
    <div class="col-md-12 text-right">
      <a href="javascript:void(0);" [routerLink]="['/admin/add-product']" class="default-btn add_btn_art"><i
          class="fa fa-plus" aria-hidden="true"></i> Add Product</a>
    </div>
  </div>
</div>

<div class="admin_table" *isAuthorize="[permissionTask.productsView]">
  <div class="table-responsive" *ngIf="productData && productData.length > 0; else recordNotFound">
    <table class="table table-bordered">
      <caption style="display: none;">Products List</caption>
      <thead>
        <tr>
          <th id="srnumber">{{AppConstants.SERIAL_NUMBER}}</th>
          <th id="productsku">Product SKU</th>
          <th id="productsku">Parent SKU</th>
          <th id="productname" class="w-px300">Product Name</th>
          <th id="producttype">Product Type</th>
          <th id="productcategory">Product Category</th>
          <th id="engravable">Engravable</th>
          <th id="matchingband">Matching Band</th>
          <th id="jewelexsku">Jewelex SKU</th>
          <!-- <th id="pricenew" class="text-right">Price</th> -->
          <th id="pricenew" class="text-right">Incremental Factor</th>
          <th id="createdon">Created On</th>
          <th id="modifiedon">Modified On</th>
          <th id="status">Status</th>
          <th id="action">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="productData && productData.length > 0">
        <tr
          *ngFor="let product of productData | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems : totalItemsCount}; let i=index;">
          <td id="width_65">{{(page-1)*itemsPerPage +i+1}}</td>
          <td>{{product?.ProductSKU}} </td>
          <td>{{product?.parent_sku}} </td>
          <td>{{product?.ProductName}}</td>
          <td>{{product?.ProductType ? (product?.ProductType == 'Simple' ? 'Simple': 'Matching Band') : ''}} </td>
          <td>{{product?.ParentCategoryName}} </td>
          <td>{{product?.IsEngravable == 1 ? 'Yes' : 'No'}} </td>
          <td>{{product?.IsMatchingBand == 1 ? 'Yes' : 'No'}} </td>
          <td>{{product?.JewelexSKU}} </td>
          <!-- <td id="width_100" class="text-right">{{defaultCurrency == 'USD' ? '$' :defaultCurrency == 'GBP' ? '£' :
                  '₹'}}{{setDefaultCurrency(defaultCurrency,product?.Price)}}</td> -->
          <td id="width_100" class="text-right">{{product?.IncrementalFactor}}</td>
          <td id="width_100">{{product?.CreatedOn ?( product?.CreatedOn | date :'dd-MMM-yyyy'): ''}} </td>
          <td id="width_100">{{product?.ModifiedOn ?( product?.ModifiedOn | date :'dd-MMM-yyyy'): ''}}</td>
          <td class="Status_clr">{{product?.IsActive == 1 ? 'Active' : 'Inactive'}}</td>
          <td id="width_100" class="auction_link">
            <a href="javascript:void(0);" *isAuthorize="[permissionTask.productsEdit]"
              (click)="editProduct(product?.ProductId)"><img src="assets/images/edit_icon.png" alt=""></a>
            <a href="javascript:void(0);" *isAuthorize="[permissionTask.productsDelete]"
              (click)="deleteProduct(product?.ProductId,product?.ProductName,product?.ArticleId)"><img
                src="assets/images/delete_icon.png" alt=""></a>
            <a href="javascript:void(0);" *isAuthorize="[permissionTask.productsAdd]"
              (click)="copy_product(product?.ProductId,product?.ProductName , product?.ArticleId)"><img
                src="assets/images/copy_img.png" title="Copy Product" alt=""></a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="pagination" *ngIf="productData && productData.length > 0">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
  <ng-template #recordNotFound>
    <div class="row p-3 g-1">
      <div class="col-md-12 no-record text-center">
        {{AppConstants.NO_RECORD_FOUND}}
      </div>
    </div>
  </ng-template>
</div>
