<div id="cap-success-area" class="club-avanti-saved-popup bg-fff" *ngIf="Success">
    <mat-dialog-content>
        <div id="cap-success-card" class="shadow-none font-weight-500">
            <div id="cap-success-inner" class="club-avanti-popup-inner d-flex">
                <img id="cap-success-check-icon" src="assets/images/check-icon.svg" class="club-avanti-check" alt="Check Icon">
                <div id="cap-success-content" class="club-avanti-popup-content">
                    <h3 id="cap-success-saved-title" class="font-600 f-28">Saved preferences</h3>
                    <p id="cap-success-thanks-txt" class="mb-0 f-16 font-400">Thank you for joining Club Avanti</p>
                    <p id="cap-success-welcome-txt" class="mb-0 f-16 font-400">Your welcome email and rewards <span id="cap-success-hr" class="font-700">will be sent within 24hrs.</span></p>
                </div>                  
            </div>
        </div>
        <div id="cap-success-preferences-area" class="club-avanti-popup-close" (click)="updatePreferences()">
            <button id="cap-success-btn" type="button" class="dialog-close simple-btn">
                <img id="cap-success-btn-icon" alt="close" src="assets/images/Close.svg" />
            </button>
        </div>
    </mat-dialog-content>
</div>

<div id="cap-not-success-area" class="club-avanti-notsaved-popup bg-fff" *ngIf="!Success">
    <mat-dialog-content>
        <div id="cap-not-success-card" class="shadow-none font-weight-500">
            <div id="cap-not-success-inner" class="club-avanti-popup-inner d-flex">
                <img id="cap-not-success-alert-icon" src="assets/images/club-avanti-alert.png" alt="Alert Icon" class="club-avanti-alert-icon" />
                <div id="cap-not-success-content" class="club-avanti-popup-content">
                    <h3 id="cap-not-success-right" class="font-600 f-28">Something is not right</h3>
                    <p id="cap-not-success-msg" class="mb-0 f-18 font-400" [innerHTML]="Message">
                    </p>
                </div>                  
            </div>
        </div>
        <div id="cap-not-success-close" class="club-avanti-popup-close">
            <button id="cap-not-success-btn" type="button" class="dialog-close simple-btn" (click)="updatePreferences()">
                <img id="cap-not-success-btn-icon" alt="close" src="assets/images/Close.svg" />
            </button>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button id="cap-update-preferences-btn" mat-button class="default-btn font-700 f-18" (click)="updatePreferences()">Update Preferences</button>
    </mat-dialog-actions>
</div>
