<app-enhanced-basic-dialog [dialogTitle]="headerTitle" [dialogFooter]="dialogFooter" [showIdleTimer]="timeCounter" [iconClose]="false" role="dialog" aria-modal="true" tabindex="-1">
    <div class="enhanced-common-popup-theme">
        <div class="enhanced-common-popup-theme-border">
            <div *ngIf="data.isIdleNotify" class="alert-content enhanced-alert-content" role="alert" aria-live="assertive" aria-atomic="true">
                <span class="sr-only">{{ headerTitle }}</span>
                <p>
                    Due to inactivity, your session will expire in 5 minutes unless you extend it.
                </p>
            </div>
            <div *ngIf="!data.isIdleNotify" class="alert-content enhanced-alert-content" role="alert" aria-live="assertive" aria-atomic="true">
                <span class="sr-only">{{ headerTitle }}</span>
                <p> 
                    Your session has expired. Please sign in to continue.
                </p>
            </div>
        </div>
    </div>
</app-enhanced-basic-dialog>
<ng-template #dialogFooter>
    <div class="common-popup-theme-footer enhanced-session-timeout-footer">
        <div class="d-flex gap-24 justify-end enhanced-button-footer">
            <button mat-dialog-close mat-button class="outline-btn outline-primary-btn-hover" (click)="backTohomePage()">{{sessionTimeOutEnum.backToHomePageCTA}}</button>
            <button *ngIf="data.isIdleNotify" class="fill-btn fill-light-hover-btn" mat-dialog-close mat-button (click)="extendSession()">{{sessionTimeOutEnum.extendMySessionCTA}}</button>
            <button *ngIf="!data.isIdleNotify" class="fill-btn fill-light-hover-btn" mat-dialog-close mat-button (click)="goToSignIn()">{{sessionTimeOutEnum.signInCTA}}</button>
        </div>
    </div>
</ng-template>


<!-- <app-enhanced-basic-dialog [dialogFooter]="dialogFooter" class="enhanced-alert-dialogs content-center" [dialogTitle]="headerTitle">
    <ng-content>
        <div class="enhanced-common-popup-theme">
            <div class="enhanced-common-popup-theme-border">
                <div class="alert-content">
                    <div class="alert-image no-train-found-content" *ngIf="isNoTrain">
                        <img src="assets/images/new-design-img/No-Train.svg" alt="No train found">
                    </div>
                    <p>{{errorMessage}}</p>
                </div>
            </div>
        </div>
    </ng-content>
    <ng-template #dialogFooter>
        <div class="common-popup-theme-footer">
            <div class="d-flex gap-24 justify-between">
                <button mat-dialog-close id="efc-qtt-footer-next-btn" (click)="openEdit()" type="button" mat-button
                    class="fill-btn">
                    {{footerBtnText}}
                </button>
            </div>
        </div>
    </ng-template>
</app-enhanced-basic-dialog> -->



