.main-heading{
  font-size: 32px;
  color: #204555;
  font-weight: 500;
}

.billing-address {
  padding-left: 29px;
  margin-top: 0px;
  color: #131E29;
  word-break: break-word;
}
.deck-popup-btn {
  background: transparent;
  border: none;
}
.deck-popup-btn img{
    width: 16px;
  }
  .card-select{
    min-width: 240px;
    max-width: 290px;
    width: 80%;
}
  .save-checkbx{
    margin-left: 0px;
    margin-top: 2px;
    display: block;
    float: right;
  }
  .saved-card-icn{
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
  }

  @media (max-width:991px){
    .card-icn-img{
      margin-top: 0 !important;
    }
    .card-select-bx .col-md-6{
      margin-top: 10px;
    }
    .card-select-bx .col-md-6 mat-checkbox.save-checkbx {
      margin-top: 25px;
      margin-left: 0px;
      float: none !important;
  }
    .card-select {
      min-width: 220px;
      height: 54px;
  }
  }

  .col-lg-12 .save-checkbx {
    margin-top: -2px !important;
    padding-left: 20px !important;
}
.card-images{
  width: 40px !important;
  text-align: center !important;
}
.error-bx{
  background: #C0414D;
  color: #ffffff;
  padding:0 25px;
}
.close-img{
  position: absolute;
  right: 7px;
  top: 7px;
  fill: #ffffff;
}
.close-img path{
  fill: #ffffff;
}

button.delete-icon-btn:focus {
  background: #fff !important;
}
input[type="radio"] {
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-right: 15px;
    position: relative;
    width: 20px;
    -webkit-appearance: none;
    border: 1px solid #204555;
    background: #ffffff;
  }
  input[type="radio"]:after {
    border-radius: 25px;
    content: '';
    display: block;
    height: 10px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 10px;
  }
  input[type="radio"]:checked:after {
    background-color: #204555;
  }

  input[type="radio"]:focus{
    box-shadow: 0px 0px 0px 6px #ccc;
    outline: none !important;
    border: 1px solid #204555 !important;
  }
  .delete-icon-btn{
    right: 0;
    position: static;
    top: 0;
    width: auto;
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding: 0 !important;
}
.radio-bx {
  border: 1px solid #D6D1CA;
  border-radius: 5px;
  padding: 8px 20px;
}
.radio-bx.selected {
  border: 2px solid #131E29;
}
.address-bx{
  border: 1px solid #D6D1CA;
  border-radius: 5px;
  padding: 15px;
}
.address-bx.selected{
  border: 2px solid #131E29;
}
button.delete-icon-btn img {
  margin-top: -4px;
}
.new-theme .default-input-brdr input.selected {
  box-shadow: none !important;
}
.new-theme .default-input-brdr input.selected, .selected{
  border: 2px solid #204555 !important;
}
.w-80px{
  width: 80px;
}

apple-pay-button {
  --apple-pay-button-width: 150px;
  --apple-pay-button-height: 43px;
  --apple-pay-button-border-radius: 3px;
  --apple-pay-button-padding: 0px 0px;
  --apple-pay-button-box-sizing: border-box;
}

.season-fare-cntn apple-pay-button {
  --apple-pay-button-height: 40px;
  margin-top: 8px !important;
}

@media screen and (min-width:1199px) and (max-width:1400px){
  .total-payment-icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2px;
  }

  .total-payment-icon .simple-btn {
    top: -10px;
  }
}

@media (max-width: 767px){

  .nectar-txt {
    padding-top: 30px;
  }
  .f-24 {
    font-size: 24px !important;
  }
  .f-14 {
    font-size: 14px !important;
  }
  .radio-bx{
    padding: 14px 20px !important;
  }
  .route-details-checkbx {
    font-size: 14px !important;
  }
  .edit-btn-mobile-absolute{
    position: absolute;
    right: 22px;
    bottom: 20px;
  }
}
@media (min-width: 1199px) {
  .flex-xl-74 {
      flex: 74%;
  }
  .flex-xl-26 {
      flex: 26%;
  }
  .flex-wrap-xl-inherit {
      flex-wrap: inherit;
  }
}

@media (max-width: 1199px) {
  .flex-xl-74 {
      flex: none;
  }
  .flex-xl-26 {
      flex: inherit;
  } 

  .hide-payment-btns {
    display: none !important;
  }
}
.md-new-price-2{
  position: static;
}
.mobile-price-bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: none;
  z-index: 9999;
}
.addnewadd-btn{
  position: absolute;
    right: 20px;
    top: 14px;
    z-index: 999;
}

#pd-web-af-form-area label {
  margin-bottom: 0.5rem;
}

@media (max-width: 1199px){
  .mobile-price-bottom{
  display: block;
  z-index: 1000;
  }
}
.mnh-64{
  min-height: 64px;
}
.selct-billing-header-show{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 64px
}

@media (max-width: 768px) {
  .payment-error {
    display: flex;
    flex-direction: column;
  }

  .payment-error .mobile-tab-bottom {
    order: 2;
    margin-bottom: 1.5rem!important;
  }

  .mobile-error-top {
    order: 1;
    margin-bottom: 0 !important;
  }
}

@media (max-width:576px) {
  #pd-details {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}