<header id="esp-header"></header>

<main id="esp-main">
    <section id="esp-section">
        <div id="esp-contetn-center" class="enhanced-seat-preferences horizontal-center">
            <div id="esp-container" class="common-container seat-preferences-container-m">
                <div id="esp-main-card" class="enhanced-common-card">
                    <div id="esp-card-flex" class="enhanced-seat-preferences-flex">
                        <div id="esp-card-header" class="enhanced-seat-preferences-header">
                            <h1 id="esp-card-title">
                                Any preferences? We’ll check what’s available.
                            </h1>
                            <p id="esp-card-subtitle">
                                Not all trains companies offer allocated seats, but you can take any available seat in your class of travel.
                            </p>
                        </div>
                        <div id="esp-card-body" class="enhanced-seat-preferences-body">
                            <div id="esp-seat-position-card-container" class="enhanced-seat-preferences-seat-card">
                                <h3 id="esp-seat-position-card-title">Seat position</h3>
                                <div id="esp-seat-position-card-option" class="enhanced-seat-preferences-seat-option">
                                    <mat-radio-group id="esp-seat-position-card-mat-radio-group" aria-label="Select an option">
                                        <mat-radio-button id="esp-seat-position-card-window" value="window">
                                            <div id="esp-seat-position-card-window-inner" class="enchanced-seat-preferences-box">
                                                <img id="esp-seat-position-card-window-icon" src="assets/images/new-design-img/window-seats.svg" alt="" aria-hidden="true" />
                                                <p id="esp-seat-position-card-window-title">Window</p>
                                            </div>
                                        </mat-radio-button>
                                        <mat-radio-button id="esp-seat-position-card-aisle-" value="aisle">
                                            <div id="esp-seat-position-card-aisle-inner" class="enchanced-seat-preferences-box">
                                                <img id="esp-seat-position-card-aisle-icon" src="assets/images/new-design-img/aisle-seats.svg" alt="" aria-hidden="true" />
                                                <p id="esp-seat-position-card-aisle-title">Aisle</p>
                                            </div>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div id="esp-seat-direction-card" class="enhanced-seat-preferences-seat-card">
                                <h3 id="esp-seat-direction-card-title">Seat direction</h3>
                                <div id="esp-seat-direction-card-option" class="enhanced-seat-preferences-seat-option">
                                    <mat-radio-group id="esp-seat-direction-card-mat-radio-group" aria-label="Select an option">
                                        <mat-radio-button id="esp-seat-direction-card-forwad" value="forward">
                                            <div id="esp-seat-direction-card-forward-inner" class="enchanced-seat-preferences-box">
                                                <img id="esp-seat-direction-card-forward-icon" src="assets/images/new-design-img/forward-seats.svg" alt="" aria-hidden="true" />
                                                <p id="esp-seat-direction-card-forward-title">Forward</p>
                                            </div>
                                        </mat-radio-button>
                                        <mat-radio-button id="esp-seat-direction-card-backward-" value="backward">
                                            <div id="esp-seat-direction-card-backward-inner" class="enchanced-seat-preferences-box">
                                                <img id="esp-seat-direction-card-backward-icon" src="assets/images/new-design-img/backward-seats.svg" alt="" aria-hidden="true" />
                                                <p id="esp-seat-direction-card-backward-title">Backward</p>
                                            </div>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div id="esp-other-preference-card" class="enhanced-seat-preferences-seat-card">
                                <h3 id="esp-other-preference-card-title">Other preference</h3>
                                <div id="esp-other-preference-card-option" class="enhanced-seat-preferences-seat-option">
                                    <mat-radio-group id="esp-other-preference-card-mat-radio-group" aria-label="Select an option">
                                        <mat-radio-button id="esp-other-preference-card-table-" value="table">
                                            <div id="esp-other-preference-card-table-inner" class="enchanced-seat-preferences-box">
                                                <img id="esp-other-preference-card-table-icon" src="assets/images/new-design-img/table-seats.svg" alt="" aria-hidden="true" />
                                                <p id="esp-other-preference-card-table-title">Table seat</p>
                                            </div>
                                        </mat-radio-button>
                                        <mat-radio-button id="esp-other-preference-card-quietcoach-" value="quietcoach">
                                            <div id="esp-other-preference-card-quietcoach-inner" class="enchanced-seat-preferences-box">
                                                <img id="esp-other-preference-card-quietcoach-icon" src="assets/images/new-design-img/quiet-seats.svg" alt="" aria-hidden="true" />
                                                <p id="esp-other-preference-card-quietcoach-title">Quiet coach</p>
                                            </div>
                                        </mat-radio-button>
                                        <mat-radio-button id="esp-other-preference-card-powersocket-" value="powersocket">
                                            <div id="esp-other-preference-card-powersocket-inner" class="enchanced-seat-preferences-box">
                                                <img id="esp-other-preference-card-powersocket-icon" src="assets/images/new-design-img/power-seats.svg" alt="" aria-hidden="true" />
                                                <p id="esp-other-preference-card-powersocket-title">Power socket</p>
                                            </div>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div id="esp-main-card-footer" class="enhanced-seat-preferences-footer">
                            <p id="esp-main-card-footer-msg">
                                *Window refers to the seat position in relation to the aisle. Most of these seats have a window view as well, but not all.
                            </p>
                            <p id="esp-main-card-footer-msg2">
                                *We'll do our best to match your seat preferences. Your seat information will be confirmed on the review page.
                            </p>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer></footer>
