<app-enhanced-basic-dialog class="ticket-details" [dialogTitle]="headerTitle">
  <ng-content>
    <div class="enhanced-common-popup-theme">
      <div class="enhanced-common-popup-theme-border">
        <div class="summary" *ngIf="data?.TicketType">
          <h3>{{data?.TicketType}}</h3>
          <ul>
            <li>{{data?.fare?.TicketDescription}}</li>
          </ul>

        </div>

        <div class="summary"
          *ngIf="((data?.fare?.TicketRestriction) && (data?.fare?.TicketRestriction?.toLowerCase)) && (data?.fare?.TicketRestriction?.toLowerCase()?.indexOf('not applicable.') == -1)"
          [innerHTML]="data.fare?.TicketRestriction">
        </div>

        <div class="summary" *ngIf="data?.fare?.TicketInformation">
          <h3>Ticket Description</h3>
          <ul>
            <li>{{data?.fare?.TicketInformation}}</li>
          </ul>

        </div>

        <div class="summary" *ngIf="ticketInformation?.child">
          <div *ngIf="ticketInformation?.child">
            <h3>Child</h3>
          </div>
          <div class="last-p-0" [innerHTML]="ticketInformation?.child"></div>
        </div>

        <div class="summary" *ngIf="ticketInformation?.railCard">
          <h3>Railcard</h3>
          <ul>
            <li>{{ticketInformation?.railCard}}</li>
          </ul>
        </div>

        <div class="summary" *ngIf="!isAdvanceTicket && !isFamilyTicket && ticketInformation?.refundableTicket">
          <h3>Refunds</h3>
          <ul>
            <li>{{ticketInformation?.refundableTicket}}</li>
          </ul>
        </div>

        <div class="summary" *ngIf="isAdvanceTicket">
          <ul>
            <li>{{ticketInformation?.nonRefundableTicket}}</li>
          </ul>
        </div>

        <div class="summary" *ngIf="isFamilyTicket">
          <ul>
            <li>{{ticketInformation?.nonRefundableTicketForFamily}}</li>
          </ul>
        </div>

        <div class="summary" *ngIf='ticketInformation?.changeTravelPlan && ticketInformation?.changeTravelPlan != "<p>-</p>"'>
          <div *ngIf='ticketInformation?.changeTravelPlan && ticketInformation?.changeTravelPlan != "<p>-</p>"'>
            <h3>Changes to travel plans</h3>
          </div>
          <div class="last-p-0" [innerHTML]="ticketInformation?.changeTravelPlan"></div>
        </div>

        <div class="summary" *ngIf="ticketInformation?.bookingDeadline">
          <div *ngIf="ticketInformation?.bookingDeadline">
            <h3>Booking deadline</h3>
          </div>
          <div class="last-p-0" [innerHTML]="ticketInformation?.bookingDeadline"></div>
        </div>

        <div class="summary" *ngIf="showValiditySection()">
          <h3>Validity</h3>

          <div *ngIf="ticketInformation?.validityDayOutward">
            <h3>Outward-Day Of Travel:</h3>
            <p class="ticket-details-p-0">{{ ticketInformation?.validityDayOutward }}</p>
          </div>

          <div *ngIf="ticketInformation?.validityDayReturn">
            <h3 class="ticket-details-mt-24">Return-Day Of Travel:</h3>
            <p class="ticket-details-p-0">{{ ticketInformation?.validityDayReturn }}</p>
          </div>

          <div *ngIf="ticketInformation?.validityTimeOutward">
            <h3 class="ticket-details-mt-24">Outward-Time Of Travel:</h3>
            <p class="ticket-details-p-0">{{ ticketInformation?.validityTimeOutward }}</p>
          </div>

          <div *ngIf="ticketInformation?.validityTimeReturn">
            <h3 class="ticket-details-mt-24">Return-Time Of Travel:</h3>
            <p class="ticket-details-p-0">{{ ticketInformation?.validityTimeReturn }}</p>
          </div>
        </div>
        
        <div class="summary" *ngIf="showBreakOfJourneySection()">
            <h3>Break of journey</h3>
           <div *ngIf="ticketInformation?.breakOfJourneyOutward">
             <h3>Outward:</h3>
             <div class="last-p-0" [innerHTML]="ticketInformation?.breakOfJourneyOutward"></div>
           </div>

           <div *ngIf="ticketInformation?.breakOfJourneyReturn">
             <h3 class="ticket-details-mt-24">Return:</h3>
             <div class="last-p-0" [innerHTML]="ticketInformation?.breakOfJourneyReturn"></div>
           </div>
        </div>

      </div>
    </div>
  </ng-content>
</app-enhanced-basic-dialog>