@import url('../../../assets/css/enhanced-styles.css');

.bc-min-h-48 {
    min-height: 3rem;
}

.m-btn {
    display: none;
}

/*----- review buy page -----*/
.review-page-title {
    color: var(--primary-graphene);
    font-size: 1.25rem;
    line-height: 1.563rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.review-page-accordion-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.reivew-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    line-height: 1.563rem;
    color: var(--primary-coalescent);
    font-weight: 600;
    margin-bottom: 1rem;
}

.reivew-title span {
    font-weight: 400;
}

.review-inner-border {
    border: 1px solid var(--neutrals-light-periwinkle);
    border-radius: 0.313rem;
}

.review-column-header {
    background-color: var(--primary-graphene);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.25rem 0.25rem 0 0;
}

.review-column-header-station {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.review-column-header-station span {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--shades-white);
}

.review-column-header-time-duration {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.review-column-walk {
    margin-left: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;
}
 
.review-column-walk::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: -1.125rem;
    width: 0.25rem;
    height: 2rem;
    background-color: var(--primary-graphene);
}

.review-column-header-time {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.review-column-header-time span {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--shades-white);
}

.review-column-header-duration {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--shades-white);
    font-weight: 400;
}

.review-column-operator-details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.review-column-operator-details::after {
    content: '';
    position: absolute;
    left: 1rem;
    right: 0;
    bottom: 0;
    height: 1px;
    width: calc(100% - 2rem);
    background-color: var(--neutrals-light-periwinkle);
}

.review-column-operator-details:last-child::after {
    content: none;
}

.review-column-operator-name img {
    height: 1.75rem;
    width: 4.5rem;
    margin-left: 0.5rem;
}

.review-column-operator-name span {
    padding: 0.5rem;
    background-color: var(--neutrals-light-grey);
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: var(--primary-coalescent);
    font-weight: 700;
}

.review-column-operator-route {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0.5rem;
}

.review-column-operator-route-staion {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1.5rem;
}

.review-column-operator-route-staion::before {
    content: '';
    position: absolute;
    left: -1.5rem;
    top: 0.25rem;
    width: 1rem;
    height: 1rem;
    border: 0.25rem solid var(--primary-graphene);
    border-radius: 100%;
    background-color: var(--shades-white);
    z-index: 1;
}

.review-column-operator-route-staion:last-child::before {
    top: 0.25rem;
}

.review-column-operator-route-staion::after {
    content: "";
    position: absolute;
    top: 1rem;
    left: -1.125rem;
    width: 0.25rem;
    height: 100%;
    background-color: var(--primary-graphene);
}

.review-column-operator-route-staion:last-child::after {
    content: none;
    display: none;
}

.review-column-operator-staion-time {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--shades-black);
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
}

.review-column-operator-staion-name {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--shades-black);
}

.review-column-seat-details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.313rem;
}

.review-column-seat-reserve {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review-column-seat-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.review-column-seat-reserve-title {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: var(--primary-coalescent);
    font-weight: 700;
    margin: 0;
}

.review-column-seat-coach {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.25rem;
    line-height: 1.563rem;
    color: var(--primary-coalescent);
    margin: 0;
    font-weight: 600;
}

.review-column-seat-coach span {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: var(--primary-coalescent);
    position: relative;
    top: 0.125rem;
}

.review-column-seat-msg {
    padding: 0.5rem 1rem;
    background-color: var(--shades-white);
    border-radius: 0.313rem;
}

.review-column-seat-msg p {
    font-size: 0.875rem;
    line-height: 1.313rem;
    color: var(--primary-coalescent);
    margin: 0;
}

.review-column-ticket-class-header {
    background-color: var(--neutrals-light-grey);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.review-column-your-ticket {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
}

.review-column-ticket-class-pax {
    font-size: 0.875rem !important;
    line-height: 1.375rem !important;
    color: var(--primary-graphene) !important;
    text-underline-offset: 0.125rem;
    text-decoration: underline;
    padding: 0 !important;
    min-width: auto;
}

.plusbus-more-info-btn:hover {
    font-weight: 600;
}

.plusbus-more-info-btn:focus-visible {
    font-weight: 400;
    outline: 2px solid var(--primary-coalescent) !important;
    outline-offset: 1px !important;
    border-radius: 5px;
}

.review-column-ticket-class-body {
    padding: 1rem;
}

.review-column-ticket-class-name-type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.review-column-ticket-class-name-type h3 {
    color: var(--primary-coalescent);
    font-size: 1.25rem;
    line-height: 1.563rem;
    font-weight: 600;
    margin: 0;
}

.review-column-ticket-class-name-type p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--primary-coalescent);
    font-weight: 700;
    margin: 0;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
}

.review-column-ticket-class-name-type p.review-std-tag-bg {
    background-color: var(--neutrals-bright-grey);
}

.review-column-ticket-class-name-type p.review-std-premimum-tag-bg {
    background-color: var(--secondary-parys-earth);
}

.review-column-ticket-class-name-type p.review-first-class-tag-bg {
    background-color: var(--primary-solway-breeze);
}

.review-column-ticket-class-body ul {
    padding: 0.75rem 0;
    padding-left: 1.125rem;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid var(--neutrals-light-periwinkle);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.review-column-ticket-class-body ul li {
    position: relative;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--primary-coalescent);
}

.review-column-ticket-class-body ul li::before {
    content: '';
    position: absolute;
    left: -0.75rem;
    top: 0.688rem;
    width: 0.188rem;
    height: 0.188rem;
    border-radius: 100%;
    background-color: var(--primary-coalescent);
}

.review-column-ticket-class-details-link {
    margin-top: 0.75rem;
}

.review-column-ticket-class-details-link button {
    margin: 0;
    padding: 0;
    font-size: 0.875rem !important;
    line-height: 1.375rem !important;
    color: var(--graphene);
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 0.188rem;
    text-decoration-thickness: 1px;
}

.review-column-ticket-class-details-link button:hover {
    font-weight: 600;
}

.review-column-ticket-class-details-link button:focus-visible,
.review-column-ticket-class-details-link button:focus-visible:hover,
.review-column-ticket-class-details-link button.cdk-keyboard-focused {
    outline: 2px solid var(--primary-coalescent) !important;
    outline-offset: 1px !important;
    font-weight: 400;
}

.review-page-accordion-title-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.review-page-mat-expansion-panel {
    border-radius: 0.313rem !important;
    background-color: var(--shades-white);
    box-shadow: 0 0.125rem 0.75rem 0.125rem rgba(19, 30, 41, 0.08) !important;
    border: none !important;
}

.review-page-mat-expansion-panel-header {
    padding: 1rem 1.5rem;
}

.review-page-mat-panel-title {
    margin-right: 0.5rem;
}

.review-page-accordion-title {
    width: 100%;
}

.review-page-accordion-title-text {
    font-size: 0.75rem;
    color: var(--primary-coalescent);
    line-height: 1.125rem;
    font-weight: 400;
}

.review-page-accordion-journey-station {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
}

.review-page-accordion-journey-station span {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--primary-coalescent);
}

.review-page-accordion-journey-details {
    margin-top: 0.25rem;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.75rem;
}

.review-page-accordion-journey-details span {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
    font-weight: 400;
    position: relative;
}

.review-page-accordion-journey-details span::before {
    content: "";
    position: absolute;
    height: 0.188rem;
    width: 0.188rem;
    border-radius: 100%;
    background-color: var(--primary-coalescent);
    left: -0.438rem;
    top: 50%;
    transform: translateY(-50%);
}

.review-page-accordion-journey-details span:first-child::before {
    content: none;
}

.review-page-accordion-title-bottom {
    margin-top: 1rem;
}

.review-page-accordion-title-bottom button {
    padding: 0;
    font-size: 0.875rem !important;
    line-height: 1.375rem !important;
    color: var(--primary-coalescent);
    text-decoration: underline;
    text-underline-offset: 0.188rem;
    font-weight: 400;
}

.review-page-accordion-title-bottom button:hover {
    font-weight: 600;
}

.review-page-accordion-title-bottom button:focus-visible,
.review-page-accordion-title-bottom button:focus-visible:hover,
.review-page-accordion-title-bottom button.cdk-keyboard-focused {
    outline: 0.125rem solid var(--primary-coalescent) !important;
    outline-offset: -0.125rem;
}

.review-page-accordion-subtotal {
    position: absolute;
    top: 40.5%;
    right: 3rem;
}

.review-page-accordion-subtotal p {
    font-size: 1.25rem;
    line-height: 1.563rem;
    font-weight: 600;
    color: var(--primary-coalescent);
}

.review-page-single-journey-card {
    border-radius: 0.313rem !important;
    background-color: var(--shades-white);
    box-shadow: 0 0.125rem 0.75rem 0.125rem rgba(19, 30, 41, 0.08) !important;
    border: none !important;
}

.review-page-mat-expansion-panel .review-page-single-journey-card {
    box-shadow: none !important;
}

.review-travel-extras-mat-accordion {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.review-out-retu-details {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.view-change-seat-btn {
    border: 0.125rem solid var(--primary-spark);
    background-color: var(--shades-white);
    border-radius: 0.313rem;
    padding: 0.625rem 1.177rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.32px;
    color: var(--primary-coalescent);
    height: 2.5rem !important;
}

.review-column-seat-mat-panel {
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
}

.review-column-seat-mat-header {
    padding: 0 0.125rem 0 0;
    gap: 0.5rem;
    height: auto !important;
}

.review-column-seat-numbers {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-coalescent);
    margin: 0;
    font-weight: 400;
}

.review-column-seat-numbers-hide-show {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-graphene);
    margin: 0;
    font-weight: 400;
    white-space: nowrap;
}
.review-column-seat-numbers-hide-show:hover{
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.review-column-seat-mat-accordion-body {
    border: none !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-top: 1rem;
}

.review-column-seat-mat-accordion-body p {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.reivew-seat-numer {
    font-size: 1.25rem;
    line-height: 1.563rem;
    font-weight: 600;
    color: var(--primary-coalescent);
}

.reivew-seat-type {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
    padding-top: 1px;
}

.review-out-retu-msg {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    background-color: var(--neutrals-bright-grey);
    border-radius: 0.313rem;
    margin: 0 1.5rem 1.5rem;
}

.review-out-retu-msg h4 {
    font-size: 0.875rem;
    line-height: 1.313rem;
    font-weight: 700;
    color: var(--primary-coalescent);
    margin: 0;
}

.review-out-retu-msg p {
    font-size: 0.875rem;
    line-height: 1.313rem;
    font-weight: 400;
    color: var(--primary-coalescent);
    margin: 0;
}
/*----- End review buy page -----*/

.confirmation-message {
    background: var(--graphene);
}

.confirmation-message .confirmation-message-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.confirmation-message .confirmation-message-flex img {
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 1rem;
}

.confirmation-message .confirmation-message-flex h2 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
    color: var(--shades-white);
    text-align: center;
    margin: 0;
    word-break: break-word;
}

.confirmation-message .confirmation-message-flex h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--shades-white);
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
    margin: 0.5rem 0 0;
}

.confirmation-message .confirmation-message-flex h3 span {
    font-weight: 400;
}

.enhanced-booking .common-container {
    margin: 1.5rem 1.5rem 2.5rem;
}

.enhanced-booking-confirmation-section .mat-mdc-tab-group {
    margin-top: 1.125rem;
}

.enhanced-booking-confirmation-section .common-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.ebc-journey-details-card {
    background-color: var(--shades-white);
    border-radius: 5px;
    box-shadow: 0 2px 12px 2px rgba(19, 30, 41, 0.08);
}

.booking-journey-details {
    padding: 1.5rem;
    border-bottom: 1px solid var(--neutrals-light-periwinkle);
}

.booking-journey-details:last-child {
    border-bottom: none;
}

.booking-journey-details-flex {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.booking-journey-details-txt-flex {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.booking-journey-details-txt-flex h3 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.563rem;
    font-weight: 600;
    color: var(--primary-coalescent);
    flex-wrap: wrap;
    margin: 0;
}

.booking-journey-details-txt-flex p {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
}

.booking-journey-details-txt-flex p span {
    position: relative;
}

.booking-journey-details-txt-flex p span::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 3px;
    border-radius: 100%;
    background-color: var(--primary-coalescent);
}

.booking-journey-details-txt-flex p span:first-child::before {
    background-color: transparent;
}

.booking-journey-details-btn-flex {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.booking-tod {
    padding: 1rem 1.5rem;
}

.booking-tod .booking-journey-details-flex {
    flex-wrap: initial;
}

.booking-tod-content {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.booking-tod-content img {
    height: 3rem;
    width: 3rem;
}

.booking-tod-delivery-img {
    padding: 0.25rem 0.75rem;
}

.booking-post-delivery-img {
    padding: 0.75rem 0.25rem 0.5rem;
}

.booking-load-ticket-delivery-img {
    padding: 0.491rem 0.266rem 0.486rem 0.268rem;
}

.booking-e-ticket-delivery-img {
    padding: 0.323rem 0.167rem 0.25rem 0.547rem;
}

.booking-rail-replace-img {
    padding: 0.25rem 0.428rem 0.25rem 0.447rem;
}

.booking-railcard-img {
    padding: 0.668rem 0.25rem;
}

.booking-tod-title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.booking-tod-title h2 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
    font-weight: 400;
    margin: 0;
}

.booking-tod-title h3,
.booking-extras .booking-tod-title h2 {
    font-size: 1.25rem;
    line-height: 1.563rem;
    font-weight: 600;
    color: var(--primary-coalescent);
    margin: 0;
}

.booking-tod-title p {
    margin: 0;
    line-height: 1.375rem;
    font-size: 0.875rem;
    color: var(--primary-coalescent);
}

.booking-tod-collection-ref {
    background-color: var(--neutrals-bright-grey);
    border-radius: 0.313rem;
    padding: 0.25rem 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: flex-end;
    justify-content: center;
}

.booking-tod-collection-ref h4 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: var(--primary-coalescent);
    margin: 0;
    text-align: right;
}

.booking-tod-collection-ref p {
    font-size: 1.25rem;
    line-height: 1.563rem;
    font-weight: 600;
    color: var(--primary-graphene);
    letter-spacing: 0.25rem;
    margin: 0;
    text-align: right;
    margin-right: -0.25rem;
}

.post-sub-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.booking-bike-img {
    padding: 0 !important;
}

.booking-tod .wrabness-info-msg {
    background-color: #F9ECED;
    padding: 0.25rem 0.5rem;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    border-radius: 0.313rem;
    margin-top: 1rem;
}

.booking-tod .wrabness-info-msg.info-icon-hw img {
    height: 1.125rem;
    width: 1.125rem;
}

.booking-tod .wrabness-info-msg .wrabness-info-content h5 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
    margin: 0;
    font-weight: 700;
}

.booking-tod .wrabness-info-msg .wrabness-info-content p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
    margin: 0;
    font-weight: 400;
}

.booking-tod .wrabness-info-msg .wrabness-info-content p a {
    color: var(--primary-graphene) !important;
    text-decoration: underline;
    text-underline-offset: 0.125rem;
}

.booking-extras-gray-txt {
    background-color: var(--neutrals-bright-grey);
    border-radius: 0.313rem;
    padding: 0.25rem 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.booking-extras-gray-txt-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.booking-extras-gray-txt h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: var(--primary-coalescent);
    margin: 0;
    text-align: center;
}

.booking-extras-gray-txt p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-graphene);
    margin: 0;
    text-align: right;
    white-space: nowrap;
}

.booking-extras .booking-tod-title a {
    color: var(--primary-graphene) !important;
    text-decoration: underline;
    text-underline-offset: 3.5px;
    line-height: 1.375rem;
    font-size: 0.875rem;
    width: fit-content;
}

.booking-railcard-gray-txt {
    justify-content: flex-start;
    align-items: flex-start;
}

.booking-railcard-gray-txt p {
    text-align: left;
}

.booking-railcard-gray-txt p span {
    display: block;
}

.booking-out-ret-last-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--neutrals-light-periwinkle);
    gap: 0.75rem;
}

.booking-out-ret-last-card .plusbus-more-info-btn {
    font-size: 0.875rem !important;
    line-height: 1.375rem !important;
    color: var(--graphene) !important;
}

.booking-out-ret-last-card h4 {
    font-size: 1.25rem;
    line-height: 1.563rem;
    font-weight: 600;
    color: var(--primary-coalescent);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: flex-end;
}

.booking-out-ret-last-card h4 span {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.booking-switch-seats {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.booking-switch-seats .booking-switch-seats-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.booking-switch-seats .booking-switch-seats-content h2 {
    font-size: 1.25rem;
    line-height: 1.563rem;
    font-weight: 600;
    color: var(--primary-graphene);
    margin: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.booking-switch-seats .booking-switch-seats-content h2 img {
    height: 2rem;
    width: 2rem;
    padding: 0.166rem 0.276rem 0.167rem 0.3rem;
}

.booking-switch-seats .booking-switch-seats-content p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
    margin: 0;
}

.booking-switch-seats .booking-switch-seats-content p span {
    display: block;
}

.payment-accordion-body {
    padding: 1.5rem;
}

.payment-user-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 1.5rem;
}

.payment-user-details dl {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0;
}

.payment-user-details dt {
    font-size: 0.875rem;
    color: var(--primary-coalescent);
    font-weight: 700;
    margin: 0;
}

.payment-user-details dd {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-coalescent);
    word-break: break-word;
}

.payment-journey-details-body {
    border-top: 1px solid var(--neutrals-light-periwinkle);
    padding: 1.5rem;
}

.payment-journey-details-table {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.payment-journey-details-table-row {
    border-bottom: 1px solid #D6D1CA;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.payment-journey-details-table-row dl {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

.payment-journey-details-table-row dl dt {
    line-height: 1.375rem;
    font-size: 0.875rem;
    color: var(--primary-coalescent);
    font-weight: 700;
    margin: 0;
}

.payment-journey-details-table-row dl dd {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    font-size: 1rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
}

.payment-journey-details-table-row dl dd.payment-journey-deducted-price {
    align-items: flex-start;
}

.booking-payment-total-amount {
    border-bottom: none;
    padding-bottom: 0;
}

.booking-payment-total-amount h3 {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: var(--primary-coalescent);
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.booking-payment-total-amount h3 p {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: var(--primary-coalescent);
}

.booking-payment-total-amount dd {
    color: var(--neutrals-auro-metal) !important;
}

.payment-journey-details-bill {
    border-radius: 0.313rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid var(--neutrals-light-periwinkle);
}

.payment-journey-details-bill h3 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--primary-coalescent);
    margin: 0;
    font-weight: 400;
}

.bcp-download-btn:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(105%) contrast(105%);
}

.bcp-download-btn:focus-visible:hover img {
    filter: none;
}

.e-ticket-btn-group ul {
    list-style: none;
    padding: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 12px 2px rgba(19, 30, 41, 0.08);
    position: absolute;
    width: 100%;
    left: 0;
    top: 55px;
    z-index: 99;
}
 
/* Changes after upgrading */
.e-ticket-btn-group ul li button {
    width: 100%;
    padding: 0.75rem 1rem !important;
    font-size: 1rem;
    line-height: 1.5rem !important;
    border-radius: 0;
    font-weight: 400;
    justify-content: flex-start;
    height: auto;
    border: 2px solid transparent; 
}
/* End Changes after upgrading */
 
.e-ticket-btn-group ul li button:hover {
  background: #E2F5E9;
}

.donwload-ticket-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background-color: transparent;
    z-index: 1;
}

.see-price-pp-btn {
    text-underline-offset: 3px;
}

.view-account-img {
    margin-top: -3px;
}

.ebc-banner-space {
    margin: 1.5rem 1.5rem !important;
}

/*----- Media -----*/
@media (width <= 1023px) {
    /*----- review buy page -----*/
    .review-page-title {
        font-size: 1.125rem;
        line-height: 1.375rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .review-page-container .common-container {
        margin: 0 !important;
    }

    .review-page-mat-expansion-panel {
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    .review-page-mat-expansion-panel-header {
        padding: 1rem !important;
        align-items: flex-end;
    }

    .review-page-accordion-title-top {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .review-page-accordion-journey-station {
        margin-top: 0.25rem;
        flex-wrap: wrap;
        row-gap: 0;
    }

    .review-page-accordion-subtotal {
        position: inherit;
    }

    .review-out-retu-details {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .reivew-title {
        font-size: 1.125rem;
        line-height: 1.375rem;
        margin: 1rem;
    }

    .review-inner-border {
        border: none;
        border-radius: 0;
    }

    .review-column-header {
        border-radius: 0;
    }

    .review-column-header-station {
        row-gap: 0;
    }

    .review-column-header-time span,
    .review-column-header-station span {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    .review-column-header-duration {
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: var(--shades-white);
        font-weight: 400;
    }

    .review-column-seat-coach {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
    }

    .review-column-seat-coach span {
        font-size: 0.75rem;
        line-height: 1.125rem;
        top: 1px;
    }

    .review-column-seat-mat-header {
        padding: 0 0.125rem 0 0 !important;
    }

    .view-change-seat-btn {
        width: 100%;
    }

    .review-column-ticket-class {
        border-bottom: 1px solid var(--neutrals-light-periwinkle);
    }

    .review-column-ticket-class-name-type h3 {
        font-size: 1.125rem;
        line-height: 1.375rem;
        font-weight: 600;
    }

    .review-column-any-seat {
        font-size: 1.25rem;
        line-height: 1.563rem;
    }

    .review-page-title-container .common-container {
        max-width: 35rem !important;
        margin: 0 auto;
        width: 100%;
    }

    .review-page-container .common-container.review-buy-bottom-space {
        max-width: 35rem !important;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 158px !important;
    }
    /*----- End review buy page -----*/

    .confirmation-message .confirmation-message-flex {
        padding: 0;
    }

    .confirmation-message .confirmation-message-flex h2 {
        font-size: 1.25rem;
        line-height: 1.563rem;
        font-weight: 700;
    }

    .enhanced-booking-confirmation-section .mat-mdc-tab-group {
        margin-top: 0;
    }

    .m-btn {
        display: block;
    }

    .d-btn {
        display: none;
    }

    .booking-journey-details {
        padding: 1rem;
    }

    .booking-journey-details-flex {
        gap: 1rem;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .booking-tod-content {
        width: 100%;
    }

    .booking-journey-details-txt-flex h3 {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
        row-gap: 0;
    }

    .booking-journey-details-txt-flex p {
        row-gap: 0;
    }

    .booking-journey-details-btn-flex {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .booking-journey-details-btn-flex button {
        width: 100%;
    }

    .booking-tod-collection-ref,
    .booking-extras-gray-txt {
        width: 100%;
    }

    .booking-tod-content img {
        height: 2rem;
        width: 2rem;
    }

    .booking-tod-delivery-img {
        padding: 0.167rem 0.5rem;
    }

    .booking-post-delivery-img {
        padding: 0.5rem 0.167rem 0.333rem !important;
    }

    .booking-load-ticket-delivery-img {
        padding: 0.327rem 0.178rem 0.324rem 0.178rem !important;
    }

    .booking-e-ticket-delivery-img {
        padding: 0.063rem 0.125rem !important;
    }

    .booking-rail-replace-img {
        padding: 0.167rem 0.285rem 0.167rem 0.298rem !important;
    }

    .booking-railcard-img {
        padding: 0.445rem 0.167rem !important;
    }

    .booking-extras-gray-txt-row {
        justify-content: flex-start;
    }

    .booking-extras-bike .booking-extras-gray-txt-row h3 {
        width: 4rem;
        text-align: left;
    }

    .booking-tod-title {
        gap: 0;
    }

    .booking-tod-title p {
        margin-top: 0.25rem;
    }

    .booking-tod-title-native p {
        line-height: 1.125rem;
    }

    .booking-tod-title-native img {
        position: relative;
        top: -2px;
    }

    .booking-tod-title h3,
    .booking-extras .booking-tod-title h2 {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
    }

    .booking-tod-collection-ref {
        padding: 0.25rem 1rem;
        align-items: center;
    }

    .booking-tod-collection-ref h4,
    .booking-tod-collection-ref p {
        text-align: center;
    }

    .post-sub-content {
        row-gap: 0.25rem;
    }

    .booking-tod-title a {
        margin-top: 0.25rem;
    }

    .booking-outwar-returne-journey {
        padding: 0;
    }

    .booking-out-ret-last-card h4 {
        font-size: 1.125rem;
        line-height: 1.375rem;
        row-gap: 0;
    }

    .booking-out-ret-london-title {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .booking-switch-seats {
        gap: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .booking-switch-seats .booking-switch-seats-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .booking-switch-seats .booking-switch-seats-content h2 {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }

    .booking-switch-seats .booking-switch-seats-content h2 img {
        height: 2rem;
        width: 2rem;
        padding: 0.166rem 0.276rem 0.167rem 0.3rem;
    }

    .booking-switch-seats .booking-switch-seats-content p {
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: var(--primary-coalescent);
        margin: 0;
    }

    .booking-switch-seats .booking-switch-seats-content p span {
        display: block;
    }

    .booking-switch-seats-btn,
    .booking-switch-seats-btn button {
        width: 100%;
    }

    .payment-user-details {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 1rem;
    }

    .payment-journey-details-table {
        width: 100%;
    }

    .payment-accordion-body,
    .payment-journey-details-body {
        padding: 1rem;
    }

    .payment-user-details dt {
        font-size: 0.75rem;
        line-height: normal;
    }

    .payment-user-details dd {
        font-size: 1rem;
        letter-spacing: 0.1px;
    }

    .w-100-m {
        width: 100%;
    }

    .enhanced-booking-confirmation-section .common-container {
        gap: 0;
    }

    .ebc-out-ret-card {
        box-shadow: none;
        background-color: transparent;
    }

    .ebc-inner-border {
        background-color: var(--shades-white);
        box-shadow: 0 0 12px 2px rgba(19, 30, 41, 0.08);
    }

    .ebc-out-ticket-class {
        border-bottom: none;
    }

    .change-plans-section {
        background-color: var(--shades-white);
        box-shadow: 0 2px 12px 2px rgba(19, 30, 41, 0.08);
    }

    .booking-outwar-returne-journey {
        border-bottom: none;
    }

    .booking-extras-gray-txt p {
        white-space: normal;
    }

    .payment-journey-details-table-row dl dd {
        align-items: flex-start;
    }
}

@media (width <= 767px) {
    /*----- review buy page -----*/
    .review-column-seat-mat-header {
        padding: 0 0.125rem 0 0 !important;
    }

    .review-page-title-container .common-container {
        max-width: 100% !important;
    }

    .review-page-mat-expansion-panel-header {
        border-top: 1px solid var(--neutrals-light-periwinkle);
        border-bottom: 1px solid var(--neutrals-light-periwinkle);
    }

    .review-page-mat-expansion-panel-header.mat-expanded {
        border-bottom: none;
    }
    /*----- End review buy page -----*/

    .enhanced-booking-confirmation-section .common-container {
        margin: 0 !important;
        background: var(--shades-white);
        padding-bottom: 2.5rem;
    } 

    .confirmation-message .confirmation-message-flex {
        padding: 1.5rem 1rem;
    }

    .ebc-banner-space {
        margin: 0 !important;
    }

    .ebc-journey-details-card {
        box-shadow: none !important;
    }

    .booking-journey-details:last-child {
        border-bottom: 1px solid var(--neutrals-light-periwinkle);
    }

    .ebc-inner-border {
        border-bottom: 1px solid var(--neutrals-light-periwinkle);
        box-shadow: none;
    }

    .payment-summary-mat-panel {
        border-top: none;
    }

    .change-plans-section {
        box-shadow: none;
    }

    .payment-journey-details-body {
        padding: 1rem 1rem 0;
    }
}