.close.modal_close_btn {
    position: absolute;
    right: -10px;
    top: -10px;
    width:35px;
    height:35px;
    font-size:17px;
    color: #1c1c1c;
    background: #e0d2b8;
    border: 0;
    border-radius: 50%;
    line-height:35px;
    opacity: 1;
}
.close.modal_close_btn:hover {background: #1c1c1c; color:#fff;}

.modal-header.mdl_hd_nw {
    background: #e0d2b8;
    color: #1c1c1c;
    padding: 8px 15px;
}
.delete_txt_n {font-size: 16px; text-align: center;     word-break: break-word;
    word-wrap: break-word;}

.btn.btn-primary.dlt_btn_y_n_w {border: 0;  height: 40px; text-align: center; font-size:16px; text-transform: uppercase; font-weight: 600; color: #1c1c1c; padding: 0 25px; line-height: 40px; text-decoration: none;
background:#e0d2b8;  border-radius: 10px; margin: 0 6px;  -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.btn.btn-primary.dlt_btn_y_n_w:hover {animation: loginbtn 5s infinite; color: #fff;}

.modal-title {
    color : #1c1c1c;
}

div, span, a, p, ul, li, table, td, button, input, select, dl, dd, del, header, footer, textarea, label, strong, b {font-family: 'Be Vietnam Pro', sans-serif !important; letter-spacing: 0px;}
th, h1, h2, h3, h4, h5, h6 {font-family: 'Baskervville', serif !important; letter-spacing: 0px;}