@import url('../../../assets/css/enhanced-styles.css');






/*----- View Journey Form -----*/
.alert-railcard{
    border: 1px solid var(--neutrals-light-periwinkle);
    padding: 0.563rem 1rem;
    border-radius: 0.313rem;
    display: flex;align-items: center;gap: 0.5rem;text-decoration: underline;
}
.alert-railcard a{color: var(--primary-coalescent);font-size: 0.875rem;}
.alert-railcard mat-icon{
    display: flex;align-items: center;
}
.main-header-container {
    background-color: var(--shades-white);
    position: relative;
    z-index: 2;
}

.view-journey-form-container {
    padding: 1rem 0;
    box-shadow: 0 0.125rem 0.75rem 0.125rem #131E2914;
}

.view-journey-form-flex {
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    
}

.view-edit-form-container {
    align-items: center;
    column-gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
}

.view-edit-form-container li {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-coalescent); 
    border-right: 0.125rem solid var(--neutrals-light-periwinkle);
    padding: 0 1rem 0 0;
}

.view-edit-form-container li:first-child {
    border-left: none;
}

.view-edit-form-container li:nth-last-child(2) {
    border-right: none;
}

.view-edit-form-station-stops {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.view-edit-form-pax-railcard {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.view-edit-form-pax,
.view-edit-form-railcard {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.view-journey-mobile {
    display: none;
    border-left: none;
}

.view-edit-form-mobile-date {
    display: none;
}
/*----- End View Journey Form -----*/

/*-- Trains Type Filter --*/
.train-type-filter-container {
    padding: 1rem 0;
}

.eeq-train-types-flex {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.edit-qtt-show-only {
    color: var(--primary-coalescent);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.edit-qtt-show-only-btns {
    display: flex;
    gap: 1rem;
    align-items: center;
}
/*-- End Trains Type Filter --*/

/*----- Searched Journey Header -----*/
.search-journey-btn {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-journey-btn button {
    padding: 0;
    color: var(--primary-coalescent);
    font-size: 1rem;
    line-height: 1.5rem;
}
/*----- End Searched Journey Header -----*/

/*----- Search Journey Cards -----*/
.search-journey-row {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.search-journey-row .search-journey-col {
    flex-basis: 50%;
}

.search-journey-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
    justify-content: center;
    text-align: center;
}

.search-journey-header h3 {
    font-size: 1.25rem;
    line-height: 1.563rem;
    color: var(--primary-graphene);
    font-weight: 600;
}

.search-journey-header .search-journey-header-station {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    min-height: 18px;
}

.search-journey-header .search-journey-header-station p {
    font-size: 0.875rem;
    color: var(--primary-coalescent);
    line-height: 1.125rem;
}

.search-journey-btn .mdc-button__label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.qtt-journey-cards-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.qtt-journey-cards {
    background-color: var(--shades-white);
    box-shadow: 0 0.125rem 0.75rem 0.125rem rgba(19, 30, 41, 0.08);
    border-radius: 0.313rem;
}

.search-journey-card-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 99%;
    justify-content: center;
    margin: 0 auto;
}

.ticket-label {
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
}


.ticket-label-name {
    padding: 0.125rem 0.5rem;
    border-radius: 0.125rem;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.125rem;
    display: flex;
    justify-content: center;
}

.radio-card .mat-internal-form-field>label {
    width: 100%;
    padding:0;
}

.radio-card mat-radio-button {
    background: var(--shades-white);
    padding: 0.5rem;
    border-radius: 0.313rem;
    box-shadow: 0 0.125rem 0.75rem 0.125rem rgba(19, 30, 41, 0.08);
    position: relative;
    cursor: pointer;
}

.radio-card mat-radio-button:hover,
.radio-card mat-radio-button:focus {
    outline: 0.125rem solid var(--primary-graphene);
}

.radio-card .mat-mdc-radio-checked {
    background: var(--tint-feel-good-green) !important;
    outline: 0.125rem solid var(--primary-graphene);
}

.radio-card .radio-card-custom-label {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.radio-card .mdc-radio {
    position: absolute !important;
    right: 1.25rem;
    top: 4.2rem;
}

.radio-card-time-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.438rem;
    width: calc(100% - 0.625rem);
}

.radio-card-time-price .radio-card-time {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.radio-card .mat-mdc-radio-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.radio-card .radio-card-train-type {
    width: 7.5rem;
    padding: 0.5rem;
}

.radio-card .radio-card-train-type .radio-card-logo {
    display: flex;
    flex-direction: column;
    position: relative;
}

.radio-card .radio-card-train-type .radio-card-logo img {
    width: 5.188rem;
}

.radio-card .radio-card-train-type .radio-card-logo span {
    color: var(--primary-coalescent);
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 700;
    position: absolute;
    bottom: -0.5rem;
}

.radio-card .radio-card-train-type .radio-card-train-express,
.radio-card .radio-card-train-type .radio-card-multi-operators {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: var(--primary-coalescent);
    font-weight: 700;
}

.radio-card .radio-card-ticket-info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.radio-card .radio-card-ticket-info .radio-card-time-jouney {
    display: flex;
    align-items: center;
    gap: 0.656rem;
}

.radio-card .radio-card-ticket-info .radio-card-time-jouney span {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.563rem;
    color: var(--primary-coalescent);
}

.radio-card .radio-card-ticket-info .radio-card-time-jouney img {
    padding: 0.281rem 0.141rem;
}

.radio-card .radio-card-ticket-info .radio-card-vehicle-type .radio-card-duration {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-coalescent);
}

.radio-card .radio-card-ticket-info .radio-card-vehicle-type .radio-card-bus-replace {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--destructive-watermellon);
    font-weight: 700;
}

.radio-card .radio-card-price-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.radio-card-time-price .radio-card-price-col .radio-card-arrow-mobile {
    display: none;
}

.radio-card .radio-card-price-col .radio-card-price-inner {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.radio-card .radio-card-price-col .radio-card-one-way {
    line-height: 1.375rem;
    font-size: 0.875rem;
    color: var(--primary-coalescent);
}

.radio-card .radio-card-price-col .radio-card-price {
    line-height: 1.563rem;
    font-size: 1.25rem;
    color: var(--primary-coalescent);
    font-weight: 600;
}

.radio-card .radio-card-selected-available {
    display: flex;
    flex-direction: column;
    gap: 0.25rem; 
}

.radio-card .radio-card-selected-available .radio-card-selected-area {
    display: none;
}

.radio-card .mat-mdc-radio-checked .radio-card-selected-available .radio-card-selected-area {
    display: block;
}

.radio-card .radio-card-selected-available .radio-card-selected-area .radio-card-selected {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.313rem;
    background-color: var(--shades-white);
    border: 0.063rem solid var(--neutrals-light-periwinkle);
}

.radio-card .radio-card-selected-available .radio-card-selected span {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
}

.radio-card .radio-card-selected-available .radio-card-not-available {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--neutrals-auro-metal);
}

.radio-card .radio-card-journey-details {
    border-top: 0.06rem solid var(--neutrals-light-periwinkle);
    padding-top: 0.75rem;
    position: absolute;
    bottom: 1.125rem;
    width: calc(100% - 2.5rem);
    margin-left: 1.25rem;
}

.radio-card .radio-card-journey-details a {
    color: var(--primary-graphene);
    font-size: 1rem;
    line-height: 1.5rem;
    text-underline-offset: 0.25rem;
    text-decoration: underline;
}

.ticket-label-tab {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
}



.search-journey-time-price.class-type-cost div {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0;
    color:var(--primary-coalescent);
}

/*----- Disabled Card -----*/
.radio-card mat-radio-button[disabled] {
    background: var(--neutrals-bright-grey) !important;
}

.radio-card mat-radio-button[disabled]:hover {
    cursor: not-allowed;
    outline: none;
}

.radio-card mat-radio-button[disabled] .mdc-radio {
    display: none;
}

.radio-card mat-radio-button[disabled] .radio-card-time-price {
    width: 100%;
    padding-right: 0;
}

.radio-card mat-radio-button[disabled] .radio-card-journey-details a {
    color: var(--primary-coalescent);
}

.radio-card mat-radio-button[disabled] .radio-card-price-col .radio-card-price-inner {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.radio-card mat-radio-button[disabled] .radio-card-price-col .radio-card-price-inner p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-coalescent);
    font-weight: 700;
}

.radio-card mat-radio-button[disabled] .radio-card-price-col .radio-card-price-inner a {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-graphene);
    text-underline-offset: 0.25rem;
}
/*----- End Disabled Card -----*/

/*----- No trains found card -----*/
.notrains-found-card {
    background-color: var(--shades-white);
    border-radius: 0.313rem;
    padding: 1.25rem;
    box-shadow: 0px 2px 12px 2px rgba(19, 30, 41, 0.08);
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
}

.notrains-found-card-inner {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

.notrains-found-icon img {
    margin-top: 0.25rem;
    width: 40px
}

.notrains-found-card .notrains-found-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.notrains-found-card .notrains-found-content .notrains-found-title {
    font-size: 1.25rem;
    line-height: 1.563rem;
    font-weight: 600;
    color: var(--primary-coalescent);
}

.notrains-found-card .notrains-found-content .notrains-found-sub-content {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--primary-coalescent);
}

.notrains-found-card .notrains-found-content .notrains-found-sub-content a {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: var(--graphene);
    text-underline-offset: 0.25rem;
    cursor: pointer;
}

.notrains-found-card .radio-card-journey-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--neutrals-light-periwinkle);
    padding-top: 1rem;
}

.notrains-found-card .radio-card-journey-details .notrains-found-whythat-link {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-graphene);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    font-weight: 400;
    cursor: pointer;
}
.notrains-found-whythat-link{text-underline-offset: 0.25rem;}
.notrains-found-card .radio-card-journey-details .notrains-found-view-other {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--primary-dark-spark);
    text-decoration: none;
}

.notrains-found-card .radio-card-journey-details .notrains-found-view-other:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}
/*----- No trains found card -----*/

/*----- Open return card -----*/
.open-return-card {
    align-items: flex-start;
}
/*----- End Open return card -----*/
/*----- End Search Journey Cards -----*/

/*----- Search journey class card -----*/
.search-journey-class-header {
    padding: 1.5rem 0;
}

.search-journey-class-header .search-journey-header-station p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-journey-class-header .search-journey-header-station p span {
    font-weight: 700;
}

.ticket-class-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2px;
}

.ticket-class-section .ticket-class-section-title {
    display: flex;
    gap: 0.813rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-coalescent);
}

.ticket-class-section .ticket-class-section-title span {
    font-weight: 700;
}

.journey-class-card .radio-card-custom-label {
    gap: 1.25rem;
}

.journey-class-card .journey-class-details {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    
}
.journey-class-card .journey-class-details .journey-class-title-price {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    width: calc(100% - 2rem);
}

.journey-class-card .journey-class-details .journey-class-title-price .journey-class-title,
.journey-class-card .journey-class-details .journey-class-title-price .journey-class-price {
    font-size: 1.25rem;
    line-height: 1.563rem;margin: 0;
    font-weight: 600;
    color: var(--primary-coalescent);
}

.journey-class-card .journey-class-details .journey-class-list {
    padding-left: 1.375rem;
}

.journey-class-card .radio-card-journey-details {
    padding-top: 1rem;
}
.journey-class-card .radio-card-journey-details a{cursor: pointer;}
.journey-class-card .mdc-radio {
    top: 2.8rem;
}

.journey-class-card.journey-class-card-radio .mdc-radio {
    top: 1.4rem;
}

.search-open-return-journey {
    justify-content: flex-start;
    margin-top: 2rem;
}

.railcard-not-applied-btn {
    border: 1px solid var(--neutrals-light-periwinkle);
    text-align: left;
    display: block;
    padding: 0.5rem 1rem;
    background-color: #ffffff00;
    font-size: 0.875rem !important;
    line-height: 1.375rem !important;
    color: var(--primary-coalescent) !important;
    width: 100%;
    border-radius: 0.313rem;
}

.railcard-not-applied-btn-txt {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}
/*----- End Search journey class card -----*/

/*----- Media Query -----*/
@media (width <= 1023px) {
    
    .ticket-class-section{margin-bottom: 1rem !important;}
    .ticket-class-section .ticket-class-section-title span{margin-right: 0.5rem;}
    .ticket-class-section .ticket-class-section-title  {
        font-size: .875rem;
        max-width: 35rem !important;
        margin: 0 auto;
        width: 100%;
    }
    .view-journey-form-flex{flex-wrap: wrap;}
    enhanced-railcard-restrictions-dialogs footer button{width: 100%;}
    .journey-class-card .journey-class-details .journey-class-title-price .journey-class-title{
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
    .journey-type{font-size: 0.75rem;margin-top: -0.375rem;}
    .eeq-train-filter {
        display: none;
    }

    .search-journey-header {
        display: none;
    }

    .search-journey-row .search-journey-col {
        flex-basis: 100%;
    }

    .journey-class-card .journey-class-details .journey-class-title-price {
        width: calc(100% - 1.688rem);
    }
}

@media (width <= 767px) {
    .radio-card .radio-card-custom-label {
       
        gap: 20px;
    }

    .radio-card .mdc-radio {
        display: none !important;
    } 

    .radio-card-time-price {
        width: 100%;
        padding-right: 0;
    }

    .radio-card-time-price .radio-card-price-col {
        padding: 0 0 0 0.5rem;
        gap: 0.5rem;
    }

    .radio-card-time-price .radio-card-price-col .radio-card-arrow-mobile {
        display: block;
    }

    .radio-card-time-price .radio-card-time {
        align-items: flex-start;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.5rem 0.5rem 0;
    }

    .radio-card .radio-card-train-type {
        width: auto;
        padding: 0;
    }

    .radio-card .radio-card-train-type .radio-card-logo {
        position: static;
        flex-direction: row;
        align-items: center;
    }

    .radio-card .radio-card-train-type .radio-card-logo img {
        width: 3rem;
    }

    .radio-card .radio-card-train-type .radio-card-logo span {
        position: inherit;
    }

    .radio-card .radio-card-ticket-info {
        padding: 0;
    }

    .radio-card .radio-card-ticket-info .radio-card-time-jouney {
        gap: 0.5rem;
    }

    .radio-card .radio-card-ticket-info .radio-card-time-jouney span {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }

    .radio-card .radio-card-ticket-info .radio-card-vehicle-type .radio-card-duration {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    .radio-card .radio-card-price-col .radio-card-one-way {
        line-height: 1.125rem;
    }

    .radio-card .radio-card-price-col .radio-card-price {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }

    .radio-card .radio-card-ticket-info .radio-card-vehicle-type .radio-card-bus-replace {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    .radio-card .radio-card-selected-available {
        padding: 0 0.5rem;
    }

    .radio-card .radio-card-selected-available .radio-card-selected-area .radio-card-selected {
        padding: 0.5rem;
    }

    .radio-card .radio-card-selected-available .radio-card-selected span {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }

    .radio-card .radio-card-selected-available .radio-card-not-available {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }

    .radio-card .radio-card-journey-details {
        padding: 0.5rem 0.5rem 0.25rem;
        width: calc(100% - 2.5rem);
        margin-left: 1.25rem;
        bottom: 1.25rem;
    }

    .radio-card .radio-card-journey-details a {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    .radio-card mat-radio-button[disabled] .radio-card-time-price .radio-card-price-col {
        padding: 0;
        gap: 0;
    }

    .radio-card mat-radio-button[disabled] .radio-card-time-price .radio-card-price-col .radio-card-arrow-mobile {
        display: none;
    }

    .radio-card mat-radio-button[disabled] .radio-card-price-col .radio-card-price-inner p,
    .radio-card mat-radio-button[disabled] .radio-card-price-col .radio-card-price-inner a {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    .notrains-found-card {
        padding: 1.25rem;
        gap: 1.25rem;
        align-items: flex-start;
    }

    .journey-class-card .journey-class-details .journey-class-title-price {
        width: calc(100% - 1.188rem);
    }
}

p.mobile-helper {
    line-height: 1.375rem;
    font-size: 0.875rem;
}
