<app-enhanced-basic-dialog [dialogTitle]="headerTitle">
<mat-dialog-content class="datepicker-tabs p-0">
    <mat-tab-group animationDuration="0ms" [(selectedIndex)]="tabIndex" (selectedTabChange)="onTabChange($event)" #tabGroup>
        <mat-tab label="Specific Date">
            <form [formGroup]="dateTimeForm">
                <ngb-datepicker #dp [navigation]="'arrows'" [displayMonths]="displayMonths" [minDate]="ngbMinDate" [maxDate]="ngbMaxDate" [markDisabled]="isDisabled" (click)="onSelectDate(model)" [(ngModel)]="model" [ngModelOptions]="{standalone: true}" (navigate)="date = $event.next">
                </ngb-datepicker>
              

                <div class="d-flex datepicker-btns">
                    <div class="deperture-btn">
                       
                        <mat-button-toggle-group id="travel" formControlName="travelType">
                            <mat-button-toggle value="DEPARTAFTER">Depart after</mat-button-toggle>
                            <mat-button-toggle value="ARRIVEBY">Arrive by</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="arrive-by-btn">
                        <mat-form-field class="one-three-3 w-100 time-select-box select" floatLabel="never">
                            <label for="time" >Time:</label>
                            <mat-form-field  appearance="outline" id="time" class="date-pickr-time example-full-width default-input" floatLabel="never"  appearance="outline">
                                <mat-select class="cursor-pointer" formControlName="travelTime" >
                                    <mat-option *ngFor="let time of timeList" [value]="time">{{time}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-form-field>
                    </div>
                </div>
              
            </form>
        </mat-tab>
        <mat-tab label="Anytime (Open return)" *ngIf="!isDeparture">
            <p class="return-tab-content">For flexible travel, choose from a variety of open return tickets. Each offers different conditions, so you can find the option that suits your needs best.</p>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions  align="end">
  <div *ngIf="tabLabel !== 'Anytime (Open return)'">
    <button type="button" mat-button mat-dialog-close class="outline-btn cancel-button outline-primary-btn-hover">
      Cancel </button>
    <button mat-button class="fill-btn fill-light-hover-btn"  (click)="applyChanges()">Apply changes</button>
  </div>
  <div  *ngIf="tabLabel === 'Anytime (Open return)'">
    <button type="button" mat-button mat-dialog-close class="outline-btn outline-primary-btn-hover">
      Cancel
    </button>
    <button mat-button class="fill-btn fill-light-hover-btn" (click)="openReturn()">Apply changes</button>
  </div>
 
</mat-dialog-actions>
</app-enhanced-basic-dialog>

