<div class="dash_rew_w" *isAuthorize="[permissionTask.userRoleMappingAdd]" >
   <div class="row">
      <div class="col-md-12 text-right">
         <a href="javascript:void(0);" [routerLink]="['add-user-role']" class="default-btn add_btn_art margin-top-8-i"><i
            class="fa fa-plus" aria-hidden="true"></i> Add User</a>
      </div>
   </div>
</div>
<div class="prd-srh">
    <div class="prd-srh-left-v" *ngIf="roleData && roleData.length > 0">

        <div class="form-group position-relative">
           <label>Search by Role</label>
           <select class="form-control login_fild prdsrh_icon_v" (change)="searchByRole($event)"
              [(ngModel)]="role_search">
              <option selected value="0">Select role</option>
              <option *ngFor="let role of roleData; let i=index;" value="{{role?.RoleId}}">
                 {{role?.RoleName}}</option>
           </select>
        </div>
   
     </div>

    <div class="prd-srh-left-v">
 
       <div class="form-group position-relative">
          <label>Search by User Name</label>
          <input type="text" class="form-control login_fild padd-right-45 prdsrh_icon_v" name="search" #productSearch
             placeholder="Search by user name" [(ngModel)]="search_text" (keyup)="prodcut_search($event)">
          <button class="prdfilter_icon_v" type="button" (click)="searchByName(productSearch?.value)"></button>
       </div>
 
    </div>
    
 
    <div class="prd-srh-right-v">
 
       <div class="form-group position-relative">
          <label>Search by Status</label>
          <select class="form-control login_fild prdsrh_icon_v" (change)="searchByStatus($event)"
             [(ngModel)]="search_status">
             <option value="-1">{{AppConstants.SELECT_STATUS}}</option>
             <option value="1">{{AppConstants.STATUS_ACTIVE}}</option>
             <option value="0">{{AppConstants.STATUS_INACTIVE}}</option>
          </select>
       </div>
 
    </div>
 
    
 
 </div>
 
 <div class="admin_table">
    <div class="table-responsive" *ngIf="userData && userData.length > 0; else recordNotFound">
       <table class="table table-bordered">
          <caption style="display:none;">Dec</caption>
          <thead>
             <tr>
                <th class="w-px60" id="srno">{{AppConstants.SERIAL_NUMBER}}</th>
                <th id="article-name">User Name</th>
                <th id="article-name">First Name</th>
                <th id="article-name">Last Name</th>
                <th id="article-name">Email</th>
                <th id="article-name">Role</th>
                <th class="w-px100" id="createdon">Created On</th>
                <th class="w-px100" id="modifiedon">Modified On</th>
                <th class="w-px70" id="status">Status</th>
                <th class="w-px70" id="action">Action</th>
             </tr>
          </thead>
          <tbody>
             <tr
                *ngFor="let user of userData | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems : totalItemsCount}; let i=index;">
                <td>{{(page-1)*itemsPerPage +i+1}}</td>
                
                <td>{{user?.UserName}}</td>
                <td>{{user?.FirstName}}</td>
                <td>{{user?.LastName}}</td>
                <td>{{user?.Email}}</td>
                <td>{{user?.roleName}}</td>
                <td>{{user?.CreatedOn ?( user?.CreatedOn | date :'dd-MMM-yyyy'): ''}} </td>
                <td>{{user?.ModifiedOn ?( user?.ModifiedOn | date :'dd-MMM-yyyy'): ''}}</td>
                <td class="Status_clr">{{user?.IsActive == 1 ? 'Active' : 'Inactive'}}</td>
                <td class="auction_link" *ngIf="user?.action == 1"><a href="javascript:void(0);" *isAuthorize="[permissionTask.userRoleMappingEdit]"
                      (click)="editRole(user?.UserId)"><img src="assets/images/edit_icon.png" alt=""></a><a
                      href="javascript:void(0);"  *isAuthorize="[permissionTask.userRoleMappingDelete]" (click)="deleteRole(user?.UserId,user?.UserName)"><img
                         src="assets/images/delete_icon.png" alt=""></a></td>
             </tr>
          </tbody>
       </table>
       <div class="pagination"  *ngIf="userData && userData.length > 0">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
       </div>
    </div>
    <ng-template #recordNotFound>
       <div class="row p-3 g-1">
          <div class="col-md-12 no-record text-center">
             {{AppConstants.NO_RECORD_FOUND}}
          </div>
       </div>
    </ng-template>
 </div>