<div class="clearfix"></div>
<div class="profile_wrp profile_wrp_100_p">
   <div class="login_form">
      <form [formGroup]="AddRoleForm" >
         <div class="form-group">
            <label>Role Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control login_fild" placeholder="Role Name" formControlName="roleName" inputRef [appInputMaxLength]="150">
            <div *ngIf="(f.roleName.touched || submitted) && f.roleName.errors?.required"
            class="text-danger validation-error">
               {{AppConstants.ROLE_NAME_REQIURED}}
         </div>
         </div>
        
         <div class="form-group">
            <label>Select Status <span class="text-danger">*</span></label>
            <select class="form-control login_fild" formControlName="isActive">
               <option selected value="">Select Status</option>
               <option value="1">{{AppConstants.STATUS_ACTIVE}}</option>
               <option value="0">{{AppConstants.STATUS_INACTIVE}}</option>
            </select>
            <div *ngIf="(f.isActive.touched || submitted) && f.isActive.errors?.required"
            class="text-danger validation-error">
            {{AppConstants.ROLE_STATUS_REQUIRED}}
         </div>
 
         </div>
         
        

      </form>
   </div>


<div class="admin_table role_frm_table">
   <div class="table-responsive">
      <h2>Add Module & Role Mapping</h2>
      <table class="table table-bordered">
         <caption style="display:none;">Role Permissions</caption>
         <thead>
            <tr class="headings">
               <th class="w-td-40pre" style="text-align: left;" id="module_name">Module Name</th>
                <th class="w-td-15pre" id="view">View </th>
                <th class="w-td-15pre" id="add">Add </th>
                <th class="w-td-15pre" id="edit">Edit </th>
                <th class="w-td-15pre" id="delete">Delete </th>
            </tr>
        </thead>
        <tbody>
         <ng-container>
             <tr class="bg-light-grey list-arrow" style="display:  none;">
                 <td colspan="5"style="text-align: left;">
                     <span style="display: inline-block;" class="f-600 cursor-pointer" *ngIf="!IsVisible"><i
                             class="fa fa-chevron-right collapsetr cursor-pointer" aria-hidden="true"></i>
                         Products</span>
                     <span  *ngIf="IsVisible"
                         style="display: inline-block;" class="cursor-pointer"><i
                             class="fa fa-chevron-down expandtr cursor-pointer" aria-hidden="true"></i>
                        Products
                     </span>
                 </td>
             </tr>
             <ng-container *ngIf="modules && modules.length > 0">
                 <tr class="showtr" *ngFor="let module of modules;let i=index;"  [ngStyle]="{'display': module.permission.length > 0 ? '': 'none'}">
                     <td class="w-td-40pre" style="text-align: left;"><span class="pl-2">{{module.module_name}}</span></td>
                     <td class="w-td-15pre" >
                         <input type="checkbox" *ngIf="checkPermissionBySlug(AppConstants.PERMISSION_VIEW_SLUG,module.permission)" [checked]="getCheckedPermission(AppConstants.PERMISSION_VIEW_SLUG,module.permission)"[disabled]="getDisabledPermission(AppConstants.PERMISSION_VIEW_SLUG,module.permission)"  (change)="getPermissions($event,AppConstants.PERMISSION_VIEW_SLUG,module.permission,i)"/>
                     </td>
                     <td class="w-td-15pre" >
                        <input type="checkbox" *ngIf="checkPermissionBySlug(AppConstants.PERMISSION_ADD_SLUG,module.permission)" [checked]="getCheckedPermission(AppConstants.PERMISSION_ADD_SLUG,module.permission)" (change)="getPermissions($event,AppConstants.PERMISSION_ADD_SLUG,module.permission,i )"/>
                     </td>
                     <td class="w-td-15pre" >
                        <input type="checkbox" *ngIf="checkPermissionBySlug(AppConstants.PERMISSION_EDIT_SLUG,module.permission)" [checked]="getCheckedPermission(AppConstants.PERMISSION_EDIT_SLUG,module.permission)" (change)="getPermissions($event,AppConstants.PERMISSION_EDIT_SLUG,module.permission,i)"/>
                     </td>
                     <td class="w-td-15pre" >
                        <input type="checkbox" *ngIf="checkPermissionBySlug(AppConstants.PERMISSION_DELETE_SLUG,module.permission)" [checked]="getCheckedPermission(AppConstants.PERMISSION_DELETE_SLUG,module.permission)" (change)="getPermissions($event,AppConstants.PERMISSION_DELETE_SLUG,module.permission,i)"/>
                     </td>
                 </tr>
             </ng-container>
         </ng-container> 
     </tbody>
      </table>
   </div>
</div>


<div class="clearfix"></div>
</div>
<div class="clearfix"></div>


<div class="add_prd_btn_rw">
   <button type="submit" (click)="onSubmit()" class="btn btn-default login_btn"><em class="fas fa-sign-in-alt"></em>
      <span *ngIf="id; else add">Update</span>
      <ng-template #add>
         {{AppConstants.SUBMIT}}
      </ng-template>
   </button>
   <button type="button" class="btn btn-default login_btn cancel_btn_frm" (click)="cancel()"><i
         class="fa fa-times" aria-hidden="true"></i>Cancel</button>
</div>

 