<app-header></app-header>
<div id="rp-container" class="container">
    <div id="rp-row" class="row">
        <div id="rp-col" class="col-12">
            <div id="rp-inner" class="reset-password">
                <div id="rp-header-main" *ngIf="!IsPasswordChanged" class="reset-password-header">
                    <h1 id="rp-header-title" class="link-tag font-600 lh-40 f-32 text-center m-0">Reset Password</h1>
                    <p id="rp-header-msg" class="lh-22 f-16 font-dark text-center mt-04 mb-04">In order to <span id="rp-header-account-protect" class="font-700">protect your account,</span> make sure your password is,</p>
                    <ul id="rp-header-ul" class="mb-12 p-0 text-center reset-password-hint">
                        <li id="rp-header-use-characters" class="p-0 font-dark f-14 lh-20 mb-12">
                            1. Use 10 or more characters
                        </li>
                        <li id="rp-header-character-req" class="m-0 p-0 font-dark f-14 lh-20">
                            2. At least 1 number, 1 uppercase letter, 1 lowercase letter and 1 special character (!,-_.&#64;;:$%^[\]?=>/<)
                        </li>
                    </ul>
                </div>
                <div id="rp-body-main" class="reset-password-body">
                    <div id="rp-body-inner" class="reset-password-form">
                        <form id="rp-body-form" [formGroup]="resetPassword" (ngSubmit)="submit()" *ngIf="!IsPasswordChanged">
                            <div id="rp-body-row" class="row">
                                <div id="rp-body-np-col" class="col-12">
                                    <div id="rp-body-np-margin" class="mb-12 new-version-input new-version-input-my-profile">
                                        <label id="rp-body-np-label" class="font-dark font-700 f-16 lh-22 mb-8">
                                            New password
                                            <span id="rp-body-np-mand" class="dark-spark font-700 f-16 lh-22">*</span>
                                        </label>
                                        <mat-form-field id="rp-body-np-mat-form-field" class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                            <input capsLockDetect (capsLockOn)="isNewPswCapsLock = $event" matInput [ngClass]="{'error-input-focus': resetPassword.controls['password'].invalid && isSubmitted}" placeholder="New Password" id="password" [type]="fieldTextType ? 'text' : 'password'" formControlName="password" [prevent-keys]="[32,34,35,38,39,40,41,42,43,96,9,128,123,124,125,126]" maxlength="25">
                                            <button id="rp-body-np-icon" class="mt-5px focus-icon" type="button" mat-icon-button matSuffix (click)="fieldTextType = !fieldTextType" attr.aria-label="{{fieldTextType ? 'Hide password' : 'Show password'}}" [attr.aria-pressed]="fieldTextType">
                                                <mat-icon id="rp-body-np-mat-icon">{{fieldTextType ? 'visibility' : 'visibility_off'}}</mat-icon>
                                            </button>
                                            <mat-error id="rp-body-np-mat-error">
                                                <span id="rp-body-np-mand-msg" *ngIf="resetPassword.get('password').hasError('required') && isSubmitted" class="dark-spark f-12 lh-16 mb-0">
                                                    Please complete this mandatory field.
                                                </span>
                                                <span id="rp-body-np-password-msg" class="dark-spark f-12 lh-16 mb-0" *ngIf="(resetPassword.get('password').hasError('pattern') || resetPassword.get('password').hasError('specialCharMoreThanOne')) && isSubmitted">
                                                    The password must be at least 10 characters. It should contain at least one uppercase letter, one lowercase letter, at least one number and at least one special character (!,-_.&#64;;:$%^[\]?=>/<).
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                        <p class="capslock-txt mb-8" *ngIf="isNewPswCapsLock === 1">
                                            Caps lock is on
                                        </p>
                                    </div>
                                </div>
                                <div id="rp-body-cp-col" class="col-12">
                                    <div id="rp-body-cp-margin" class="mb-12 new-version-input new-version-input-my-profile">
                                        <label id="rp-body-cp-label" class="font-dark font-700 f-16 lh-22 mb-8">
                                            Confirm password
                                            <span id="rp-body-cp-mand" class="dark-spark font-700 f-16 lh-22">*</span>
                                        </label>
                                        <mat-form-field id="rp-body-cp-mat-form-field" class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                            <input capsLockDetect (capsLockOn)="isConfrmPswCapsLock = $event" id="rp-body-cp-input" [ngClass]="{'error-input-focus': resetPassword.controls['confirmPassword'].invalid && isSubmitted}" matInput [type]="repeatFieldTextType ? 'text' : 'password'" placeholder="Confirm New Password" formControlName="confirmPassword" [prevent-keys]="[32,34,35,38,39,40,41,42,43,96,9,128,123,124,125,126]" maxlength="25">
                                            <button id="rp-body-cp-icon" class="mt-5px focus-icon" type="button" mat-icon-button matSuffix (click)="repeatFieldTextType = !repeatFieldTextType" attr.aria-label="{{repeatFieldTextType ? 'Hide password' : 'Show password'}}" [attr.aria-pressed]="repeatFieldTextType">
                                                <mat-icon id="rp-body-cp-mat-icon">{{repeatFieldTextType ? 'visibility' : 'visibility_off'}}</mat-icon>
                                            </button>
                                            <mat-error id="rp-body-cp-mat-error">
                                                <span id="rp-body-cp-mand-msg" class="dark-spark f-12 lh-16 mb-0" *ngIf="resetPassword.get('confirmPassword').hasError('required') && isSubmitted">
                                                    Please complete this mandatory field.
                                                </span>
                                                <span id="rp-body-cp-match" class="dark-spark f-12 lh-16 mb-0" *ngIf="resetPassword.get('confirmPassword').hasError('mustMatch') && isSubmitted">
                                                    Password must match
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                        <p class="capslock-txt mb-8" *ngIf="isConfrmPswCapsLock === 1">
                                            Caps lock is on
                                        </p>
                                    </div>
                                </div>
                                <p id="rp-body-error-col" class="col-12 dark-spark f-12 lh-16 mb-0" *ngIf="error">
                                    {{ error }}
                                </p>
                                <div id="rp-body-btn-area" class="col-12 mt-12">
                                    <button id="rp-body-btn" mat-button class="new-default-btn w-100" [ngClass]="resetPassword.invalid ? 'error-input-focus' : ''" type="submit">Reset Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="rp-footer-main" *ngIf="IsPasswordChanged" class="reset-password-footer">
                    <div id="rp-footer-inner">
                        <div id="rp-footer-form-group" class="form-group m-0">
                            <p id="rp-footer-ty-msg" class="lh-22 f-16 font-dark text-center mt-04 mb-04">
                                Thank you. Your request to reset your password is being processed, and you should receive an email in the next few minutes.
                            </p>
                            <p id="rp-footer-receive-email" class="lh-22 f-16 font-dark text-center mt-04 mb-04">
                                If you do not receive this email in the next few minutes:
                            </p>
                            <ul id="rp-footer-ul" class="mb-12 p-0 text-center reset-password-hint">
                                <li id="rp-footer-li" class="p-0 font-dark f-14 lh-20 mb-12">
                                    1. Check that you have entered the correct email address.
                                </li>
                                <li id="rp-footer-li-2" class="m-0 p-0 font-dark f-14 lh-20">
                                    2. Check your junk or spam folders.
                                </li>
                            </ul>
                            <button id="rp-footer-continue-btn" class="new-default-btn w-100" mat-button [routerLink]='["/" + appRouteEnum.Login]'>Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
