.modal-header.mdl_hd_nw h5 {
margin: 0 !important;
color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.modal-header.mdl_hd_nw {
    background: #111;
}
.modal-body {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
}

.ul_list_modal_co {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul_list_modal_co li {
    width: 100%;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 15px;
    position: relative;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
}
.ul_list_modal_co li:first-child {
    margin-top: 0;
}
.ul_list_modal_co li:last-child {
    margin-bottom: 0;
}
.ul_list_modal_co li strong {
    font-weight: 700;
}

.ul_list_modal_co li:before {
    position: absolute;
    left: 0;
    top: 5px;
    border-width: 7px;
    border-style: solid;
    border-color:transparent transparent transparent #111;
    content: "";
}