<div class="modal-header mdl_hd_nw">
    <h5 class="modal-title pull-left">Cookie Settings Alert</h5>
   
</div>
<div class="modal-body">
    <ul class="ul_list_modal_co">
       <li>You don't have <strong>cookies turned on</strong>, please change the <strong>cookies' settings</strong> in your <strong>browser</strong>. </li>
       <li> To do this go to <strong>Settings > Privacy and security >  Cookies and other site data </strong>.
        Make sure that the <strong>"Allow all cookies"</strong> is <strong>ON</strong> and <strong>"Block third-party cookies"</strong> option is <strong>OFF</strong>.</li>
       <li>After <strong>"Allow all cookies"</strong> please <strong>reload the page</strong>.</li> 
       
        
       </ul>
</div>
