<div class="dash_rew_w" *isAuthorize="[permissionTask.attributeAdd]" >
   <div class="row">
      <div class="col-md-12 text-right">
         <a href="javascript:void(0);" [routerLink]="['add-attribute']" class="default-btn add_btn_art"><i
               class="fa fa-plus" aria-hidden="true"></i> Add Attribute</a>
      </div>
   </div>
</div>

<div class="prd-srh">
   <div class="prd-srh-left-v" *ngIf="articleData && articleData.length > 0">

      <div class="form-group position-relative">
         <label>Search by Article</label>
         <select class="form-control login_fild prdsrh_icon_v" (change)="searchByArticle($event)"
            [(ngModel)]="article_search">
            <option selected value="0">Select article</option>
            <option *ngFor="let article of articleData; let i=index;" value="{{article?.ArticleId}}">
               {{article?.ArticleName}}</option>
         </select>
      </div>

   </div>

   <div class="prd-srh-right-v">

      <div class="form-group position-relative">
         <label>Search by Attribute Name</label>
         <input type="text" class="form-control login_fild padd-right-45 prdsrh_icon_v" name="search" #productSearch
            placeholder="Search by attribute name" [(ngModel)]="search_text" (keyup)="prodcut_search($event)">
         <button class="prdfilter_icon_v" type="button" (click)="searchByName(productSearch?.value)"></button>
      </div>

   </div>

   <div class="prd-srh-left-v">

      <div class="form-group position-relative">
         <label>Search by Status</label>
         <select class="form-control login_fild prdsrh_icon_v" (change)="searchByStatus($event)"
            [(ngModel)]="search_status">
            <option value="-1">{{AppConstants.SELECT_STATUS}}</option>
            <option value="1">{{AppConstants.STATUS_ACTIVE}}</option>
            <option value="0">{{AppConstants.STATUS_INACTIVE}}</option>
         </select>
      </div>

   </div>


</div>

<div class="admin_table">
   <div class="table-responsive" *ngIf="attributeData && attributeData.length > 0; else recordNotFound">
      <div cdkDropList class="example-list table_responsive_q_n" (cdkDropListDropped)="drop($event)">
         <div class="attribute_master_table_th_q">
            <span class="sort_by_q">{{AppConstants.SERIAL_NUMBER}}</span>
            <span class="attribute_q">Attribute Name</span>
            <span class="attribute_name_q">Article</span>
            <span class="article_name_q">Image View</span>
            <span class="image_view_q">Configurable</span>
            <span class="image_view_q">Engravable</span>
            <span class="configurable_n_q">Created On</span>
            <span class="created_on_date_q">Modified On</span>
            <span class="modified_on_date_q Status_clr">Status</span>
            <span class="action_q auction_link">Action</span>
         </div>


         <div class="example-box table_td_rw_q"
            *ngFor="let attribute of attributeData | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems : attributesCount}  let i=index;"
            cdkDrag>
            <span class="sort_by_q"> {{(page-1)*itemsPerPage +i+1}}</span>
            <span class="attribute_q"> {{attribute?.AttributeName}}</span>
            <span class="attribute_name_q"> {{attribute?.ParentArticleName}} </span>
            <span class="article_name_q">{{attribute?.ParentImageViewName}}</span>
            <span class="image_view_q">{{attribute?.IsConfigurable == 1 ? 'Yes' : 'No'}}</span>
            <span class="image_view_q">{{attribute?.IsEngravable == 1 ? 'Yes' : 'No'}}</span>
            <span class="configurable_n_q">{{attribute?.CreatedOn ?( attribute?.CreatedOn | date :'dd-MMM-yyyy'): ''}}
            </span>
            <span class="created_on_date_q">{{attribute?.ModifiedOn ?( attribute?.ModifiedOn | date :'dd-MMM-yyyy'):
               ''}}</span>
            <span class="modified_on_date_q Status_clr">{{attribute?.IsActive == 1 ? 'Active' : 'Inactive'}}</span>
            <span class="action_q auction_link"><a *isAuthorize="[permissionTask.attributeEdit]" href="javascript:void(0);"
                  (click)="editAttribute(attribute?.AttributeId)"><img src="assets/images/edit_icon.png" alt=""></a><a
                  href="javascript:void(0);" *isAuthorize="[permissionTask.attributeDelete]"
                  (click)="deleteAttribute(attribute?.AttributeId,attribute?.AttributeName , attribute.ArticleId,attribute.IsConfigurable)"><img
                     src="assets/images/delete_icon.png" alt=""></a></span>
         </div>
      </div>

   </div>
   <div class="pagination" *ngIf="attributeData && attributeData.length > 0">
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
   </div>
   <ng-template #recordNotFound>
      <div class="row p-3 g-1">
         <div class="col-md-12 no-record text-center">
            {{AppConstants.NO_RECORD_FOUND}}
         </div>
      </div>
   </ng-template>
</div>
