.atag-new-default-outline .new-default-outline-btn {
    padding: 8.4px 18px !important;
    margin-right: 24px;
    /* Changes after upgrading */
    text-decoration: none;
    position: relative;
    top: 2px;
    /* End Changes after upgrading */
}

.atag-new-default-outline .new-default-outline-btn:hover {
    color: #131E29 !important;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04) !important;
}

@media (max-width: 767px) {
    .common-popup-theme-why-middle .f-14 {
        font-size: 14px !important;
    }

    .popup-full-btn {
        flex-direction: column;
        gap: 16px;
    }

    .atag-new-default-outline .new-default-outline-btn {
        margin-right: 24px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 10px 18px !important;
        margin-bottom: 16px;
        height: 40px;
    }
}