<div id="ah-bannerNew" class="hero-banner" [hidden] = "!newHeaderFlag">
    <div id="ah-bannerNewDiv" class="d-flex align-items-center">
        <div id="ah-bannerUserArea" class="container">
            <div class="row">
                <div class="col-12">
                    <div id="ah-bannerUserDetails" class="hero-banner-content">
                        <h1 id="ah-bannerUserName">Welcome to your account, {{firstName}}!</h1>
                        <p id="ah-bannerUserWelcome">
                            Manage your bookings, <span *ngIf="commonServices?.doesClubAvantiPortalDisplay()">view your Club Avanti
                                status and rewards, and</span> update your profile details and preferences.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab for mobile view -->
        <div id="ah-mobileBanner" class="booking container d-block d-md-none mobile-tabs">
            <div id="ah-mobileBannerFormGroup" class="form-group new-form-group">
                <div class="col-md-12 mt-24" id="newOptions">
                    <h1 id="ah-mobile-tab-label" class="account-m-tab-label font-dark m-0 font-700">Account menu</h1>
                    <mat-select id="ah-mobileBannerMatSelect" aria-labelledby="newOptions" class="border-gray f-16" 
                    [(value)]="selectedAccountMenu" (selectionChange)="onChangeAccountMenu($event)" panelClass="old-my-account-mat-select">
                        <mat-option id="ah-mobileBannerBookingOption" value="{{appRouteEnum.MyBookings}}" >{{accountHeaderEnum.bookings}}</mat-option>
                        <mat-option id="ah-mobileBannerPreferencesOption" value="{{appRouteEnum.MyPreferences}}" >{{accountHeaderEnum.preferences}}</mat-option>
                        <mat-option id="ah-mobileBannerPaymentOption" value="{{appRouteEnum.PaymentsAndVouchers}}">{{accountHeaderEnum.paymentsAndVouchers}}</mat-option>
                        <mat-option id="ah-mobileBannerClubAvantiOption" value="{{appRouteEnum.clubAvanti}}" *ngIf="commonServices?.doesClubAvantiPortalDisplay()">{{accountHeaderEnum.clubAvanti}}</mat-option>
                        <mat-option id="ah-mobileBannerProfileOption" value="{{appRouteEnum.MyProfile}}">{{accountHeaderEnum.profile}}</mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        <!-- End here Tab for mobile view -->
    </div>
</div>

<!-- Tab for desktop view -->
<div id="ah-matTabDiv" class="booking-ticket-section MyBookingtabs" [hidden] = "!headerFlag">
    <div id="ah-matTabContainer" class="container p-0">
        <div id="ah-matTabInnerDiv" class="booking-ticket-box main-new-tab">
            <mat-tab-group id="ah-matTabGroup" (selectedTabChange)="onTabChanged($event);" [selectedIndex]="selectedIndexOfAccountMenuHeaderTab" dynamicHeight>
 
               <mat-tab id="ah-bookingMatTab" label="{{accountHeaderEnum.bookings}}">
                   <ng-template id="ah-bookingNgTemplate" matTabContent> 
                   </ng-template>
               </mat-tab> 

                  <mat-tab id="ah-preferencesMatTab" label="{{accountHeaderEnum.preferences}}">
                    <ng-template id="ah-preferencesNgTemplate" matTabContent> 
                    </ng-template>
                </mat-tab>

                <mat-tab id="ah-paymentVouchetMatTab" label="{{accountHeaderEnum.paymentsAndVouchers}}">
                    <ng-template id="ah-paymentVouchetNgTemplate" matTabContent> 
                    </ng-template>
                </mat-tab>

                <mat-tab id="ah-clubAvantiMatTab" label="{{accountHeaderEnum.clubAvanti}}" *ngIf="commonServices?.doesClubAvantiPortalDisplay()">
                    <ng-template id="ah-clubAvantiNgTemplate" matTabContent> 
                    </ng-template>
                </mat-tab>

                <mat-tab id="ah-profileMatTab" label="{{accountHeaderEnum.profile}}">
                    <ng-template id="ah-profileNgTemplate" matTabContent> 
                    </ng-template>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>
<!-- End here Tab for desktop view -->