@import url('../../../assets/css/enhanced-styles.css');

/*--- Footer ---*/
.qtt-footer-container {
    background-color: var(--primary-graphene);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 9 !important;
    padding: 0.75rem 1.5rem;
}

.qtt-footer-container-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qtt-footer-left .qtt-footer-main-txt {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--shades-white);
    font-weight: 700;
}

.qtt-footer-left .qtt-footer-sub-txt {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--shades-white);
}

.qtt-footer-right {
    display: flex;
    gap: 1.5rem;
    margin-left: auto;
}

.qtt-footer-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 20rem;
}

.qtt-footer-pax {
    display: flex;
    gap: 0.25rem;
}

.qtt-footer-pax p {
    color: var(--shades-white);
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 700;
}

.qtt-footer-total-price {
    color: var(--shades-white);
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
}

.qtt-footer-btn {
    display: flex;
    gap: 1rem;
    align-items: center;
}
/*--- End Footer ---*/


@media (width <= 1023px) {
    .qtt-footer-container {
        padding: 1rem; z-index: 1;
    }

    .qtt-footer-main-txt {
        display: none;
    }

    .qtt-footer-container-inner {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .qtt-footer-pax {
        align-items: flex-start;
    }

    .qtt-footer-pax img {
        position: relative;
        top: 0.25rem;
    }

    .qtt-footer-pax p {
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: var(--shades-white);
        font-weight: 700;
    }

    .qtt-footer-total-price {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.563rem;
    }

    .qtt-footer-right {
        flex-direction: column;
        width: 100%;
        gap: 0.75rem;
    }

    .qtt-footer-total {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .qtt-footer-btn {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .bike-extras-border {
        padding-top: 0;
        border-top: none;
    }
}

@media (width <= 576px) {
    .qtt-footer-total {
        min-width: auto;
        gap: 1rem;
    }
}