<app-enhanced-basic-dialog [dialogFooter]="dialogFooter" class="enhanced-alert-dialogs content-center" [dialogTitle]="headerTitle" [commonDisplayedIcon]="data.displayedIconImage" role="dialog" aria-modal="true" tabindex="-1">
  <ng-content>
    <div class="enhanced-common-popup-theme">
      <div class="enhanced-common-popup-theme-border">
        <div class="enhanced-common-info-content" *ngIf="!data?.isViewBooking" role="alert" aria-live="assertive" aria-atomic="true">
          <span class="sr-only">{{ headerTitle }}</span>
          <div class="icon-wrapper">
            <img src="assets/images/new-design-img/no-seats-available.svg" alt="" aria-hidden="true" />
          </div>
          <p [innerHTML]="data.message"></p>
        </div>
        <div class="enhanced-common-info-content" *ngIf="data?.isViewBooking" role="alert" aria-live="assertive" aria-atomic="true">
          <span class="sr-only">{{ headerTitle }}</span>
          <div class="forgot-password-sucess">
            <p>
              Please do remember the following bike loading guidelines
            </p>
            <ul class="m-0 bike-reser-popup-list">
              <li class="f-14 lh-20 font-dark mb-12">
                Arrive at the platform at least <span class="font-700">10 minutes before the train
                  departs.</span>
              </li>
              <li class="f-14 lh-20 font-dark">
                <span class="font-700">Show your bike reservation to a staff member</span>
                who'll help you find where best to stand.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-content>
  <ng-template #dialogFooter>
    <div class="common-popup-theme-footer">
      <div class="two-btn-footer journey-dialog-footer-center" [ngClass]=" data.isReviewBuy && data.isDeliveryModesAvailable ? 'two-btn-footer-full-btn' : ''">
        <button class="fill-btn fill-light-hover-btn" *ngIf="!data.isReviewBuy && !data.isVerifyEmail" mat-dialog-close mat-button>
          Okay
        </button>
        <button class="fill-btn fill-light-hover-btn" (click)="isUserVerificationEmail()" *ngIf="data.isVerifyEmail" mat-button>
          Verify email
        </button>
        <button class="outline-btn outline-primary-btn-hover" *ngIf="data.isReviewBuy && data.isDeliveryModesAvailable" mat-dialog-close mat-button>
          Cancel
        </button>
        <button class="fill-btn fill-light-hover-btn" *ngIf="data.isReviewBuy && data.isDeliveryModesAvailable" mat-button (click)="goToSearchResult()">
          Continue
        </button>
        <button class="fill-btn fill-light-hover-btn" *ngIf="data.isReviewBuy && !data.isDeliveryModesAvailable && data.isDeliveryAddedForJourney" mat-dialog-close mat-button>
          Back to search
        </button>
        <button class="fill-btn fill-light-hover-btn" *ngIf="data.isReviewBuy && !data.isDeliveryAddedForJourney" mat-dialog-close mat-button>
          Okay
        </button>
      </div>
    </div>
  </ng-template>
</app-enhanced-basic-dialog>