
<div class="logout-popup-header">
  <h2 mat-dialog-title class="login-signin-title">Logout</h2>
  <span class="dialog-close" mat-dialog-close><img src="assets/images/Close.svg" alt=""></span>
</div>
<mat-dialog-content class="logout-popup-body"> 
    <p>
        {{ data.Message }}
    </p>
</mat-dialog-content>
<mat-dialog-actions class="logout-popup-footer">
  <button class="default-btn" mat-button mat-dialog-close (click)="onLogout(false)">No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button class="default-btn" [mat-dialog-close]="true" (click)="onLogout(true)">Yes</button>
</mat-dialog-actions>
