.loyalty-popup-title{
    line-height: 39.55px;
    letter-spacing: 3.5px;
}
.loyalty-popup-para{
    letter-spacing: 0.1px;
}
.loyalty-close-btn{
    position: absolute;
    right: 24.9px;
    top: 24.9px;
    height: 18.2px;
    width: 18.2px;
    display: inline-block;
}
.loyalty-close-btn .mat-button {
    padding: 0;
    min-width: auto;
    position: static;
}
.loyalty-close-btn .mat-button-wrapper{
    display: flex;
}
.loyalty-close-btn img{
    width: 18.2px;
    height: 18.2px;
}
@media (max-width: 767px) {
    .loyalty-close-btn{
        top: 23.18px;
        right: 16.18px;
        height: 13.65px;
        width: 13.65px;
        display: inline-block;
    }
    .loyalty-popup-title{
        font-size: 24px !important;
        line-height: 29.66px;
    }
    .loyalty-close-btn .mat-button{
        font-size: 13px !important;
        display: inline-block;
        padding: 0 !important;
    }
    .loyalty-close-btn img{
        width: 13.65px;
        height: 13.65px;
    }

}
@media (max-width: 343px) {
    .loyalty-popup-title{
        font-size: 21px !important;
    }
}