<div class="popup parking-popup">
    <div class="popup-hdr">Address
        <button mat-button (click)="onClose()" class="close-btn" type="button"><img src="assets/images/Close.svg"
                alt=""></button>
    </div>
    <form [formGroup]="addressForm" (ngSubmit)="onAddressCreated()">
    <div class="popup-body">
        <div class="row">
            <div class="col-md-6 mt-10">
              <label class="f-14">Postcode<span class="text-spark ps-1"></span></label>
              <mat-form-field class="example-full-width default-input default-input-brdr"
                floatLabel="never">
                <input matInput  id="postCode" type="text" placeholder="Enter Postcode" formControlName="postCode" maxlength="10" required>
              </mat-form-field>
            </div>
            <div class="col-md-6 mt-10">
              <label class="f-14">First Line<span class="text-spark ps-1"></span></label>
              <mat-form-field class="example-full-width default-input default-input-brdr"
                floatLabel="never">
                <input matInput id="address1" type="text" placeholder="Enter First Line" formControlName="address1" required>
              </mat-form-field>
            </div>
            <div class="col-md-6 mt-10">
              <label class="f-14">Second Line<span class="text-spark ps-1"></span></label>
              <mat-form-field class="example-full-width default-input default-input-brdr"
                floatLabel="never">
                <input matInput id="address2" type="text" placeholder="Enter Second Line" formControlName="address2" required>
              </mat-form-field>
            </div>
            <div class="col-md-6 mt-10">
              <label class="f-14">Third Line<span class="text-spark ps-1"></span></label>
              <mat-form-field class="example-full-width default-input default-input-brdr"
                floatLabel="never">
                <input matInput id="address3" type="text" placeholder="Enter Third Line" formControlName="address3">
              </mat-form-field>
            </div>
            <div class="col-md-6 mt-10">
              <label class="f-14">City/Town<span class="text-spark ps-1"></span></label>
              <mat-form-field class="example-full-width default-input default-input-brdr"
                floatLabel="never">
                <input matInput id="city" type="text" placeholder="Enter City/Town" formControlName="city" required>
              </mat-form-field>
            </div>
            <div class="col-md-6 mt-10 ">
              <label class="f-14">Country<span class="text-spark ps-1"></span></label>
              <mat-form-field class="example-full-width default-input default-input-brdr" floatLabel="never">
                <input matInput id="country" type="text" placeholder="Enter Country" formControlName="country" required>
              </mat-form-field>
            </div>
            <div class="col-md-12 mt-20 text-end">
              <button class="default-btn-2 mr-20" mat-button (click)="onClose()" type="button">Cancel</button>
              <button class="default-btn" mat-button type="submit">Create</button>
            </div>
          </div>
    </div>
  </form>
</div>
