<form>
    <div class="add_product_left">
       <div class="upload__box">
          <div class="upload__btn-box">
            <label class="upload__btn">
               <p class="upload_icon"><em class="fas fa-cloud-upload-alt"></em></p>
               <span>Upload image <span class="text-danger">*</span><br>
                  <div class="image_diamension text-center">
                     Dimension : (600 x 300) PX <br>
                     Formats : .png, .jpg, .jpeg and .jfif <br>
                  </div> 
               </span>
               <input type="file" multiple (change)="uploadAttachment($event)" accept=".png, .jpg, .jpeg, .jfif" data-max_length="20"
                  class="upload__inputfile">
            </label>
         
         </div>
         <div *ngIf="is_image_upload && submitted" 
         class="text-danger validation-error">
         {{AppConstants.CATEGORY_IMAGE_REQUIRED}}
         </div> 
         <div class="upload__img-wrap" *ngIf="product_base64_images">
             <div class='upload__img-box'>
                <div  [attr.data-number]='1' class='img-bg'>
                  <img src="{{product_base64_images ? product_base64_images :'assets/images/no-images.png' }}" alt="" onError="this.src='assets/images/no-images.png'">
                   <div class='upload__img-close' (click)="deleteImage(0)"></div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="add_product_right">
       <div class="login_form">
          <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
             <div class="form-group">
                <label>Category Name <span class="text-danger" >*</span></label>
                <input type="text" class="form-control login_fild" placeholder="Category Name"
                   formControlName="categoryName" inputRef [appInputMaxLength]="150">
               
             </div>
             <div *ngIf="(f.categoryName.touched || submitted) && f.categoryName.errors?.required"
             class="text-danger validation-error">
                {{AppConstants.CATEGORY_NAME_REQUIRED}}
            </div>
             <div class="form-group" *ngIf="articleData && articleData.length > 0">
                <label>Select Article <span class="text-danger">*</span></label>
                <select class="form-control login_fild"  formControlName="articleId" >
                   <option selected value="">Select Article</option>
                   <option *ngFor="let article of articleData; let i=index;" value="{{article?.ArticleId}}">{{article?.ArticleName}}</option>
                </select>
             </div>
               <div *ngIf="(f.articleId.touched || submitted) && f.articleId.errors?.required"
                class="text-danger validation-error">
                  {{AppConstants.ARTICLE_FIELE_REQUIRED}}
               </div>
             <div class="form-group" *ngIf="categoryData && categoryData.length > 0">
                <label>Select Parent Category</label>
                <select class="form-control login_fild"  formControlName="parentCategoryId" >
                   <option selected value="0">Select Parent Category</option>
                   <option *ngFor="let category of categoryData; let i=index;"  value="{{category?.CategoryId}}">{{category?.CategoryName}}</option>
                </select>
             </div>
             <div class="form-group">
                <label>Select Status <span class="text-danger">*</span></label>
                <select class="form-control login_fild" formControlName="isActive">
                   <option selected value="">Select Status</option>
                   <option value="1">{{AppConstants.STATUS_ACTIVE}}</option>
                   <option value="0">{{AppConstants.STATUS_INACTIVE}}</option>
                </select>
              
             </div>
             <div *ngIf="(f.isActive.touched || submitted) && f.isActive.errors?.required"
             class="text-danger validation-error">
               {{AppConstants.CATEGORY_STATUS_REQUIRED}}
             </div>
             <div class="form-group">
                <label>About Category <span class="text-danger">*</span></label>
                <textarea class="form-control login_fild"  placeholder="About Category" inputRef formControlName="categoryDescription" [appInputMaxLength]="250"></textarea>
                
            </div>
            <div *ngIf="(f.categoryDescription.touched || submitted) && f.categoryDescription.errors?.required"
            class="text-danger validation-error">
              {{AppConstants.ABOUT_CATEGORY_REQUIRED}}
            </div>
             <div class="add_prd_btn_rw">
            <button type="submit" class="btn btn-default login_btn"><em class="fas fa-sign-in-alt"></em>
               <span *ngIf="id; else add">Update</span>
               <ng-template #add>
                  {{AppConstants.SUBMIT}}
               </ng-template>
               
            </button>
             <button type="submit" class="btn btn-default login_btn cancel_btn_frm" (click)="cancle()"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
</div>


          </form>
       </div>
    </div>
 </form>