// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// @import '../node_modules/ngx-red-zoom/styles/_base.scss';
// @import '../node_modules/ngx-red-zoom/styles/_style-magnifier.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$jewelex-primary: mat.define-palette(mat.$indigo-palette);
$jewelex-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$jewelex-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$jewelex-theme: mat.define-light-theme((color: (primary: $jewelex-primary,
        accent: $jewelex-accent,
        warn: $jewelex-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($jewelex-theme);

/* You can add global styles to this file, and also import other style files */

@import 'assets/front/css/fontawesome.min.css';
@import 'assets/front/css/front-responsive.css';
@import 'assets/front/css/front-style.css';






html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
}

::ng-deep .pop-dialog-class {
  mat-dialog-container {
    background: none !important;
    box-shadow: none !important;
  }
}


.similler-product .slick-prev:before,
.similler-product .slick-next:before {
  color: #151515;
  font-size: 30px;
}


.img-zoom-lensunil {
  position: relative;
  // border: 1px solid #d4d4d4 !important;
  /*set the size of the lens:*/
  width: 50px;
  height: 50px;
  box-sizing: border-box !important;
}

// swiper-slide {

//   width: auto;
//   max-width: calc(50% - 30px);
//   flex-shrink: 0;
//   min-width: 155px;
// }
