@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("../../../../assets/css/enhanced-styles.css");

.class-details-dialog {
    padding: 1.5rem;
}

.class-details-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center; 
}

.class-details-row mat-card {
    height: 100%;
}

.class-details-row mat-card-header.mat-mdc-card-header {
    padding: 1.5rem;
    text-align: center;
    justify-content: center;
}

.class-details-row .standard mat-card-header {
    background: var(--neutrals-bright-grey);
}

.class-details-row .standard-premium mat-card-header {
    background: var(--secondary-parys-earth );
}

.class-details-row .First_Class mat-card-header {
    background: var(--primary-solway-breeze);
}

.class-details-row  mat-card-content {
    padding: 2rem;
    height: 100%;
}

.class-details-row ul {
    list-style: none;
    padding: 0;
}

.class-details-row ul li {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.class-details-row mat-card-content p {
    font-size: 0.75rem;color: var(--neutrals-auro-metal);
}

@media screen and (max-width: 768px) {
    .class-details-row {
        display: inherit;
        flex-direction: inherit;
        gap: 0;
    }

    .class-details-row mat-card-header.mat-mdc-card-header {
        padding: 1rem;
        text-align: left;
        justify-content: flex-start;
    }

    .class-details-row mat-card-title.mat-mdc-card-title {
        display: none;
    }

    .class-details-row mat-card-content {
        padding: 1rem;
    }

    .class-details-dialog {
        padding: 0rem;
    }
}