<header id="emdcl-header">
    <app-enhanced-navigation-header [isAvantiFilterSelected]="searchRequest?.OperaterFilter"
        [isDirectFilterSelected]="searchRequest?.ChangesFilter" [travelSolutionDirection]="searchRequest?.TravelSolutionDirection"
        [isReturn]="showReturn" [isLoaderActive] = "isLoaderActive" [searchRequest]="searchRequest"></app-enhanced-navigation-header>
</header>
<main id="emdcl-main" role="main" class="padiing-footer">
    <iframe [src]="iframeSrc" width="100%" height="0px" frameborder="0"  style="display:none" *ngIf="iframeSrc"></iframe>
    <!----- View Journey Form ----->
    <section id="emdcl-view-journey-form-section" class="main-header-container" role="group">
        <div id="emdcl-view-journey-form-shadow" [ngClass]="showEdit ? 'remove-shadow' : ''"
            class="view-journey-form-container horizontal-center">
            <div id="emdcl-view-journey-form-container" class="common-container m-common-container">
                <div id="emdcl-view-journey-form-flex" class="d-flex view-journey-form-flex">
                    <enhanced-edit-qtt-selected-details [searchRequest]="searchRequest"
                        [searchResponse]="searchResponse" [searchReturnResponse]="searchReturnResponse"
                        [sharedService]="sharedService">

                    </enhanced-edit-qtt-selected-details>
                    <div id="emdcl-view-journey-form-btn" class="view-edit-form-btn-area">
                        <button id="emdcl-view-journey-form-edit-btn" mat-button class="common-edit-form-btn"
                            [ngClass] = "!isLoaderActive ? '' : 'mobile-loader-d-none'" (click)="openEdit()"
                            [disabled]="isLoaderActive" aria-label="Edit">
                            <span id="emdcl-view-journey-form-btn-span">
                                <img id="emdcl-view-journey-form-edit-btn-icon"
                                    src="assets/images/new-design-img/edit-button-icon.svg" alt="" aria-hidden="true" />
                            </span>
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!----- End View Journey Form ----->

    <!-- Edit QTT Form -->
    <app-enhanced-edit-qtt *ngIf="showEdit" (submitEdit)="submitEdit($event)"
        [isCancelVisible]="isCancelVisibleBtn"></app-enhanced-edit-qtt>
    <!-- End Edit QTT Form -->


    <app-enhanced-loader 
        [isLoaderActive] = "isLoaderActive"
        [loaderHeading]="enhancedLoaderTextEnum?.mixingDeckLoaderHeading"
        [loaderDescription]="enhancedLoaderTextEnum?.mixingDeckLoaderDescription">
    </app-enhanced-loader>

    <!----- Trains Type Filter ----->
    <section id="emdcl-filter-section" *ngIf="!isLoaderActive && responseData?.ResponseCode != 201" id="eeq-train-types-section" class="eeq-train-filter">
        <div id="emdcl-filter-container" class="train-type-filter-container horizontal-center">
            <div id="emdcl-filter-inner" class="common-container">
                <div id="emdcl-filter-flex" class="eeq-train-types-flex">
                    <p id="emdcl-filter-show-only-txt" class="edit-qtt-show-only">Show only:</p>
                    <div id="emdcl-filter-btn-group" class="edit-qtt-show-only-btns" role="group" aria-label="Filter">
                        <button id="emdcl-filter-avanti-btn" class="show-only-btn"
                            [class.active-show-only-btn]="isOperatorFilterChoosed"
                            [attr.aria-label]="isOperatorFilterChoosed ? 'Avanti trains selected' : 'Avanti trains'"
                            (click)="operatorFilterSubmitEdit()" type="button" mat-button>
                            <img id="emdcl-filter-avanti-icon" src="assets/images/new-design-img/filter-check.svg" alt="" aria-hidden="true" />
                            Avanti trains
                        </button>
                        <button id="emdcl-filter-direct-btn" class="show-only-btn"
                            [attr.aria-label]="isChangeFilterChoosed ? 'Direct trains selected' : 'Direct trains'"
                            [class.active-show-only-btn]="isChangeFilterChoosed" (click)="changeFilterSubmitEdit()"
                            type="button" mat-button>
                            <img id="emdcl-filter-direct-icon" src="assets/images/new-design-img/filter-check.svg" alt="" aria-hidden="true" />
                            Direct trains
                        </button>
                        <button id="emdcl-filter-clear-btn" (click)="clearFilters()"
                            *ngIf="isOperatorFilterChoosed || isChangeFilterChoosed"
                            [disabled]="!isChangeFilterChoosed && !isOperatorFilterChoosed" class="filter-clear-btn"
                            type="button" mat-button aria-label="Clear filter">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!----- End Trains Type Filter ----->

    <!----- Searched Journey ----->
    <section id="emdcl-sj-section" *ngIf="!isLoaderActive && responseData?.ResponseCode != 201">
        <div id="emdcl-sj-container" class="search-journey-container horizontal-center">
            <div id="emdcl-sj-inner" class="common-container">
                <div id="emdcl-sj-flex" class="search-journey-row">
                    <!----- Outward Journey ----->
                    <div id="emdcl-outward-col" class="search-journey-col" *ngIf="showOutward">
                        <div id="emdcl-outward-header-earlier" class="journey-info-header">
                            <!---- Outward Journey header ---->
                            <div id="emdcl-outward-header" class="search-journey-header" aria-labelledby="emdcl-outward-title-aria">
                                <span class="sr-only" id="emdcl-outward-title-aria">{{getAriaLabelForJourneyTitle(searchRequest, true)}}</span>
                                <h3 id="emdcl-outward-title" aria-hidden="true">Select outward train: {{searchRequest?.DepartureTimesStartShow | date:'EEE, dd MMM
                                    yyyy'}}</h3>
                                <div id="emdcl-outward-header-inner" class="search-journey-header-station" aria-hidden="true">
                                    <p id="emdcl-outward-header-station-from">{{commonServices.getCityNameOnly(searchRequest?.DepartureLocationName)}}</p>
                                    <img id="emdcl-outward-header-station-icon" src="assets/images/new-design-img/to-arrow.svg"
                                        alt="" aria-hidden="true" />
                                    <p id="emdcl-outward-header-station-to">{{commonServices.getCityNameOnly(searchRequest?.ArrivalLocationName)}}</p>
                                </div>
                            </div>
                            <!---- End Outward Journey header ---->

                            <!---- Outward Journey Earlier ---->
                            <div id="emdcl-outward-earlier" [ngClass]="isMobile || isTablet ? 'mobile-min-height-jrny-btn' : ''"   class="search-journey-btn" >
                                <button  *ngIf="!isHideEarlier && responseData?.ResponseCode == '200' && searchResponse && !showOrHideNoTrainAvailableOutwardDiv()" id="emdcl-outward-earlier-btn" type="button" (click)="onClickGetEarlierSearch()" mat-button
                                    aria-label="See earlier trains outward">
                                    See earlier trains
                                    <img id="emdcl-outward-earlier-icon" src="assets/images/new-design-img/earlier-arrow.svg" alt="" aria-hidden="true" />
                                </button>
                            </div>
                        </div>
                        <!---- End Outward Journey Earlier ---->

                        <!---- Outward Journey Date for mobile view ---->
                        <div id="emdcl-outward-date-for-mobile" *ngIf="isMobile || isTablet" class="time-show-mobile">
                            <p id="emdcl-outward-date-text-for-mobile">{{searchRequest?.DepartureTimesStartShow | date:'EEE dd MMM'}}</p>
                        </div>
                        <!---- End Outward Journey Date for mobile view ---->

                        <!---- Outward Journey Cards ---->
                        <div id="emdcl-outward-cards-row" class="search-journey-cards-row">
                            <mat-radio-group id="emdcl-outward-mat-radio-group" *ngIf="searchResponse" class="search-journey-card-row" (change)="onOutwardFareSelection($event)"
                                [(ngModel)]="outwardFarePreselectedValue">
                                <!---- Default unselected radio card ---->
                                <div id="emdcl-outward-card-container_{{i}}" class="radio-card new-radio-card"
                                    [tabIndex]="setIndexValueForFocusToDisabledCard(travelSolution) ? 0 : -1"
                                    [attr.aria-label]="getAriaLabelForDisabledJourney(travelSolution)"
                                    *ngFor="let travelSolution of searchResponse?.TravelSolutions; let i = index"
                                    [ngClass]="(!travelSolution?.IsFastest && !travelSolution?.IsCheapest &&                    
                                     !travelSolution?.IsLimitedTickets) ? 'label-less-radio-card' : ''">
                                    <mat-radio-button id="emdcl-outward-mat-radio-btn_{{i}}" labelPosition="before" [value]="travelSolution?.TravelSolId"
                                        [ngClass]="isRadioDisabled(travelSolution) ? 'disabled-radio-card' : ''">
                                        <div id="emdcl-outward-single-card_{{i}}" class="single-card" [attr.aria-label]="getAriaLabel(travelSolution)">
                                            <div id="emdcl-outward-inner_{{i}}" [attr.aria-label]="getAriaLabelAfterSelected(travelSolution, true)">
                                                <div id="emdcl-outward-ticket-label_{{i}}" class="ticket-label">
                                                    <div id="emdcl-outward-ticket-label-left_{{i}}" class="ticket-label-left">
                                                        <span id="emdcl-outward-cheapest-lable_{{i}}" class="ticket-label-name cheapest-ticket"
                                                            *ngIf="travelSolution?.IsCheapest && !conditionToShowOfferTag(travelSolution) && !conditionToShowGroupSaveTag(travelSolution)">Cheapest</span>
                                                        <span id="emdcl-outward-fastest-label_{{i}}" class="ticket-label-name fastest-ticket"
                                                            *ngIf="travelSolution?.IsFastest">Fastest</span>
                                                        <span id="emdcl-outward-arrive-next-day-lable_{{i}}"
                                                            class="ticket-label-name service-arrive-ticket enhanced-d-none">Service
                                                            will arrive the next day</span>
                                                    </div>
                                                    <div id="emdcl-outward-ticket-label-right_{{i}}" class="ticket-label-right">
                                                        <span id="emdcl-outward-offer-ticket_{{i}}" class="ticket-label-name offer-ticket"
                                                            *ngIf="conditionToShowOfferTag(travelSolution)">Offer</span>
                                                        <span id="emdcl-outward-group-save-ticket_{{i}}" class="ticket-label-name offer-ticket" 
                                                              *ngIf="conditionToShowGroupSaveTag(travelSolution)">GroupSave</span>
                                                        <span id="emdcl-outward-rail-sale-ticket_{{i}}" class="ticket-label-name offer-ticket" 
                                                              *ngIf="travelSolution?.IsRailSale">Rail Sale</span>
                                                        <span id="emdcl-outward-limited-ticket_{{i}}" class="ticket-label-name limited-ticket"
                                                            *ngIf="travelSolution?.IsLimitedTickets">Limited
                                                            tickets</span>
                                                    </div>
                                                </div>
                                                <div id="emdcl-outward-radio-label_{{i}}" class="radio-card-custom-label">
                                                    <div id="emdcl-outward-middle_{{i}}" class="radio-card-time-price">
                                                        <div id="emdcl-outward-card-left_{{i}}" class="radio-card-time">
                                                            <div id="emdcl-outward-train-type_{{i}}" class="radio-card-train-type">
                                                                <div id="emdcl-outward-operator_{{i}}" class="radio-card-logo"
                                                                    *ngIf="travelSolution?.Operator == 1 ||     
                                                                     travelSolution?.Operator == 2">
                                                                    <img id="emdcl-outward-avanti-logo_{{i}}" src="assets/images/new-design-img/card-logo.svg"
                                                                        alt="Avanti West Coast" />
                                                                    <span
                                                                        id="emdcl-outward-operator-change_{{i}}" *ngIf="travelSolution?.OperatorChange > 0">+{{travelSolution?.OperatorChange}}</span>
                                                                </div>
                                                                <p id="emdcl-outward-sale-company_{{i}}" class="radio-card-train-express"
                                                                    *ngIf="travelSolution?.Operator == 3">
                                                                    {{travelSolution?.SaleCompany}}
                                                                </p>
                                                                <p id="emdcl-outward-multiple-operators_{{i}}" class="radio-card-multi-operators"
                                                                    *ngIf="travelSolution?.Operator == 4">
                                                                    Multiple operators
                                                                </p>
                                                            </div>
                                                            <div id="emdcl-outward-ticket-info_{{i}}" class="radio-card-ticket-info">
                                                                <div id="emdcl-outward-card-time_{{i}}" class="radio-card-time-jouney">
                                                                    <span id="emdcl-outward-card-depart-time_{{i}}" [ngClass]="travelSolution?.IsCancelled ? 'text-strike' : ''"><span class="sr-only">departs</span> {{travelSolution?.DarwinDepartureTime}}</span>
                                                                    <img id="emdcl-outward-card-time-icon_{{i}}" src="assets/images/new-design-img/to-arrow.svg"
                                                                        alt="" aria-hidden="true" />
                                                                    <span id="emdcl-outward-card-arrival-time_{{i}}" [ngClass]="travelSolution?.IsCancelled ? 'text-strike' : ''"><span class="sr-only">arrives</span> {{travelSolution?.DarwinArrivalTime}}</span>
                                                                </div>
                                                                <div id="emdcl-outward-card-vehicle-duration_{{i}}" class="radio-card-vehicle-type">
                                                                    <p id="emdcl-outward-card-duration_{{i}}" class="radio-card-duration" aria-hidden="true" tabindex="-1">
                                                                        {{travelSolution?.Duration}},
                                                                        {{travelSolution?.Changes === 0
                                                                        ? "Direct" : (travelSolution?.Changes === 1 ?
                                                                        (travelSolution?.Changes + ' change') :
                                                                        (travelSolution?.Changes + '
                                                                        changes'))}}
                                                                    </p>
                                                                    <p id="emdcl-outward-but-replacement_{{i}}" class="radio-card-bus-replace"
                                                                        *ngIf="travelSolution?.IsBusReplacement">
                                                                        Includes bus replacement
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="emdcl-outward-price_{{i}}" class="radio-card-price-col">
                                                            <div id="emdcl-outward-price-inner_{{i}}" class="radio-card-price-inner">
                                                                <p
                                                                    id="emdcl-outward-price-one-way_{{i}}" [ngClass]="!travelSolution?.IsSaleable && !travelSolution?.IsAlreadyDepartured && !travelSolution?.IsTrainClosed ? 'radio-card-one-way' : ''">
                                                                    {{getTravelSolutionStatus(travelSolution)}}</p>
                                                                <p id="emdcl-outward-price1_{{i}}" class="radio-card-price"
                                                                    *ngIf="isTravelSolutionAvailable(travelSolution)">
                                                                    {{sharedService.currencySymbol('') +
                                                                    sharedService.formatPrice(travelSolution?.SingleFare)}}
                                                                </p>
                                                                <a id="emdcl-outward-why-that-link_{{i}}" tabindex="0" aria-label="Why's that?"
                                                                    *ngIf="(travelSolution?.IsTrainClosed || travelSolution?.IsSaleable) && !travelSolution?.IsCancelled && !travelSolution?.IsAlreadyDepartured"
                                                                    (click)="enhancedWhysThatSoldOutTicketPopup(travelSolution?.IsSaleable)">Why's that?</a>
                                                            </div>
                                                            <img id="emdcl-outward-card-arrow_{{i}}" src="assets/images/new-design-img/radio-card-arrow.svg" alt="" aria-hidden="true" class="radio-card-arrow-mobile" />
                                                        </div>
                                                    </div>
                                                    <div id="emdcl-outward-selected-card-container_{{i}}" class="radio-card-selected-available"
                                                        *ngIf="!isRadioDisabled(travelSolution)">
                                                        <p id="emdcl-outward-selected-card-msg_{{i}}" class="radio-card-not-available"
                                                            *ngIf="!isRadioDisabled(travelSolution) && (travelSolution?.Operator == 2 || travelSolution?.Operator == 1)">
                                                            {{getFareMessage(travelSolution?.NewFareList,
                                                            travelSolution?.NewReturnFareList, travelSolution)}}
                                                        </p>
                                                        <div id="emdcl-outward-selected-card-mobile-msg_{{i}}" class="radio-card-selected-area"
                                                            *ngIf="!isMobile && !isTablet">
                                                            <div id="emdcl-outward-selected-card-mobile-msg-inner_{{i}}" class="radio-card-selected"
                                                                *ngIf="travelSolution?.isSelected">
                                                                <img id="emdcl-outward-selected-card-icon_{{i}}" src="assets/images/new-design-img/tick-icon.svg"
                                                                    alt="" aria-hidden="true" />
                                                                <span id="emdcl-outward-selected-card-mobile-mgs2_{{i}}">Train selected, pick your ticket type and class on
                                                                    the next page</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-button>
                                    <div id="emdcl-outward-details-itinerary-container_{{i}}" class="radio-card-journey-details new-radio-card-journey-details">
                                        <button id="emdcl-outward-details-itinerary-btn_{{i}}" type="button" mat-button
                                            [attr.aria-label]="getJourneyItineraryAriaLabel(searchRequest, false, travelSolution)"
                                            (click)="openEnhancedRouteDetailInfo(travelSolution, false)">
                                            Journey details and itinerary
                                        </button>
                                    </div>
                                </div>
                                <!---- End Default unselected radio card ---->
                            </mat-radio-group>

                            <!---- No trains found ---->
                            <div id="emdcl-outward-no-train-found-" class="notrains-found-card" *ngIf="responseData?.ResponseCode == '200' && !isLoaderActive && (!searchResponse || showOrHideNoTrainAvailableOutwardDiv())">
                                <div id="emdcl-outward-no-train-found-icon" class="notrains-found-icon">
                                    <img id="emdcl-outward-no-train-found-img" src="assets/images/new-design-img/no-train-found.svg" alt="" aria-hidden="true" />
                                </div>
                                <div id="emdcl-outward-no-train-found-content" class="notrains-found-content">
                                    <p id="emdcl-outward-no-train-found-title" class="notrains-found-title">No outward trains found</p>
                                    <p id="emdcl-outward-no-train-found-sub-content" class="notrains-found-sub-content">
                                        Sorry, there are no trains available for your selected date and time. Please try
                                        <a id="emdcl-outward-no-train-found-searching" (click)="methodToCallOpenEditQTT()"
                                            aria-label="No outward trains found. Sorry, there are no trains available for your selected day and time. [Link: Search for another day and time]">
                                            searching for another day and time.
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <!---- End No trains found ---->
                        </div>
                        <!---- End Outward Journey Cards ---->

                        <!---- Outward Journey Later ---->
                        <div id="emdcl-outward-later-" class="search-journey-btn" *ngIf="!isHideLater && responseData?.ResponseCode == '200' && searchResponse && !showOrHideNoTrainAvailableOutwardDiv()">
                            <button id="emdcl-outward-later-btn" type="button" (click)="onClickGetLaterSearch()" mat-button
                                aria-label="See later trains outward">
                                See later trains
                                <img id="emdcl-outward-later-icon" src="assets/images/new-design-img/later-arrow.svg" alt="" aria-hidden="true" />
                            </button>
                        </div>
                        <!---- End Outward Journey Later ---->
                    </div>
                    <!----- End Outward Journey ----->

                    <!----- Return Journey ----->
                    <div id="returnDiv" class="search-journey-col" *ngIf="showReturn">
                        <div id="emdcl-return-info-header" class="journey-info-header">
                            <!---- Return Journey header ---->
                            <div id="emdcl-return-header" class="search-journey-header"
                                *ngIf="searchRequest?.TravelSolutionDirection !== 'OPEN_RETURN' && searchRequest?.TravelSolutionDirection !== 'ONE_WAY'" aria-labelledby="emdcl-return-title">
                                <span class="sr-only" id="emdcl-return-title">{{getAriaLabelForJourneyTitle(searchRequest, false)}}</span>
                                <h3 id="emdcl-return-header-title" aria-hidden="true">Select return train: {{searchRequest?.ReturnTimesStartShow | date:'EEE, dd MMM
                                    yyyy'}}</h3>
                                <div id="emdcl-return-header-content" class="search-journey-header-station" aria-hidden="true">
                                    <p id="emdcl-return-header-arrival-station">{{commonServices.getCityNameOnly(searchRequest?.ArrivalLocationName)}}</p>
                                    <img id="emdcl-return-header-station-icon" *ngIf="searchRequest?.ArrivalLocationName || searchRequest?.DepartureLocationName"
                                        src="assets/images/new-design-img/to-arrow.svg"
                                        alt="" aria-hidden="true" />
                                    <p id="emdcl-return-header-depart-station">{{commonServices.getCityNameOnly(searchRequest?.DepartureLocationName)}}</p>
                                </div>
                            </div>
                            <div id="emdcl-open-return-header" class="search-journey-header" *ngIf="searchRequest?.TravelSolutionDirection == 'OPEN_RETURN'" aria-labelledby="emdcl-openreturn-title">
                                <span class="sr-only" id="emdcl-openreturn-title">{{getAriaLabelForOpenReturnJourney(searchRequest)}}</span>
                                <h3 id="emdcl-open-return-title" aria-hidden="true">Open return</h3>
                                <div id="emdcl-open-return-header-content" class="search-journey-header-station" aria-hidden="true">
                                    <p id="emdcl-open-return-header-arrival-station">{{commonServices.getCityNameOnly(searchRequest?.ArrivalLocationName)}}</p>
                                    <img id="emdcl-open-return-header-station-icon" src="assets/images/new-design-img/to-arrow.svg"
                                        alt="" aria-hidden="true" />
                                    <p id="emdcl-open-return-header=depart-station">{{commonServices.getCityNameOnly(searchRequest?.DepartureLocationName)}}</p>
                                </div>
                            </div>
                            <!---- End Return Journey header ---->

                            <!---- Return Journey Earlier ---->
                            <div id="emdcl-return-earlier-" [ngClass]="isMobile || isTablet ? 'mobile-min-height-jrny-btn' : ''" class="search-journey-btn" >
                                <button *ngIf="!isHideEarlierReturn && !searchReturnResponse?.HideEarlier && responseData?.ResponseCode == '200' && !showOrHideNoTrainAvailableReturnDiv()" 
                                id="emdcl-return-earlier-btn" type="button" (click)="onClickReturnGetEarlierSearch(true, false)" mat-button
                                    aria-label="See earlier trains return">
                                    See earlier trains
                                    <img id="emdcl-return-earlier-icon" src="assets/images/new-design-img/earlier-arrow.svg" alt="" aria-hidden="true" />
                                </button>
                            </div>
                            <!---- End Return Journey Earlier ---->
                        </div>

                        <!---- Return Journey Date for mobile view ---->
                        <div id="emdcl-return-date-for-mobile" *ngIf="isMobile || isTablet" class="time-show-mobile">
                            <p id="emdcl-return-date-text-for-mobile">{{searchRequest?.ReturnTimesStartShow | date:'EEE dd MMM'}}</p>
                        </div>
                        <!---- End Return Journey Date for mobile view ---->

                        <!---- Return Journey Cards ---->
                        <div id="emdcl-return-cards-row" class="search-journey-cards-row">
                            <mat-radio-group id="emdcl-return-mat-radio-group" class="search-journey-card-row" (change)="onReturnFareSelection($event)"
                                *ngIf="searchReturnResponse" [(ngModel)]="returnFarePreselectedValue">
                                <!---- Default unselected radio card ---->
                                <div id="emdcl-return-card-container_{{i}}" class="radio-card new-radio-card"
                                   [tabIndex]="setIndexValueForFocusToDisabledCard(travelSolutionRet) ? 0 : -1"
                                    [attr.aria-label]="getAriaLabelForDisabledJourney(travelSolutionRet)"
                                    *ngFor="let travelSolutionRet of searchReturnResponse?.TravelSolutions; let i = index"
                                    [ngClass]="(!travelSolutionRet?.IsFastest && !travelSolutionRet?.IsCheapest && !travelSolutionRet?.IsLimitedTickets) ? 'label-less-radio-card' : ''">
                                    <mat-radio-button id="emdcl-return-mat-radio-btn_{{i}}" labelPosition="before" [value]="travelSolutionRet?.TravelSolId"
                                        [ngClass]="isRadioDisabled(travelSolutionRet) ? 'disabled-radio-card' : ''">
                                        <div id="emdcl-return-single-card_{{i}}" class="single-card" [attr.aria-label]="getAriaLabel(travelSolutionRet)">
                                            <div
                                                id="emdcl-return-card-inner_{{i}}" [attr.aria-label]="getAriaLabelAfterSelected(travelSolutionRet, false)">
                                                <div id="emdcl-return-ticket-label_{{i}}" class="ticket-label">
                                                    <div id="emdcl-return-ticket-label-left_{{i}}" class="ticket-label-left">
                                                        <span id="emdcl-return-cheapest-label_{{i}}" class="ticket-label-name cheapest-ticket"
                                                            *ngIf="travelSolutionRet?.IsCheapest && !conditionToShowOfferTag(travelSolutionRet) && !conditionToShowGroupSaveTag(travelSolutionRet)">Cheapest</span>
                                                        <span id="emdcl-return-fastest-label_{{i}}" class="ticket-label-name fastest-ticket"
                                                            *ngIf="travelSolutionRet?.IsFastest">Fastest</span>
                                                        <span id="emdcl-return-arrive-next-dat-label_{{i}}"
                                                            class="ticket-label-name service-arrive-ticket enhanced-d-none">Service
                                                            will arrive the next day</span>
                                                    </div>
                                                    <div id="emdcl-return-limited-ticket-label-container_{{i}}" class="ticket-label-right">
                                                        <span id="emdcl-return-offer-ticket-label_{{i}}" class="ticket-label-name offer-ticket"
                                                            *ngIf="conditionToShowOfferTag(travelSolutionRet)">Offer</span>
                                                        <span id="emdcl-return-group-save-ticket-label_{{i}}" class="ticket-label-name offer-ticket"
                                                            *ngIf="conditionToShowGroupSaveTag(travelSolutionRet)">GroupSave</span>
                                                        <span id="emdcl-return-rail-sale-ticket-label_{{i}}" class="ticket-label-name offer-ticket"
                                                            *ngIf="travelSolutionRet?.IsRailSale">Rail Sale</span>
                                                        <span id="emdcl-return-limited-ticket-label_{{i}}" class="ticket-label-name limited-ticket"
                                                            *ngIf="travelSolutionRet?.IsLimitedTickets">Limited
                                                            tickets</span>
                                                    </div>
                                                </div>
                                                <div id="emdcl-return-radio-card-label_{{i}}" class="radio-card-custom-label">
                                                    <div id="emdcl-return-time-price_{{i}}" class="radio-card-time-price">
                                                        <div id="emdcl-return-card-details_{{i}}" class="radio-card-time">
                                                            <div id="emdcl-return-train-type_{{i}}" class="radio-card-train-type">
                                                                <div id="emdcl-return-card-logo_{{i}}" class="radio-card-logo"
                                                                   *ngIf="travelSolutionRet?.Operator == 1 || travelSolutionRet?.Operator == 2">
                                                                    <img id="emdcl-return-card-avanti-logo_{{i}}" src="assets/images/new-design-img/card-logo.svg"
                                                                        alt="Avanti West Coast" />
                                                                    <span
                                                                        id="emdcl-return-card-operator-change_{{i}}" *ngIf="travelSolutionRet?.OperatorChange > 0">+{{travelSolutionRet?.OperatorChange}}</span>
                                                                </div>
                                                                <p id="emdcl-return-sale-company_{{i}}" class="radio-card-train-express"
                                                                    *ngIf="travelSolutionRet?.Operator == 3">
                                                                    {{travelSolutionRet?.SaleCompany}}
                                                                </p>
                                                                <p id="emdcl-return-multiple-operators_{{i}}" class="radio-card-multi-operators"
                                                                    *ngIf="travelSolutionRet?.Operator == 4">
                                                                    Multiple operators
                                                                </p>
                                                            </div>
                                                            <div id="emdcl-return-ticket-info_{{i}}" class="radio-card-ticket-info">
                                                                <div id="emdcl-return-from-to-station_{{i}}" class="radio-card-time-jouney">
                                                                    <span id="emdcl-return-depart-station_{{i}}" [ngClass]="travelSolutionRet?.IsCancelled ? 'text-strike' : ''"><span class="sr-only">departs</span> {{travelSolutionRet?.DarwinDepartureTime}}</span>
                                                                    <img  id="emdcl-return-from-to-station-icon_{{i}}"src="assets/images/new-design-img/to-arrow.svg"
                                                                        alt="" aria-hidden="true" />
                                                                    <span id="emdcl-return-arrival-station_{{i}}" [ngClass]="travelSolutionRet?.IsCancelled ? 'text-strike' : ''"><span class="sr-only">arrives</span> {{travelSolutionRet?.DarwinArrivalTime}}</span>
                                                                </div>
                                                                <div id="emdcl-return-vehicle-type_{{i}}" class="radio-card-vehicle-type">
                                                                    <p id="emdcl-return-journey-duration_{{i}}" class="radio-card-duration" aria-hidden="true" tabindex="-1">
                                                                        {{travelSolutionRet?.Duration}},
                                                                        {{travelSolutionRet?.Changes === 0
                                                                        ? "Direct" : (travelSolutionRet?.Changes === 1 ?
                                                                        (travelSolutionRet?.Changes + ' change') :
                                                                        (travelSolutionRet?.Changes + '
                                                                        changes'))}}
                                                                    </p>
                                                                    <p id="emdcl-return-bus-replacement_{{i}}" class="radio-card-bus-replace"
                                                                        *ngIf="travelSolutionRet?.IsBusReplacement">
                                                                        Includes bus replacement
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="emdcl-return-price-why-that_{{i}}" class="radio-card-price-col">
                                                            <div id="emdcl-return-price_{{i}}" class="radio-card-price-inner">
                                                                <p
                                                                    id="emdcl-return-price1_{{i}}" [ngClass]="!travelSolutionRet?.IsSaleable && !travelSolutionRet?.IsAlreadyDepartured && !travelSolutionRet?.IsTrainClosed ? 'radio-card-one-way' : ''">
                                                                    {{getTravelSolutionStatus(travelSolutionRet)}}</p>
                                                                <p id="emdcl-return-price2_{{i}}" class="radio-card-price"
                                                                    *ngIf="isTravelSolutionAvailable(travelSolutionRet)">
                                                                    {{sharedService.currencySymbol('') +
                                                                    sharedService.formatPrice(travelSolutionRet.SingleFare)}}
                                                                </p>
                                                                <a id="emdcl-return-why-that-link_{{i}}"
                                                                    *ngIf="(travelSolutionRet?.IsTrainClosed || travelSolutionRet?.IsSaleable) && !travelSolutionRet?.IsCancelled && !travelSolutionRet?.IsAlreadyDepartured"
                                                                    (click)="enhancedWhysThatSoldOutTicketPopup(travelSolutionRet?.IsSaleable)">Why's that?</a>
                                                            </div>
                                                            <img id="emdcl-return-card-arrow_{{i}}" src="assets/images/new-design-img/radio-card-arrow.svg"
                                                                alt="" aria-hidden="true"
                                                                class="radio-card-arrow-mobile" />
                                                        </div>
                                                    </div>
                                                    <div id="emdcl-return-selected-card_{{i}}" class="radio-card-selected-available"
                                                        *ngIf="!isRadioDisabled(travelSolutionRet)">
                                                        <p id="emdcl-return-selected-card-fare_{{i}}" class="radio-card-not-available"
                                                            *ngIf="!isRadioDisabled(travelSolutionRet) && (travelSolutionRet?.Operator === 1 || travelSolutionRet?.Operator === 2)">
                                                            {{getFareMessage(travelSolutionRet?.NewFareList,
                                                            travelSolutionRet?.NewReturnFareList, travelSolutionRet)}}
                                                        </p>
                                                        <div id="emdcl-return-selected-card-msg-container_{{i}}" class="radio-card-selected-area"
                                                            *ngIf="!isMobile && !isTablet">
                                                            <div id="emdcl-return-selected-card-msg-inner_{{i}}" class="radio-card-selected"
                                                                *ngIf="travelSolutionRet?.isSelected">
                                                                <img id="emdcl-return-selected-card-msg-icon_{{i}}" src="assets/images/new-design-img/tick-icon.svg"
                                                                    alt="" aria-hidden="true" />
                                                                <span id="emdcl-return-selected-card-msg-txt_{{i}}">Train selected, pick your ticket type and class on
                                                                    the next page</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-button>
                                    <div id="emdcl-return-details-itinerary_{{i}}" class="radio-card-journey-details new-radio-card-journey-details">
                                        <button id="emdcl-return-details-itinerary-btn_{{i}}" type="button" mat-button [attr.aria-label]="getJourneyItineraryAriaLabel(searchRequest, true, travelSolutionRet)" (click)="openEnhancedRouteDetailInfo(travelSolutionRet, true)">
                                            Journey details and itinerary
                                        </button>
                                    </div>
                                </div>
                                <!---- End Default unselected radio card ---->
                            </mat-radio-group>

                            <!---- No trains found ---->
                            <div id="emdcl-return-no-train-found" class="notrains-found-card" *ngIf="showOrHideNoTrainAvailableReturnDiv()">
                                <div id="emdcl-return-no-train-found-icon" class="notrains-found-icon">
                                    <img id="emdcl-return-no-train-found-txt" src="assets/images/new-design-img/no-train-found.svg"
                                        alt="" aria-hidden="true" />
                                </div>
                                <div id="emdcl-return-no-train-found-content" class="notrains-found-content">
                                    <p id="emdcl-return-no-train-found-title" class="notrains-found-title">No return trains found</p>
                                    <p id="emdcl-return-no-train-found-sub-content" class="notrains-found-sub-content">
                                        Sorry, there are no trains available for your selected date and time. Please try
                                        <a id="emdcl-return-no-train-found-searching-link" (click)="methodToCallOpenEditQTT()"
                                            aria-label="No return trains found. Sorry, there are no trains available for your selected day and time. [Link: Search for another day and time]">
                                            searching for another day and time.
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <!---- End No trains found ---->

                            <!---- Add return journey button card ---->
                            <button id="emdcl-return-add-return-journey-btn" type="button" mat-button class="add-return-jounrey-btn"
                                aria-label="Add return journey" (click)="onClickOfAddReturnJourney()"
                                *ngIf="conditionToShowOrHideAddReturnJourneyBtn()">
                                <img id="emdcl-return-add-return-journey-icon" src="assets/images/new-design-img/add.svg" alt="" aria-hidden="true" />
                                Add return journey
                            </button>
                            <!---- Add return journey button card ---->

                            <!---- Open return card ---->
                            <div id="emdcl-open-return-card" class="notrains-found-card open-return-card"
                                *ngIf="searchRequest?.TravelSolutionDirection == 'OPEN_RETURN'">
                                <div id="emdcl-open-return-icon" class="notrains-found-icon">
                                    <img id="emdcl-open-return-img" src="assets/images/new-design-img/open-return-icon.svg"
                                        alt="" aria-hidden="true" />
                                </div>
                                <div id="emdcl-open-return-content" class="notrains-found-content">
                                    <p id="emdcl-open-return-title" class="notrains-found-title">Travel on any eligible train to your destination</p>
                                    <p id="emdcl-open-return-sub-content" class="notrains-found-sub-content">
                                        Enjoy the flexibility of open return tickets, but note that options may have
                                        different conditions. Choose the best one on the next page.
                                    </p>
                                </div>
                            </div>
                            <!---- End Open return card ---->
                        </div>
                        <!---- End Return Journey Cards ---->

                        <!---- Return Journey Later ---->
                        <div id="emdcl-return-later" class="search-journey-btn"
                            *ngIf="!isHideLaterReturn && !searchReturnResponse?.HideLater && responseData?.ResponseCode == '200' && !showOrHideNoTrainAvailableReturnDiv()">
                            <button id="emdcl-return-later-btn" type="button" (click)="onClickReturnGetLaterSearch(true, false)" mat-button
                                aria-label="See later trains return">
                                See later trains
                                <img id="emdcl-return-later-icon" src="assets/images/new-design-img/later-arrow.svg" alt="" aria-hidden="true" />
                            </button>
                        </div>
                        <!---- End Return Journey Later ---->
                    </div>
                    <!----- End Return Journey ----->
                </div>
            </div>
        </div>
    </section>
    <!----- End Searched Journey ----->
</main>
<footer id="emdcl-footer" role="contentinfo" *ngIf="responseData?.ResponseCode != 201">
    <app-enhanced-footer [isDisabled]="isButtonDisabled()" [nextPageString]="nextPage" [travelSolution]="data"
        [isReturn]="searchRequest?.IsReturnRequest" [mixingDeckSearchRequest]="searchRequest"
        (showReturnDivInMobile)="showReturnDivInMobile()" [isUserClickedReturnBtn]="isUserClickedReturnBtn"
        (userClickedReturnChange)="handleUserClick($event)" [searchResponse]="searchResponse"
        [searchReturnResponse]="searchReturnResponse"
        (userClickOnNextButton)="callGa4DataLayerEventsOnFilterChange(enhancedFilterStatusEnum?.finalText)">
    </app-enhanced-footer>
</footer>