.upload__btn.upload_img_vw_p.upload__btn-box.upload_img_prd .upload__btn {
    width:100%;
    height:215px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.upload__btn-box.upload_img_prd .upload__btn .upload__btn p {width: 100%; text-align: center;}
// .upload__btn p.upload_icon {margin-top: 10px;}

.upload__btn-box.upload_img_prd {width:49%; position: relative; margin:0px 0% 10px 0%; float: left;}
.upload__btn-box.upload_img_prd:nth-child(even) {float: right;}

.upload__btn-box.upload_img_prd .upload__img-wrap {
    position: absolute;  left: 10px;
    top: 0;
    z-index: 99;
    width: 100%;
    background: #fff; border-radius: 10px;
    border: 1px solid #e0d2b8; overflow: hidden;
}
.upload__btn-box.upload_img_prd .upload__img-wrap .upload__img-box {width: 100%;}

.add_product_right, .add_product_left {
    width: 100%;
    margin: 0px;
}
// .add_product_left {width: 100%; display: flex; justify-content: space-between;}
.add_product_left .upload__box {width:48%; float: left; margin-left: 1%; margin-right: 1%;}
.add_product_left .upload__box.m-t-3 {margin-top: 0;}

.add_product_right .form-group {width:48%; float: left; margin:0 1%; min-height:70px;}
.add_product_right .form-group.width100-pre {width:98%;}

.add_prd_btn_rw {width:100%;}

//.login_form {padding: 15px; background-color: #fff; box-shadow: 0 0 8px #B1B1B4; border-radius: 10px;}
.form-check-input {margin-right: 10px;}
.sub_frm_wrp_add {
//    background-color: #eee; 
    box-shadow: 0 0 0px #ccc; border-radius:0; 
    border-bottom: 1px solid #B1B1B4; 
    padding-top:4px; margin:0px 0% 0; width:100%; float: left;}
.img-bg {border: 1px solid #333; border-radius: 10px; background-color: #fff; width: 100%;}

.full-label {
    width: 100% !important;
    float: left;
}



.sub_frm_wrp_add.sub_frm_wrp_add_Attribute {width: 50%; min-height: inherit; display: flex; align-items: flex-start;}



textarea.form-control.login_fild {height:60px;}

.sub_frm_wrp_add_row {width: 100%; float: left; padding-top:6px; display: flex; 
    // align-items: center;
}
.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_img {width:30%; float: left; padding: 0 15px;}
.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_upload {width:50%; float: left; padding: 0 15px;}
.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_btn {width: 20%; float: right; padding: 0 15px; display: none;}

.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_fild_chk {width:30%; float: left; padding: 0 15px;}


.sub_frm_wrp_add_row.product_add_img_qwe {display: inline-block;}


.add_product_right .sub_frm_wrp_add_row .form-group {padding: 0; margin: 0;}

.add-leade-page-main {width: 100%; float: left;}

.sub_frm_wrp_add_row .product-variations {width: 50%; float: left;}




    .sub_frm_wrp_add_row .product-variations .variable-attributes li input[type="radio"] {
        visibility: hidden;
    }

    .sub_frm_wrp_add_row .product-variations .variable-attributes li img {width: 80px; height: 80px;
    background: #fff; object-fit: contain; border-radius:50%; border:5px solid transparent;
    }

    .sub_frm_wrp_add_row .product-variations .variable-attributes li input[type="radio"]:checked + label img {
         border:5px solid #e0d2b8;
        }
        .width-100-pre-n-f {width: 100%;}





        .sub_frm_wrp_add_row .product-variations .variable-attributes {display: flex; width: 100%; flex: 0 0 100%;
    justify-content: flex-start; 
    // align-items: center;
    // align-items: center;
    flex-wrap: wrap;
    padding:10px 10px 0;


float: left;
list-style-type: none;
margin: 0;
}
        .sub_frm_wrp_add_row .product-variations .variable-attributes li input[type=radio] + label  {height:auto; width: 100%;}
        .sub_frm_wrp_add_row .product-variations .variable-attributes li input[type=radio] + label .inpt-variable-txt-w {
border:1px solid #B1B1B4; background: #fff; margin: 0 0; padding:2px 8px; width:100%; height:32px; 
display: flex; justify-content: center; align-items: center; border-radius: 6px; font-size: 12px; line-height: 15px;
        }

        .sub_frm_wrp_add_row .product-variations .variable-attributes li input[type=radio]:checked + label .inpt-variable-txt-w {
            border:1px solid #e0d2b8; background: #e0d2b8; color: #1c1c1c;
        }
        .sub_frm_wrp_add_row .product-variations .variable-attributes li input[type=radio] {
            position: absolute; left: 0; top: 0;
        }

        .border-split {
            width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
        }

        .sub_frm_wrp_add_row .product-variations .variable-attributes li {
            // min-height: 70px;
            float: left;
            margin-top: 0;
            margin-bottom:12px;
                width:auto;
                max-width: inherit;
                white-space: nowrap;
                padding: 0 5px;
                display: flex; align-items: center;

                list-style-type: none;
                text-align: center;
        }

        .sub_frm_wrp_add_row .product-variations .variable-attributes li:empty {
            display: none;
        }

        .product-variations {
            margin-top: 0;
            margin-bottom:-14px;
        }
        .delete-button {
            margin-top:12px;
                max-width: 50px;
    border-radius: 5px;
    padding-top: 9px; padding-bottom: 9px;
        }


.upload_img_wrp {float: left; background: #fff; box-shadow: 0px 0px 8px #ccc; border-radius:10px; margin-bottom: 15px;width: 49%;}
.upload_img_wrp.minheight483 {min-height: 483px;}
.upload_img_wrp h2 {font-size: 20px; color: #1c1c1c; padding:10px 1%; margin: 0 0 0;}
.upload_img_wrp h3 {font-size: 17px !important; color: #1c1c1c;font-weight: 600; padding:10px 1%; margin: 0 0 0;}




.upload_video_wrp {width: 100%; float: left;}
.upload_video_wrp h2 {font-size: 20px; color: #1c1c1c; padding:10px 1%; margin: 0 0 0;}





.add-leade-page-title {width: 100%; float: left; padding:7px 15px 0;}
.add-leade-page-title h2 {font-size: 20px; color: #1c1c1c; padding:7px 0 0 3px; margin: 0 0 0; float: left;}
.add-leade-page-title h2.w-100-pre-q {width: 100%; padding-bottom: 5px; padding-left: 0;}

.image_view_frm_left {width:100%; float: left;}

.add_product_left.image_view_frm_left_extra {width:100%; float: left;}

.upload__btn.upload_img_vw_p p {text-align: center; line-height: 18px;}
//.upload__btn.upload_img_vw_p p i {font-size: 20px;
//    padding: 2px 8px 0 0;
//    float: left;}

.upload__btn.upload_img_vw_p p i {padding-right:8px;}
.upload__btn.upload_img_vw_p p em {padding-right:8px;}

.upload__btn-box.upload_img_vw_p_m {width: 70%; float: left; max-width: 155px;}

.upload__btn-box.upload_img_vw_p_m + .upload__img-wrap {width: 20%; float: left; margin-left: 5%; max-width: 60px;}
.upload__btn-box.upload_img_vw_p_m + .upload__img-wrap .upload__img-box {width:100%;}
.upload__btn-box.upload_img_vw_p_m + .upload__img-wrap .upload__img-box .upload__img-close {top:-10px; right: -10px;}

.image_view_frm_left .form-group {min-height: inherit !important;}

.upload__img-box {width:25%;}

.add-leade-page-title .btn.btn-default.login_btn {height: 38px; padding: 0 15px; margin: 0px 0 7px; }

.upload__img-close {top: -10px; right: -10px;}

.video_upld_thub video {
    max-height: 309px;
    object-fit: contain;
    height: 78px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
}

.upload__btn.upload_img_vw_p.small_upload {max-width: 185px;}
.upload_lbl_100 {width: 100%; float: left;}
.upload_lbl_100.text-center {text-align: center;}

.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_fild_chk .form-group {min-height: inherit;}


.upload_img_wrp.w-100-pre {width:100%;}
.upload_img_wrp.m-l-2pre {margin-left: 2%; min-height: 483px;}

.video_upld_thub {width: 140px;}



.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_upload.upload_prd_img_qw_main {width:calc(25% - 30px); padding: 0; margin:0 15px 25px;}

.upload__btn-box.upload_img_vw_p_m.upload_prd_img_qw {width: 100%; margin: -10px 0 0 0; position: relative;}

.upload__btn-box.upload_img_vw_p_m.upload_prd_img_qw .upload__btn {height: 130px; min-width: inherit; display: flex; justify-content: center; align-items: center; position: relative;}

.upload__btn-box.upload_img_vw_p_m.upload_prd_img_qw .upload__btn.upload_img_vw_p p i {
    padding-right: 0;
    font-size: 28px;
}

.upload__btn-box.upload_img_vw_p_m.upload_prd_img_qw .upload__btn.upload_img_vw_p p em {
    padding-right: 0;
    font-size: 28px;
}
.upload__img-wrap.upload_prd_i_show {width: 100%;}

.upload__img-wrap.upload_prd_i_show .upload__img-box {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.upload__img-wrap.upload_prd_i_show .upload__img-box .img-bg {padding-bottom: 126px;}






.error-msg.text-danger.add_prod_error_q {
  
    float: left;
}


.sub_frm_wrp_add_row.sub_frm_wrp_add_row {flex-wrap: wrap;}

.sub_frm_wrp_add_row.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_fild_chk {width: 100%;}

.sub_frm_wrp_add_row.sub_frm_wrp_add_row .product-variations {
width: 100%;
}

.sub_frm_wrp_add_row.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_fild_chk label {color:#1c1c1c; font-weight: 700;}


.prev_add_attribute_qw {
    width: 100%;
    float: left;
    padding: 0 15px;
}

.ng-select-container:after {display: none !important;}

.left_add_attribute_qw {width: 46%; float: left;}
.or_attribute_qw {
    width: 8%;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 27px 0 0 0;
}
.right_add_attribute_qw {width: 46%; float: right;}
.ng-value-container {padding: 0; margin: 0;}

.left_add_attribute_qw label {
    width: 100%;
    float: left;
    margin: 0 0 -12px 0;
}





@media screen and (max-width:1199px) {
.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_upload {width:100%; float: left; padding:15px 15px 0;}
    .sub_frm_wrp_add_row .sub_frm_wrp_add_colm_upload label {width: 100%;}
    .add-leade-page-title h2 {padding-left: 0;}
    .upload_img_wrp {width: 100%;}
    .sub_frm_wrp_add.sub_frm_wrp_add_Attribute {width: 100%;}
}
        @media screen and (max-width:991px) {
            .add_product_left .upload__box {width:48%; float: left; margin-left:1%; margin-right:1%;}
.add_product_left .upload__box.m-t-3 {margin-top: 0;}

.add_product_right .form-group {width:48%; float: left;  min-height:75px;}
.delete-button {margin-top: 15px; margin-bottom: 15px;}

.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_img {width:100%; float: left; padding: 0 15px;}
.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_btn {width:100%; float: left; padding: 0 15px;}

.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_fild_chk {width:100%; float: left; padding: 0 15px;}

.sub_frm_wrp_add_row .product-variations .variable-attributes {display: flex; flex-wrap: wrap; padding-left: 15px; padding-right: 15px;}
.product-variations {width: 100% !important;}
            
            .sub_frm_wrp_add_row .form-group {min-height: inherit;}
            .add-leade-page-title {padding-left: 10px; padding-right: 10px;}

            .sub_frm_wrp_add_row .sub_frm_wrp_add_colm_upload.upload_prd_img_qw_main {width:calc(25% - 30px);}

        }

        @media screen and (max-width:767px) {
            .add_product_left .upload__box {width:100%; float: left; margin-left:0; margin-right:0;}
            .add_product_left .upload__box.m-t-3 {margin-top: 15px;}
            .sub_frm_wrp_add_row .sub_frm_wrp_add_colm_upload.upload_prd_img_qw_main {width:calc(50% - 30px);}
            
            .add_product_right .form-group {width:98%; float: left;  min-height:75px;}  

            .sub_frm_wrp_add_row .sub_frm_wrp_add_colm_img {width:100%; float: left; padding: 0 15px;}
.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_btn {width:100%; float: left; padding: 0 15px;}

.sub_frm_wrp_add_row .sub_frm_wrp_add_colm_fild_chk {width:100%; float: left; padding: 0 15px;}
            
            .upload_video_wrp .upload__box {width:100%; padding-left:15px; padding-right:15px;}

            .left_add_attribute_qw {width: 100%;}
            .or_attribute_qw {width: 100%; text-align: center; padding: 10px 0;}
            .right_add_attribute_qw {width: 100%;}

        }

        @media screen and (max-width:599px) {
            .sub_frm_wrp_add_row .sub_frm_wrp_add_colm_upload.upload_prd_img_qw_main {width:calc(100% - 30px);}
        }

        .border-split::after {position:absolute; left:15px; bottom: 0; background: #fff; width:calc(100% - 30px); height: 2px; z-index: 99; content: "";}

        .form-group .bottom-configurable{
            margin-top: 25px;
            text-align: left;
        }

.upload_img_wrp.add-matching-wrp {width: 100%;}

.add_product_right .upload_img_wrp.add-matching-wrp .form-group {width: 100%; min-height: inherit; padding: 10px 0;}
.add_product_right .upload_img_wrp.add-matching-wrp .add-leade-page-title {padding-left: 0; padding-right: 0;}


.form-group.matching_band_lbl_inp label {
    float: left;
    width: 160px;
}

.form-group.matching_band_lbl_inp .form-control.login_fild {
    // width: calc(100% - 170px);
    width:40%;
}

.delete-button.delete_btn_nw_q {
    margin-top:10px;
    max-width: 31px;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
}



.form-group.Add_Matching_Band_frm {padding: 0;}
.form-group.Add_Matching_Band_frm .bottom-configurable {
    margin: -24px 15px 12px 0;
    float: right;
}


.btn.btn-default.login_btn.add_match_plus_btn{
    margin: 10px 0px 0 11px;
    height: 28px;
    padding: 0 5px;
    border-radius: 5px;
}



div, span, a, p, ul, li, table, td, button, input, select, dl, dd, del, header, footer, textarea, label, strong, b {font-family: 'Be Vietnam Pro', sans-serif !important; letter-spacing: 0px;}
th, h1, h2, h3, h4, h5, h6 {font-family: 'Baskervville', serif !important; letter-spacing: 0px;}

.add_match_btn_p {
    width: 100%;
    float: left;
    background: #eee;
    padding: 0;
    margin: -14px 0 0 0;
}

.add-leade-page-title .add_match_btn_p .btn.btn-default.login_btn {
    margin: 10px;
}

.validation-error {
    font-size: 13px;
}
.error-msg.text-danger.add_prod_error_q.add-attribute-msg{
    float: right;
    width: 100% !important;
    position: absolute;
    left: 24px;
    top: -10px;
}
