<!----- Footer ----->
<section id="efc-qtt-footer">
    <div id="efc-qtt-footer-container" class="qtt-footer-container" [ngClass]="{'removed-journey-footer': journeyRemovedClass}">
        <div id="efc-qtt-footer-inner" class="qtt-footer-container-inner">
            <div id="efc-qtt-footer-left" class="qtt-footer-left" *ngIf="currentSelectedPageUrl == '/search-results'">
                <p id="efc-qtt-footer-main-txt" class="qtt-footer-main-txt" *ngIf="!mixingDeckSearchRequest.IsReturnRequest && !travelSolution?.selectedOutwardTravelSolution">Select your outward train to continue </p>
                <p id="efc-qtt-footer-main-txt1" class="qtt-footer-main-txt" *ngIf="mixingDeckSearchRequest.IsReturnRequest && travelSolution?.selectedOutwardTravelSolution && travelSolution?.selectedReturnTravelSolution">
                    Outward and return trains selected
                </p>
                <h1 id="efc-qtt-footer-main-txt2" class="qtt-footer-main-txt" *ngIf="!mixingDeckSearchRequest.IsReturnRequest && travelSolution?.selectedOutwardTravelSolution">
                    Outward train selected
                </h1>
                <h1 id="efc-qtt-footer-main-txt3" class="qtt-footer-main-txt" *ngIf="mixingDeckSearchRequest.IsReturnRequest && (!travelSolution?.selectedOutwardTravelSolution || !travelSolution?.selectedReturnTravelSolution)">Select your outward and return trains to continue </h1>
                <p id="efc-qtt-footer-sub-txt" class="qtt-footer-sub-txt" *ngIf="mixingDeckSearchRequest?.TravelSolutionDirection !== 'OPEN_RETURN' && (isMobile || isTablet)">Ticket types, classes, and pricing details will be available after choosing your train times.</p>
                <p id="efc-qtt-footer-sub-txt1" class="qtt-footer-sub-txt" *ngIf="mixingDeckSearchRequest?.TravelSolutionDirection !== 'OPEN_RETURN' && !isMobile && !isTablet">Ticket types, classes, and pricing details will be available on the next page.</p>
                <p id="efc-qtt-footer-sub-txt2" class="qtt-footer-sub-txt" *ngIf="mixingDeckSearchRequest?.TravelSolutionDirection === 'OPEN_RETURN'">Enjoy flexible open returns. Choose your option next and travel on any eligible train.</p>
            </div>
            <div id="efc-qtt-footer-right" class="qtt-footer-right">
                <div id="efc-qtt-footer-total-price-area" class="qtt-footer-total remove-focus" *ngIf="showPriceBreakdownDetailDiv()" [attr.aria-label]="getFooterAriaLabel()">
                    <div id="efc-qtt-footer-pax" class="qtt-footer-pax">
                        <img *ngIf="journeyCount > 1" id="efc-qtt-footer-total-journey-icon" src="assets/images/new-design-img/footer-total-journey.svg" alt="" aria-hidden="true" />
                        <p *ngIf="journeyCount > 1">{{ journeyCount }} journeys<span *ngIf="selectedVouchers && !showPaxIconWithDetail()">, eVoucher applied</span></p>
                        <img *ngIf="showPaxIconWithDetail()" id="efc-qtt-footer-pax-icon" src="assets/images/new-design-img/user.svg" alt="" aria-hidden="true" />
                        <p *ngIf="showPaxIconWithDetail()" id="efc-qtt-footer-total-pax">{{getPassengerData()?.Adult=='0'
                            ? getPassengerData()?.Child + (getPassengerData()?.Child == 1 ? ' Child' : ' Children') :
                            (getPassengerData()?.Child=='0'
                            ? getPassengerData()?.Adult + (getPassengerData()?.Adult == 1 ? ' Adult' : ' Adults') :
                            getPassengerData()?.Adult + (getPassengerData()?.Adult == 1 ? ' Adult' : ' Adults') + ', ' +
                            getPassengerData()?.Child + (getPassengerData()?.Child == 1 ? ' Child'
                            : ' Children'))}}<span *ngIf="!router?.url?.includes(enhancedAppRouteEnum?.selectTicketAndClass) && !isOnDeliveryAndReviewPage() && !isExistPaymentPage()" id="efc-qtt-footer-total-railcard"><span *ngIf="!isMobile && !isTablet && ((mixingDeckSearchRequest?.PromotionCode && (travelSolution?.selectedOutwardFare?.InOffer || travelSolution?.selectedReturnFare?.InOffer)) || !mixingDeckSearchRequest?.PromotionCode)">, </span>
                            <span *ngIf="mixingDeckSearchRequest?.PromotionCode && (travelSolution?.selectedOutwardFare?.InOffer || travelSolution?.selectedReturnFare?.InOffer)">Promotion
                                applied</span>
                            <span *ngIf="!mixingDeckSearchRequest?.PromotionCode">{{(mixingDeckSearchRequest?.RailCardList?.length > 0 ?
                                commonServices?.getTotalRailCardCount(mixingDeckSearchRequest) + ' ' +
                                (commonServices?.getTotalRailCardCount(mixingDeckSearchRequest) > 1 ? 'Railcards' : 'Railcard') : 'No railcard')}}</span>
                            </span><span *ngIf="selectedVouchers">, eVoucher applied</span></p>
                    </div>
                    <p id="efc-qtt-footer-total-price" class="qtt-footer-total-price" *ngIf="travelSolution?.singleFare > 0">{{sharedSibling.currencySymbol('')}}{{sharedSibling.formatPrice(travelSolution?.singleFare)}}</p>
                    <p id="efc-qtt-footer-total-price1" class="qtt-footer-total-price" *ngIf="travelSolution?.totalFare > 0">{{sharedSibling.currencySymbol('')}}{{sharedSibling.formatPrice(travelSolution?.totalFare)}}</p>
                    <p id="efc-qtt-footer-total-price2" class="qtt-footer-total-price" *ngIf="(!isOnDeliveryAndReviewPage() && !isExistPaymentPage()) && !travelSolution?.singleFare && !travelSolution?.totalFare">{{sharedSibling.currencySymbol('')}}0</p>
                    <p id="efc-qtt-footer-total-price3" class="qtt-footer-total-price" *ngIf="(isOnDeliveryAndReviewPage() || isExistPaymentPage()) && totalJourneyPrice != null">{{sharedSibling.currencySymbol('')}}{{sharedSibling.formatPrice(getFinalJourneyPrice())}}</p>
                </div>
                
                <!----- Do not touch this div this is for accessibility ----->
                <div class="sr-only" *ngIf="showPriceBreakdownDetailDiv()" role="status" aria-live="polite" aria-atomic="true">
                    <p *ngIf="journeyCount > 1">{{ journeyCount }} journeys<span *ngIf="selectedVouchers && !showPaxIconWithDetail()">, eVoucher applied</span></p>
                    <p *ngIf="showPaxIconWithDetail()" id="efc-qtt-footer-total-pax2">{{getPassengerData()?.Adult=='0'
                            ? getPassengerData()?.Child + (getPassengerData()?.Child == 1 ? ' Child' : ' Children') :
                            (getPassengerData()?.Child=='0'
                            ? getPassengerData()?.Adult + (getPassengerData()?.Adult == 1 ? ' Adult' : ' Adults') :
                            getPassengerData()?.Adult + (getPassengerData()?.Adult == 1 ? ' Adult' : ' Adults') + ', ' +
                            getPassengerData()?.Child + (getPassengerData()?.Child == 1 ? ' Child'
                            : ' Children'))}}<span *ngIf="!router?.url?.includes(enhancedAppRouteEnum?.selectTicketAndClass) && !isOnDeliveryAndReviewPage() && !isExistPaymentPage()" id="efc-qtt-footer-total-railcard2"><span *ngIf="!isMobile && !isTablet && ((mixingDeckSearchRequest?.PromotionCode && (travelSolution?.selectedOutwardFare?.InOffer || travelSolution?.selectedReturnFare?.InOffer)) || !mixingDeckSearchRequest?.PromotionCode)">, </span>
                            <span *ngIf="mixingDeckSearchRequest?.PromotionCode && (travelSolution?.selectedOutwardFare?.InOffer || travelSolution?.selectedReturnFare?.InOffer)">Promotion
                                applied</span>
                            <span *ngIf="!mixingDeckSearchRequest?.PromotionCode">{{(mixingDeckSearchRequest?.RailCardList?.length > 0 ?
                                commonServices?.getTotalRailCardCount(mixingDeckSearchRequest) + ' ' +
                                (commonServices?.getTotalRailCardCount(mixingDeckSearchRequest) > 1 ? 'Railcards' : 'Railcard') : 'No railcard')}}</span>
                            </span><span *ngIf="selectedVouchers">, eVoucher applied</span>
                    </p>
                    <p id="efc-qtt-footer-total-price4" class="qtt-footer-total-price" *ngIf="travelSolution?.singleFare > 0">{{sharedSibling.currencySymbol('')}}{{sharedSibling.formatPrice(travelSolution?.singleFare)}}</p>
                    <p id="efc-qtt-footer-total-price5" class="qtt-footer-total-price" *ngIf="travelSolution?.totalFare > 0">{{sharedSibling.currencySymbol('')}}{{sharedSibling.formatPrice(travelSolution?.totalFare)}}</p>
                    <p id="efc-qtt-footer-total-price6" class="qtt-footer-total-price" *ngIf="(!isOnDeliveryAndReviewPage() && !isExistPaymentPage()) && !travelSolution?.singleFare && !travelSolution?.totalFare">{{sharedSibling.currencySymbol('')}}0</p>
                    <p id="efc-qtt-footer-total-price7" class="qtt-footer-total-price" *ngIf="(isOnDeliveryAndReviewPage() || isExistPaymentPage()) && totalJourneyPrice != null">{{sharedSibling.currencySymbol('')}}{{sharedSibling.formatPrice(getFinalJourneyPrice())}}</p>
                </div>
                <!----- End Do not touch this div this is for accessibility ----->
                
                <div id="efc-qtt-footer-btns" class="qtt-footer-btn" style="position: relative;">
                        <button id="efc-qtt-footer-price-breakdown-btn" aria-label="Price breakdown" type="button" mat-button [disabled]="!isPriceBreakDownDisabled || isLoaderActive || isPaymentAPICall" class="dark-outline-btn btn-cust price-breakdown-btn" *ngIf="showPriceBreakdownDetailDiv()" (click)="showPriceBreakdownPopup()">
                            Price breakdown
                        </button>
                        <button id="efc-qtt-footer-next-btn-1" [attr.aria-label]="getNextButtonAriaLabel()" type="button" *ngIf="!isMobile && !isTablet && !isOnDeliveryAndReviewPage() && !isExistPaymentPage()" mat-button (click)="nextPage()" [disabled]="(!isMobile && !isTablet && isDisabledContinue) ? true : isDisabled" class="dark-fill-btn reviewbuy-btn">
                        Next: {{changeTextToProceedOnNextInWeb()}}
                        <img id="efc-qtt-footer-next-btn-icon" src="assets/images/new-design-img/btn-arrow.svg" alt="" aria-hidden="true" />
                        </button>
                        <button id="efc-qtt-footer-next-btn-2" aria-label="Next: Select ticket & class" type="button" *ngIf="!showPriceBreakdownDetailDiv() && ((isMobile || isTablet) && (travelSolution?.selectedOutwardTravelSolution && isUserClickedReturnBtn) || ((isMobile || isTablet) && !isReturn))" mat-button (click)="nextPage()" [disabled]="isDisabled" class="dark-fill-btn btn-cust">
                            Next: Select ticket & class
                            <img id="efc-qtt-footer-next-btn-icon1" src="assets/images/new-design-img/btn-arrow.svg" alt="" aria-hidden="true" />
                        </button>
                        <div
                            *ngIf="getCaptureGa4DisabledClickEvent()"
                            (click)="onDisabledClick($event)"
                            style="position: absolute; inset: 0; z-index: 1; cursor: not-allowed;">
                        </div>
                  
                    <button id="efc-qtt-footer-next-btn" aria-label="Next: Select return train" type="button" *ngIf="!showPriceBreakdownDetailDiv() && (isMobile || isTablet) && isReturn && !isUserClickedReturnBtn" mat-button (click)="onReturnBtnClick()" [disabled]="(isMobile || isTablet) && !travelSolution?.selectedOutwardTravelSolution" class="dark-fill-btn">
                        Next: Select return train
                        <img id="efc-qtt-footer-next-btn-icon3" src="assets/images/new-design-img/btn-arrow.svg" alt="" aria-hidden="true" />
                    </button>

                    <button *ngIf="shouldShowNextReviewButton()" aria-label="Next: Review" [disabled]="(!isMobile && !isTablet && isDisabledContinue) ? true : isDisabled" (click)="nextPage()" id="efc-qtt-footer-next-btn-3" type="button" mat-button class="dark-fill-btn">
                        Next: Review
                        <img id="efc-qtt-footer-next-btn-icon4" src="assets/images/new-design-img/btn-arrow.svg" alt="" aria-hidden="true" />
                    </button>
                    <button aria-label="Next: Return ticket" *ngIf="showPriceBreakdownDetailDiv() && (isMobile || isTablet) && isReturn && !isUserClickedReturnBtn" [disabled]="(isMobile || isTablet) && !travelSolution?.selectedOutwardTravelSolution" (click)="onReturnBtnClick()" id="efc-qtt-footer-next-btn-4" type="button" mat-button class="dark-fill-btn">
                        Next: Return ticket
                        <img id="efc-qtt-footer-next-btn-icon5" src="assets/images/new-design-img/btn-arrow.svg" alt="" aria-hidden="true" />
                    </button>
                    <button (click)="moveToPaymentPage()" aria-label="Next: Payment" id="efc-qtt-footer-next-btn-5" *ngIf="isOnDeliveryAndReviewPage()" type="button" mat-button class="dark-fill-btn" [disabled]="isDisabledContinue || isLoaderActive || isPaymentAPICall ? true : false">
                        Next: Payment
                        <img id="efc-qtt-footer-next-btn-icon6" src="assets/images/new-design-img/btn-arrow.svg" alt="" aria-hidden="true" />
                    </button>
                    <button id="efc-qtt-footer-next-btn-6" aria-label="Pay now" *ngIf="isExistPaymentPage()" (click)="onPayNowClick()" type="button" mat-button class="dark-fill-btn" [disabled]="isPayNowDisabled">
                        Pay now
                        <img id="efc-qtt-footer-next-btn-icon-1" src="assets/images/new-design-img/btn-arrow.svg" alt="" aria-hidden="true" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!----- End Footer ----->