<app-header></app-header>
<div id="sip-main" class="sign-in-page-main old-signin text-center">
    <div id="sip-container" class="container plr-xs-5">
        <div id="sip-row" class="row">
            <div id="sip-col" class="col-md-12 p-0 d-flex justify-content-center mobile-sign-in-page">
                <form id="sip-form" [formGroup]="form">
                    <div id="sip-form-body" class="sing-in-form-body">
                        <div id="sip-header" class="sign-in-form-header">
                            <h1 id="sip-title" class="sign-in-page-title">Sign in to your account</h1>
                        </div>
                        <div id="sip-error-body" class="common-error-container text-start" *ngIf="form.invalid && showBanner || invalidCredential && showBanner" role="alert">
                            <div id="sip-error-row" class="common-error-row">
                                <div id="sip-error-icon" class="common-error-icon">
                                    <img id="sip-error-img" src="assets/images/change-email-error.svg" alt="">
                                </div>
                                <div id="sip-error-msg-body" class="common-error-msg">
                                    <h2 id="sip-error-msg-title" class="text-start">
                                        Please amend the errors in the following mandatory fields.
                                    </h2>
                                    
                                    <div id="sip-error-mand-email-password" *ngIf="isSubmitted">
                                        <ul id="sip-error-mand-list" class="signin-error-list">
                                            <li id="sip-error-email-valid" *ngIf="form.get('username').hasError('emailRegexError')  && isSubmitted">
                                                <p id="sip-error-email-valid-msg"><Span id="sip-error-email-title" class="font-500">Email :</Span> Email is not valid.</p>
                                            </li>
                                            <li id="sip-error-email-mand" *ngIf="form.get('username').hasError('required') && isSubmitted">
                                                <p id="sip-error-email-mand-msg"><span id="sip-error-email-mand-title" class="font-500">Email :</span> Please complete this mandatory field.</p>
                                            </li>
                                            <li id="sip-error-email-mand" *ngIf="form.get('username').hasError('maxlength') && isSubmitted">
                                                <p id="sip-error-email-mand-msg"><span id="sip-error-email-mand-title" class="font-500">Email :</span> Invalid email address length. Please enter a valid email address.</p>
                                            </li>
                                            <li id="sip-error-password-mand" *ngIf="form.get('password').hasError('required') && isSubmitted">
                                                <p id="sip-error-password-mand-msg"><span id="sip-error-password-mand-title" class="font-500">Password :</span> Please complete this mandatory field.</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="sip-error-invalid" *ngIf="invalidCredential">
                                        <p id="sip-error-invalid-msg">
                                            Hmm, that’s not quite right:​ ​The details you’ve typed are incorrect. Please try again
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-12" id="email">
                            <div id="sip-email-label" class="font-dark font-700 f-16 lh-22 mb-8 text-start">
                                Email<span id="sip-email-mand" class="dark-spark font-700 f-16 lh-22">*</span>
                            </div>     
                            <mat-form-field id="sip-email-mat-form" class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                <input id="sip-email-input" [ngClass]="{'error-input-focus': form.controls['username'].invalid && isSubmitted}" matInput placeholder="Enter your email address" type="text" formControlName="username" autocomplete="off" aria-labelledby="email"
                                [prevent-keys]="[32]">
                                <mat-error id="sip-email-mat-error">
                                    <div id="sip-email-mand-div" *ngIf="form.get('username').hasError('required') && isSubmitted">
                                        <span id="sip-email-mand-msg" class="dark-spark f-12 lh-16 mb-0">
                                            Please complete this mandatory field.
                                        </span>
                                    </div>
                                    <div id="sip-email-valid-error" *ngIf="form.get('username').hasError('emailRegexError')  && isSubmitted">
                                        <span id="sip-email-valid-error-msg" class="dark-spark f-12 lh-16 mb-0">
                                            Email is not valid.
                                        </span>
                                    </div>
                                    <div id="sip-email-length-error" *ngIf="form.get('username').hasError('maxlength')  && isSubmitted">
                                        <span id="sip-email-length-error-msg" class="dark-spark f-12 lh-16 mb-0">
                                            Invalid email address length. Please enter a valid email address.
                                        </span>
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div id="password" class="mb-8 new-version-input">
                            <div id="sip-password-label" class="font-dark font-700 f-16 lh-22 mb-8 text-start">
                                Password<span id="sip-password-mand" class="dark-spark font-700 f-16 lh-22">*</span>
                            </div>
                            <mat-form-field id="sip-password-mat-form" class="d-block example-full-width default-input default-input-brdr new-input" floatLabel="never">
                                <input capsLockDetect (capsLockOn)="capsLock = $event" id="sip-password-input" [ngClass]="{'error-input-focus': form.controls['password'].invalid && isSubmitted}" [type]="verifyPasswordFieldTextType ? 'text' : 'password'" matInput aria-label="password" placeholder="Enter your password" formControlName="password">
                                <button id="sip-password-visible-btn"
                                    (click)="verifyPasswordFieldTextType = !verifyPasswordFieldTextType" type="button"
                                    mat-icon-button matSuffix
                                    attr.aria-label="{{verifyPasswordFieldTextType ? 'Hide password' : 'Show password'}}"
                                    [attr.aria-pressed]="verifyPasswordFieldTextType">
                                    <mat-icon id="sip-password-visible-mat-icon" class="sign-in-mat-icon">
                                        <span id="sip-password-visible-hide-icon" class="material-symbols-outlined icon-font-size">
                                            {{verifyPasswordFieldTextType ? 'visibility' :
                                            'visibility_off'}}
                                        </span>
                                    </mat-icon>
                                </button>
                                <mat-error id="sip-password-mat-error" class="forgot-password-error">
                                    <span id="sip-password-mand-error" *ngIf="form.get('password').hasError('required') && isSubmitted" class="dark-spark f-12 lh-16 mb-0">
                                        Please complete this mandatory field.
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <p class="capslock-txt mb-8" *ngIf="capsLock === 1">
                            Caps lock is on
                        </p>
                        <div id="sip-forgot-password-div" class="text-start mb-24 forgot-password-sign-in">
                            <button id="sip-forgot-password-btn" type="button" mat-button class="font-700 f-16 lh-20 dark-spark p-0 m-0 lh-0 price-promise" (click)="forgotPassword()">Forgotten password?</button>
                        </div>
                        <div id="sip-remember-main" class="text-start mb-24">
                            <label id="sip-remember-label" class="c-pointer mb-0" for="remembermeInput">
                                <p id="sip-remember-p" class="f-14 lh-21 font-400 mb-0 d-flex align-items-center gap-08 word-break-word">
                                    <span id="sip-remember-input-area" class="new-input-checkbox top-3 position-relative">
                                        <input type="checkbox" id="remembermeInput" formControlName="rememberme">
                                    </span>
                                    <span id="sip-remember-title" class="text-21">
                                        Remember me on this device
                                    </span>
                                </p>
                            </label>
                        </div>
                        <button id="sip-sign-btn" [disabled]="isLoginButtonDisabled" (click)="submit()" type="submit" mat-button class="new-default-btn w-100 w-xs-100">
                            Sign in
                        </button>
                        <div id="sip-creat-an-account-area" class="mt-24">
                            <button id="sip-creat-an-account-btn" mat-button (click)="registerForm()" class="font-700 f-16 lh-20 dark-spark p-0 m-0 lh-0 price-promise" (click)="registerForm()">
                                Create an account
                                <span id="sip-creat-an-account-icon" class="ml-04 change-password-arrow">
                                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.92989 0.666504L7.33073 5.99984L1.92989 11.3332L0.664062 10.0832L4.79908 5.99984L0.664062 1.9165L1.92989 0.666504Z"
                                            fill="#E42B00" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>