<div class="header old-flow-search-popuop-header">
    <h2 mat-dialog-title class="login-signin-title border-bottom-0 mb-0 text-graphene"
        *ngIf="isDeparture == true && isViaAvoid == false">Departing</h2>
    <h2 mat-dialog-title class="login-signin-title border-bottom-0 mb-0 text-graphene"
        *ngIf="isDeparture == false && isViaAvoid == false">Arriving</h2>
    <h2 mat-dialog-title class="login-signin-title border-bottom-0 mb-0 text-graphene"
        *ngIf="isDeparture == false && isViaAvoid == true && isVia == true">Via</h2>
    <h2 mat-dialog-title class="login-signin-title border-bottom-0 mb-0 text-graphene"
        *ngIf="isDeparture == false && isViaAvoid == true && isVia == false">Avoid </h2>

    <button class="dialog-close text-spark cursor-pointer-hover simple-btn" aria-label="Close" (click)="onClose()"><img
            src="assets/images/close-orange.svg" alt="close_logo"></button>
    <form [formGroup]="locationForm">
        <div *ngIf="isDeparture == true && isViaAvoid == false" class="p-relative">
            <label for="departure" class="dep-label mb-0">Search for station name</label>
            <input id="departure" class="ps-3 form-control bg-white qtt-search-input" name="departure" matInput  placeholder="Enter 3 or more characters"
                (keydown)="onLocationChanges($event)" required formControlName="departureLocationName"
                [matAutocomplete]="departureAutoSingle">
            <img src="assets/images/search.svg" alt="search location" class="search-location">
            <mat-autocomplete #departureAutoSingle="matAutocomplete">
            </mat-autocomplete>
        </div>
        <div *ngIf="isDeparture == false && isViaAvoid == false" class="p-relative">
            <label for="departure" class="dep-label mb-0">Search for station name</label>
            <input id="departure" class="ps-3 form-control bg-white qtt-search-input" matInput  placeholder="Enter 3 or more characters" (keydown)="onLocationChanges($event)"
                required formControlName="arrivalLocationName" [matAutocomplete]="arrivalAutoSingle">
            <img src="assets/images/search.svg" alt="search location" class="search-location">
            <mat-autocomplete #arrivalAutoSingle="matAutocomplete">
             </mat-autocomplete>
        </div>
        <div *ngIf="isDeparture == false && isViaAvoid == true" class="p-relative">
            <label for="departure" class="dep-label mb-0">Search for station name</label>
            <input id="departure" class="ps-3 form-control bg-white qtt-search-input" matInput  placeholder="Enter 3 or more characters" (keydown)="onLocationChanges($event)"
                required formControlName="viaAvoidStationName" [matAutocomplete]="viaAvoidStation">
            <img src="assets/images/search.svg" alt="search location" class="search-location">
            <mat-autocomplete #viaAvoidStation="matAutocomplete">
            </mat-autocomplete>
        </div>
    </form>

</div>
<mat-dialog-content class="fare-heading-list-box ticket-dialog-box old-flow-search-popuop-body">

    <div class="return-stations-nearme" *ngIf="isDeparture == true && isViaAvoid == false">
        <div class="row return-stations-nearme-inner" id="departPopularStationHeading" >
            <div class="ps-1 col-lg-12">
                <h2 *ngIf="showFavourite">Favourite stations</h2>
            </div>
           <div class="ps-1 col-lg-6" *ngFor="let a of filteredDeparturesFavourite | async"
                (click)="ArrivalLocationName != a.Name && onStationSelected(a.Name, a.Id)">
                <button mat-button class="simple-btn mb-2 return-stations depart"
                [class.cursor-disabled]="ArrivalLocationName === a.Name">
                    <div class="return-station-name">{{a.Name}}</div>
                </button>
            </div>
        </div>
        <div class="row return-stations-nearme-inner" id="departPopularStationHeading" >
            <div class="ps-1 col-lg-12">
            <h2 *ngIf="showPopular">Popular stations</h2></div>
            <div class="ps-1 col-lg-6" *ngFor="let a of filteredDeparturesPopular | async"
                (click)="ArrivalLocationName != a.Name && onStationSelected(a.Name, a.Code)">
                <button mat-button class="simple-btn mb-2 return-stations depart" 
                [class.cursor-disabled]="ArrivalLocationName === a.Name">
                    <div class="return-station-name">{{a.Name}}</div>
                </button>
            </div>
        </div>

        <div class="row return-stations-nearme-inner" id="departPopularStationHeading">
            <div class="ps-1 col-lg-12">
            <h2 *ngIf="showMoreStation">More stations</h2></div>
            <div class="ps-1 col-lg-6" *ngFor="let a of filteredDeparturesMore | async"
                (click)="ArrivalLocationName != a.Name && onStationSelected(a.Name, a.Id)">
                <button mat-button class="simple-btn mb-2 return-stations depart"
                    [class.cursor-disabled]="ArrivalLocationName === a.Name">
                    <div class="return-station-name">{{a.Name}}</div>
                </button>
            </div>
        </div>

    </div>
    <div class="return-stations-nearme" *ngIf="isDeparture == false && isViaAvoid == false">
        <div class="row return-stations-nearme-inner" id="departPopularStationHeading">
            <div class="ps-1 col-lg-12">
            <h2 *ngIf="showFavourite">Favourite stations</h2></div>
            <div class="ps-1 col-lg-6" *ngFor="let a of filteredArrivalsFavourite | async"
                (click)="DepartureLocationName != a.Name && onStationSelected(a.Name, a.Id)">
                <button mat-button class="simple-btn mb-2 return-stations depart"
                    [class.cursor-disabled]="DepartureLocationName === a.Name">
                    <div class="return-station-name">{{a.Name}}</div>
                </button>
            </div>
        </div>
        <div class="row return-stations-nearme-inner" id="departPopularStationHeading">
            <div class="ps-1 col-lg-12">
            <h2 *ngIf="showPopular">Popular stations</h2></div>
            <div class="ps-1 col-lg-6" *ngFor="let a of filteredArrivalsPopular | async"
                (click)="DepartureLocationName != a.Name && onStationSelected(a.Name, a.Code)">
                <button mat-button class="simple-btn mb-2 return-stations depart"
                    [class.cursor-disabled]="DepartureLocationName === a.Name">
                    <div class="return-station-name">{{a.Name}}</div>
                </button>
            </div>
        </div>

        <div class="row return-stations-nearme-inner" id="departPopularStationHeading">
            <div class="ps-1 col-lg-12">
            <h2 *ngIf="showMoreStation">More stations</h2></div>
            <div class="ps-1 col-lg-6" *ngFor="let a of filteredArrivalsMore | async"
                (click)="DepartureLocationName != a.Name && onStationSelected(a.Name, a.Id)">
                <button mat-button class="simple-btn mb-2 return-stations depart"
                    [class.cursor-disabled]="DepartureLocationName === a.Name">
                    <div class="return-station-name">{{a.Name}}</div>
                </button>
            </div>
        </div>

    </div>

    <div class="return-stations-nearme" *ngIf="isDeparture == false && isViaAvoid == true">
        <div class="row return-stations-nearme-inner" id="departPopularStationHeading">
            <div class="ps-1 col-lg-12">
            <h2 *ngIf="showFavourite">Favourite stations</h2></div>
            <div class="ps-1 col-lg-6" *ngFor="let a of filteredViaAvoidFavourite | async"
                (click)="(DepartureLocationName != a.Name && ArrivalLocationName != a.Name) && onStationSelected(a.Name, a.Id)">
                <button mat-button class="simple-btn mb-2 return-stations depart"
                    [class.cursor-disabled]="DepartureLocationName === a.Name || ArrivalLocationName === a.Name">
                    <div class="return-station-name">{{a.Name}}</div>
                </button>
            </div>
        </div>
        <div class="row return-stations-nearme-inner" id="departPopularStationHeading">
            <div class="ps-1 col-lg-12">
            <h2 *ngIf="showPopular">Popular stations</h2></div>
            <div class="ps-1 col-lg-6" *ngFor="let a of filteredViaAvoidPopular | async"
                (click)="(DepartureLocationName != a.Name && ArrivalLocationName != a.Name) && onStationSelected(a.Name, a.Code)">
                <button mat-button class="simple-btn mb-2 return-stations depart"
                    [class.cursor-disabled]="DepartureLocationName === a.Name || ArrivalLocationName === a.Name">
                    <div class="return-station-name">{{a.Name}}</div>
                </button>
            </div>
        </div>


        <div class="row return-stations-nearme-inner" id="departPopularStationHeading">
            <div class="ps-1 col-lg-12">
            <h2 *ngIf="showMoreStation">More stations</h2></div>
            <div class="ps-1 col-lg-6" *ngFor="let a of filteredViaAvoidMore | async"
                (click)="(DepartureLocationName != a.Name && ArrivalLocationName != a.Name) && onStationSelected(a.Name, a.Id)">
                <button mat-button class="simple-btn mb-2 return-stations depart"
                    [class.cursor-disabled]="DepartureLocationName === a.Name || ArrivalLocationName === a.Name">
                    <div class="return-station-name">{{a.Name}}</div>
                </button>
            </div>
        </div>
    </div>





</mat-dialog-content>