

<div class="coj-datepicker-header">
    <div class="coj-datepicker-left">
        <h2 mat-dialog-title class="login-signin-title border-bottom-0 mb-0" *ngIf="isOutwardLeg">Outbound - change time, or date</h2>
        <h2 mat-dialog-title class="login-signin-title border-bottom-0 mb-0" *ngIf="!isOutwardLeg">Return - change time, or date</h2>
       
    </div>
    <div> <p class="f-14">Existing ticket: {{dateStringToShow}}</p></div>
    <button mat-button class="simple-btn dialog-close text-spark-dark cursor-pointer-hover datepicker-close-btn" (click)="onclose()"><img src="assets/images/close-orange.svg"
        alt=""> Close
    </button>
</div>

<mat-dialog-content class="fare-heading-list-box ticket-dialog-box upgrade-datepicker pt-0 m-0">
    
                <form [formGroup]="dateTimeForm" class="p-relative">
                <ngb-datepicker #dp *ngIf="!deviceInfo" [displayMonths]="2" [minDate]="ngbMinDate" [maxDate]="ngbMaxDate" [markDisabled]="isDisabled" (click)="onSelectDate(model)"
                [(ngModel)]="model"  [ngModelOptions]="{standalone: true}" (navigate)="date = $event.next" aria-label="dateTimeForm" >
                </ngb-datepicker>
                <ngb-datepicker #dp *ngIf="deviceInfo" [minDate]="ngbMinDate" [maxDate]="ngbMaxDate" [markDisabled]="isDisabled"
                   (click)="onSelectDate(model)" [(ngModel)]="model" [ngModelOptions]="{standalone: true}"
                   (navigate)="date = $event.next">
                 </ngb-datepicker>
                <div class="coj-datepicker-popup-footer">
                    <div class="row mt-3">
                        <div class="col-lg-8">
                            <mat-button-toggle-group formControlName="travelType" class="mt-md-25">
                                <mat-button-toggle value="DEPARTAFTER">Depart After</mat-button-toggle>
                                <mat-button-toggle value="ARRIVEBY">Arrive By</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field class="one-three-3 w-100 d-block coj-datepicker-time" floatLabel="never">
                                <label class="f-12">Time</label>
                                <mat-form-field class="d-block example-full-width default-input default-input-brdr"
                                    floatLabel="never">
                                    <mat-select class="border-gray f-16" formControlName="travelTime">
                                        <mat-option *ngFor="let time of timeList" [value]="time">{{time}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mt-0 mt-md-0">
                        <button mat-button class="default-btn w-m-100 w-100 mt-0 mt-m-10" (click)="applyChanges()">Apply</button>
                    </div>
                </div>
            </form>

</mat-dialog-content>
